{{#if debug}}
	<p>
		id: {{ytid}}<br>
		state: {{playerState}}<br>
	</p>
{{/if}}

{{!-- <iframe id="radio4000-yt" width="210" height="166" frameborder="0" {{bind-attr src="src"}}></iframe> --}} {{!-- 640x390 --}}
<div id="ytplayer"></div>
