<label class="">Add a track to your radio</label>
<div class="Form-group Form-group--relative">
	{{input-paste type="url" value=addTrackUrl onPaste="didPasteUrl" placeholder="Paste in a YouTube link to add a track" required="required"}}
	<button type="submit" class="Btn Form-groupStatus" title="Tip: Press enter to add!">Add</button>
</div>

{{yield}}
