{{#modal-dialog onClose=(action "cancelAndBack")}}
	<div class="Sections">
		<section class="Section">
			<div class="Manchet">
				<h2>Edit <small>track</small></h2>
			</div>
			<div class="Container">
				{{track-edit
						track=model
						onCancel=(action 'cancelAndBack')
						onSubmit=(action 'goBack')
						onDelete=(action 'goBack')}}
			</div>
		</section>
	</div>
	{{outlet}}
{{/modal-dialog}}
