/**
 * Introduction design
 **/

.Intro--one {

	/* r4 writings */
	.Keyvisual {
		margin-top: 10rem;
	}
	.IntroTitle {
		text-align: center;
  		font-size: 20vw;
	}

	/* Sections */
	.Annonce {
		margin-top: 5rem;
	}
	.Annonce--center {
		text-align: center;
	}
	.Annonce--fullHeight {
		margin-top: 10rem;
		height: 80vh;
	}
	.Annonce--long {
		margin-top: 8rem;
		margin-bottom: 3rem;

	}

	/* Blocks */
	.Block {
		padding: 2rem;
		font-size: 3rem;
	}
	.Block--white {
		background-color: white;
	}
	.Block--long {
		padding-bottom: 20rem;
	}
	.Block--left {
	  margin-right: auto;
	  max-width: 20rem;
	}
	.Block--center {
	  max-width: 8rem;
 	  border-radius: 50%;
	  margin-left: auto;
	  margin-right: auto;
	}
	.Block--right {
	  margin-left: auto;
	  max-width: 20rem;
	}
}
