/*!
	RADIO4000
	by Hugo Vieilledent and Oskar Rough Mosumgaard
*/

// Third party
@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

// Utilities
@import 'utilities/align';
@import 'utilities/clearfix';
@import 'utilities/functions';
@import 'utilities/negative-text';

// Base (config and everything else without classes)
@import 'base/fonts';
@import 'base/normalize-custom';
@import 'base/config';
@import 'base/base';
@import 'base/form';
@import 'base/button';
@import 'base/typography';

// Layout (site and minimal page layout)
@import 'layout/layout';
@import 'layout/container';
@import 'layout/manchet';
@import 'layout/sections';
@import 'layout/grid'; // @todo refactor
@import 'layout/sticky-footer'; // @todo refactor
@import 'layout/new'; // @todo refactor - mix with bigstep?
@import 'layout/intro';

// UI components
@import 'components/icon';
@import 'components/tabs';
@import 'components/btn-group'; // @todo refactor
@import 'components/custom-select';
@import 'components/form-progress';
@import 'components/note';
@import 'components/list'; // @todo refactor
@import 'components/loader';
@import 'components/card';
@import 'components/box-icon';
@import 'components/cover';
@import 'components/image-upload';
@import 'components/channel';
@import 'components/track';
@import 'components/widgets';
@import 'components/bigstep'; // @todo refactor - mix with layout/new??
// @import 'components/navigation';
// @import 'components/annoncement';

// Header area
@import 'components/bar';
@import 'components/nav-bar';
@import 'components/logo';
@import 'components/toggle-panel';
@import 'components/panel-nav';

// Footer area
@import 'components/playback';
@import 'components/player';

// States
@import 'layout/is-fullscreen'; // everything dark and big player
@import 'layout/is-minimal'; // full bg color
