/*!
	blog.radio4000.com
	by Hugo Vieilledent and Oskar Rough Mosumgaard
*/


// 1. Utilities (mixins and functions)
@import 'utilities/align';
@import 'utilities/clearfix';
@import 'utilities/functions';
@import 'utilities/negative-text';

// 2. Base (config and everything else without classes)
@import 'base/fonts-inline';
@import 'base/normalize-custom';
@import 'base/normalize-opentype';
@import 'base/config';
@import 'base/base';
@import 'base/button';
@import 'base/form';
@import 'base/typography';

html {
	background-color: $bg-color;
	color: $text-color;
}

// overwrite default tumblr theme styles
body {
	margin: 0 auto;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background: inherit;
	-webkit-font-smoothing: inherit;
}

// overwrite default tumblr theme typography
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: 'maisonneue-bold';
  font-size: inherit;
  margin: inherit;
  color: inherit;
}
