<article>
	<header class="Manchet">
		<h1>Typography<small> — styleguide</small></h1>
	</header>

	<div class="Container">
		<p>An overview of the typography on Radio4000.</p>
		<p>We're using Maison Neue Book and Bold for all typography.</p>
		<p>Lorem ipsum dolor sit amet, <strong>this is some strong text</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

		<h2>A headline in h2</h2>

		<p>Lorem ipsum dolor sit amet, consectetur <em>italic text</em>, sed do eiusmod tempor <em>incididunt ut labore</em> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <a href="#">a link to nothing</a> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<h3>A headline in h3</h3>

		<ul>
			<li>And a</li>
			<li>simple unordered</li>
			<li>and straight list</li>
		</ul>

		<p class="Muted">Some muted text.</p>

		<h1 class="Title">A title</h1>
		<h2 class="Subtitle">A subtitle</h2>
	</div>
</article>
