%patron-regular {
	font-family:"Patron Regular", sans-serif; font-weight:normal; font-style:normal; }
%patron-bold {
	font-family:"Patron Bold", sans-serif; font-weight:bold; font-style:normal; }
%patron-italic {
	font-family:"Patron Italic", sans-serif; font-weight:normal; font-style:italic; }
%patron-light {
	font-family:"Patron Light", sans-serif; font-weight:300; font-style:normal; }


$yellow: hsl(60, 100%, 80%);
$black: #222;

* {
	box-sizing: border-box;
}

html {
	// @extend %patron-regular;
	@extend %patron-light;
	font-size: 16px;
	line-height: 1.3125;
	text-rendering: optimizeLegibility;
	color: $black;
	// -webkit-font-smoothing: antialiased;
}
strong {
	@extend %patron-bold;
}
em {
	@extend %patron-italic;
}

a,
a:visited {
	color: blue;
	text-decoration: none;
}
a:hover {
	// color: hsl(100, 60%, 50%);
	text-decoration: underline;
}

h1,h2,h3,h4 {
	@extend %patron-bold;
}
h4 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

iframe,
img {
	max-width: 100%;
}
