
@import 'base';
@import 'buttons';
@import 'components/nav';
@import 'components/list';

body {
	margin: 4em 1em 186px;
	overflow-y: scroll;
}


// Top bar with controls
.Playback {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 0 1em;
	border-bottom: 1px solid;
	margin-bottom: 1em;
	background-color: hsla(0,0%, 100%, 0.90);
}
.Playback-title {
	position: relative;
	top: 1px;
}


// Container for the embeds
.Player {
	// position
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	// toggle animation
	transition: transform 200ms ease-in-out;
	&.is-minimized {
		transform: translateY(100%);
	}

	iframe {
		display: none;
	}
	&.youtube #YouTubePlayer,
	&.youtube #ytplayer,
	&.soundcloud #SoundcloudPlayer {
		display: block;
	}
}


