// $icon-font-path: "../styles/fonts/"; // Change the path to the fonts
// @import "bootstrap-sass/lib/bootstrap";

@import 'base';


.Nav {
	@extend %patron-bold;
	text-transform: uppercase;


	a {
		display: inline-block;
		background: hsl(0, 0%, 93%);
		border-radius: 2px;
		padding: 0.4em 0.65em 0.25em;

		&.is-active {
			background-color: hsl(60, 100%, 80%);
			color: black;
		}
	}
}


.List {
	list-style: none;
	padding-left: 0;
}
.List-item {
	border-top: 1px solid hsl(0, 0%, 90%);

	a {
		display: block;
		padding-top: 2px;
		padding-bottom: 1px;

		&.is-active {
			background-color: hsl(60, 100%, 80%);
			color: black;
		}
	}
}

.Sound {
	position: fixed;
	bottom: 0;
	right: -2px;
	width: 90%;
	z-index: 1;
	box-shadow: -2px -2px 5px hsla(0, 0%, 0%, 0.20);
	background-color: hsl(0,0%,90%);

	&.is-hidden {
		width: 53px;
		height: 20px;
	}
}
.Sound-toggleBtn {
	position: absolute;
	top: -11px;
	left: -13px;
	z-index: 1;
}
