# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log

# sublime text
*.sublime-project
*.sublime-workspace

# vs studio code
/.vscode
jsconfig.json
typings/
