{
  "extends": "stylelint-config-suitcss",
  "files": "app/styles/**/*.scss",
  "rules": {
    "indentation": "tab",
    "at-rule-empty-line-before": [ "always", {
      except: ["blockless-group", "first-nested"],
      ignore: ["after-comment"],
    }],
    "declaration-block-properties-order": [],
    "max-line-length": 999999,
    "rule-non-nested-empty-line-before": [ "always-multi-line", {
      ignore: ["after-comment"]
    }],
    "rule-nested-empty-line-before": ["always-multi-line", {
      except: ["first-nested"],
      ignore: ["after-comment"]
    }]
  }
}
