/**
 * Set a consistent margin between elements
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
table,
address,
hr,
figure,
menu {
	margin: 0 0 1rem;
}

/**
 * Links
 */

a {
	color: $link-color;
	// text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 a {
	text-decoration: none;
	border-bottom: 4px solid $black;
	margin-bottom: 1.5rem;
	transition: border-bottom-color 200ms ease-in-out;
	&.is-active {
		border-bottom-color: transparent;
	}
	&:hover {
		text-decoration: none;
		border-bottom-color: $text-color;
	}
}

/**
 * Seperators
 */

hr {
	margin: 2rem 0;
}

menu {
	margin-top: 0;
	padding: 0;
}

time {
	@include size-0;
	font-style: italic;
}

// Normalize.css removes list styles. We want them back for <ol>.
ol {
	list-style: decimal;
	padding-left: 1em;
}

// Allow images to scale
img {
	max-width: 100%;
	height: auto;
}

summary {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	cursor: pointer;
}
