/**
 * Links
 */
a {
	color: $link-color;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/**
 * Set a consistent margin between elements
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
select,
hr,
figure,
menu {
	margin: 0 0 1rem;
}

/**
 * Responsive media
 */
iframe,
img,
canvas,
video,
embed {
	max-width: 100%;
}

/**
 * Seperators
 */
hr {
	margin: 2rem 0;
}

menu {
	margin-top: 0;
	padding: 0;
}
