// Links
a {
	color: $link-color;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
form,
hr,
figure {
    margin: 0 0 1rem;
}

// Responsive media
iframe,
img,
canvas,
video,
embed {
	max-width: 100%;
}

// Seperators
hr {
	margin: 2rem 0;
}

// Icons
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: currentColor;

	// vertical center inside buttons
	.Btn & {
		float: left;

		position: relative;
		top: 0.15em;
		left: -0.2em;
	}
}
