html {
	@extend %patron-light;
	font-size: $base-font-size;
	line-height: $base-line-height;
	text-rendering: optimizeLegibility;
	// -webkit-font-smoothing: antialiased;
}
strong {
	@extend %patron-bold;
}
em {
	@extend %patron-italic;
}

a {
	color: $link-color;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

// Headers
h1,h2,h3,h4 {
	@extend %patron-bold;
	line-height: 1.1;
}
h1,
h2,
h3,
h4 {
	line-height: 1.1;
}
h1 {
	font-size: rem(30);
	a {
		color: $text-color;
	}
}
h2 {
	font-size: rem(20);
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: rem(14);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
%text-bg {
	background: linear-gradient(hsl(17, 100%, 50%), hsl(278, 90%, 42%));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
form,
hr {
    margin: 0 0 1rem;
}

// Lists
li {
	font-size: rem(13);
}

// Responsive media
iframe,
img,
canvas,
video,
embed {
	max-width: 100%;
}

// Typography
.Manchet {
	font-size: rem(20);
}
