// Button reset (inspired by https://github.com/suitcss/components-button)
.Btn {
	-webkit-appearance: none; /* 1 */
	background: transparent;
	cursor: pointer;
	display: inline-block;
	line-height: normal; /* 6 */
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 6 */
	white-space: normal; /* 7 */

	// Button styling
	// @extend %patron-bold;
	@extend %fira-bold;
	font-size: rem(13);
	padding: 0.3em 0.8em 0.2em;
	background-color: $slightgray;
	background-image: linear-gradient(to bottom, white 60%, transparent);
	color: $text-color;
	box-shadow: hsla(0, 0%, 0%, 0.2) 0 1px 0 0;
	// -webkit-font-smoothing: antialiased;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
		background-image: linear-gradient(to bottom, white 70%, hsla(0, 0%, 0%, 0.10));
	}
	&:active {
		// @todo
	}
	&:disabled,
	&.is-disabled {
		cursor: default;
		opacity: 0.75;
	}
}

// Primary, colored button
.Btn--primary {
	background-color: $green;
	background-image: linear-gradient(to bottom, rgba(white, 0.10) 40%, transparent);
	color: $bleach;

	&:hover,
	&:focus,
	&:active {
		background-image: linear-gradient(to bottom, rgba(white, 0.10) 40%, hsla(0,0%,0%,0.10));
	}
}

// Danger buttons
.Btn--danger {
	color: $red;
}

// Small buttons
.Btn--small {
	font-size: rem(11);
	padding: em(4,11) em(7,11) em(1,11);
}

// Large buttons
.Btn--large {
	font-size: rem(20);
	padding: 0.5em 0.7em 0.3em;
}

// Buttons that looks like text
.Btn--text {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	text-align: left;
	padding-left: 0.4em;
	padding-right: 0.4em;
	&:hover,
	&:focus {
		background-image: none;
		text-decoration: underline;
	}
}

// Button that looks like an input field
.Btn--textInput {
	background-image: none;
	background-color: white;
	text-align: left;
	box-shadow: none;
	&:hover,
	&:focus {
		background-image: none;
	}
}

// Button groups
.BtnGroup {
	margin-bottom: 1rem;
	.Btn {
		margin-right: em(-5px);
	}
	.Btn:first-child {}
	.Btn:last-child {
		margin-right: 0;
	}
}
.BtnGroup-label {
	display: inline;
	position: relative;
	top: em(1,13);
	margin-right: 0.2em;
	color: $gray;
}
