@mixin button {
	@extend %font-bold;
	align-items: center;
	background-color: $superlightgray;
	box-shadow: $box-shadow;
	box-sizing: border-box; /* 1 */
	cursor: pointer;
	display: inline-block;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	margin: 0;
	min-height: 2.1em; // proper tap areas
	padding: 0.6em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 4 */
	transition: border 150ms, background 150ms, box-shadow 150ms;

	@media (min-width: $layout-l) {
		padding-left: 0.7em;
		padding-right: 0.7em;
	}

	&:hover,
	&:focus {
		text-decoration: none;
		box-shadow: $box-shadow-hover;
	}

	&:active,
	&.is-active {
		outline: none;
		box-shadow: $box-shadow-active;
	}

	&:focus {
		outline: none;
		border-color: $primary-color;
	}

	&:disabled {
		cursor: default;
		color: $mediumgray;
	}

	// buxfix because ember sometimes adds a div inside a button
	div {
		display: inline;
	}
}

.Btn {
	@include button;
}

/**
 * Button sizes
 */

.Btn--small {
	@include size-0;
	min-width: 2em; // equal width
	padding: 0 0.2rem;
}

.Btn--large {
	@include size-2;
	min-width: 6em;
}

.Btn--huge {
	@include size-3;
	min-width: 6em;
}

.Btn--full {
	width: 100%;
	text-align: center;
}

/**
 * Primary, colored button
 */

.Btn--primary {
	background-color: $green;
	color: $bleach;

	&:hover,
	&:focus,
	&:active {
		background-color: $green;
		background-image: linear-gradient(to bottom, rgba($white, 0.1) 40%, $green);
	}

	&:disabled {
		color: rgba($bleach, 0.5);
	}
}

/**
 * Important, colored button
 */

.Btn--important {
	background-color: $primary-color;
	color: $white;

	&:hover {
		background-color: $primary-color;
	}
}

/**
 * Danger, colored button
 */

.Btn--danger {
	color: $red;
}

.Btn--transparent {
	border: 2px solid $white;
	color: $white;
	// reset normal btn styles
	box-shadow: none;
	background-image: none;
	background-color: transparent;

	&:hover,
	&:focus,
	&:active,
	&.is-active {
		box-shadow: none;
		border-color: $white;
	}
}

/**
 * Buttons that looks like text
 */
// extra specificity hack
.Btn.Btn--text {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	padding-left: 0.4em;
	padding-right: 0.4em;

	&:hover,
	&:focus {
		background-image: none;
		text-decoration: underline;
		border-color: transparent;
	}
}

// .Btn--round {
// 	padding: 1.5rem 1.6rem 1.4rem 1.5rem;
// 	border-radius: 50%;
// 	border-left: 2px solid $primary-color;
// 	border-bottom: 2px solid $primary-color;

// 	&:hover {
// 		border-color: darken($primary-color, 10%);
// 	}
// }

.Btn--topNoRadius {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

// Shows either a up or down indicator
// according to sorting method
.SortIndicator {
	display: none;
	font-size: 0.7em;

	.Btn.is-active & {
		display: inline;
	}
}

/**
 * Non Buttons
 * like follow button star
 * aka, html buttons that should not look like them
 **/

.NonBtn {
	padding: 0;
	border: 0 solid transparent;
	background-color: transparent;
	outline: none;
	box-shadow: none;

	&:hover {
		cursor: pointer;
	}
}
