// Button reset (inspired by https://github.com/suitcss/components-button)
.Btn {
	-webkit-appearance: none; /* 1 */
	background: transparent;
	cursor: pointer;
	display: inline-block;
	line-height: normal; /* 6 */
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 6 */
	white-space: normal; /* 7 */

	// Button styling
	@extend %patron-bold;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	background-color: $slightgray;
	background-image: linear-gradient(to bottom, white 60%, transparent);
	color: $text-color;
	-webkit-font-smoothing: antialised;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
		background-image: linear-gradient(to bottom, white 70%, hsla(0, 0%, 0%, 0.10));
	}
	&:active {
		// @todo
	}
	&:disabled,
	&.is-disabled {
	    cursor: default;
	    opacity: 0.75;
	}
}

// Primary, colored button
.Btn--primary {
	background-color: $green;
	background-image: linear-gradient(to bottom, rgba(white, 0.10) 40%, transparent);
	color: $bleach;

	&:hover,
	&:focus,
	&:active {
		background-image: linear-gradient(to bottom, rgba(white, 0.10) 40%, hsla(0,0%,0%,0.10));
	}
}

// Danger buttons
.Btn--danger {
	color: $red;
}

// Large buttons
.Btn--large {
	font-size: 20px;
	padding: 0.5em 0.7em 0.3em;
}



// Buttons that looks like text
.Btn--text {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	text-align: left;
	&:hover {
		background-image: none;
		text-decoration: underline;
	}
}

// Button that looks like an input field
.Btn--textInput {
	background-image: none;
	background-color: white;
	text-align: left;
	&:hover {
		background-image: none;
	}
}
