// Button reset (inspired by https://github.com/suitcss/components-button)
// this allows us to use semantic button elements for other things
button,
.Btn {
	-webkit-appearance: none; /* 1 */
	background: transparent;
	cursor: pointer;
	display: inline-block;
	line-height: normal; /* 6 */
	margin: 0;
	border: 0;
	padding: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 6 */
	white-space: normal; /* 7 */
}


.CustomSelect,
.Btn {
	padding: em(5,13) 1rem em(4,13);
	background-color: $slightgray;
	background-image: linear-gradient(to bottom, $white 60%, #ececec);
	color: $text-color;
	box-shadow: hsla(0, 0%, 0%, 0.2) 2px 3px 0 0;
	transition: border-color 200ms, background 200ms, box-shadow 200ms;
	vertical-align: top;
	border-color: hsla(0, 0%, 50%, 0.15);

	// hover and active
	&:hover,
	&:active {
		text-decoration: none;
		background-image: linear-gradient(to bottom, $white 70%, hsla(0, 0%, 0%, 0.1));
		// border-color: rgba(0,0,0,0.18);
	}

	// active (pressed down)
	&:active,
	&.is-active {
		outline: none;
		box-shadow: hsla(0, 0%, 0%, 0.3) 2px 2px 4px inset;
	}

	// focus
	&:focus {
		outline: none;
		border-color: $primary-color;
		box-shadow: 0 0 5px rgba($primary-color, 0.3);
	}

	// disabled
	&:disabled,
	&.is-disabled {
		cursor: default;
		opacity: 0.25;
	}

	// buxfix because ember sometimes adds a div inside a button
	div {
		display: inline;
	}
}

// Primary, colored button
.Btn--primary {
	background-color: $green;
	background-image: linear-gradient(to bottom, rgba($white, 0.1) 40%, $green);
	color: $bleach;


	&:hover,
	&:focus,
	&:active {
		background-image: linear-gradient(to bottom, rgba($white, 0.1) 40%, hsla(0,0%,0%,0.1));
	}
	&.is-flashing {
		background-color: $yellow;
	}

}

// Small buttons
.Btn--small {
	font-size: rem(11);
	padding: em(4,11) em(7,11) em(1,11);
}

// Large buttons
.Btn--large {
	@include size-2;
}


// Danger buttons
.Btn--danger {
	color: $red;
}

// Buttons that looks like text
// extra specificity hack
.Btn.Btn--text {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	text-align: left;
	padding-left: 0.4em;
	padding-right: 0.4em;
	&:hover,
	&:focus {
		background-image: none;
		text-decoration: underline;
		border-color: transparent;
	}
}

// A group of buttons
.BtnGroup {
	display: flex;
	flex-shrink: 0;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 1rem;

	.Btn {
		& + .Btn {
			border-left: 0;
			border-radius: 0;
		}
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}
}
.BtnGroup-label {
	align-self: center;
	position: relative;
	top: em(1,13);
	margin-right: 0.2em;
	margin-bottom: 0;
	color: $gray;
}

// Groups of BtnGroup
// (eliminates double-borders and extra spacing between buttons)
.BtnGroupWrapper {
	display: flex;
	flex-flow: wrap;
	margin-bottom: 0.5rem;

	.BtnGroup {
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
	}
}



// Shows either a up or down indicator
// according to sorting method
.SortIndicator {
	display: none;
	font-size: 0.7em;
	.Btn.is-active & {
		display: inline;
	}
}
