@mixin button {
	font-weight: bold;
	align-items: center;
	background-color: $superlightgray;
	box-sizing: border-box; /* 1 */
	cursor: pointer;
	display: inline-block;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	margin: 0;
	min-height: 2.1em; // proper tap areas
	padding: 0.6em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 4 */
	transition: border 150ms, background 150ms, box-shadow 150ms, opacity 150ms;

	&:hover,
	&:focus {
		text-decoration: none;
		background-color: white;
		box-shadow: $box-shadow-hover;
	}

	&:active,
	&.is-active {
		outline: none;
		box-shadow: $box-shadow-active;
	}

	&:focus {
		border-color: $primary-color;
	}

	&:disabled {
		cursor: default;
		color: $mediumgray;
	}

	// buxfix because ember sometimes adds a div inside a button
	div {
		display: inline;
	}

	svg,
	i {
		margin-right: 0.5rem;
	}

	svg {
		float: left;
	}

	i {
		font-style: normal;
	}
}

.Btn {
	@include button;

	small {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

/**
 * Button sizes
 */

.Btn--small {
	@include size-0;
	min-width: 2em; // equal width
	padding: 0.45rem 0.5rem 0.4rem;

	svg,
	i {
		margin-right: 0;
	}
}

.Btn--wide,
.Btn--large,
.Btn--huge {
	min-width: 7rem;
}

.Btn--large {
	@include size-2;
	// Adjust padding to vertical center text.
	padding-top: 0.65em;
	padding-bottom: 0.55em;
}

.Btn--huge {
	@include size-3;
}

.Btn--full {
	width: 100%;
	text-align: center;
}

/**
 * Primary, colored button
 */

.Btn--primary {
	background-color: $green;
	color: $bleach;

	&:hover,
	&:focus,
	&:active {
		background-color: $green;
		background-image: linear-gradient(to bottom, rgba($white, 0.1) 40%, $green);
	}

	&:disabled {
		color: rgba($bleach, 0.5);
	}
}

/**
 * Important, colored button
 */

.Btn--important {
	background-color: $primary-color;
	color: $white;

	&:hover,
	&:focus {
		background-color: $primary-color;
		color: $white;
	}
}

/**
 * Danger, colored button
 */

.Btn--danger {
	color: $red;
}

.Btn--transparent {
	border: 2px solid $white;
	color: $white;
	// reset normal btn styles
	box-shadow: none;
	background-image: none;
	background-color: transparent;

	&:hover,
	&:focus,
	&:active,
	&.is-active {
		box-shadow: none;
		border-color: $white;
	}
}

/**
 * Buttons that looks like text
 */
// extra specificity hack
.Btn.Btn--text {
	-webkit-appearance: none;
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	padding-left: 0.4em;
	padding-right: 0.4em;

	&:hover,
	&:focus {
		background-image: none;
		text-decoration: underline;
		border-color: transparent;
	}
}

.Btn--topNoRadius {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.Btn--bottomNoRadius {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/*
	Button used for the aside toggle and toggling <select>
*/

.Btn--toggle {
	display: flex;
	flex-direction: column;

	span {
		width: 9px;
		height: 3px;
		border-radius: 2px;
		margin: 1px;
		background-color: $mediumgray;
		transition: background-color 150ms;
	}

	.ContextualToggle:hover &,
	&:hover,
	&:focus {
		span {
			background-color: $black;
		}
	}
}

/**
 * Non Buttons
 * like follow button star
 * aka, html buttons that should not look like them
 **/

.NonBtn {
	padding: 0;
	border: 0 solid transparent;
	background-color: transparent;
	outline: none;
	box-shadow: none;

	&:hover {
		cursor: pointer;
	}
}

.NonBtn--link {
	text-decoration: underline;
}

/*
	Button for the map
	hover the fullscreen map
*/

.Btn--map {
	z-index: 2;
	position: fixed;
	left: 2rem;
	bottom: 2rem;
	@media (max-width: $layout-xs), (max-height: $layout-xs){
		display: none;
	}
}

/* keyboard "button" */
.ember-modal-dialog kbd {
  display: inline-block;
	padding: 0 5px 4px;
	font: 13px monospace;
	background-color: $superlightgray;
  border: solid 1px #d1d5da;
  border-radius: $border-radius;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}
