// Button reset (inspired by https://github.com/suitcss/components-button)
// this allows us to use semantic button elements for other things
.Btn {
	-webkit-appearance: none; /* 1 */
	background: transparent;
	cursor: pointer;
	display: inline-block;
	line-height: normal; /* 6 */
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 6 */
	white-space: normal; /* 7 */
}

.CustomSelect,
.Btn {
	@extend %font-bold;
	padding: em(6,13) 0.8rem em(5,13);
	background-color: $superlightgray;
	color: $text-color;
	box-shadow: 0 3px 2px 0 hsla(0, 0%, 0%, 0.06), inset -1px -1px 1px 0 hsla(0, 0%, 0%, 0.02);
	transition: border-color 150ms, background 150ms, box-shadow 150ms;
	vertical-align: top;

	// hover and active
	&:hover,
	&:active {
		box-shadow: 0 3px 2px 0 hsla(0, 0%, 0%, 0.12), inset -1px -1px 1px 0 hsla(0, 0%, 0%, 0.02);
		text-decoration: none;
	}

	// active (pressed down)
	&:active,
	&.is-active {
		background-color: $white;
		outline: none;
	}

	// focus
	&:focus {
		outline: none;
		border-color: $primary-color;
		box-shadow: hsla(0, 0%, 0%, 0.4) 2px 3px 0 0;
	}

	// disabled
	&:disabled,
	&.is-disabled {
		cursor: default;
		opacity: 0.25;
	}

	// buxfix because ember sometimes adds a div inside a button
	div {
		display: inline;
	}
}

// Primary, colored button
.Btn--primary {
	background-color: $green;
	border-color: rgba($gray, 0.4);
	color: $bleach;

	&:hover,
	&:focus,
	&:active {
		background-color: $green;
		background-image: linear-gradient(to bottom, rgba($white, 0.1) 40%, $green);
	}
	&.is-flashing {
		background-color: $yellow;
	}

}

// Small buttons
.Btn--small {
	font-size: rem(11);
	padding: em(4,11) em(7,11) em(1,11);
}

// Large buttons
.Btn--large {
	@include size-2;
}


// Danger buttons
.Btn--danger {
	color: $red;
}

// Buttons that looks like text
// extra specificity hack
.Btn.Btn--text {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	text-align: left;
	padding-left: 0.4em;
	padding-right: 0.4em;
	&:hover,
	&:focus {
		background-image: none;
		text-decoration: underline;
		border-color: transparent;
	}
}

// Shows either a up or down indicator
// according to sorting method
.SortIndicator {
	display: none;
	font-size: 0.7em;
	.Btn.is-active & {
		display: inline;
	}
}


/**
 * Non Buttons
 * like follow button star
 * aka, html buttons that should not look like them
 **/

.NonBtn {
	border: 1px solid transparent;
	background-color: transparent;
	outline: none;

	&:hover {
		cursor: pointer;
	}
}
