// Colors
$purple: hsl(260, 80%, 50%);
$red: hsl(0, 75%, 50%);
$yellow: rgba(255, 233, 87, 0.5);
$green: hsl(125, 82%, 35%);
$fadedblue: hsl(231, 48%, 95%);
$bleach: hsl(72, 100%, 98%);

// Grayscale
$white: hsl(0, 0%, 100%);
$superlightgray: hsl(0, 0%, 98%);
$slightgray: hsl(0, 0%, 95%);
$lightgray: hsl(45, 5%, 90%);
$mediumlightgray: hsl(0, 0%, 85%);
$mediumgray: hsl(0, 0%, 70%);
$gray: hsl(0, 0%, 45%);
$dark: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 10%);

// Color definitions
$primary-color: $purple;
$bg-color: $lightgray;
$text-color: $black;
$link-color: $text-color;
$overlay-color: hsla(0, 0%, 40%, 0.6);

// Used to present colors in /styleguide/colors.
.Colors {
	display: flex;
	flex-flow: row wrap;
}
.Colors-item {
	flex: 0 1 10rem;
	padding: 1rem 1rem 0.9rem;
	text-shadow: 1px 1px 0 rgba(white, 0.5);
	text-transform: capitalize;
}
