// Typography
$base-font-size: 15px;
$base-line-height: (20/15);

%patron-light { font-family:"Patron Light", 'Patron Light', sans-serif; font-weight:300; }
%patron-bold { font-family: "Patron Bold", sans-serif; font-weight: bold; }
%patron-black-italic { font-family:"Patron Black Italic", sans-serif; font-weight:bold; font-style:italic; }

// Colors
$yellow:         hsl(60, 100%, 70%);
$beautifulblue:  hsl(255, 95%, 39%);
$blue:           hsl(210, 75%, 50%);
$lightblue:      lighten($blue, 10%);
$red:            hsl(0, 100%, 50%);
$green:          hsl(110, 85%, 35%);
$darkgreen: 	  hsl(110, 85%, 25%);
$coolcolor: 	  hsl(173, 32%, 45%);
$teal: 			  hsl(187, 85%, 35%);
$darkteal: 		  hsl(187, 75%, 25%);
// Grayscale
$bleach:         hsl(72, 100%, 97%);
$black:          hsl(0, 0%, 10%);
$gray:           hsl(0, 0%, 50%);
$lightgray:      hsl(0, 0%, 85%);
$slightgray:     hsl(0, 0%, 95%);
$superlightgray: hsl(0, 0%, 98%);

// Color definitions
$bg-color: hsl(40, 30%, 94%);
$text-color: $black;
$text-color-invert: $slightgray;
$link-color: $blue;
$primary-color: $beautifulblue;

// Good looking easings for animation
$easing:  cubic-bezier(0.165,  0.84,  0.4,   1); // fast, good looking
// $easing2: cubic-bezier(0.145,  1.05,  0.4,   1.1); // + spring physics
// $easing4: cubic-bezier(0.770,  0,     0.175,  1); // ??
$easing5: cubic-bezier(.3, 0, 0, 1.3); // nice for things that pop up (dropdown etc)

// Layout: Breakpoints
$layout-s: rem(450);
$layout-m: rem(650);
$layout-ml: rem(750);
$layout-l: rem(1000);

$border-radius: 3px;
