/**
 * Typography
 **/

$base-font-size: 16px;
$base-line-height: (21/16);

// %fira { font-family: 'fira-sans'; }
// %fira-bold { font-family: 'fira-sans'; font-weight: 600; }
%fira { font-family: 'ff-meta-web-pro'; }
%fira-bold { font-family: 'ff-meta-web-pro'; font-weight: 600; }

%dagny { font-family: 'ff-dagny-web-pro'; }
%dagny-bold { font-family: 'ff-dagny-web-pro'; font-weight: 700; }
%dagny-black { font-family: 'ff-dagny-web-pro'; font-weight: 900; }

// %patron-light { font-family: "Patron Light", 'Patron Light', sans-serif; font-weight:300; }
// %patron-bold { font-family: "Patron Bold", sans-serif; font-weight: bold; }
// %patron-black-italic { font-family: "Patron Black Italic", sans-serif; font-weight:bold; font-style:italic; }

/**
 * Colors
 **/

$yellow:         hsl(60, 100%, 70%);
$beautifulblue:  hsl(255, 95%, 39%);
$blue:           hsl(210, 75%, 50%);
$lightblue:      lighten($blue, 10%);
$red:            hsl(0, 75%, 50%);
$green:          #64c306;
$darkgreen: 	  hsl(110, 85%, 25%);
$coolcolor: 	  hsl(173, 32%, 45%);
$teal: 			  hsl(187, 85%, 35%);
$darkteal: 		  hsl(187, 75%, 25%);
// Grayscale
$bleach:         hsl(72, 100%, 97%);
$black:          hsl(0, 0%, 10%);
$darkgray:		  hsl(0, 0%, 30%);
$gray:           hsl(0, 0%, 50%);
$lightgray:      hsl(0, 0%, 85%);
$slightgray:     hsl(0, 0%, 95%);
$superlightgray: hsl(0, 0%, 98%);

// Color definitions
$primary-color: $beautifulblue;
$secondary-color: rgba(82, 136, 156, 0.36);
$bg-color: hsl(40, 25%, 96%);
$text-color: $black;
$text-color-invert: $slightgray;

$link-color: $red;

/**
 * Font sizes
 **/

$font-20: 20px;
$font-25: 25px;

/**
 * Easing and animations
 **/

// Good looking easings for animation
$easing:  cubic-bezier(0.165,  0.84,  0.4,   1); // fast, good looking
// $easing2: cubic-bezier(0.145,  1.05,  0.4,   1.1); // + spring physics
// $easing4: cubic-bezier(0.770,  0,     0.175,  1); // ??
$easing5: cubic-bezier(.3, 0, 0, 1.3); // nice for things that pop up (dropdown etc)


/**
 * Layout: Breakpoints
 **/

$layout-s: rem(450);
$layout-m: rem(650);
$layout-ml: rem(750);
$layout-l: rem(1000);

$border-radius: 3px;
