/**
 * Typography
 */

$base-font-size: 15px;
$base-line-height: (21/16);
$sans-fallback: 'Lucida Grande','Lucida Sans', sans-serif;

%font-regular {
	font-family: 'maisonneue', $sans-fallback;
	font-weight: normal;
}
%font-regularItalic {
	font-weight: normal;
	font-style: italic;
}
%font-bold {
	font-weight: bold;
	font-style: normal;
}
%font-bold-italic {
	font-weight: bold;
	font-style: italic;
}
%font-mono {
	letter-spacing: 0.05em;
	// text-transform: uppercase;
	// font-weight: normal;
	// font-style: normal;
}

// Always use variables for font-sizes:
// allowed font-sizes:
@mixin size-0 { font-size: rem(13px); }
@mixin size-1 { font-size: rem(14px); }
@mixin size-2 { font-size: rem(16px); }
@mixin size-3 { font-size: rem(21px); }
@mixin size-4 { font-size: rem(25px); }
@mixin size-5 { font-size: rem(31px); }
@mixin size-6 { font-size: rem(39px); }
@mixin size-7 { font-size: rem(49px); }

// Colors
$purple: hsl(260, 80%, 50%);
$red: hsl(0, 75%, 50%);
$yellow: hsl(52, 100%, 67%);
$green: hsl(125, 82%, 35%);
$blue: hsl(255, 95%, 39%);
$fadedblue: hsl(231, 48%, 95%);
$lighterblue: hsla(266, 36%, 84%, 0.8);
$darkblue: hsl(230, 50%, 23%);
$verydarkblue: hsl(255, 65%, 19%);

// Grays
$white: hsl(0, 0%, 100%);
$superlightgray: hsl(0, 0%, 98%);
$bleach: hsl(72, 100%, 98%);
$slightgray: hsl(0, 0%, 95%);
$lightgray-saturated: hsl(45, 5%, 89%);
$lightgray: hsl(0, 0%, 91%);
$mediumlightgray: hsl(0, 0%, 85%);
$mediumgray: hsl(0, 0%, 70%);
$boxshadowgray: hsla(0, 0%, 78%, 0.8);
$gray: hsl(0, 0%, 50%);
$dark: hsl(0, 0%, 30%);
$black: hsl(0, 0%, 10%);

// Color definitions
$primary-color: $purple;
$secondary-color: $red;
$bg-color: $lightgray-saturated;
$text-color: $black;
$text-color-invert: $superlightgray;
$link-color: $red;

// Partners colors
$google: red;
$facebook: blue;

// Easing and animations
$easing:  cubic-bezier(0.165, 0.840, 0.400, 1.000); // fast, good looking
$easing2: cubic-bezier(0.300, 0.000, 0.000, 1.300); // nice for things that "pop"
$easing3: cubic-bezier(0.860, 0.000, 0.070, 1.000); // nice again?
$easing4: cubic-bezier(0.250, 1.400, 0.180, 1.000); // try with 200ms
$easing6: cubic-bezier(0.560, 1.000, 0.860, 1.139);
// Layout: Breakpoints (works for width and height)
$layout-s: rem(480);
$layout-sm: rem(550);
$layout-m: rem(650);
$layout-ml: rem(780);
$layout-l: rem(1000);
$layout-xl: rem(1450);
$layout-xxl: rem(1700);

// Other stuff…
$box-shadow: 0px 4px 0px -2px $boxshadowgray;
$box-shadow-hover: 0px 3px 0px -2px $boxshadowgray;
$box-shadow-active: 0px 2px 0px -2px $boxshadowgray;
$border-radius: 3px;
$bar-height: 50px;
$bar-border-size: 2px;
$progress-height: 10px;
$sidebar-width: 15rem;
