/**
 * Typography
 */

$base-font-size: 15px;
$base-line-height: (21 / 16);
$sans-fallback: "system-ui", "Lucida Grande", "Lucida Sans", sans-serif;

%font-regular {
	font-family: "Maison Neue", $sans-fallback;
	font-weight: normal;
}

%font-regularItalic {
	font-weight: normal;
	font-style: italic;
}

%font-bold {
	font-weight: bold;
	font-style: normal;
}

%font-bold-italic {
	font-weight: bold;
	font-style: italic;
}

%font-mono {
	letter-spacing: 0.05em;
}

// Always use variables for font-sizes:
// allowed font-sizes:
@mixin size-0 {
	font-size: rem(13px);
}

@mixin size-1 {
	font-size: rem(14px);
}

@mixin size-2 {
	font-size: rem(16px);
}

@mixin size-3 {
	font-size: rem(21px);
}

@mixin size-4 {
	font-size: rem(25px);
}

@mixin size-5 {
	font-size: rem(31px);
}

@mixin size-6 {
	font-size: rem(39px);
}

@mixin size-7 {
	font-size: rem(49px);
}

// Easing and animations
$easing: cubic-bezier(0.165, 0.84, 0.4, 1); // fast, good looking
$easing2: cubic-bezier(0.3, 0, 0, 1.3); // nice for things that "pop"
$easing3: cubic-bezier(0.86, 0, 0.07, 1); // nice again?
$easing4: cubic-bezier(0.25, 1.4, 0.18, 1); // try with 200ms
$easing6: cubic-bezier(0.56, 1, 0.86, 1.139);

// Layout: Breakpoints
$layout-s: 480px;
$layout-sm: 550px;
$layout-m: 650px;
$layout-ml: 780px;
$layout-l: 1000px;
$layout-xl: 1450px;
$layout-xxl: 1700px;
$layout-xxxl: 1921px;

// Other stuff
$box-shadow: 0 3px 0 -1px $boxshadowgray;
$box-shadow-hover: 0 2px 0 -1px $boxshadowgray;
$box-shadow-active: 0 1px 0 -1px $boxshadowgray;
$border-radius: 3px;
$bar-height: 50px;
$bar-border-size: 2px;
$progress-height: 10px;
$sidebar-width: 15rem;
