/**
 * Typography
 */

$base-font-size: 16px;
$base-line-height: (21/16);

/*
div { font-family:"Maison Neue Light", Helvetica, Arial, Sans-Serif, sans-serif; font-weight:200; font-style:normal; }
div { font-family:"Maison Neue Book", Helvetica, Arial, Sans-Serif, sans-serif; font-weight:300; font-style:normal; }
div { font-family:"Maison Neue Bold", Helvetica, Arial, Sans-Serif, sans-serif; font-weight:bold; font-style:normal; }
div { font-family:"Patron Black Italic", sans-serif; font-weight:bold; font-style:italic; }
*/

@mixin type-regular {
	// font-family: 'pt sans','Lucida Grande','Lucida Sans', sans-serif;
	font-family: 'Maison Neue Book', sans-serif;
	font-weight: normal;
}
@mixin type-bold {
	font-family: 'Maison Neue Bold', sans-serif;
	font-weight: bold;
	font-style: normal;
}

// Always use variables for font-sizes:
// allowed font-sizes:
@mixin size-1 { font-size: rem(14px); }
@mixin size-2 { font-size: rem(16px); }
@mixin size-3 { font-size: rem(21px); }
@mixin size-4 { font-size: rem(25px); }
@mixin size-5 { font-size: rem(31px); }
@mixin size-6 { font-size: rem(39px); }
@mixin size-7 { font-size: rem(49px); }
$font-20: 20px;
$font-25: 25px;

/**
 * Colors
 */

$yellow:         hsl(60, 100%, 70%);
$beautifulblue:  hsl(255, 95%, 39%);
$blue:           hsl(210, 75%, 50%);
$lightblue:      lighten($blue, 10%);
$red:            hsl(0, 75%, 50%);
$green:          #64c306;
$darkgreen: 	  hsl(110, 85%, 25%);
$coolcolor: 	  hsl(173, 32%, 45%);
$teal: 			  hsl(187, 85%, 35%);
$darkteal: 		  hsl(187, 75%, 25%);
// Grayscale
$bleach:         hsl(72, 100%, 97%);
$black:          hsl(0, 0%, 10%);
$darkgray:		  hsl(0, 0%, 30%);
$gray:           hsl(0, 0%, 50%);
$lightgray:      #e8e8e8;
$slightgray:     hsl(0, 0%, 95%);
$superlightgray: hsl(0, 0%, 98%);

// Color definitions
$primary-color: $beautifulblue;
$secondary-color: rgba(82, 136, 156, 0.36);
$bg-color: hsl(40, 25%, 96%);
$text-color: $black;
$text-color-invert: $slightgray;

$link-color: $red;

/**
 * Easing and animations
 */

// Good looking easings for animation
$easing:  cubic-bezier(0.165,  0.84,  0.4,   1); // fast, good looking
// $easing2: cubic-bezier(0.145,  1.05,  0.4,   1.1); // + spring physics
// $easing4: cubic-bezier(0.770,  0,     0.175,  1); // ??
$easing5: cubic-bezier(.3, 0, 0, 1.3); // nice for things that pop up (dropdown etc)


/**
 * Layout: Breakpoints
 */

$layout-s: rem(450);
$layout-m: rem(650);
$layout-ml: rem(750);
$layout-l: rem(1000);

$border-radius: 3px;
