/**
 * Font family definitions
 */

@font-face {
	font-family: "maisonneue";
	src: url("fonts/maisonneue/maisonneueweb-book.woff2") format("woff2"), url("fonts/maisonneue/maisonneueweb-book.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "maisonneue";
	src: url("fonts/maisonneue/maisonneueweb-bookitalic.woff2") format("woff2"), url("fonts/maisonneue/maisonneueweb-bookitalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "maisonneue";
	src: url("fonts/maisonneue/maisonneueweb-bold.woff2") format("woff2"), url("fonts/maisonneue/maisonneueweb-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "maisonneue";
	src: url("fonts/maisonneue/maisonneueweb-bolditalic.woff2") format("woff2"), url("fonts/maisonneue/maisonneueweb-bolditalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}
