/**
 * Font family definitions
 */

@font-face {
	font-family: 'maisonneue';
	src: url('fonts/maisonneue/maisonneue-book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'maisonneue';
	src: url('fonts/maisonneue/maisonneue-bookitalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'maisonneue';
	src: url('fonts/maisonneue/maisonneue-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'maisonneue';
	src: url('fonts/maisonneue/maisonneue-bolditalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
