/**
 * Forms
 */

// Shared styles for inputs and buttons
.Btn,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea {
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: $border-radius;
	color: $black;
}

// Text inputs
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea,
.Btn--textInput {
	// @extend %patron-light;
	// @extend %fira;
	font-weight: normal;
	font-size: rem(13);
	padding: em(10,13) em(8,13) em(8,13);
	width: 100%;
	max-width: 100%;
	box-shadow: 1px 2px 2px hsl(0, 0%, 90%) inset;
}
textarea {
	min-height: 5em;
}

// Form design should be tigther than inputs alone
.Form {
	max-width: 36rem;
	margin-bottom: 0.5rem; // to make total bottom 1rem
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='password'],
	input[type='url'],
	textarea,
	.Btn {
		margin-bottom: 1rem;
	}
}

// Label styles
label {
	// @extend %patron-bold;
	@extend %fira-bold;
	display: block;
	font-size: rem(13);
}


// Shared styles between the forms for adding a track and editing a track
.AddTrack,
.EditTrack {
	padding: 0.5rem;
	background-color: $yellow;
	border: 1px solid hsla(0, 0%, 0%, 0.15);
	border-radius: 3px;

	.Form {
		margin-bottom: 0;
	}
}
.EditTrack {}
