/**
 * Forms
 */

// Shared styles for inputs and buttons
.Btn,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea {
	font-size: 13px;
	padding: em(10,13) em(8,13) em(8,13);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: $border-radius;
	color: $black;
}

// Text inputs
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea,
.Btn--textInput {
	@extend %patron-light;
	width: 100%;
	max-width: 100%;
	box-shadow: 1px 2px 2px hsl(0, 0%, 90%) inset;
}
textarea {
	min-height: 5em;
}

// Form design should be tigther than inputs alone
form {
	margin-bottom: 0.5rem; // to make total bottom 1rem
	input[type='text'],
	input[type='url'],
	input[type='email'],
	input[type='tel'],
	input[type='password'],
	textarea {
		margin-bottom: 0.5rem;
	}
}

// Label styles
label {
	@extend %patron-bold;
	display: block;
	font-size: 13px;
	color: $gray;
}
