/**
 * Forms
 */

// Shared styles for inputs and buttons
.Btn,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea {
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: $border-radius;
	-webkit-font-smoothing: antialiased;
}

// Text inputs
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea,
.Btn--textInput {
	@include size-1;
	padding: em(10,13) em(8,13) em(8,13);
	width: 100%;
	max-width: 100%;
	box-shadow: 1px 2px 2px hsl(0, 0%, 90%) inset;
	color: $text-color;
}
textarea {
	min-height: 5em;
}

// Form design should be tigther than inputs alone
.Form {
	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='password'],
	input[type='url'],
	textarea,
	.Btn {
		margin-bottom: 1rem;
	}
}

// Label styles
label {
	display: block;
	@include size-1;
	padding-bottom: 5px;

	input[type='text'],
	input[type='email'],
	input[type='tel'],
	input[type='password'],
	input[type='url'],
	textarea {
		margin-top: 0.25rem;
		@extend %font-regular;
	}
}

// Shared styles between the forms for adding a track and editing a track
.AddTrack,
.EditTrack,
.Playlist-edit {
	padding: 1rem;
	margin-bottom: 0;
	.Form {
		margin-bottom: 0;
	}
}
.AddTrack,
.Playlist-edit {
	background-color: $superlightgray;
	box-shadow: $mediumgray 0px 0px 15px;
	margin-top: 1rem; // for the box shadow to express itself
	.Btn {
		margin-bottom: 0;
	}
}
.EditTrack {
	background-color: $lightgray;
	padding-bottom: 0;
}

.Form-group label input {
	@extend %font-regular;
}

/**
 * form playlist slog
 */

.Form--playlistSlug {
	position: relative;
	@include clearfix;
	.Permalink {
		color: $gray;
		float: left;
		padding-top: 0;
		@include size-1;
	}
	input {
		max-width: 200px;
		float: left;
		background-color: transparent;
		border: 0px solid transparent;
		box-shadow: 0 0 0 transparent;
		padding-top: 0;
		padding-bottom: 2px;
		margin-top: 0;
		padding-left: 1px;
		border-bottom: 2px solid transparent;
		border-radius: 0;
		color: $gray;
		&:focus {
			color: black;
			outline: none;
			border-bottom: 2px solid $primary-color;
		}
	}
}

/**
 * Form actions
 **/

.Form--save {
	margin-top: 20px;
}
