/**
 * Forms
 */

// Shared styles for inputs and buttons
.Btn,
.CustomSelect,
[type="text"],
[type="email"],
[type="tel"],
[type="password"],
[type="url"],
[type="search"],
textarea {
	@include size-1;
	@include negative-text;
	border: 1px solid rgba($gray, 0.4);
	border-radius: $border-radius;
	color: $text-color;

	&:hover,
	&:focus {
		border-color: rgba($gray, 0.6);
	}
}

// Text inputs
[type="text"],
[type="email"],
[type="tel"],
[type="password"],
[type="url"],
[type="search"],
textarea,
.Btn--textInput {
	border-bottom: 0;
	box-shadow: $box-shadow, 1px 2px 2px $lightgray inset;
	background-color: $superlightgray;
	max-width: 100%;
	padding: em(10, 13) 0.8rem em(8, 13);
	width: 100%;

	&:focus {
		outline: hsl(214, 95%, 64%) auto 1px;
	}

	// &:focus:invalid {
	// 	border-color: $red;
	// }
}

// Textareas
textarea {
	min-height: 5em;
}

// Labels
label {
	@extend %font-bold;
	@include size-1;
	display: block;

	[type="text"],
	[type="email"],
	[type="tel"],
	[type="password"],
	[type="url"],
	textarea {
		@extend %font-regular;
		margin-top: 0.2rem;
	}

	p {
		margin-bottom: 0;
	}
}

// Progress bar
progress {
	width: 100%;
}

// Form design should be tigther than inputs alone
.Form {
	@include clearfix;
}

.Form-group label input {
	@extend %font-regular;
}

.Form-bigInput {
	@include size-3;
}

.Form-group {
	position: relative;
	margin-bottom: 1rem;
}

.Form-group:last-child {
	@include clearfix;
	clear: both;
}

.Form-group--small {
	max-width: 14em;

	input {
		padding: 0.5em 0.5em 0.3em;
	}
}

.Form-group--inline {
	display: flex;
	max-width: 30rem;

	> .Btn {
		flex-shrink: 0;
	}
}

.Form .Form-groupStatus {
	position: absolute;
	top: 2.3rem;
	right: 0.7rem;
	font-size: rem(12);
	color: $gray;

	&.Btn {
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.Form-left,
.Form-right {
	width: 50%;
	float: left;
}

.Form-left {
	padding-right: 1rem;
}

.Form-right {
	padding-left: 1rem;
}

// Forms that stand out in a box
.Form--box {
	margin-top: 1rem; // for the box shadow to express itself
	padding: 1rem;
	box-shadow: $mediumgray 0 0 1rem;
	background-color: $superlightgray;
	border-radius: $border-radius;

	h3 {
		margin: 1rem 0;
	}

	.Btn {
		margin-bottom: 0;
	}
}

.Form--boxSmall {
	max-width: 27rem;
}
