/**
 * Forms
 */

// Shared styles for inputs and buttons
.Btn,
.CustomSelect,
[type='text'],
[type='email'],
[type='tel'],
[type='password'],
[type='url'],
[type='search'],
textarea {
	@include size-1;
	@include negative-text;
	border: 1px solid;
	border-color: rgba($gray, 0.3);
	border-radius: $border-radius;

	// &:valid {}
	// &:required {}
	// &:not(:focus):invalid {
	// 	border-color: $red;
	// }
	// &:not(:focus):invalid {
	// 	color: $red;
	// }
}

// Text inputs
[type='text'],
[type='email'],
[type='tel'],
[type='password'],
[type='url'],
[type='search'],
textarea,
.Btn--textInput {
	padding: em(10,13) 0.8rem em(8,13);
	width: 100%;
	max-width: 100%;
	box-shadow: 1px 2px 2px $lightgray inset;
	color: $text-color;

	&:focus {
		outline: hsl(214, 95%, 64%) auto 4px;
	}
	&:focus:invalid {
		border-color: $red;
	}
}

// Textareas
textarea {
	min-height: 5em;
}

// Labels
label {
	@extend %font-bold;
	@include size-1;
	display: block;
	padding-bottom: 5px;

	[type='text'],
	[type='email'],
	[type='tel'],
	[type='password'],
	[type='url'],
	textarea {
		@extend %font-regular;
		margin-top: 0.25rem;
	}
}

// Progress bar
progress {
	width: 100%;
}

// File inputs
input[type='file'] {
	// width: 100%;
	// border: 4px dashed $black;
	// padding: 2rem;
	// background-color: #FDFFB2;
}

// Form design should be tigther than inputs alone
.Form {
	@include clearfix;

	[type='text'],
	[type='email'],
	[type='tel'],
	[type='password'],
	[type='url'],
	textarea,
	.Btn {
		margin-bottom: 1rem;
	}
}
.Form-group {
	// should wrap every label+input
}
.Form-group:last-child {
	@include clearfix;
	clear: both;
}
.Form-group--small {
	max-width: 14em;
	input {
		padding: 0.5em 0.5em 0.3em;
	}
}

// fixes an element into a formgroup
.Form-group--relative {
	position: relative;
}
.Form-group--inline {
	display: flex;
	max-width: 30rem;

	>	.Btn {
		flex-shrink: 0;
	}
}
.Form-group .Form-groupStatus {
	position: absolute;
	top: 2.3rem;
	right: 0.7rem;
	font-size: rem(12);
	color: $gray;

	&.Btn {
		top: 0;
		bottom: 0;
		right: 0;
	}
}

.Form-bigInput {
	@include size-3;
}

.Form-left,
.Form-right {
	width: 50%;
	float: left;
}
.Form-left {
	padding-right: 1rem;
}
.Form-right {
	padding-left: 1rem;
}

// Forms that stand out in a box
.Form--box {
	margin-top: 1rem; // for the box shadow to express itself
	padding: 1rem;
	box-shadow: $mediumgray 0 0 1rem;
	background-color: $superlightgray;
	border-radius: $border-radius;

	h3 {
		margin: 1rem 0;
	}
	.Btn {
		margin-bottom: 0;
	}
}
.Form--boxSmall {
	max-width: 27rem;
}
.Form-group label input {
	@extend %font-regular;
}

.ember-modal-dialog {
	padding: 2rem 1rem 0.5rem;
	border-radius: $border-radius;
	box-shadow: -4px 4px 12px rgba(88, 88, 88, 0.25);

	// forms inside modals
	.Form {
		max-width: 100%;
		margin-bottom: 0;
		@media (min-width: 520px) {
			width: 500px;
		}
	}
}
