html {
	font-size: $base-font-size;
	line-height: $base-line-height;

	@media (min-width: $layout-xl) {
		font-size: 16px;
	}

	@media (min-width: $layout-xxl) {
		font-size: 18px;
	}

	@media (min-width: $layout-xxxl) {
		font-size: 20px;
	}
}

// Change the font family for all the elements that need it.

html {
	font-family: "Maison Neue", $sans-fallback;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

// apparently it can be bad to use this on the html element, so:
h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
	// Enable kerning in all browsers.
	font-feature-settings: "kern" 1;
	text-rendering: optimizeLegibility;
}

strong,
b {
	font-weight: bold;
}

em {
	font-style: italic;
}

.Muted {
	@include size-1;
	color: $gray;

	// inside h1 it needs to be pulled up a bit
	h1 & {
		position: relative;
		top: -0.12em;
	}
	a {
		color: inherit;
	}
}

.Muted--strong {
	color: $mediumgray;
}

// Headers
h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	@include size-5;
	margin-bottom: 1rem;
	line-height: 1.2;

	a {
		color: $text-color;
	}
}

h2 {
	@include size-4;
}

h3 {
	@include size-2;
}

h4 {
	@include size-1;
	margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
	small,
	.is-highlighted {
		@extend %font-regular;
		font-size: 1em;
	}
}

// Lists
ul {
	list-style: none;
	padding-left: 1em;

	li::before {
		content: "→ ";
	}
}

// Terminal style, code
pre,
.Mono {
	@extend %font-mono;
}

.Code {
	overflow: auto;
	padding: 0.45em;
	background: $black;
	color: hsl(118, 100%, 59%);
}

.Warning {
	@include size-0;
	background-color: $yellow;
	color: $text-color;
	padding: 3px 4px 0;
}
