/**
 * Typography
 * an attempt to group font families and sizes for base elements
 */

html {
	@include type-regular;
	line-height: $base-line-height;
	font-size: 15px; // important, specify in pixels here as all other font-size are re(m)lative to this
	@media (min-width: $layout-m) { font-size: $base-font-size; }
	// vertical rhythm
	// background-image: linear-gradient(to bottom,hsl(180, 100%, 50%) 0,hsla(0, 100%, 100%, 0)1px);
	// background-repeat: repeat-y;
	// background-size: 100% 1rem;
}
strong {
	@include type-bold;
}
em {
	font-style: italic;
}
label {
	@include type-bold;
}
.Btn {
	@include size-1;
	@include type-bold;
}
// Headers
h1,h2,h3,h4 {
	@include type-bold;
	// line-height: 1.1;
}
h1,
.Title {
	@include size-3;
	// responsive but more importantly proportionally nicer
	@media (min-width: $layout-s) { @include size-4; }
	a {
		color: $text-color;
	}
}
h2 {
	@include size-2;
	// responsive but more importantly proportionally nicer
	@media (min-width: $layout-m) { @include size-3; }
	margin-bottom: 0.5rem;
}
h3 {
	@include size-2;
	margin-bottom: 0;
}
h4 {
	@include size-1;
}
