/**
 * Typography
 * an attempt to group font families and sizes for base elements
 */

html {
	@extend %font-regular;
	line-height: $base-line-height;
	font-size: 15px; // important, specify in pixels here as all other font-size are re(m)lative to this
	@media (min-width: $layout-m) { font-size: $base-font-size; }
}
strong {
	@extend %font-bold;
}
em {
	font-style: italic;
}
label {
	@extend %font-bold;
}
.Btn {
	@include size-1;
	@extend %font-bold;
}

// Headers
h1,h2,h3,h4 {
	@extend %font-bold;
}
h1,
.Title {
	@include size-3;
	@media (min-width: $layout-s) { @include size-4; }
	a {
		color: $text-color;
	}
}
h2,
.Subtitle {
	@include size-2;
	@media (min-width: $layout-m) { @include size-3; }
	margin-bottom: 0.5rem;
}
h3 {
	@include size-2;
	margin-bottom: 0;
}
h4 {
	@include size-1;
}

.Muted {
	@include size-1;
	color: $gray;
}
