/**
 * Typography
 * an attempt to group font families and sizes for base elements
 */

html {
	@extend %font-regular;
	line-height: $base-line-height;
	font-size: 15px;
	@media (min-width: $layout-m) { font-size: $base-font-size; }
	@media (min-width: $layout-xl) { font-size: 20px; }
}
strong,
b {
	@extend %font-bold;
}
em {
	font-style: italic;
}
label {
	@extend %font-bold;
}
.Btn {
	@extend %font-bold;
	@include size-1;
}
.Muted {
	@include size-1;
	color: $gray;

	// inside h1 it needs to be pulled up a bit
	h1 & {
		position: relative;
		top: -0.12em;
	}
}

// Headers
h1,
h2,
h3,
h4 {
	@extend %font-bold;
}
h1,
.Title {
	@include size-4;
	margin-bottom: 0.25rem;
	@media (min-width: $layout-l) {
		@include size-4;
	}
	a {
		color: $text-color;
	}
}
.Title--centered {
	text-align: center;
}

h2,
.Subtitle {
	@include size-2;
	@media (min-width: $layout-m) {
		@include size-3;
	}
}
h3 {
	@include size-2;
}
h4 {
	@include size-1;
	margin-bottom: 0;
}

.Title,
h1,
h2,
h3,
h4 {
	small,
	.is-highlighted {
		@extend %font-regular;
		font-size: 1em;
	}
}

// Lists
ul {
	padding-left: 1em;
	list-style: none;
	li:before {
		content: "→ ";
	}
}

// Terminal style, code
pre,
.Mono {
	@extend %font-mono;
}
.Code {
	padding: 0.45em;
	background: $black;
	color: hsl(118, 100%, 59%);
}

// Warnings
.Warning {
	background-color: $yellow;
	color: $black;
}
