{{#btn-group}}
	<button {{action "setSortKey" 'updated'}} class="Btn">Last updated date</button>
	<button {{action "setSortKey" 'title'}} class="Btn">Alphabetically</button>
	<button {{action "setSortKey" 'created'}} class="Btn">Creation date</button>
{{/btn-group}}

{{yield manipulatedList}}
