<div class="Sections">
	<section class="Section">
		<div class="Manchet">
			<h1 title={{model.body}}>
				{{#link-to
						 'channel.index'
						 model}}
					{{model.title}}
				{{/link-to}}
			</h1>

			<nav class="Tabs Tabs--horizontal Tabs--animated Tabs--transparent">
				{{#link-to
						 'channel.tracks'
						 class="Tabs-item"
						 title="All tracks [⌨ g t (my radio)]"}}
					Tracks <span class="Muted">({{model.totalTracks}})</span>
				{{/link-to}}
				{{#link-to
						 'channel.favorites'
						 class="Tabs-item"
						 title="Favorites of this radio [⌨ g s (my radio)]"}}
					Favorites
				{{/link-to}}
				{{#if model.canEdit}}
					{{#link-to
							 'channel.followers'
							 class="Tabs-item"
							 title="Followers of this radio"}}
						Followers
					{{/link-to}}
					<div class="Tabs-divider"></div>
					{{#link-to 'channel.edit' class="Tabs-item" title="Edit your radio"}}
						Edit
					{{/link-to}}
				{{/if}}
			</nav>
		</div>
	</section>

	{{outlet}}
</div>
