<div class="Sections">
	<section class="Section">
		<div class="Manchet">
			<h1>
				{{#link-to 'channel.index' model}}
					{{model.title}}
				{{/link-to}}
			</h1>
			<nav class="Tabs Tabs--horizontal Tabs--animated">
				{{#link-to 'channel.tracks' class="Tabs-item Tabs-item--transparent" title="All tracks"}}
					Tracks <span class="Muted">({{model.totalTracks}})</span>
				{{/link-to}}
				{{#link-to 'channel.favorites' class="Tabs-item Tabs-item--transparent" title="Favorites of this radio"}}
					Favorites
				{{/link-to}}
				{{#if model.canEdit}}
					{{#link-to 'channel.followers' class="Tabs-item Tabs-item--transparent" title="Followers of this radio"}}
						Followers
					{{/link-to}}
					<div class="Tabs-divider"></div>
					{{#link-to 'channel.edit' class="Tabs-item Tabs-item--transparent" title="Edit your radio"}}
						Edit
					{{/link-to}}
				{{/if}}
			</nav>
		</div>
	</section>
	<section class="Section">
		{{outlet}}
	</section>
</div>
