<div class="Tabs Tabs--horizontal Tabs--animated">
	{{#link-to "channels.all" title="Explore all radios on Radio4000" class="Tabs-item"}}
		All
	{{/link-to}}
	{{#link-to "channels.index" title="Listen to the editor's selection" class="Tabs-item"}}
		Featured
	{{/link-to}}
	<div class="Tabs-divider">|</div>
	{{#if userChannel}}
		{{#link-to "channel.favorites" userChannel title="Your favorite radios" class="Tabs-item"}}
			Favorites
		{{/link-to}}
	{{/if}}
</div>

{{yield}}
