<div class="Tabs Tabs--horizontal Tabs--animated">
	{{#link-to 'channels.index' title="About Radio4000" class="Tabs-item"}}Dashboard{{/link-to}}
	{{#link-to 'channels.all' title="Contact us" class="Tabs-item"}}All Radios{{/link-to}}
	{{#if userChannel}}
		{{#link-to "channels.history" title="Your listening history" class="Tabs-item"}}History{{/link-to}}
	{{/if}}
</div>

{{yield}}
