<div class="Tabs Tabs--horizontal">
    {{#link-to
    "channels.index"
    title="Listen to the editor's selection [⌨ g h]"
    class="Tabs-item"}}
    Featured
    {{/link-to}}

    {{#link-to
    "channels.search"
    title="Explore all radios on Radio4000 [⌨ g r]"
    class="Tabs-item"}}
    Search
    {{/link-to}}

    {{#link-to
    "channels.map"
    title="Visualize radio on planet earth's world map [⌨ g m]"
    class="Tabs-item"}}
    Map
    {{/link-to}}
</div>

{{#if @userChannel}}
<div class="Tabs Tabs--horizontal">
    {{#link-to
    "channels.history"
    title="Your listening history [⌨ g y]"
    class="Tabs-item"}}
    History
    {{/link-to}}


    {{#link-to
    "channel"
    @userChannel.slug
    title="Go to your radio channel [⌨ g i]"
    class="Tabs-item"}}
    &rarr; My Radio
    {{/link-to}}

    {{#link-to
    "channel.favorites"
    @userChannel.slug
    title="Go to your favorite radio channels [⌨ g s]"
    class="Tabs-item"}}
    &rarr; My Favorites
    {{/link-to}}
</div>
{{/if}}
