<div class="Tabs Tabs--horizontal Tabs--animated">
	{{#link-to "channels.index" title="Listen to the editor's selection" class="Tabs-item"}}
		Editor's selection
	{{/link-to}}
	{{#link-to "channels.all" title="Explore all radios" class="Tabs-item"}}
		All
	{{/link-to}}
	{{#if userChannel}}
		{{#link-to "channels.history" title="Your listening history" class="Tabs-item"}}
			History
		{{/link-to}}
	{{/if}}
</div>

{{yield}}
