<div class="Tabs Tabs--horizontal Tabs--animated">
	{{#link-to
			 "channels.all"
			 title="Explore all radios on Radio4000 [⌨ g r]"
			 class="Tabs-item"}}
		All
	{{/link-to}}

	{{#link-to
			 "channels.index"
			 title="Listen to the editor's selection [⌨ g h]"
			 class="Tabs-item"}}
		Featured
	{{/link-to}}

	{{#link-to
			 "channels.map"
			 title="Visualize radio on planet earth's world map [⌨ g m]"
			 class="Tabs-item"}}
		Map
	{{/link-to}}
</div>

{{#if userChannel}}

	<div class="Tabs-divider">|</div>

	<div class="Tabs Tabs--horizontal Tabs--animated">
		{{#link-to
				 "channels.history"
				 title="Your listening history [⌨ g y]"
				 class="Tabs-item"}}
			History
		{{/link-to}}

		{{#link-to
				 "channel.favorites"
				 userChannel
				 title="Your favorite radios [⌨ g s]"
				 class="Tabs-item"}}
			&rarr; Favorites
		{{/link-to}}
	</div>

{{/if}}

{{yield}}
