<form class="Form">
	<label>
		{{#if hasBlock}}
			<strong>{{yield}}</strong>
		{{/if}}
		{{focus-input
				value=url
				readonly=true
				autoFocus=autoFocus
				autoSelect=autoSelect}}
	</label>
</form>
