{{#if player.currentTrack}}
	{{#link-to 'channel' model class="ChannelScreen"}}
	{{/link-to}}
{{else}}
	<div class="ChannelScreen">
		{{play-shuffle-btn channel=model class="Btn--large Btn--text Channel-playback" showText=false}}
	</div>
{{/if}}

<style>
	.ChannelScreen {
		background-image: url({{cover-img model.image size=1000}});
	}
</style>
