]<div class="Sections">
  <section class="Section">
    <header class="Manchet">
      <h1>Sign up</h1>
      <p>
	to <strong>create your Radio4000</strong> and interact with other radios.<br>
	Are you wondering why? <a href="{{href-to 'intro'}}">Get introducted</a> to Radio4000.
      </p>
    </header>
    <div class="Container">
      {{user-signup onSignup=(action 'signup')}}
    </div>
  </section>
</div>
