<div class="Sections">
	<section class="Manchet">
		<h1>Sign up <small>to Radio4000</small></h1>
		<p>Create an account to start with your radio</p>
	</section>
	<section class="Section">
		<div class="Grid">
			<div class="Grid-cell Grid-cell--double">
				<div class="Container Container--small">
					{{user-signup onSignup=(action "signup")}}
				</div>
			</div>
			<div class="Grid-cell Grid-cell--double">
				<p>
					"Alright, but why should I start a Radio?!"
				</p>
				<ul>
					<li>Radio4000 is open to everyone, no special skill or knowledge required</li>
					<li>Create and manage your music selections, in your radio</li>
					<li>Quickly add music to your radio, directly from YouTube videos</li>
					<li>Organise your music with #hashtags, dig deeper to understand your discoveries</li>
					<li>Play custom selections of music in any radio (anyone can also suggest their favorite selections)</li>
					<li>Share and embed every radios, anywhere online</li>
				</ul>

				<p>More reasons?</p>
				<ul>
					<li>Start a peaceful experiment, Radio4000 is though to have a non intrusive design, be a non agressive software. There are no notifications here (you can {{link-to 'read more in the Introduction' 'about.intro'}})</li>
					<li>It's free, it's <a href="https://github.com/internet4000/radio4000" target="_blank" rel="noopener">open source</a></li>
					<li>Your can be anonymous if you want, it is only about music</li>
					<li>Discover and support new underground and upcoming artists in the context of music you like</li>
					<li>Explore other people's selection, we're many already sharing our favorite tunes</li>
					<li>Favorite and follow other radio channels</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="Section">
		<div class="Container">
			<p>
				Already have a radio? <a href="{{href-to 'auth.login'}}">Log in</a>.<br>
				Have a question? <a href="{{href-to 'about.contact'}}">Contact us</a>.
			</p>
		</div>
	</section>

</div>
