<div class="Sections">

	<section class="Section">
		<div class="Container">
			<h1>Sign up <small>to Radio4000</small></h1>
			<p>
				We've been expecting you… By signing up you'll be able to:
			</p>
			<ul>
				<li>Create and manage your own radio</li>
				<li>Add tracks via YouTube</li>
				<li>Save other radio channels as favorites</li>
				<li>And more…</li>
			</ul>
			<p>It is free. It's open source.</p>
		</div>
	</section>

	<section class="Section">
		<div class="Container Container--small">
			{{user-signup onSignup=(action "signup")}}
		</div>
	</section>

	<section class="Section">
		<div class="Container">
			<p>
				Already have a radio? <a href="{{href-to 'auth.login'}}">Log in</a>.<br>
				Have a question? <a href="{{href-to 'about.contact'}}">Contact us</a>.
			</p>
		</div>
	</section>

</div>
