<div class="Container">
	<div class="Section Section--space">
		<h2>Add track</h2>

		{{track-add box=true url=url submit="saveTrack" cancel="backToChannel"}}
	</div>

	<h2>Add more, faster, better</h2>
	<p>Save this bookmarklet to your bookmarks and tap on it while you're browsing a YouTube video to instantly add it to your radio. Easy!</p>

	<p>
		{{#bookmarklet-link slug=model.slug}}
			Add to {{model.title}}
		{{/bookmarklet-link}}
	</p>

	<p class="Muted">Tip: you need to drag it to your bookmarks bar.</p>
	<p class="Muted"><a href="https://www.youtube.com/watch?v=-E6h7Z5fPlg" target="_blank">I don't understand, explain me again</a></p>
</div>
