{{#app-root
	session=session
	isEmbed=isEmbed
	isInverted=isInverted
	onSaveTrack=(action "saveTrack")
	isShowingModal=showAddTrack
	}}

	{{#if (is-environment 'development')}}
		<div class="Note Note--sticky">
			<p>development preview — for testing only</p>
		</div>
	{{/if}}
	{{#if-ios}}
		<div class="Note Note--full">
			<p>We're sorry but because your iOS device doesn't support autoplay, Radio4000 can't work properly.</p>
		</div>
	{{/if-ios}}

	{{outlet}}

	<footer class="SiteFooter">
		{{footer-note}}
	</footer>
{{/app-root}}
