<div class="Section Container">
	<form class="Form">
		<div class="Form-group">
			<label>A text input
				<input type="text" value="Text input">
			</label>
		</div>
		<div class="Form-group">
			<label>An input with placeholder
				<input type="text" placeholder="Placeholder…">
			</label>
		</div>
		<div class="Form-group">
			<label>Select something
				<select class="select-css">
					<option value="0">Choose genre</option>
					<option value="0">Jazz</option>
					<option value="0">Techno</option>
					<option value="0">Ultrafunkalisticpop</option>
				</select>
			</label>
		</div>
		<div class="Form-group">
			<label>A textarea
				<textarea>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</textarea>
			</label>
		</div>
		<div class="Form-group">
			<button class="Btn" type="submit">Submit</button>
		</div>
	</form>
</div>
