<a class="Btn Bookmarklet"
	data-slug="{{slug}}"
	title="Drag me to your bookmarks" href="
		javascript:(function() {window.open('https://radio4000.com/add?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title))})();
">
	{{yield}}
</a>
