/**
 * Annoncement
 **/

%leave {
		animation-name: leave;
		animation-duration: 10s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
}

@keyframes leave {
	0%{
		transform: translateY(-100%);
	}
	10%{
		transform: translateY(0);
	}

	90% {
		transform: translateY(0);
	}
	100%{
		transform:translateY(-100%);
	}
}

.Annoncement {
	@extend %leave;
	z-index: 2;
	position: fixed;
	transition: 200ms transform $easing;
	transform: translateY(0);
	right: 12px;
	top: 53px;
	max-width: 400px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: rgba(182, 166, 0, 0.64) 0 0 3px inset;
	padding-top: 15px;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 8px;
	text-align: center;
	background-color: #FFFC30;
}
