/**
 * Annoncement
 **/

%leave {
	animation-name: leave;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes leave {
	0% { transform: translateY(-100%); }
	10%{ transform: translateY(0); }
	90% { transform: translateY(0); }
	100%{ transform:translateY(-100%); }
}

.Annoncement {
	@extend %leave;
	z-index: 2;
	position: fixed;
	transition: 200ms transform $easing;
	transform: translateY(0);
	right: 12px;
	top: $barHeight;
	max-width: 400px;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	box-shadow: rgba(182, 166, 0, 0.64) 0 0 3px inset;
	padding-top: 15px;
	padding-right: 0.5rem;
	padding-bottom: 0;
	padding-left: 0.5rem;
	text-align: center;
	background-color: $yellow;
}

// A colored box for important notices
.Note {
	position: relative;
	max-width: 24rem;
	padding: 1.5rem 1rem 1px;
	border: 1px solid $mediumlightgray;
	background-clip: padding-box;
	border-radius: $border-radius;
	background-color: $yellow;
	h2,h3,p {
		@include size-1;
		margin-bottom: 1rem;
	}
	p {
		max-width: 90%;
	}

	// border highlight
	&::before {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		top: 0;
		left: 1px;
		right: 1px;
		background: rgba(white, 0.8);
	}
}
