/**
 * Annoncement
 **/

%leave {
	animation-name: leave;
	animation-duration: 10s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes leave {
	0% { transform: translateY(-100%); }
	10%{ transform: translateY(0); }
	90% { transform: translateY(0); }
	100%{ transform:translateY(-100%); }
}

.Annoncement {
	@extend %leave;
	z-index: 2;
	position: fixed;
	transition: 200ms transform $easing;
	transform: translateY(0);
	right: 12px;
	top: $barHeight;
	max-width: 400px;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
	box-shadow: rgba(182, 166, 0, 0.64) 0 0 3px inset;
	padding-top: 15px;
	padding-right: 0.5rem;
	padding-bottom: 0;
	padding-left: 0.5rem;
	text-align: center;
	background-color: $yellow;
}

// A colored box for important notices
.Note {
	padding: 1rem 1rem 1px;
	border-radius: $border-radius;
	background-color: $yellow;
	h3:first-child {
		margin-bottom: 0;
	}
}
