/**
	Site Aside
 */

.Aside {
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
}

/**
 * Modifiers
 */

.Aside--left {
	width: 100%;
	height: 100%;
	padding-top: 6rem; // space for our top bar
	height: 100vh;
	padding-left: 0.7rem; // same
	padding-right: 1rem;
	display: flex;
	transition: transform 300ms $easing;
	transform: translate3d(-100%, 0, 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	background-color: $bg-color;
	background-image: linear-gradient(to right, darken($bg-color, 2%) 40%, $bg-color);

	@media (min-width: $layout-s) {
		display: none;
		height: auto;
		transform: translate3d(0, 0, 0);
		position: static;
		width: $sidebar-width;
		flex-basis: $sidebar-width;
		overflow: hidden;
	}
}
.Aside--right {
	display: none;
	flex-basis: 20rem;
	box-shadow: -1px -1px 1px $boxshadowgray;
	border-top: 1px solid $superlightgray;
	border-left: 1px solid $superlightgray;
	border-right: 1px solid hsl(0, 0%, 80%);
	position: fixed;
	z-index: 4;
	top: auto;
	right: 1.5rem;
	bottom: 0;
	width: 19rem;
	overflow: visible;
}

// Children of .Aside

.Aside-link {
	display: inline-block;
	padding: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;
	&.is-active {
		text-decoration: underline;
	}
}
