/**
	Site Aside
*/


.NavigationToggleBtn {
	position: fixed;
	top: 1.2rem;
	left: 1rem;
	width: 3rem;
	height: 3rem;
	z-index: 7;
	background-color: $purple;
	boder-color: $purple;

	&:active,
	&:hover,
	&:focus {
		box-shadow: 2px 3px 4px cyan;
	}
}

.NavigationToggleLayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $overlay-color;
}

/**
 * Modifiers
 */

.Aside--navigation {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 6;

	overflow-y: scroll;

	.Aside-inner {
		padding-left: 3rem;
		padding-top: 4rem;
		padding-right: 2rem;
		overflow-y: scroll;

		.Tabs {
			width: 100%;
			max-width: 25rem;
		}

		.Tabs-item,
		.Btn {
			width: 100%;
		}
	}
}

.Aside--right {
	position: fixed;
	z-index: 2;
	top: auto;
	right: 0;
	bottom: 0;
	width: 20rem;
	height: 100%;

	.Root.is-minimized & {
		width: auto;
		height: auto;
	}

	.Root.is-maximized & {
		top: 0;
		right: 0;
		width: 100%;
		background-color: black;
		z-index: 7;
	}
}

// Children of .Aside
.Aside-link {
	display: inline-block;
	margin: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;
	text-decoration: none;

	&.is-active {
		text-decoration: underline;
	}
}
