.Aside--navigation {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6;

	.Aside-inner {
		padding-top: 1.5rem;
		padding-left: 1.5rem;
		padding-right: 2rem;
	}
	.Aside-inner .Grid {
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

	.Tabs {
		max-width: 15rem;
		// Make it stand out more
		border: 1px solid $gray;
	}
}

.Aside--right {
	position: fixed;
	z-index: 2;
	top: auto;
	right: 0;
	bottom: 0;
	width: $sidebar-width;

	.Root.is-minimized & {
		width: auto;
		height: auto;
		position: sticky;
		margin-top: 0.1rem;
		order: 0;
		top: 0;
		right: 0;
		left: 0;

		@media (min-width: $layout-xl) {
			position: fixed;
			right: 0;
			bottom: 0;
			top: auto;
			left: auto;
		}
	}
	.Root.is-maximized & {
		// above menu
		z-index: 8;
	}
}
