.Aside--login,
.Aside--signup {
	padding: 1.5rem 1rem;
	margin: 1rem;
	max-width: 50rem;;
	@media (min-width: $layout-m) {
		padding: 2rem;
	}
}

.Aside--login {
	background-color: $mediumlightgray;
}

.Aside--signup {
	background-color: $bleach;
}

.Aside--navigation {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6;

	.Aside-inner {
		padding-top: 1.5rem;
		padding-left: 1.5rem;
		padding-right: 2rem;
	}
	.Aside-inner .Grid {
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

	.Tabs {
		max-width: 15rem;
		// Make it stand out more
		border: 1px solid $gray;
	}
}

.Aside--right {
	position: fixed;
	z-index: 2;
	right: 0;
	bottom: 0;
	top: auto;

	.Root.is-withPlayer.is-normal & {
		width: $sidebar-width;
		top: auto;
	}
	.Root.is-withoutPlayer.is-normal & {
		width: 0;
	}

	.Root.is-withoutPlayer.is-minimized & {
		height: 0;
		overflow: hidden;
	}
	.Root.is-withPlayer & {
		height: auto;
	}

	.Root.is-minimized & {
		order: 0;
		width: auto;
		height: auto;
		margin-top: 0.1rem;
		position: sticky;
		top: 0;
		right: 0;
		left: 0;

		@media (min-width: $layout-l) {
			position: fixed;
			right: 0;
			bottom: 0;
			top: auto;
			left: auto;
		}
	}
	.Root.is-maximized & {
		// above menu
		z-index: 8;
	}
}
