/**
	Site Aside
 */

.Aside {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-y: auto;

	display: flex;
	flex-flow: column nowrap;
	padding-left: 0.7rem; // same
}

/**
 * Modifiers
 */

//  Left aligned, first almost full width, then fixed
.Aside--left {
	width: 90%;
	height: 100%;
	padding-top: 5.3rem; // space for our top bar
	padding-bottom: $bar-height * 1.25; // space for our bottom bar
	transition: transform 200ms $easing;
	transform: translate3d(-100%, 0, 0);
	@media (min-width: $layout-s) {
		width: $sidebar-width;
	}
}

/**
 * Children
 */

.Aside-item {}

.Aside-link {
	display: inline-block;
	padding: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;
	&.is-active {
		text-decoration: underline;
	}
	.Root.is-minimal & {
		color: $white;
	}
}

.AddTrackButton {
	position: fixed;
	z-index: 20;
	right: 1.5rem;
	top: 1rem;
}
