/**
	Site Aside
*/

.Aside {
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
}

.Aside-toggle {
	.Aside-toggleBtn span {
		transform: rotateY(180deg);
		transition: transform 300ms $easing;
	}
	&.is-active {
		.Aside-toggleBtn span {
			transform: rotateY(0);
		}
		.Aside-toggleLayer {
			display: block;
			@media (min-width: $layout-m) {
				display: none;
			}
		}
	}
}

.Aside-toggleLayer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	background-color: $slightgray;
	opacity: 0.6;
}

/**
 * Modifiers
 */

.Aside--left {
	.Aside-toggleBtn {
		position: fixed;
		top: 2rem;
		left: -3px;
		z-index: 6;
		opacity: 0.3;
	}
	.Aside-inner {
		height: 100%;
		padding-top: 5rem; // space for our top bar
		height: 100vh;
		padding-left: 0.7rem; // same
		padding-right: 1rem;
		transform: translateX(-100%);
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 5;
		width: 100%;
		background-color: $bg-color-2;
		min-width: 15rem;
		max-width: 70%;

		@media (min-width: $layout-m) {
			// transform: translate3d(0, 0, 0);
			// overflow: hidden;
			background-color: transparent;
			width: $sidebar-width;
			max-width: 100%;
		}
	}
}

.Aside--right {
	position: fixed;
	z-index: 2;
	top: auto;
	right: 1.5rem;
	bottom: 0;
	overflow: visible;

	.Root.is-maximized & {
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: 7;
	}
}

// Children of .Aside
.Aside-link {
	display: inline-block;
	padding: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;
	text-decoration: none;

	&.is-active {
		text-decoration: underline;
	}
}
