/**
	Site Aside
 */

.Aside {
	// position: fixed;
	// top: 0;
	// height: 100%;
	// z-index: 1;
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
}

/**
 * Modifiers
 */

.Aside--left {
	width: 100%;
	width: calc(100% - 2rem);
	height: 100%;
	padding-top: 6rem; // space for our top bar
	height: 100vh;
	padding-left: 0.7rem; // same
	// padding-bottom: $bar-height * 1.25; // space for our bottom bar
	// transition: transform 300ms $easing2;
	// transform: translate3d(-100%, 0, 0);
	display: none;
	@media (min-width: $layout-s) {
		width: $sidebar-width;
		flex-basis: $sidebar-width;
	}
}
.Aside--right {
	display: none;
	flex-basis: 20rem;
	box-shadow: -1px -1px 1px $boxshadowgray;
	border-top: 1px solid $superlightgray;
	border-left: 1px solid $superlightgray;
	border-right: 1px solid hsl(0,0%,80%);
	position: fixed;
	z-index: 1;
	top: auto;
	right: 1.5rem;
	bottom: 0;
	width: 19rem;
	@media (min-width: $layout-m) {
		right: 3rem;
	}
}

/**
 * Children
 */

.Aside-item {}

.Aside-link {
	display: inline-block;
	padding: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;
	&.is-active {
		text-decoration: underline;
	}
	.Root.is-minimal & {
		color: $white;
	}
}
