/**
	Site Aside
*/

.NavigationToggleBtn {
	position: fixed;
	top: 1.5rem;
	left: 1rem;
	z-index: 7;

	width: 2.7rem;
	height: 2.7rem;

	// Make it stand out more
	border: 1px solid $mediumgray;
	box-shadow: $box-shadow-large;

	// "burger" lines inside
	display: block;
	span {
		display: block;
		height: 0.2rem;
		margin: 0.2rem;
		background-color: black;
		border-radius: $border-radius;
	}

	&.is-active {
		border-color: $primary-color;
	}
}

.NavigationToggleLayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: $overlay-color;
}

/**
 * Modifiers
 */

.Aside--navigation {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6;

	.Aside-inner {
		padding-top: 3.7rem;
		padding-left: 1.8rem;
		padding-right: 2rem;
	}

	.Tabs {
		max-width: 15rem;
		box-shadow: $box-shadow-large;
	}
}

.Aside--right {
	position: fixed;
	z-index: 2;
	top: auto;
	right: 0;
	bottom: 0;
	width: $sidebar-width;

	.Root.is-minimized & {
		width: auto;
		height: auto;
	}

	.Root.is-maximized & {
		top: 0;
		right: 0;
		width: 100%;
		background-color: black;
		z-index: 7;
	}
}

// Children of .Aside
.Aside-link {
	display: inline-block;
	margin: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;
	text-decoration: none;

	&.is-active {
		text-decoration: underline;
	}
}
