/**
	Site Aside
 */

.Aside {
	overflow-y: auto;
	display: flex;
	flex-flow: column nowrap;
}

.AsideLeftToggle {
	position: fixed;
	top: 4.8rem;
	left: -3px;
	z-index: 4;

	span {
		transform: rotateY(180deg);
		transition: transform 300ms $easing;
	}

	&.Btn--isActive {
		span {
			transform: rotateY(0);
		}
	}
}

/**
 * Modifiers
 */

.Aside--left {
	height: 100%;
	padding-top: 6rem; // space for our top bar
	height: 100vh;
	padding-left: 0.7rem; // same
	padding-right: 1rem;
	transform: translateX(-100%);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;

	@media (min-width: $layout-s) {
		// transform: translate3d(0, 0, 0);
		// overflow: hidden;
		width: $sidebar-width;
	}
}

.Aside--right {
	flex-basis: 20rem;
	// box-shadow: -1px -1px 1px $boxshadowgray;
	// border-top: 1px solid $superlightgray;
	// border-left: 1px solid $superlightgray;
	// border-right: 1px solid hsl(0, 0%, 65%);
	position: fixed;
	z-index: 2;
	top: auto;
	right: 1.5rem;
	bottom: 0;
	width: 19rem;
	overflow: visible;

	.Root.is-maximized & {
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: 4;
	}
}

// Children of .Aside
.Aside-link {
	display: inline-block;
	padding: 0.5em 0.5rem 0.5rem 1rem;
	transition: color 200ms;
	color: $text-color;

	&.is-active {
		text-decoration: underline;
	}
}

