/**
	Site Aside
*/

.NavigationToggleBtn {
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 7;
	width: 2.7rem;
	height: 2.7rem;

	// "burger" lines inside
	display: block;
	span {
		display: block;
		height: 0.2rem;
		margin: 0.2rem;
		background-color: black;
		border-radius: $border-radius;
	}

	&.is-active {
		border-color: $primary-color;
	}
}

.NavigationToggleLayer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: $overlay-color;
}

/**
 * Modifiers
 */

.Aside--navigation {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 6;

	.Aside-inner {
		padding-top: 5rem;
		padding-left: 1.5rem;
		padding-right: 2rem;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
	}

	.Tabs {
		max-width: 15rem;
		// Make it stand out more
		border: 1px solid $gray;
	}
}

.Aside--right {
	position: fixed;
	z-index: 2;
	top: auto;
	right: 0;
	bottom: 0;
	width: $sidebar-width;

	.Root.is-minimized & {
		width: auto;
		height: auto;
	}

	.Root.is-maximized & {
		top: 0;
		right: 0;
		width: 100%;
		background-color: black;
		z-index: 7;
	}
}
