.Banner {
	position: relative;
	background-color: $mediumgray;
	margin-bottom: 0;
}
.Banner-media {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	min-height: 360px;
	max-height: 70vh;
	object-fit: cover;
}
.Banner-credits {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	z-index: 1;
	a {
		@include size-0;
		color: $black;
		background-color: $white;
	}
}
.Banner-body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
}

/**
 * Modifiers
 */

.Banner--isolated {
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.Banner--smaller {
	max-height: 50vh;
}
.Banner--full {
	width: 100%;
	margin: 0;
	.Banner-media {
		min-height: 100vh;
		max-height: none;
	}
}
