/**
 *  The top bar
 */
.Bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	min-height: $barHeight;
	// background: linear-gradient(lighten($purple,10%), $purple);
	background-color: $purple;
	border-bottom: 5px solid hsla(0, 0%, 0%, 0.15);
	color: $text-color-invert;

	display: flex;
	align-items: stretch;

	nav {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		a {
			display: inline-block;
			color: $text-color-invert;
			padding: 1.2em 0.25em 1em;
			&.is-active {
				text-decoration: underline;
			}

			// center icons
			[class^="icon-"],
			[class*=" icon-"] {
				position: relative;
				top: 0.1em;
			}

			@media (min-width: $layout-s) {
				padding: 1.2em 0.75em 1em;
			}
		}
	}
}
