/**
 *  The top bar
 */
.Bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	min-height: $barHeight;
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
	color: $text-color-invert;
	background: linear-gradient(lighten($purple,10%), $purple);

	nav {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		a {
			display: inline-block;
			color: $text-color-invert;
			padding: 1.2em 0.75em 1em;
			&.is-active {
				text-decoration: underline;
			}

			// center icons
			[class^="icon-"],
			[class*=" icon-"] {
				position: relative;
				top: 0.1em;
			}
		}
	}
}
