/**
 *  The top bar
 */
.Bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	color: $text-color-invert;
	min-height: 53px;

	// purple
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	// background: linear-gradient($primary-color, $primary-color);

	// alternative green
	// background: linear-gradient(hsl(138, 94%, 41%),hsl(148, 60%, 40%));
	// border-bottom: 2px solid hsla(0, 0%, 20%, 0.30);

	nav {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		a {
			display: inline-block;
			color: $text-color-invert;
			padding: 1.2em 0.75em 1em;
			&.is-active {
				text-decoration: underline;
			}
		}
	}
}


