/**
 *  The top bar
 */

.Bar {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	min-height: $barHeight;

	display: flex;
	flex-flow: row nowrap; // items in one row, no wrapping
	align-items: stretch; // full-height children

	// background: linear-gradient(lighten($purple,10%), $purple);
	background-color: $purple;
	color: $text-color-invert;

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}
}
.Bar--top {
	top: 0;
	border-bottom: 5px solid hsla(0, 0%, 0%, 0.15);
}
.Bar--bottom {
	bottom: 0;
	border-top: 5px solid hsla(0, 0%, 0%, 0.15);
}
