/**
 *  The top bar
 */

.Bar {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	min-height: rem($bar-height);

	// background: linear-gradient(lighten($primary-color,10%), $primary-color);
	background-color: $primary-color;
	color: $text-color-invert;
	backface-visibility: hidden; // perf
	transition: transform 400ms $easing2, background-color 200ms;

}
.Bar--top {
	top: 0;
	// border-bottom: 3px solid hsla(0, 0%, 0%, 0.2);
	background-color: transparent;
	color: $dark;
	a {
		color: $dark;
	}
}
.Bar--bottom {
	bottom: 0;
}
