/**
 *  The top bar
 */

.Bar {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	min-height: $barHeight;

	// background: linear-gradient(lighten($purple,10%), $purple);
	background-color: $purple;
	color: $text-color-invert;
	backface-visibility: hidden; // perf

	a {
		color: $bleach;
	}

	// toggle
	transition: transform 400ms $easing2, background-color 400ms;
	&.is-hidden {
		transform: translateY(100%);
	}

	// Darken the bar colors when maximized
	.is-fullscreen & {
		background-color: #1b1b1b;
		// background-image: linear-gradient(#1B1B1B,#121212); // fits youtube colors
	}
}
.Bar--top {
	top: 0;
	border-bottom: 5px solid hsla(0, 0%, 0%, 0.2);

	// todo refactor this
	display: flex;
	flex-flow: row nowrap; // items in one row, no wrapping
	align-items: stretch; // full-height children
}
.Bar--bottom {
	bottom: 0;
	// border-top: 1px solid hsla(0, 0%, 0%, 0.2);
}
