/**
 *  The top bar
 */

.Bar {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	min-height: rem($bar-height);

	// background: linear-gradient(lighten($purple,10%), $purple);
	background-color: $purple;
	color: $text-color-invert;
	backface-visibility: hidden; // perf
	transition: transform 400ms $easing2, background-color 200ms;

	a {
		color: $bleach;
	}

	// Darken the bar colors when maximized
	.is-fullscreen & {
		background-color: #1b1b1b; // youtube bar color
	}
}
.Bar--top {
	top: 0;
	border-bottom: 4px solid hsla(0, 0%, 0%, 0.2);

	// todo refactor this
	display: flex;
	flex-flow: row nowrap; // items in one row, no wrapping
	align-items: stretch; // full-height children
}
.Bar--bottom {
	bottom: 0;
}
