/**
 * Big Step is for the very important steps in our app
 * used on: 'login' and 'new'
 **/

.BigStep {
	color: white;
	text-align: center;
	padding: 2rem;

	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);

	.BigStep-goto {
		color: $white;
		text-decoration: none;
		transition: border-bottom-color 300ms $easing2;
		border-bottom: 2px solid $white;
	}

	.Loader {
		font-size: 2rem;
		margin-left: auto;
		margin-right: auto;
		color: $white;
	}
	input:active {
		outline: none;
	}
}

.BigStep-container {
	@media (min-width: $layout-m) {
		max-width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}

.BigStep-title {
	margin-bottom: 1rem;
}
.BigStep-subTitle {
	@include size-2;
}

.BigStep-buttons {
	margin-top: 2.7rem;
	.Btn {
		@include size-2;
		padding: 0.6rem 1.8rem;
		min-width: 9rem;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
		border: 2px solid $white;
		background-image: none;
		background-color: transparent;
		color: $white;
	}
	a.Btn {
		// otherwise it goes in two lines
		min-width: 13rem;
	}
}
