/**
 * Big Step is for the very important steps in our app
 * used on: 'login' and 'new'
 **/

.BigStep {
	text-align: center;
	color: $bleach;

	.BigStep-goto {
		color: $bleach;
		text-decoration: none;
		transition: border-bottom-color 300ms $easing2;
		border-bottom: 2px solid $bleach;
	}

	.Loader {
		font-size: 2rem;
		margin-left: auto;
		margin-right: auto;
		color: $bleach;
	}
	input:active {
		outline: none;
	}
	.Muted a {
		color: rgba($white, 0.5);
	}
}
.BigStep-container {
	@media (min-width: $layout-s) {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}
.BigStep-title {
	margin-bottom: 1rem;
}
.BigStep-subTitle {
	@include size-2;
}
.BigStep-buttons {
	margin-top: 2.7rem;
	.Btn {
		min-width: 8rem;
		margin-left: 1rem;
		margin-right: 1rem;
		display: inline-block;
	}
}
