/**
 *  Blankstate
 */

.Blankstate {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1rem;
	p {
		margin-bottom: 0;
	}

}
.Blankstate-title {
	font-size: 2rem;
}

.Blankstate-actions {
	padding-top: 0.7rem;
	input {
		margin-bottom: 0;
	}
}
