/**
 * Box Icon
 **/

$boxIconSize: 35px;

.BoxIcon {
	position: relative;
	margin-left: $boxIconSize + 10px;
	color: $primary-color;
	&:before {
		display: block;
		content: "";
		height: $boxIconSize;
		width: $boxIconSize;
		border: 1px dashed $primary-color;
		line-height: 22px;
		position: absolute;
		top: -6px;
		left: -45px;
	}
}

.BoxIcon--add {
	&:before {
		content: "+";
		padding-left: 13px;
		padding-top: 6px;
	}
}

.BoxIcon--explore {
	&:before {
		content: "→";
		padding-left: 11px;
		padding-top: 7px;
		font-size: 16px;
	}
}

.BoxIcon--white {
	color: white;
	border-color: white;
}
