
// A group of buttons
.BtnGroup {
	display: flex;
	flex-shrink: 0;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 1rem;

	.Btn {
		flex-shrink: 0;

		& + .Btn {
			// border-left: 0;
			border-radius: 0;
		}
		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-of-type {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	.Btn + .BtnGroup-label {
		margin-left: 1.5rem;
		margin-right: 1rem;
	}
}
.BtnGroup-label {
	align-self: center;
	position: relative;
	top: em(1,13);
	margin-right: 0.2em;
	margin-bottom: 0;
	color: $gray;
}

// Groups of BtnGroup
// (eliminates double-borders and extra spacing between buttons)
.BtnGroupWrapper {
	display: flex;
	flex-flow: wrap;
	margin-bottom: 0.5rem;

	.BtnGroup {
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
	}
}
