// A group of buttons
.BtnGroups {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
}

.BtnGroups--center {
	justify-content: center;
}

.BtnGroup {
	display: flex;
	flex-shrink: 0;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 1rem;
	padding-right: 1rem;

	.BtnGroups & {
		margin-bottom: 0.4rem;
	}
}

.BtnGroup--vertical {
	flex-direction: column;
	align-items: flex-start;
	padding-right: 0;

	.Btn {
		margin-bottom: 0.2rem;
		margin-top: 0.2rem;
	}
}

.BtnGroup--full {
	flex-wrap: nowrap;
	align-items: stretch;
	padding-right: 0;

	.Btn {
		flex-grow: 1;
	}
}

.BtnGroup--right {
	justify-content: flex-end;
	padding-right: 0;
	padding-left: 1rem;
}

.BtnGroup-label {
	align-self: center;
	position: relative;
	top: em(1, 13);
	margin-right: 0.5em;
	margin-bottom: 0;
	color: $gray;
}

.BtnGroup .Btn {
	flex-shrink: 0;

	&:active,
	&.is-active {
		border-color: $primary-color;
	}
}

// Groups of BtnGroup
// (eliminates double-borders and extra spacing between buttons)
.BtnGroupWrapper {
	display: flex;
	flex-flow: wrap;
	margin-bottom: 0.5rem;

	.BtnGroup {
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
	}
}

.BtnGroupWrapper--full {
	justify-content: space-between;
	padding-right: 0;
}

.BtnGroup--tight {
	margin-bottom: 0;
	padding-right: 0;
}
