// A group of buttons
.BtnGroup {
	display: flex;
	flex-shrink: 0;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 1rem;
}

.BtnGroup--vertical {
	flex-direction: column;
	align-items: right;
}

.BtnGroup--right {
	justify-content: flex-end;
}

.BtnGroup-label {
	align-self: center;
	position: relative;
	top: em(1, 13);
	margin-right: 0.5em;
	margin-bottom: 0;
	color: $gray;
}

.BtnGroup .Btn {
	flex-shrink: 0;

	&:active,
	&.is-active {
		border-color: $primary-color;
	}
}

.BtnGroup--vertical .Btn {
	margin-bottom: 0.2rem;
	margin-top: 0.2rem;
}

// Groups of BtnGroup
// (eliminates double-borders and extra spacing between buttons)
.BtnGroupWrapper {
	display: flex;
	flex-flow: wrap;
	margin-bottom: 0.5rem;

	.BtnGroup {
		margin-bottom: 0.5rem;
		margin-right: 0.5rem;
	}
}

.BtnGroupWrapper--full {
	justify-content: space-between;
}
