.ChannelCard {
	position: relative;
	padding-bottom: 1rem;
	background-color: $white;
	outline: 2px solid transparent;
	transition: outline 1000ms $easing;
	&.is-active {
		outline-color: $primary-color;
	}
}
.ChannelCard-title,
.ChannelCard-body {
	padding-left: 0.5em;
	padding-right: 0.5rem;
	margin-bottom: 0;
	@media (min-width: $layout-m) {
		padding-left: 1rem;
	}
}
.ChannelCard-title {
	word-break: break-word;
	color: $secondary-color;

	a:hover & {
		text-decoration: underline;
	}
}
.ChannelCard-body {
	@include size-0;
	color: $dark;
}
.ChannelCard-playback {
	margin-top: -2rem;
	margin-left: -5px;
	margin-bottom: 1rem;
}
.ChannelCard-playback,
.Channel-playback {
	// remove default margin because icon is alone
	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: auto;
	}
}
.ChannelCard-overlayBtn {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}
.ChannelCard-overlayBtn .Btn {
	display: flex;
	font-size: 1.4rem;
	background: none;
	font-size: 1.4rem;
	border: 0;
	border-radius: 50%;
	padding: 0.6rem;
	background: rgba(black, 0);
	color: rgba(white,0.8);
	transition: background 200ms, transform 200ms $easing4;
	transform: scale(0.95);
	svg {
		left: auto !important;
		top: auto !important;
	}
	&:hover,
	&.is-loading {
		background: rgba(black, 0.4);
		color: rgba(white, 1);
		transform: scale(1);
		border-radius: 50%;
	}
	&:active {
		transform: scale(0.98);
	}
	&.is-loading {
		transition-duration: 800ms;
		background-color: $primary-color;
	}
}

/**
 * modifier
 **/

.ChannelCard--text {
	@include size-1;
	position: relative;
	padding: 1rem;
	color: $gray;
	background-color: transparent;

	p:last-child {
		margin-bottom: 0;
	}
}
