.ChannelCard {
	position: relative;
	overflow: hidden;
	padding-bottom: 1rem;
	background-color: $white;
	.LoaderCircle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.ChannelCard-title,
.ChannelCard-body {
	padding-left: 0.5em;
	padding-right: 0.5rem;
	margin-bottom: 0;
	@media (min-width: $layout-m) {
		padding-left: 1rem;
	}
}
.ChannelCard-title {
	word-break: break-word;
	color: $red;

	a:hover & {
		text-decoration: underline;
	}
}
.ChannelCard-body {
	@include size-0;
	color: $dark;
}
.ChannelCard-playback {
	padding-left: 0.9rem;
	padding-top: 1rem;
	margin-bottom: 0;
}
.ChannelCard-overlayBtn {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}
.ChannelCard-overlayBtn .Btn {
	display: flex;
	font-size: 1.4rem;
	background: none;
	font-size: 1.4rem;
	border: 0;
	border-radius: 50%;
	padding: 0.6rem;
	background: rgba(black, 0);
	color: rgba(white,0.8);
	transition: background 200ms, transform 200ms $easing4;
	transform: scale(0.95);
	svg {
		left: auto !important;
		top: auto !important;
	}
	&:hover {
		background: rgba(black, 0.4);
		color: rgba(white, 1);
		transform: scale(1);
		border-radius: 50%;
	}
	&:active {
		transform: scale(0.98);
	}
}

/**
 * modifier
 **/

.ChannelCard {
	&.ChannelCard--text {
		@include size-1;
		position: relative;
		padding: 1rem;
		color: $gray;
		background-color: transparent;

		p:last-child {
			margin-bottom: 0;
		}
	}
}
