.ChannelCard {
	overflow: hidden;
	padding-bottom: 1rem;
	background-color: $white;
	.LoaderCircle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.ChannelCard-title,
.ChannelCard-body {
	padding-left: 0.5em;
	padding-right: 0.5rem;
	margin-bottom: 0;
	@media (min-width: $layout-m) {
		padding-left: 1rem;
	}
}
.ChannelCard-title {
	word-break: break-word;
	color: $red;

	a:hover & {
		text-decoration: underline;
	}
}
.ChannelCard-body {
	@include size-1;
	color: $text-color;
}

/**
 * modifier
 **/

.ChannelCard {
	&.ChannelCard--text {
		@include size-1;
		position: relative;
		color: $gray;
		padding: 1rem;

		p:last-child {
			margin-bottom: 0;
		}
	}
}
