.ChannelScreen {
	// position element
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	// position bg image
	background-size: cover;
	background-position: center;

	// position content
	display: flex;
	justify-content: center;
	align-items: center;

	.Btn {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		opacity: 0;
	}
}
