.ChannelCard {
	position: relative;
	background-color: $superlightgray;
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	.Cover--noImage .Cover-image {
		background-color: $fadedblue;
		outline-width: 0;
		color: transparent;
	}
	.Cover {
		margin-bottom: 0;
		min-width: 7rem;
		@media (min-width: $layout-s) {
			min-width: none;
		}
	}
	&.ChannelCard--wide {
		.Cover {
			min-width: auto;
		}
	}
}

.ChannelCard > a {
	text-decoration: none;

	display: flex;

	&:focus {
		outline: none;

		.ChannelCard-title {
			outline: 1px dotted $primary-color;
		}
	}
	@media (min-width: $layout-s) {
		display: block;
	}

	& + .ChannelCard-body {
		margin-top: 0.5rem;
	}
}

.ChannelCard-title {
	word-break: break-word;
	color: $text-color;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	@media (min-width: $layout-s) {
		justify-content: left;
	}
}

.ChannelCard-body {
	@include size-0;
	color: $dark;
  // Ensure very long words do not mess up the layout.
	word-break: break-word;

	padding-bottom: 2rem;
	a {
		text-decoration: none;
		font-weight: bold;
		&:hover {
			background-color: $lightgray;
		}
	}
}

.ChannelCard-controls {
	position: absolute;
	top: 0.4rem;
	left: 0.4rem;
	z-index: 1;

	.Btn:focus {
		// Because it is on top of images.
		box-shadow: 0 0px 4px 4px rgba(255, 255, 255, 0.6);
	}
}

.ChannelCard-favorite.Btn--text {
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		i {
			color: $black;
		}
	}
	i {
		margin-right: 0;
	}
}

// Modifier
.ChannelCard--text {
	@include size-1;
	position: relative;
	padding: 1rem;
	color: $gray;
	background-color: transparent;

	p:last-child {
		margin-bottom: 0;
	}
}

// Little circle that indicates the channel is playing.
.ChannelCard.is-active {
	border-color: $primary-color;
}

.ChannelCard.is-active::before {
	content: "";
	display: block;
	height: 1rem;
	width: 1rem;
	background-color: $primary-color;
	border-radius: 50%;

	position: absolute;
	z-index: 1;
	top: -0.4rem;
	left: -0.4rem;
}

.ChannelCard-title,
.ChannelCard-body {
	padding-left: 0.5em;
	padding-right: 0.5rem;
	margin-bottom: 0;

	@media (min-width: $layout-m) {
		padding-left: 1rem;
	}
}

// Wide modifier (also smaller)
$card-wide-cover-size: 4rem;

.ChannelCard--wide {
	padding-bottom: 0;
	width: 100%;

	> a {
		display: flex;
		flex-flow: row nowrap;
		align-content: center;
	}

	.Cover {
		flex: 0 0 $card-wide-cover-size;
		margin-bottom: 0;
	}

	.ChannelCard-title {
		margin-top: auto;
		margin-bottom: auto;
		overflow-x: auto;
		// Commented out, it broke channels with longer words.
		// word-break: inherit;
	}

	.ChannelCard-body {
		display: none;
		// margin-top: -1rem;
		// padding-left: ($card-wide-cover-size + 1rem);
		// padding-bottom: 1rem;
	}

	.ChannelCard-controls {
		left: -0.5rem;
		top: -0.5rem;
		right: auto;

		.Button {
			padding: 0.6rem;
		}
	}
}

// Modifier inside .Tabs
.Tabs .ChannelCard {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid darken($purple, 10%);

	a {
		background-color: $white;
	}
}
