/**
 * Playlist
 */

.Playlist--detail {
	position: relative;
	z-index: 2; // above the player
}
.Playlist-header {
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-bottom: 2.25rem;
	background-color: $primary-colorLight;
	// background-image: linear-gradient(to bottom, hsl(0, 100%, 100%), hsla(0, 0%, 0%, 0));
}
.Playlist-add {
	margin-top: -4.2rem; // below buttons (with one line descriptions)
}
.Playlist-title {
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Playlist-description {
	max-width: rem(510); // 10 words on 1 line
}
.Playlist-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}
