.Channel--detail {
	position: relative;
	background-color: $slightgray;
	border-top: 1px solid hsl(0, 0%, 85%);
	border-left: 1px solid hsl(0, 0%, 80%);
	border-right: 1px solid hsl(0, 0%, 80%);
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	@media (min-width: $layout-s) {
		// because the channel image is a bit outside (negative margin)
		margin-top: 1.5rem;

		// so logo scrolls nicely down the side
		margin-left: 1rem;
	}
}

.Channel--edit {
	@media (min-width: $layout-s) {
		max-width: 50rem;
	}

	.Form {
		margin-top: 0;
	}

	.Channel-body {
		width: 100%;
	}

	.Channel-media {
		margin-top: 0;
		width: 100%;
		max-width: 100%;
		float: none;
	}

	.Dropzone .Cover {
		padding-bottom: 0.5rem;
		padding-top: 1rem;
	}

	.Dropzone-inner {
		figure {
			max-width: 10rem;
			margin: 0 auto;
		}

		input {
			clear: both;
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding-top: 0.5rem;
		}
	}
}

.Channel-header {
	background-color: $superlightgray;
	padding-bottom: 1rem;
	min-height: 10rem; // visual perf
}

.Channel-media {
	@include clearfix;
	margin-top: -1rem;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $layout-s) {
		float: left;
		min-width: 4rem;
		width: 30%;
		max-width: $sidebar-width;
		padding-right: 1rem;
		margin-top: -1.5rem;
	}

	@media (min-width: $layout-l) {
		padding-right: 1.5rem;
		width: 35%;
	}

	.Btn {
		width: 100%;
		margin-bottom: 1rem;
	}
}

.Channel-cover {
	position: relative;
	float: left;
	width: 100%;
}

.Channel-body {
	@include clearfix;

	@media (min-width: $layout-s) {
		position: relative;
		margin-bottom: 1rem;
		float: left;
		width: 70%;
		margin-top: 1.5rem;
	}

	@media (min-width: $layout-m) {
		width: 67%;
	}

	@media (min-width: $layout-l) {
		width: 65%;
	}
}

.Channel-playback {
	position: absolute;
	top: -1rem;
	left: 0.5rem;

	@media (min-width: $layout-s) {
		top: -3rem;
		left: 0;
	}

	svg,
	i {
		margin-right: 0.3rem;
	}

	svg {
		float: left;
	}
}

.Channel-body {
	@media (max-width: $layout-s) {
		text-align: center;
	}
}

.Channel-outlet {
	min-height: 2rem;
	margin-bottom: 0;
	padding-top: 1rem;
}

.Channel-edit {
	position: absolute;
	top: -0.6rem;
	right: -0.5rem;
	z-index: 4; // above media
}

.Channel-titleSection {
	@include clearfix;
}

.Channel-titleGroup {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.Channel-title {
	text-align: center;
	line-height: 1;
	margin-bottom: 0;

	a {
		text-decoration: none;
	}

	@media (min-width: $layout-s) {
		text-align: left;
	}

	@media (min-width: $layout-m) {
		@include size-5;
		display: inline-block;
		max-width: 80%;
	}
}

.Channel-slug {
	margin-bottom: 0;

	a {
		text-decoration: none;
	}
}

.Channel-follow {
	position: absolute;
	top: 0.6rem;
	right: 0.7rem;
	z-index: 1;
}

.Channel-description {
	@include size-2;
	max-width: 36rem;
	margin-bottom: 0;
	clear: both;
	word-break: break-word;
}

.Channel-links {
	a {
		@include size-1;
		word-wrap: break-word;
		color: $gray;
		text-decoration: none;
	}
}

.Channel-introduction {
	// it is flexbox because of the Grid it is in (Grid-cell)
	order: 1;
}
