/**
 * Channel
 */

.Channel--detail {
	position: relative;
	z-index: 2; // above the player
}
.Channel-header {
	background-color: $superlightgray;
}
.Channel-cover {
	position: relative;
	float: left;
	width: 100%;
	margin-right: 1.8rem;
	@media (min-width: $layout-m) {
		margin-right: 0;
		float: right;
	}
}
.Channel-media {
	@media (min-width: $layout-s) {
		@include clearfix;
		float: left;
		width: 30%;
		max-width: 13em;
		padding-right: 1rem;
	}
	@media (min-width: $layout-l) {
		padding-right: 1.5rem;
	}

	// remove margin between cover and button
	.Cover {
		margin-bottom: 0;
	}
	.Btn {
		width: 100%;
		margin-bottom: 1rem;
	}
}
.Channel-body {
	@include clearfix;
	padding-right: 2rem;
	margin-bottom: 1rem;
	@media (min-width: $layout-s) {
		float: left;
		width: 70%;
		margin-top: 2rem;
	}
	@media (min-width: $layout-m) {
		width: 67%;
	}
}
.Channel-outlet {
	margin-top: 1rem;
}
.Channel-edit {
	position: absolute;
	top: 0;
	right: 1rem;
	z-index: 4; // above media
}
.Channel-titleSection {
	@include clearfix;
}
.Channel-title {
	display: inline-block;
	@media (min-width: $layout-m) {
		@include size-5;
		max-width: 80%;
	}
}
.Follow--title {
	// optical aligned with .Channel-title
	position: relative;
	// top: -0.45em;
	top: 0.2em;
}
.LastUpdated {
	@extend %font-regular;
	@include size-1;
}
.Channel-description {
	max-width: 36rem;
	margin-bottom: 1rem;
	clear: both;
	word-break: break-word;
}
.Channel-links {
	a {
		@include size-1;
		word-wrap: break-word;
		color: $gray;
	}
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}
