/**
 * Channel
 */

.Channel--detail {
	position: relative;
	z-index: 2; // above the player
}
.Channel-header {
	padding-top: 2rem;
	padding-bottom: 0;
}
.Channel-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Channel-description {
	max-width: rem(510); // 10 words on 1 line
}
.Channel-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}

// Form to edit the playlist
.Channel-edit {
	margin-bottom: 1rem;
}

// Form to add a track
.Channel-add {
	margin-top: -4rem; // below buttons (with one line descriptions)
}
