.ChannelCard {
	position: relative;
	// background-color: $superlightgray;
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	.Cover--noImage .Cover-image {
		background-color: $fadedblue;
		outline-width: 0;
		color: transparent;
	}
	.Cover {
		margin-bottom: 0;
		min-width: 7rem;
		@media (min-width: $layout-s) {
			min-width: none;
		}
	}
	&.ChannelCard--wide {
		.Cover {
			min-width: auto;
		}
	}
}

.ChannelCard > a {
	text-decoration: none;

	display: flex;

	&:focus {
		outline: none;

		.ChannelCard-title {
			outline: 1px dotted $primary-color;
		}
	}
	@media (min-width: $layout-s) {
		display: block;
	}
}

.ChannelCard-title {
	@include size-2;
	margin-bottom: 0;
	word-break: break-word;
	color: $text-color;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (min-width: $layout-s) {
		justify-content: left;
	}
}

.ChannelCard-body {
  // Ensure very long words do not mess up the layout.
	word-break: break-word;
	margin-bottom: 0;
	padding-bottom: 2rem;
	a {
		text-decoration: none;
		font-weight: bold;
		&:hover {
			background-color: $lightgray;
		}
	}
}

.ChannelCard-controls {
	margin-bottom: 0;
	.Btn:focus {
		// Because it is on top of images.
		box-shadow: 0 0px 4px 4px rgba(255, 255, 255, 0.6);
	}
}

.ChannelCard-favorite.Btn--text {
	cursor: pointer;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		i {
			color: $black;
		}
	}
	i {
		margin-right: 0;
	}
}

// Modifier
.ChannelCard--text {
	@include size-1;
	position: relative;
	padding: 1rem;
	color: $gray;
	background-color: transparent;

	p:last-child {
		margin-bottom: 0;
	}
}

// Little circle that indicates the channel is playing.
.ChannelCard.is-active {
	border-color: $primary-color;
}

.ChannelCard.is-active::before {
	content: "";
	display: block;
	height: 1rem;
	width: 1rem;
	background-color: $primary-color;
	border-radius: 50%;

	position: absolute;
	z-index: 1;
	top: -0.4rem;
	left: -0.4rem;
}

.ChannelCard-title,
.ChannelCard-body,
.ChannelCard-controls {
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	background-color: $superlightgray;
}

// Wide modifier (also smaller)
$card-wide-cover-size: 4rem;

.ChannelCard--wide {
	padding-bottom: 0;
	width: 100%;

	> a {
		display: flex;
		flex-flow: row nowrap;
		align-content: center;
	}

	.Cover {
		flex: 0 0 $card-wide-cover-size;
		margin-bottom: 0;
	}

	.ChannelCard-title {
		margin-top: auto;
		margin-bottom: auto;
		overflow-x: auto;
		// Commented out, it broke channels with longer words.
		// word-break: inherit;
	}

	.ChannelCard-body {
		display: none;
	}
}

// Modifier inside .Tabs
.Tabs .ChannelCard {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid darken($purple, 10%);

	a {
		background-color: $white;
	}
}
