/**
 * Channel
 */

.Channel-media {
	@include clearfix;
	max-width: 10em;
	width: 8em;
	@media (min-width: $layout-s) {
		float: left;
		width: 30%;
		padding-right: 1.5rem;
	}
}
.Channel-body {
	@include clearfix;
	padding-right: 2rem;
	margin-bottom: 1rem;
	@media (min-width: $layout-s) {
		float: left;
		width: 70%;
	}
	@media (min-width: $layout-m) {
		width: 67%;
	}
}


.Channel--detail {
	position: relative;
	z-index: 2; // above the player
	margin-bottom: 14rem; // avoid player overlapping first track
}
.Channel-header {
	overflow: auto; // contain floated Cover
	padding-top: 1rem;
	@media (min-width: $layout-m) {
		padding-top: 2rem;
	}
	background-color: $superlightgray;
}
.Channel-cover {
	position: relative;
	float: left;
	width: 100%;
	margin-right: 1.8rem;
	@media (min-width: $layout-m) {
		margin-right: 0;
		float: right;
	}

}
.Channel-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Channel-description {
	max-width: 36rem;
  	margin-bottom: 1rem;
  	clear: both;
	word-break: break-word;
}
.Channel-links {
	a {
		color: $gray;
		@include size-1;
	}
}
.LastUpdate {
	@include size-1;
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}
.LastUpdate {
	@extend %font-regular;
}


/**
 * About favorites
 **/

.Channel-titleSection {
	@include clearfix;
}
.Channel-title {
	width: 80%;
	float: left;
}
.Follow--title {
	float: left;
	margin-right: 1rem;

	// optical aligned with channel title
	position: relative;
	top: 0.1em;
}
