.Channel-header {
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	background-color: $superlightgray;
	display: flex;
	width: 100%;
	margin-top: 0.5rem;

	@media (min-width: $layout-s) {
		margin-left: 2rem;
		margin-top: -1rem;
	}

	@media (min-width: $layout-l) {
		margin-right: 4rem;
	}
}

.Channel-media {
	position: relative;
	float: left;
	width: 100%;
	max-width: 13rem;

	a {
		text-decoration: none;
	}

	.Cover {
		margin-bottom: 0;
	}
}

.Channel-body {
	flex: 1;
	padding: 1.5rem 1.5rem 0;

	a {
		text-decoration: none;
		font-weight: bold;
		&:hover {
			background-color: $lightgray;
		}
	}

	@media (min-width: $layout-s) {
		padding-top: 2rem;
	}
}

.Channel-slug {
	margin-bottom: 0.2rem;

	a {
		font-weight: bold;
		text-decoration: none;
	}
}


.Channel-description {
	@include size-2;
	word-break: break-word;
}

.Channel-links {
	a {
		word-wrap: break-word;
		word-break: break-word;
		text-decoration: none;
	}
	a + a {
		padding-top: 0.3rem;
	}
}

.Channel-buttons {
	padding: 0.5rem;
	padding-right: 0;
	min-width: 7rem;
	margin-bottom: 0;
	justify-content: center;
  flex-grow: 1;
	@media (min-width: $layout-s) {
		justify-content: flex-end;
	}
}
