/**
 * Channel
 */

.Channel-media {
	@media (min-width: $layout-s) {
		@include clearfix;
		float: left;
		width: 30%;
		max-width: 10em;
		padding-right: 1.5rem;
	}
}
.Channel-body {
	@include clearfix;
	padding-right: 2rem;
	margin-bottom: 1rem;
	@media (min-width: $layout-s) {
		float: left;
		width: 70%;
	}
	@media (min-width: $layout-m) {
		width: 67%;
	}
}
.Channel-outlet {
	margin-top: 1rem;
}
.Channel-edit {
	position: absolute;
	top: 0;
	right: 1rem;
	z-index: 4; // above media
}

// .Channel-titleSection
.Channel--detail {
	position: relative;
	z-index: 2; // above the player
}
.Channel-header {
	background-color: $superlightgray;
	padding-top: 1rem;
	@media (min-width: $layout-s) {
		padding-top: 2rem;
	}
}
.Channel-cover {
	position: relative;
	float: left;
	width: 100%;
	margin-right: 1.8rem;
	@media (min-width: $layout-m) {
		margin-right: 0;
		float: right;
	}
}
.Channel-titleSection {
	@include clearfix;
}
.Follow--title {
	float: left;
	margin-right: 0.6rem;

	// optical aligned with channel title
	position: relative;
	top: -0.15em;

	@media (min-width: $layout-s) {
		margin-right: 1rem;
		top: 0.05em;
	}
}
.Channel-title {
	margin-bottom: 0.2em;
	@media (min-width: $layout-m) {
		@include size-5;
		max-width: 80%;
	}
}
.LastUpdate {
	@extend %font-regular;
	@include size-1;
}
.Channel-description {
	max-width: 36rem;
  	margin-bottom: 1rem;
  	clear: both;
	word-break: break-word;
}
.Channel-links {
	a {
		@include size-1;
		word-wrap: break-word;
		color: $gray;
	}
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}
