/**
 * Channel
 */

.Channel--detail {
	position: relative;
	z-index: 2; // above the player
}
.Channel-header {
	padding-top: 2rem;
	padding-bottom: 0;
}
.Channel-cover {
	position: relative;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.Channel-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Channel-description {
	max-width: 32rem;
	// margin-bottom: 2rem;
}
.Channel-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}

// Form to edit the playlist
.Channel-edit {
	margin-bottom: 1rem;
}

// Form to add a track
.Channel-add {
	margin-top: -4rem; // below buttons (with one line descriptions)
}



.ChannelTeaser-title small {
	@extend %font-mono;
	@include size-1;
	float: right;
	color: $mediumgray;
}
