/**
 * Channel
 */

.Channel--detail {
	position: relative;
	z-index: 2; // above the player
	margin-top: 2rem;
}
.Channel-header {
	overflow: auto; // contain floated Cover
}
.Channel-cover {
	position: relative;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
	@media (max-width: $layout-s) {
		width: 50px;
		.Cover-img { height: 50px; }
	}
}
.Channel-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Channel-description {
	max-width: 32rem;
}
.Channel-body {
	margin-bottom: 2rem;
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}
.ChannelTeaser-title small {
	@extend %font-mono;
	@include size-1;
	float: right;
	color: $mediumgray;
}
.LastUpdate {
	@extend %font-regular;
}
