.Channel-header {
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	background-color: $superlightgray;
	min-height: 10rem; // visual perf
	display: flex;
	margin-top: 0.5rem;
	@media (min-width: $layout-s) {
		margin-left: 2rem;
		margin-top: -1rem;
	}
}

.Channel-media {
	position: relative;
	float: left;
	width: 100%;
	max-width: 13rem;

	.Cover {
		margin-bottom: 0;
	}
}

.Channel-body {
	flex: 1;
	padding: 1.5rem 1rem 0;

	@media (min-width: $layout-s) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

.Channel-slug {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.2rem;

	a {
		font-weight: bold;
		text-decoration: none;
	}
}

.Channel-description {
	@include size-2;
	word-break: break-word;
}

.Channel-links {
	display: flex;
	flex-direction: column;
	a {
		word-wrap: break-word;
		word-break: break-word;
		text-decoration: none;
	}
	a + a {
		padding-top: 0.3rem;
	}
}

.Channel-buttons {
	padding: 0.5rem;
	padding-right: 0;
	min-width: 7rem;
	margin-bottom: 0;
	justify-content: center;
  flex-grow: 1;
	@media (min-width: $layout-s) {
		justify-content: flex-end;
	}
}
