.ChannelCard {
	position: relative;
	padding-bottom: 1rem;
	background-color: $bg-color-2;

	&.is-active > a {
		outline: 2px solid $primary-color;
	}

	a {
		text-decoration: none;
	}

	.Playback-channel &.is-active > a {
		outline-color: transparent;
	}
}

.ChannelCard-title,
.ChannelCard-body {
	padding-left: 0.5em;
	padding-right: 0.5rem;
	margin-bottom: 0;

	@media (min-width: $layout-m) {
		padding-left: 1rem;
	}
}

.ChannelCard-title {
	word-break: break-word;
	color: $text-color;
}

.ChannelCard-body {
	@include size-0;
	color: $dark;
	// Ensure very long words don't mess up the layout.
	word-break: break-word;
}

.ChannelCard-controls {
	position: absolute;
	top: 0.4rem;
	left: 0.4rem;
	z-index: 1;

	.Btn.is-hidden {
		transform: scale(0.9) translate3d(0.5rem, 0, 0);
		transform-origin: right;
		opacity: 0;
		pointer-events: none;
	}
}

.ChannelCard-overlayBtn {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}

.ChannelCard-overlayBtn .Btn {
	display: flex;
	font-size: 1.4rem;
	background: none;
	font-size: 1.4rem;
	border: 0;
	border-radius: 50%;
	padding: 0.6rem;
	background: rgba(black, 0);
	color: rgba(white, 0.8);
	transition: background 200ms, transform 200ms $easing4;
	transform: scale(0.95);

	svg {
		left: auto !important;
		top: auto !important;
	}

	&:hover,
	&.is-loading {
		background: rgba(black, 0.4);
		color: rgba(white, 1);
		transform: scale(1);
		border-radius: 50%;
	}

	&:active {
		transform: scale(0.98);
	}

	&.is-loading {
		transition-duration: 800ms;
		background-color: $primary-color;
	}
}

// Modifier
.ChannelCard--text {
	@include size-1;
	position: relative;
	padding: 1rem;
	color: $gray;
	background-color: transparent;

	p:last-child {
		margin-bottom: 0;
	}
}

// Wide modifier (also smaller)
$card-wide-cover-size: 4.8rem;

.ChannelCard--wide {
	padding-bottom: 0;
	width: 100%;

	> a {
		display: flex;
		flex-flow: row nowrap;
		align-content: center;
	}

	.Cover {
		flex: 0 0 $card-wide-cover-size;
		margin-bottom: 0;
	}

	.ChannelCard-title {
		margin-top: auto;
		margin-bottom: auto;
		word-break: inherit;
	}

	.ChannelCard-body {
		display: none;
		// margin-top: -1rem;
		// padding-left: ($card-wide-cover-size + 1rem);
		// padding-bottom: 1rem;
	}

	.ChannelCard-controls {
		left: -0.5rem;
		top: -0.5rem;
		right: auto;

		.Button {
			padding: 0.6rem;
		}
	}
}

// Modifier inside .Tabs
.Tabs .ChannelCard {
	margin-top: 0.25rem;
	border-top: 1px solid hsl(0, 0%, 85%); // same as on .Tabs
}
