/**
 * Channel
 */

.Channel-media {
	width: 100%;
	@include clearfix;
	@media (min-width: $layout-s) {
		width: 30%;
		float: right;
	}
	@media (min-width: $layout-m) {
		width: 50%;
		float: right;
	}
}
.Channel-body {
	width: 100%;
	@include clearfix;
	padding-right: 2rem;
	margin-bottom: 1rem;
	@media (min-width: $layout-s) {
		width: 70%;
		float: left;
	}
	@media (min-width: $layout-m) {
		width: 50%;
		float: left;
	}
}


.Channel--detail {
	position: relative;
	z-index: 2; // above the player
}
.Channel-header {
	overflow: auto; // contain floated Cover
	padding-top: 2rem;
	background-color: $superlightgray;
}
.Channel-cover {
	position: relative;
	float: left;
	width: 100%;
	margin-right: 1.8rem;
	@media (min-width: $layout-m) {
		margin-right: 0;
		max-width: 18em;
		float: right;
	}

}
.Channel-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Channel-description {
	max-width: 36rem;
  	margin-bottom: 1rem;
  	clear: both;
	word-break: break-word;
}
.LastUpdate {
	@include size-1;
}
.Channel-body {
	margin-bottom: 2rem;
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}
.LastUpdate {
	@extend %font-regular;
}
