/**
 * Channel
 */

.Channel--detail, {
	position: relative;
	z-index: 2; // above the player
	background-color: $slightgray;
	border-top: 1px solid hsl(0, 0%, 98%);
	border-right: 2px solid hsl(0, 0%, 88%);
	border-bottom: 3px solid hsl(0, 0%, 88%);
	border-left: 1px solid hsl(0, 0%, 98%);
	border-radius: $border-radius;
	margin-top: 3rem;
	margin-left: 1rem;
	margin-right: 1rem;
	max-width: 40rem;
}

.Channel--edit {
	@media (min-width: $layout-s) {
		max-width: 50rem;
	}
	.Form	{
		margin-top: 0;
	}
}

.Channel-header {
	background-color: $superlightgray;
	padding-bottom: 1rem;
}
.Channel-cover {
	position: relative;
	float: left;
	width: 100%;
	margin-right: 1.8rem;
	@media (min-width: $layout-m) {
		margin-right: 0;
		float: right;
	}
}
.Channel-media {
	@include clearfix;
	margin-top: -1rem;
	max-width: 10rem;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: $layout-s) {
		@include clearfix;
		float: left;
		width: 30%;
		max-width: 13rem;
		padding-right: 1rem;
		margin-top: -1.5rem;
	}
	@media (min-width: $layout-l) {
		padding-right: 1.5rem;
	}

	// remove margin between cover and button
	.Dropzone .Cover {
		margin-bottom: 0.5rem;
	}
	.Btn {
		width: 100%;
		margin-bottom: 1rem;
	}
}
.Channel-body {
	@include clearfix;
	text-align: center;
	@media (min-width: $layout-s) {
		margin-bottom: 1rem;
		text-align: left;
		float: left;
		width: 70%;
		margin-top: 1.5rem;
	}
	@media (min-width: $layout-m) {
		width: 67%;
	}
}
.Channel-playback {
	margin-bottom: 1rem;
}
.Channel-outlet {
	margin-top: 2rem;
}
.Channel-edit {
	position: absolute;
	top: -0.6rem;
	right: -0.5rem;
	z-index: 4; // above media
}
.Channel-titleSection {
	@include clearfix;
}
.Channel-title {
	display: inline-block;
	@media (min-width: $layout-m) {
		@include size-5;
		max-width: 80%;
	}
}
.Follow--title {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.LastUpdated {
	@extend %font-regular;
	@include size-1;
}
.Channel-description {
	max-width: 36rem;
	margin-bottom: 1rem;
	clear: both;
	word-break: break-word;
}
.Channel-links {
	a {
		@include size-1;
		word-wrap: break-word;
		color: $gray;
	}
}
.Channel-contextual {
	float: right;
	.BtnGroup {
		float: right;
	}
}

/**
 * on channel/edit route
 **/

.Channel--edit {
	.Channel-media {
		margin-top: 0;
	}
}
