/**
 * Playlist
 */

.Playlist--detail {
	position: relative;
	z-index: 2; // above the player
}
.Playlist-header {
	padding-top: 2rem;
	// background-image: linear-gradient(to bottom,hsl(264, 50%, 100%),$bg-color 30%);
}
.Playlist-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Playlist-description {
	max-width: rem(510); // 10 words on 1 line
}
.Playlist-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}

// Form to edit the playlist
.Playlist-edit {
	margin-bottom: 1rem;
}

// Form to add a track
.Playlist-add {
	margin-top: -3.2rem; // below buttons (with one line descriptions)
}
