/**
 * Remote control checkbox (radio in fact), that activates the remote fn
 @TODO: this could be more abstract. .Form-checkbox or .Checkbox?
 **/

.CheckboxRemote {
	padding: 0;
	margin-bottom: 0;
	label {
		@extend %font-regular;
		padding-left: 3em;
		padding-right: 1em;
		position: relative;
		cursor: pointer;
	}
	input {
		margin-bottom: 0;
		position: absolute;
		left: 1.4em;
		top: 50%;
		transform: translateY(-50%);
	}
}
