.Cover {
	position: relative;
	text-align: left;

	// wrap link
	> a {
		display: block;
	}

	// shown when you tap the cover
	a:active svg {
		opacity: 1;
	}
}
.Cover-image {
	background-color: $fadedblue;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%; // because we use square images
	// stretch image
	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		// Ensure a minimum size in order for lazyloading to work.
		min-width: 3px;
		min-height: 3px;
	}
}

// Lazysizes loading
.Cover img {
	filter: blur(2px);
	transition: filter 250ms, opacity 250ms;
	&.lazyload {
		opacity: 0.5;
	}
	&.lazyloading {
		// Disabled because it wasn't smooth anyway.
		background-image: url(../assets/images/icons/loader.svg);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
	&.lazyloaded {
		filter: blur(0);
	}
}
