$cover-size: 140px;

.Cover {
	position: relative;
	width: $cover-size;
	text-align: left;

	// inside a flex component
	.Flex > & {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}
.Cover-img {
	background-color: $darkblue;
	position: relative;
	overflow: hidden;
	height: $cover-size;
	img {
		object-fit: cover;
		height: 100%;
	}
}
.Cover-title {}
.Cover-button {
	// reset button styles
	background-image: none;
	background-color: transparent;
	border: 0;
	// centered
	position: absolute;
	z-index: 4;
	font-size: 4rem;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 1.9;
	color: hsl(0, 100%, 100%);

	svg {
		float: left;
		transition: 300ms;
	}

	&:focus {
		outline: 0;
	}
	&:disabled {
		opacity: 0.25;
		cursor: default;
	}
}

// .EditImage {
// 	position: absolute;
// 	z-index: 2; // above thumbnail button
// 	height: 100%;
// 	width: 200px;
// 	margin-bottom: 0;

// 	&.is-editingImage {
// 		.Form {
// 			background-color: rgba(#fff, 0.8);
// 			opacity: 1;
// 			transform: translateX(0);
// 		}
// 		.Form-group {
// 			opacity: 1;
// 		}
// 	}

// 	.Form {
// 		transition: background-color 200ms, transform 300ms;
// 		padding: 1rem 1rem 0;
// 		transform: translateX(-100%);
// 	}
// 	.Form-group {
// 		opacity: 0;
// 		transition: opacity 300ms 300ms;
// 		&:last-child {
// 			transition-delay: 350ms;
// 		}
// 	}
// }
// .EditImage-btn {
// 	background: none;
// 	border: 0;
// 	font-size: 2rem;
// 	padding: 0.8rem;
// 	color: #fff;
// 	// only show edit image button on hover
// 	transition: opacity 300ms, transform 400ms $easing;
// 	opacity: 0.4;
// 	transform-origin: 50%;
// 	transform: scale(0.95);
// 	&:hover {
// 		opacity: 1;
// 		transform: scale(1);
// 	}
// 	&:focus {
// 		outline: 0;
// 	}
// }
