.Cover {
	position: relative;
	text-align: left;

	// wrap link
	> a {
		display: block;
	}

	// shown when you tap the cover
	a:active svg {
		opacity: 1;
	}
}
.Cover-image {
	background-color: $fadedblue;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%; // because we use square images
	// stretch image
	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 100%;
		// Ensure a minimum size in order for lazyloading to work.
		min-width: 3px;
		min-height: 3px;
	}
}

// Lazysizes loading
.Cover img {
	filter: blur(4px);
	transition: filter 250ms, opacity 250ms;
	&.lazyload {
		opacity: 0.5;
	}
	&.lazyloading {
		// Disabled because it wasn't smooth anyway.
		// background-image: url(../assets/images/icons/loader.svg);
		// background-repeat: no-repeat;
		// background-position: center;
	}
	&.lazyloaded {
		filter: blur(0);
	}
}


// hidden and centered svg loader
.Cover-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	opacity: 0;
	transition: opacity 200ms;
}

.Cover-button {
	// reset button styles
	background-image: none;
	background-color: transparent;
	border: 0;
	// centered
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: hsl(0, 100%, 100%);

	// toggle on hover
	opacity: 0;
	transition: opacity 200ms;
	&:hover,
	&:focus {
		opacity: 1;
	}

	// icon inside
	svg {
		font-size: 5rem;
		transition: 300ms;
	}

	&:focus {
		outline: 0;
	}
	&:disabled {
		opacity: 0.25;
		cursor: default;
	}
}
