.Cover {
	position: relative;
	text-align: left;

	// wrap link
	> a {
		display: block;
	}

	// shown when you tap the cover
	a:active svg {
		opacity: 1;
	}
}

/**
 * Image wrapper
 */
.Cover-image {
	background-color: $fadedblue;
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 100%; // because we use square images
}

/**
 * The image itself
 */
.Cover-image img {
	// stretch image
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;

	// Ensure a minimum size in order for lazyloading to work.
	min-width: 3px;
	min-height: 3px;
	transform: translateZ(0); // #perf, especially on large lists
}

/**
 * Lazysizes loading
 */
.Cover img {
	transition: opacity 250ms;

	&.lazyload {
		opacity: 0.00001;
	}

	&.lazyloading {
		// Disabled because it wasn't smooth anyway.
		background-image: url("../assets/images/icons/loader.svg");
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
}

// The first 20 images inside grids we fade in nicely.
// The rest you can't see so we don't need more than 20.
.Grid-cell {
	@for $i from 1 through 20 {
		&:nth-child(#{$i}) .Cover img {
			transition-delay: 10ms * $i;
		}
	}
}

