.FlashMessages {
	@include size-1;
	position: fixed;
	top: 1.4rem;
	right: 0.7rem;
	max-width: 20rem;
}

.alert {
	position: relative;
	z-index: 51;
	display: table;
	float: right;
	clear: both;
	margin-bottom: 0.2rem;
	padding: rem(4) rem(9) rem(4);
	border-radius: $border-radius;
	color: $white;
	background-color: $gray;

	// initial state
	transform: translateX(110%);
	transition: transform 250ms $easing4;

	&.active {
		transform: translateX(0);
	}

	&.exiting {
		transform: translateX(110%);
	}
}

.alert-success {
	background-color: lighten($purple, 20%);
}

.alert-info {
	background-color: lighten($purple, 20%);
}

.alert-warning {
	background-color: $purple;
}

.alert-danger {
	background-color: $red;
}

// .alert-success {}
// .alert-secondary {}
