
.FlashMessages {
	z-index: 3;
	position: fixed;
	top: 3.7rem;
	right: 0.4rem;
	max-width: 20rem;
	@include size-1;
}
.alert {
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	color: white;
	background-color: $gray;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 200ms $easing, transform 300ms $easing;
	margin-bottom: 0.2rem;
	display: table;
	float: right;
	clear: both;

	&.active {
		opacity: 1;
		transform: translateX(0);
	}
	&.exiting {
		opacity: 0;
		transform: translateX(100%);
	}
}
.alert-info {
	background-color: lighten($purple, 20%);
}
.alert-warning {
	background-color: $purple;
}
.alert-danger {
	background-color: $red;
}

.alert-success {}
.alert-secondary {}
