.FlashMessages {
	@include size-1;
	position: fixed;
	z-index: 52; // over player
	bottom: 1.4rem;
	left: 0.7rem;
	max-width: 20rem;
}

.alert {
	position: relative;
	display: table;
	float: right;
	clear: both;
	margin-bottom: 0.2rem;
	padding: 0.4rem 0.6rem;
	border-radius: $border-radius;
	color: $white;
	background-color: $slightgray;

	// initial state
	transform: translateX(110%);
	transition: transform 250ms $easing4;

	&.active {
		transform: translateX(0);
	}

	&.exiting {
		transform: translateX(-110%);
	}
}

.alert-success {
	background-color: $purple;
}

.alert-info {
	border: 2px solid $purple;
	color: $black;
}

.alert-warning {
	background-color: $red;
}

.alert-danger {
	background-color: $red;
}

// .alert-success {}
// .alert-secondary {}
