// Icons
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: currentColor;
	background-size: contain;
	background-repeat: no-repeat;

	// if parent has display: flex
	margin: auto;

	// vertical center inside buttons
	.Btn:not(.Btn--text) & {
		position: relative;
	}
}

// Inherit color property
svg,
path {
	fill: currentColor;
}

// Social icon colors
.icon-facebook {
	color: #3b5998;
}

.icon-google-plus {
	color: #dd4b39;
}

.icon-twtter {
	color: #00aced;
}

.icon-shuffle-white {
	text-indent: -999px;
}
