// Icons
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: currentColor;

	// vertical center inside buttons
	.Btn:not(.Btn--text) & {
		float: left;
		position: relative;
		top: 0.15em;
		left: -0.2em;
	}
}
.icon-facebook {
	color: #3b5998;
}
.icon-google-plus {
	color: #dd4b39;
}
.icon-twtter {
	color: #00aced;
}

svg,
path {
	fill: currentColor;
}

// // star specific colors;
// $yellowStroke: #FFD67D;
// $yellowFill: #E2B962;
.icon-star,
.icon-star-yellow {
	font-size: 2rem;
	stroke-width: 2;
	transition: all 150ms $easing;
}
.icon-star,
.icon-star path {
	fill: $gray;
	stroke: $gray;
	// &:hover {
	// 	stroke: $yellowStroke;
	// }
}
.icon-star-yellow {
	fill: $yellow;
	stroke: $yellow;
	// &:hover {
	// 	stroke: $mediumgray;
	// }
}
