// A dropzone for file uploads
.Dropzone {
	padding: 1rem;
	border-style: inset;
  border-width: 1px;
  border-color: $slightgray;

	&.in {
		// when the user is dragging something on the page
		background-color: $yellow;
	}

	&.hover {
		// when the user is dragging on top
		background-color: $primary-color;
		color: $white;
	}

	// &.fade {}
}

// .Dropzone-inner {}
// The default "Choose file" input
.cloudinary-fileupload {
	margin-top: 1rem;
}
