// A dropzone for file uploads
.Dropzone {
	// border: 1px solid $mediumgray;
	padding: 1rem;
	border: 1px solid rgba($gray, 0.4);
	border-radius: $border-radius;

	&.in {
		// when the user is dragging something on the page
		background-color: $yellow;
	}

	&.hover {
		// when the user is dragging on top
		border-color: rgba($gray, 0.6);
		background-color: $primary-color;
		color: $white;
	}

	// &.fade {}
}

// .Dropzone-inner {}
// The default "Choose file" input
.cloudinary-fileupload {
	margin-top: 1rem;
}
