.aa-container {
	width: 100%;
	margin-bottom: 1rem;
	display: inline-block;
	position: relative;
	// width: 100%;
}

.aa-input-search {
	min-height: 2rem;
	border-radius: 3px;
	border-color: $mediumlightgray;
	border-radius: $border-radius;

	&:focus {
		border-color: $mediumgray;
		outline: 0;
	}
}

.algolia-autocomplete,
.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
	width: 100%;
}

.algolia-autocomplete .aa-hint {
	color: $gray;
}

/* hide default browser "x" button */
.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
	display: none;
}

.aa-input-icon {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	color: $lightgray;
}

.aa-dropdown-menu {
	margin-top: -1px;
	width: 100%;
	background-color: $superlightgray;
	box-shadow: 0 1px 15px rgba(27,31,35,.15);
	border: 1px solid $mediumgray;
	border-top: none;
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}

.aa-suggestion {
	cursor: pointer;
	padding: 0.2em 0.4em;
	min-height: rem(36); // for suggestions without images
	display: flex;
	align-items: center;
}

.aa-suggestion.aa-cursor {
	background-color: $purple;
	color: white;
}

.aa-suggestion img {
	margin-right: 0.4em;
}
