/**
 * Intro Demo
 **/

.IntroDemo {
	border: 1px solid rgba(24, 24, 24, 0.29);
	margin-top: 2em;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	min-height: 10em;

	.IntroDemo-header {
		background-color: lighten($purple, 40%);
		.IntroDemo-logo {
			width: 50px;
			padding-top: 10px;
			padding-bottom: 5px;
			padding-left: 5px;
			padding-right: 5px;
			margin-left: 4px;
		}
	}
	.IntroDemo-container {
		padding-top: 10px;
		.Container {
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.IntroDemo-browser {
		@include clearfix;
		background-color: #f2f3f7;
		position: relative;
		padding-left: 10px;
		padding-right: 10px;
	}
	.IntroDemo-buttons {
		float: left;
		height: 8px;
		width: 8px;
		margin-right: 10px;
		border-radius: 50%;
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.IntroDemo-close {
		background-color: #fe464d;
		border: solid 1px #dd010c;
	}
	.IntroDemo-minimize {
		background-color: #fec324;
		border: solid 1px #eeab01;
	}
	.IntroDemo-maximize {
		background-color: #33cd7b;
		border: solid 1px #2db96f;
	}

	.IntroDemo-addressbar {
		background: #fff;
		height: 16px;
		width: 73%;
		border-radius: 2px;
		border: solid 1px #e7e8ef;
		display: block;
		float: left;
		margin-top: 5px;
	}
}

