/**
 * Groups of lists
 */

.ListGroup {}
.ListGroup-header {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 0.2rem;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	color: $mediumgray;
}

/**
 * Lists
 * markup example: .List > .List-item > a
 */

.List {
	list-style: none;
	padding-left: 0;
	border-radius: $border-radius;
	background-color: $slightgray;
	border: 1px solid $mediumlightgray;
}

.List-item {
	border-bottom: 1px solid hsl(0, 0%, 91%); // $mediumlightgray
	line-height: normal;

	&::before {
		display: none;
	}
}

// When a link wraps everything
.List-item a {
	display: block;
	flex: 1;
	padding: 0.8rem 1rem 0.7rem;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	@media (min-width: $layout-m) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

// Numbered list
.List--numbered {
	counter-reset: counter(list-counter);
}

.List--numbered li {
	counter-increment: list-counter;

	&::before {
		// decimal (1 2 3)
		// decimal-leading-zero (01, 02, 03)
		// lower-roman (i ii iii)
		// upper-roman (I II III)
		content: counter(list-counter, decimal);
		display: inline-block;
		position: absolute;
		margin-left: 0.5rem;
		margin-top: 0.8rem;
		z-index: 1;
		font-size: 10px;
		color: $gray;
	}
}
