// List markup example: .List > .List-item > a
.List {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.List-item {
	border-bottom: 1px solid hsl(0, 0%, 91%); // $mediumlightgray
	line-height: normal;

	&::before {
		display: none;
	}

	&:last-child {
		border-bottom: 0;
	}
}

// When a link wraps everything
.List-item a {
	@include clearfix;
	display: block;
	padding: 0.8rem 1rem 0.7rem;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: hsla(0, 100%, 100%, 0.2);
		text-decoration: none;
	}

	&:focus,
	&:active {
		text-decoration: none;
	}

	@media (min-width: $layout-s) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.List-title {
	margin: 0;

	small {
		@extend %font-mono;
		@include size-1;
		float: right;
		color: $mediumgray;
	}
}

.List-body {
	@include size-0;

	@media (min-width: $layout-l) {
		@include size-1;
	}
	max-width: 80%;
	margin: 0;
	color: $gray;
}

// Numbered list
.List--numbered {
	counter-reset: counter(list-counter);
}

.List--numbered li {
	counter-increment: list-counter;

	&::before {
		// decimal (1 2 3)
		// decimal-leading-zero (01, 02, 03)
		// lower-roman (i ii iii)
		// upper-roman (I II III)
		content: counter(list-counter, decimal);
		display: inline-block;
		position: absolute;
		margin-left: 0.5rem;
		margin-top: 0.8rem;
		z-index: 1;
		font-size: 10px;
		color: $gray;
	}
}

// Lists with cover images
.List .Cover {
	float: left;

	// fits with two lines of description
	width: rem(51);
	margin-right: 1rem;
	margin-bottom: 0;

	// align with cover
	+ .List-title {
		margin-top: -3px;
	}
}
