/**
 * List (only allows one single link in each <li>)
 */

.List {
	list-style: none;
	padding-left: 0;

	li {
		border-bottom: 1px solid hsl(0, 0%, 87%);//$slightgray;
		line-height: normal;
	}
	h3 {
		// @extend %font-regular;
	}
	h3,
	p {
		margin: 0;
	}
	p {
		@include size-1;
		max-width: 80%;
		color: $text-color;
	}
	a {
		display: block;
		padding: rem(8) 1rem;
		text-decoration: none;
	}
	a,
	li {
		&:hover,
		&:focus {
			background-color: white;
			text-decoration: none;
		}
	}
}

// Smaller lists (good for long text)
.SmallerList {
	li {
		@include size-1;
	}
}

.List--noHover {
	a,
	li {
		&:hover,
		&:focus {
			background-color: initial;
		}
	}
}
