/**
 * List (only allows one single link in each <li>)
 */

.List {
	list-style: none;
	padding-left: 0;
	// border-top: 1px solid $lightgray;

	li {
		border-bottom: 1px solid $lightgray;
		line-height: normal;
	}
	h3,
	p {
		margin: 0;
	}
	p {
		@include size-1;
		max-width: 80%;
		color: $text-color;
	}
	a {
		display: block;
		padding-top: rem(10);
		padding-bottom: rem(10);
		padding-right: 1em;
		padding-left: 1em;
		&:hover,
		&:focus {
			background-color: white;
			text-decoration: none;
			h3 {
				text-decoration: underline;
			}
		}
	}
}

// Smaller lists (good for long text)
.SmallerList {
	li {
		@include size-1;
	}
}
