/**
 * List view
 */

.List {
	list-style: none;
	padding-left: 0;
	border-top: 1px solid $lightgray;

	li {
		border-bottom: 1px solid $lightgray;
		p {
			margin: 0;
		}
	}
}

// Smaller lists (good for long text)
.SmallerList {
	li {
		@include size-1;
	}
}
