/**
 * List (only allows one single link in each <li>)
 */

.List {
	list-style: none;
	padding-left: 0;

	li {
		border-bottom: 1px solid $mediumlightgray;
		line-height: normal;
		&:before {
			display: none;
		}
	}
	h3,
	p {
		margin: 0;
	}
	p {
		@include size-1;
		max-width: 80%;
		// color: $text-color;
	}
	a {
		display: block;
		padding: 0.7rem 1rem 0.6rem;
		text-decoration: none;
		@media (min-width: $layout-s) {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
	a,
	li {
		&:hover {
			background-color: hsla(0, 100%, 100%, 0.2);
			text-decoration: none;
		}
		&:focus,
		&:active {
			background-color: $white;
			text-decoration: none;
			// color: $white;
			// p { color: $white; }
		}
	}
}

// Smaller lists (good for long text)
.SmallerList {
	li {
		@include size-1;
	}
}

.List--noHover {
	a,
	li {
		&:hover,
		&:focus {
			background-color: initial;
		}
	}
}
