.List {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	background-color: #fff;
}
.List li {
	// alternating bg colors
	&:nth-of-type(even) a {
		background-color: $superlightgray;
	}
	a {
		display: block;
		padding-top: rem(10);
		padding-bottom: rem(7); // 3px less is optical center
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		color: $text-color;
		&:hover {
			text-decoration: none;
		}
	}
	p {
		margin: 0;
	}
}

