/**
 * List (only allows one single link in each <li>)
 */

.List {
	list-style: none;
	padding-left: 0;

	li {
		border-bottom: 1px solid $mediumlightgray;
		line-height: normal;
		&:before {
			display: none;
		}
	}
	h3,
	p {
		margin: 0;
	}
	h3 {
		@extend %font-regular;
	}
	p {
		@include size-1;
		max-width: 80%;
		color: $text-color;
	}
	a {
		display: block;
		padding: rem(9) 1rem rem(8);
		text-decoration: none;
	}
	a,
	li {
		&:hover {
			background-color: hsla(0, 100%, 100%, 0.2);
			text-decoration: none;
		}
		&:focus,
		&:active {
			background-color: $purple;
			text-decoration: none;
			color: $white;
			p { color: $white; }
		}
	}
}

// Smaller lists (good for long text)
.SmallerList {
	li {
		@include size-1;
	}
}

.List--noHover {
	a,
	li {
		&:hover,
		&:focus {
			background-color: initial;
		}
	}
}
