// See templates/error.hbs

.Loader {
	display: inline-block;
	vertical-align: top;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	// text-align: center;

	// Set the color of the icon
	svg path,
	svg rect {
		fill: #FF6700;
	}
}
