// See templates/error.hbs

.Loader {
	// size
	font-size: 2rem;
	width: 1em;
	height: 1em;
	svg {
		width: 100%;
		height: 100%;
	}

	// on top of other things
	position: relative;
	z-index: 1;

	// Set the color of the icon
	svg path,
	svg rect {
		fill: #FF6700;
	}
}

.Loader--center {
	margin-left: auto;
	margin-right: auto;
}
