.SiteLogo {

	// position
	position: fixed;
	z-index: 2;
	top: -2px;
	right: 1rem;
	margin: 0;

	// style (very much the same as .Btn.Btn--large)
	@extend %patron-black-italic;
	font-size: 20px;
	border: 1px solid hsla(0, 0%, 0%, 0.2);
	border-radius: $border-radius;
	background: linear-gradient(hsl(17, 100%, 50%), hsl(278, 90%, 42%));
	background-color: $beautifulblue;
	-webkit-font-smoothing: antialiased;
	a {
		display: block;
		padding: 0.5em 0.7em 0.3em;
		color: $bleach;
	}

	// animate in and out
	transition: transform 600ms $easing5;
	&.is-hidden {
		transform: translateY(-100%) scale(0.9);
	}
}
