.SiteLogo {

	// position
	position: fixed;
	z-index: 2;
	top: rem(4);
	left: rem(4);
	margin: 0;
	transition: 2000ms all ease-in-out;
	backface-visibility: hidden; // performance

	img {
		max-width: 40px;
	}

	// // @extend %patron-black-italic;
	// @include size-3;
	// border: 1px solid hsla(0, 0%, 0%, 0.2);
	// border-radius: $border-radius;
	// background: linear-gradient(hsl(17, 100%, 50%), hsl(278, 90%, 42%));
	// background-color: $beautifulblue;
	// -webkit-font-smoothing: antialiased;

	a {
		display: block;
		// padding: 0.5em 0.7em 0.3em;
		color: $bleach;
		&:hover {
			text-decoration: none;
		}
	}

	transition: all 600ms $easing;
	&.is-translated {
		// left: 0;
		// transform: translateX(0);
	}
}
