/**
 * Site Logo
 * our has an animation which is define here at the beginning
 **/

 /**
  * actual site logo
  **/


.SiteLogo {
	float: left;
	margin: 0;

	a {
		width: 144px;
		display: block;
		padding-top: 13px;
		padding-left: 1rem; // same as container etc
		padding-right: 1rem;
		padding-bottom: 5px;
		color: $bleach;

		&:hover {
			text-decoration: none;
		}
		&:before {

		}
		&:after {

		}
	}
}


// /**
//  * Logo html
//  **/

// .LogoHtml {
// 	font-family: Helvetica;
// 	position: fixed;
// 	top: 20px;
// 	left: -10px;
// 	margin-right: 10px;
// 	padding-top: 24px;
// 	padding-left: 24px;
// 	text-transform: uppercase;
// }

// .LogoHtml-b,
// .LogoHtml-c,
// .LogoHtml-d,
// .LogoHtml-e {
// 	font-size: 2.7rem;
// 	letter-spacing: -0.08rem;
// 	position: relative;
// }
// .LogoHtml-a { // r
// 	font-size: 1.5rem;
// 	font-weight: 600;
// 	letter-spacing: -0.1rem;
// }
