/**
 * Logo
 **/

.Logo {
	display: block;
	padding-left: 0.4rem;
	padding-right: 1rem;
	user-select: none; // don't highlight
	color: $bleach;

	// vertical center
	font-size: 1.5rem;
	display: flex;
	align-items: center;

	&:hover {
		text-decoration: none;
	}

	// when logo is active, so on home, hide arrow
	transition: transform 400ms $easing, padding 400ms $easing;
	transform: translateX(0);
	&.is-active {
		transform: translateX(-2.1rem);
	}
}
.Logo h1 {
	margin-bottom: 0;
	font-size: inherit;
}
.Logo-arrow {
	position: relative;
	top: 0.15em;
	transition: margin 400ms $easing;

	.Logo.is-active & {
		margin-right: 0.3rem;
	}
}
.Logo-img {
	vertical-align: middle;
	max-height: 21px;
	@media (min-width: $layout-s) {
		max-height: 28px;
	}
	@media (min-width: $layout-sm) {
		max-height: 32px;
	}
}
