/**
	Login route/component
 */

@keyframes Turning {
	0%{
		transform: rotate(0deg) scale(0.9) rotate3d(0.2, -1, 1, 20deg);
		opacity: 0.5;
		box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.5);
		border-radius: -50%;
	}

	// comment the 30% step to make it less crazy
	// 30%{
	// 	transform: rotate(30deg) scale(0,2) rotate3d(0.2, -1, 1, 40deg);
	// 	box-shadow: 1px 10px 1px rgba(255, 255, 255, 0.5);
	// }
	50%{
		transform: rotate(360deg) scale(1.1) rotate3d(0.2, -1, 1, 10deg);

		opacity: 0.93;
		box-shadow: 1px 10px 1px rgba(255, 255, 255, 0.5);
		border-radius: 50%;
	}
	55%{
		opacity: 1;
		box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
		transform: rotate(330deg) scale(1.3) rotate3d(0.2, -1, 10, 60deg);

	}
	89%{
		transform: rotate(360deg) scale(0.7) rotate3d(0.2, -1, 1, -20deg);
	}
	100%{
		transform: rotate(0deg) scale(0.9) rotate3d(0.2, -1, 1, 20deg);
		opacity: 0.5;
		box-shadow: 6px 1px 9px rgba(255, 255, 255, 0.5);
		border-radius: -50%;
	}
}


.Login {
	padding: 1rem 2rem;
	position: relative;
	z-index: 0;
	text-align: center;
	align-self: center;
	animation-name: Colors;
	animation-duration: 1s;
	animation-timing-function: ease-in; // on the login page
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-direction: alternate-reverse;
}
.Login-inner {
	position: relative;
	z-index: 2;
}
.Login-animation {
	position: relative;
	z-index: 1;
}

.Login-after,
.Login-before,
.Login-middle {
	position: absolute;
	display: block;
	z-index: -1;
	opacity: 0.6;

	animation-name: Turning;
	animation-duration: 29s;
	animation-timing-function: ease-in; // on the login page
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-direction: alternate-reverse;
	// background-image: linear-gradient(30deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
	background-color: white;
}
.Login-before {
	top: -6rem;
	left: -3rem;
	width: 18rem;
	height: 18rem;
}
.Login-after {
	top: -5rem;
	left: 1rem;
	width: 22rem;
	height: 22rem;
}
.Login-middle {
	top: -6rem;
	left: 2rem;
	width: 16rem;
	height: 16rem;
}
