.Logo {
	background: transparent;
	backface-visibility: hidden; // perf
	z-index: 6;
	min-height: rem($bar-height);
	transition: transform 300ms $easing2, background-color 200ms;
	max-width: 7rem;
	padding-top: 2.3rem;
	padding-left: 2.3rem;
	user-select: none; // don't highlight
	display: none;

	.Root.is-panelLeftVisible & {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
	}

}

.Logo h1 {
	margin-bottom: 0;
	font-size: inherit;
	position: relative;
	z-index: 3;
}

.Logo-icon {
	position: relative;
	top: 0.25em;
	transition: margin 400ms $easing;
	opacity: 0.8;

	.Logo.is-active & {
		margin-right: 0.3rem;
	}
}

.Logo-img {
	vertical-align: middle;
}

.Logo-img {
	max-width: 100%;
	height: auto;
	max-height: 100%; // Safari fix
}

.Logo-img--small {
	display: block;
	width: 2rem;
	@media (min-width: $layout-m) {
		display: none;
	}
}
.Logo-img--large {
	display: none;
	@media (min-width: $layout-m) {
		display: block;
	}
}
