.Logo {
	position: fixed;
	top: 1rem;
	left: 4.3rem;
	z-index: 6;
	margin-bottom: 0;
	backface-visibility: hidden; // perf
	// user-select: none; // don't highlight

	// Only show when menu is open.
	display: none;

	.Root.is-panelLeftVisible & {
		display: block;
	}
}

.Logo > a {
	display: block;
	// remove default link styles inside <h1>
	margin-bottom: 0;
	border-bottom: 0;
}

.Logo-img {
	width: auto;
	height: 2.1rem;
}

// Switch between small and big logo.
.Logo-img--small {
	display: block;

	@media (min-width: $layout-m) {
		display: none;
	}
}

.Logo-img--large {
	display: none;

	@media (min-width: $layout-m) {
		display: block;
	}
}
