/**
 * Logo
 **/

.Logo {
	cursor: pointer;
	display: block;
	padding-top: 2rem;
	padding-left: 1.3rem;
	padding-right: 1rem;
	user-select: none; // don't highlight
	color: $bleach;

	// vertical center
	font-size: 1.5rem;
	display: flex;
	align-items: center;

	&:hover {
		text-decoration: none;
		.Logo-icon {
			opacity: 1;
		}
	}

	// when logo is active, so on home, hide arrow
	transition: transform 400ms $easing, padding 400ms $easing;
	transform: translateX(0);
	&.is-active {
		transform: translateX(-2.1rem);
	}
}
.Logo h1 {
	margin-bottom: 0;
	font-size: inherit;
}
.Logo-icon {
	position: relative;
	top: 0.25em;
	transition: margin 400ms $easing;
	opacity: 0.8;

	.Logo.is-active & {
		margin-right: 0.3rem;
	}
}
.Logo-img {
	vertical-align: middle;
	max-width: 100px;
	// transition: filter 300ms $easing;
	// .Logo:hover & {
	// 	filter: blur(4px);
	// }
}
.Logo-dot {
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	background-color: $primary-color;
	border-radius: 50%;
	transition: transform 200ms $easing4;

	.is-panelLeftVisible & {
		transform: scale(0.8);
	}
}
