.Logo {
	background: transparent;
	backface-visibility: hidden; // perf
	z-index: 6;
	transition: transform 300ms $easing2, background-color 200ms;
	max-width: 6rem;
	padding-top: 0.8rem;
	margin-left: 5rem;
	user-select: none; // don't highlight
	display: none;

	.Root.is-panelLeftVisible & {
		display: block;
	}
}

.Logo h1 {
	margin-bottom: 0;
	font-size: inherit;
	position: relative;
	z-index: 3;
}

.Logo-img {
	max-width: 100%;
	height: auto;
	max-height: 100%; // Safari fix
	vertical-align: middle;
}

.Logo-img--small {
	display: block;
	width: 2rem;

	@media (min-width: $layout-m) {
		display: none;
	}
}
.Logo-img--large {
	display: none;

	@media (min-width: $layout-m) {
		display: block;
	}
}
