.Logo {
	background: transparent;
	backface-visibility: hidden; // perf
	color: $text-color-invert; // $dark
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	min-height: rem($bar-height);
	transition: transform 300ms $easing2, background-color 200ms;

	a {
		color: $text-color-invert; // $dark
	}
}

.Logo {
	max-width: 7rem;
	padding-top: 1.5rem;
	padding-left: 0.6rem;
	user-select: none; // don't highlight

	@media (min-width: $layout-s) {
		padding-left: 1rem;
	}

	a {
		user-select: none; // don't highlight
	}
}

.Logo h1 {
	margin-bottom: 0;
	font-size: inherit;
	position: relative;
	z-index: 3;
}

.Logo-icon {
	position: relative;
	top: 0.25em;
	transition: margin 400ms $easing;
	opacity: 0.8;

	.Logo.is-active & {
		margin-right: 0.3rem;
	}
}

.Logo-img {
	vertical-align: middle;
}

