/**
	Login route/component
 */

.Login {
	padding: 1rem 2rem;
	position: relative;
	z-index: 0;
	text-align: center;
	align-self: center;
}
.Login-inner {
	position: relative;
	z-index: 2;
	color: $white;
	@include negative-text;

	h1 {
		@include size-6;
	}
	p {
		@include size-2;
	}
}

/*
	the animation can symbolise the diverse personalities on r4
	the fact they evolve in parallel
	and sometimes combine to make a whole
	a cultural ressource, offering itself to people, offering themselves via the login step
*/
@keyframes Turning {
	0%{
		transform: rotate(0deg) scale(0.9) rotate3d(0.2, -1, 1, 20deg);
		opacity: 0.5;
		// box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.5);
		border-radius: 0;
		border-radius: 50%;
	}
	10%{
		transform: rotate(50deg) scale(1.1) rotate3d(0.8, -20, 10, -80deg);
		opacity: 0.33;
		// box-shadow: 1px 10px 1px rgba(255, 255, 255, 0.5);
		border-radius: 0;
	}
	50%{
		transform: rotate(20deg) scale(1) rotate3d(0.2, 11, 1, -40deg);
		// box-shadow: 1px 10px 1px rgba(255, 255, 255, 0.5);
		border-radius: 50%;
	}
	55%{
		opacity: 1;
		// box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.5);
		transform: rotate(0deg) scale(1.3) rotate3d(0.2, -1, 10, 80deg);
	}
	89%{
		transform: rotate(0deg) scale(0.7) rotate3d(0.1, 11, 11, -20deg);
		opacity: 0.33;
	}
	100%{
		// transform: rotate(60deg) scale(0.9) rotate3d(0.2, -1, 5, 20deg);
		opacity: 0.5;
		// box-shadow: 6px 1px 9px rgba(255, 255, 255, 0.5);
		border-radius: 0;
	}
}

.Login-animation {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.Login-after,
.Login-before,
.Login-middle {
	position: absolute;
	display: block;
	z-index: -1;
	opacity: 0.6;
	background-color: $bleach;
	background-color: #4B595C;
	mix-blend-mode: overlay;
	animation-name: Turning;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-direction: alternate-reverse;
	// background-image: linear-gradient(30deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
	animation-timing-function: cubic-bezier(0.43, 0.29, 0.15, 0.99);
}
.Login-before {
	top: -6rem;
	left: -3rem;
	width: 18rem;
	height: 18rem;
}
.Login-after {
	top: -7rem;
	left: 0rem;
	width: 17rem;
	height: 17rem;
}
.Login-middle {
	top: -6rem;
	left: 2rem;
	width: 16rem;
	height: 16rem;
}
