/**
 * Manchet
 * used for title+subtitle blocks (mimics .Section and .Container as well)
 */
.Manchet {
	@extend %Container;
	margin-bottom: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	// so it is always over full screen backgrounds
	// like .Tabs
	position: relative;
	z-index: 1;

	h1, h2, h3 {
		padding-left: 1.5rem;
		margin-bottom: 0;
		.ember-modal-overlay & {
			padding-left: 0;
		}
	}


	p {
		flex-basis: 100%;
	}

	.Tabs {
		min-width: 15em;
	}

	.Tabs-item:first-child {
		padding-left: 2rem;
	}
}

// Reverts the default centered styles.
.Manchet--centered {
	text-align: center;

	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}
