/*
	Map
*/

.Map {
	width: 100%;
	height: 100%;
}

.Map--fullscreen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;

	.leaflet-container {
		width: 100vw;
		height: 100vh;
	}
}

.Map--selection {
	position: relative;
	
	// a circle to position the center of the map
	// used for the user to locate a point (works well mobile
	// instead of drag and drop)
	.leaflet-container:before {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 2rem;
		height: 2rem;
		border: 2px solid $gray;
		border-radius: 50%;
		z-index: 999;
	}
}

// Default size for a map
.leaflet-container {
	width: 100%;
	height: 20rem;
	margin-bottom: 1rem;
	font: inherit;
}

// Hide zoom for now.
.leaflet-control-zoom {
	display: none;
}

// Overwrite default styles
.leaflet-popup-content-wrapper {
	padding: 0;
	border-radius: $border-radius;
}

.leaflet-popup-content {
	margin: 0;
}

// Adapt .ChannelCard when inside a map popup
.leaflet-popup-content .ChannelCard {
	width: 220px;
	border: 0;
}