/*
	Map
*/

.Map {
	width: 100%;
	height: 100%;
}

.Map--fullscreen {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;

	.leaflet-container {
		width: 100%;
		height: 100%;
	}

	.leaflet-control-zoom {
		@media (max-width: $layout-s) {
			display: none;
		}
	}
}

.Map--selection {
	position: relative;

	// a circle to position the center of the map
	// used for the user to locate a point (works well mobile
	// instead of drag and drop)
	.leaflet-container:before {
		display: block;
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 2rem;
		height: 2rem;
		border: 2px solid $gray;
		border-radius: 50%;
		z-index: 999;
	}
}

// Default size for a map
.leaflet-container {
	width: 100%;
	height: 20rem;
	margin-bottom: 1rem;
	font: inherit;
}

// Overwrite default styles
.leaflet-popup-content-wrapper {
	padding: 0;
	border-radius: $border-radius;
}

.leaflet-popup-content {
	margin: 0;
}

// Adapt .ChannelCard when inside a map popup
.leaflet-popup-content .ChannelCard {
	width: 220px;
	border: 0;
}

.MapMarker {
	position: relative;
	// outline: 1px solid white;
	// The width and height is set with JS.

	&::after {
		display: block;
		content: "·êÑ";
		transform: rotate(180deg);
		transform-origin: 46% 40%;
		font-size: 2rem;
		color: $purple;
		color: black;
		// font-weight: bold;
		// text-shadow: 1px 2px 2px rgba(white, 0.9);
		text-shadow: -3px -3px 3px rgba(0, 0, 0, 0.4)s;
	}
}
