// Modals using the ember-modal-dialog addon.

.ember-modal-dialog {
	padding: 2rem 1rem 0.5rem;
	border-radius: $border-radius;
	box-shadow: -4px 4px 12px rgba(88, 88, 88, 0.25);

	// forms inside modals
	.Form {
		max-width: 100%;
		margin-bottom: 0;

		@media (min-width: 520px) {
			width: 500px;
		}
	}
}

// Set background for ember-modals
.ember-modal-overlay.translucent {
	background-color: rgba(43, 43, 43, 0.64);
}
