// Modals using the ember-modal-dialog addon.

.ember-modal-dialog {
	padding: 2.4rem 2rem 0;
	box-shadow: $box-shadow;
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;

	.Form {
		@media (min-width: 520px) {
			// Sets the width of the modal.
			width: 500px;
		}
	}
}

// Set background for ember-modals
div.ember-modal-overlay.translucent {
	background-color: hsla(0, 0%, 20%, 0.1);
}
