.NavMain {
	--position: 4rem;

	position: fixed;
	z-index: 2;
	bottom: 0.3rem;
	left: auto;
	right: auto;
	max-width: calc(100% - 0.5rem);
	padding-left: var(--position);
	padding-right: 2rem;

	display: flex;
	flex-wrap: nowrap;

	overflow-x: scroll;
	scrollbar-width: none;
	@media (min-width: $layout-m) {
		width: auto;
	}
}

.NavMain .Tabs {
	flex-wrap: nowrap;
}
