/**
 * Navigation
 **/

.Nav {
	clear: both;
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		&::before {
			display: none;
		}
	}

	// link styles
	a {
		color: $text-color;
	}

	// active styles
	a.is-active {
		text-decoration: underline;
	}
}

.ContextualNavigation {
	margin-left: auto; // pushed to the right
	a {
		display: block;
		color: $white;
		padding: 1.2rem 1rem 0.9rem;
	}

	// hidden on small screens
	@media (max-width: $layout-s) {
		display: none;
	}
}

.TooglePanel {
	font-size: 2rem;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 0;
	background: none;
	color: $white;
	user-select: none;
	transition: 400ms transform $easing;
	transform-origin: 50% 54%; // so it feels like it stays in place
	&:hover,
	&:focus,
	&:active {
		outline: 0px solid white;
	}
	&:active {
		color: $red;
	}

	.is-panelOpen & {
		transform: rotate(90deg);
	}
}
