/**
 * Navigation
 **/

.Nav {
	clear: both;
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		&::before {
			display: none;
		}
	}

	// link styles
	a {
		color: $text-color;
	}

	// active styles
	a.is-active {
		text-decoration: underline;
	}
}

.ContextualNavigation {
	display: none;
	@media (min-width: $layout-s) {
		display: block;
	}
	a {
		display: block;
		color: $white;
		padding: 1.2rem 1rem 0.9rem;
	}
}


// Muted in the header bar has a different look
.SiteHeader .Bar .Muted {
	font-size: 1em;
	color: rgba($white, 0.5);
}

.TooglePanel {
	font-size: 2rem;
	padding: 0 1rem;
	border: 0;
	background: none;
	color: $white;
	&:hover {}
}
