/**
 * Navigation
 **/

.Nav {
	clear: both;
	list-style: none;
	padding-left: 0;

	li {
		display: inline-block;
		&::before {
			display: none;
		}
	}

	// link styles
	a {
		color: $text-color;
	}

	// active styles
	a.is-active {
		text-decoration: underline;
	}
}

.ContextualNavigation {
	display: none;
	@media (min-width: $layout-s) {
		display: block;
	}
	a {
		display: block;
		color: $white;
		padding: 1.2rem 1rem 0.9rem;
	}
}


// Muted in the header bar has a different look
.SiteHeader .Bar .Muted {
	font-size: 1em;
	color: rgba($white, 0.5);
}

.TooglePanel {
	font-size: 2rem;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 0;
	background: none;
	color: $white;
	user-select: none;
	transition: 400ms transform $easing;
	transform-origin: 50% 54%; // so it feels like it stays in place
	&:hover,
	&:focus,
	&:active {
		outline: 0px solid white;
	}
	&:active {
		color: $red;
	}

	.is-panelOpen & {
		transform: rotate(90deg);
	}
}

/**
 * NavigationTab
 **/

.NavigationTab {
	background-color: white;
}

.NavigationTab-item {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
	padding-left: 0;
	padding-right: 0;
	margin-right: 2em;
	border-bottom: 4px solid transparent;
	transition: border-bottom-color 400ms $easing;
	color: $black;
	&:hover,
	&:active {
		border-bottom: 4px solid $red;
	}
	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
	&.is-active {
		border-bottom: 4px solid $red;
		@extend %font-bold;
	}
}
