.NavMain {
	--position: 4rem;

	position: fixed;
	bottom: 0.3rem;
	left: 0;
	// left: var(--position);
	max-width: calc(100% - 0.5rem);

	display: flex;
	flex-wrap: nowrap;

	overflow-x: scroll;
	scrollbar-width: none;
	@media (min-width: $layout-m) {
		left: auto;
		right: auto;
		width: auto;
	}

	padding-left: var(--position);
	margin-right: 2rem;
}

.NavMain .Tabs {
	flex-wrap: nowrap;
}
