.ContextualNavigation {
	margin-left: auto; // pushed to the right
	display: flex;
	align-items: center;
	a {
		padding: 1.2rem 1rem 0.9rem;
	}
	button {
		padding: 0.9rem 2rem 0.8rem;
	}

	.icon-plus {
		// vertical center
		position: relative;
		top: 0.1em;
	}
}
