// A colored box for important notices
.Note {
	background-clip: padding-box;
	background-color: $yellow;
	border-radius: $border-radius;
	border: 1px solid $mediumlightgray;

	padding: 0.7rem 0.6rem 0.5rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;

	max-width: 25rem;
	position: relative;

	h2,
	h3,
	p {
		@include size-0;
		margin-bottom: 1rem;
	}

	p:last-child {
		margin-bottom: 0;
	}

	// border highlight
	&::before {
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 0;
		left: 1px;
		right: 1px;
		background: rgba($white, 0.8);
	}
}

.Note--full {
	max-width: none;

	p {
		max-width: 90%;
	}
}

.Note--sticky {
	position: absolute;
	top: -2px; // so it appears to be "stuck" to the top
	right: 0.5rem;
	text-align: right;
}
