
// A colored box for important notices
.Note {
	position: relative;
	max-width: 24rem;
	padding: 1.5rem 1rem 1px;
	border: 1px solid $mediumlightgray;
	background-clip: padding-box;
	border-radius: $border-radius;
	background-color: $yellow;
	h2,
	h3,
	p {
		@include size-1;
		margin-bottom: 1rem;
	}
	p {
		max-width: 90%;
	}

	// border highlight
	&::before {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		top: 0;
		left: 1px;
		right: 1px;
		background: rgba($white, 0.8);
	}
}

.Note--full {
	max-width: none;
}
