/**
 * A colored box for important notices
 */
.Note {
	position: relative;
	max-width: 24rem;
	padding: 0.7rem 0.6rem 0.5rem;
	border: 1px solid $mediumlightgray;
	background-clip: padding-box;
	border-radius: $border-radius;
	background-color: $yellow;
	h2,
	h3,
	p {
		@include size-0;
		margin-bottom: 1rem;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	// border highlight
	&::before {
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		top: 0;
		left: 1px;
		right: 1px;
		background: rgba($white, 0.8);
	}
}
.Note--full {
	max-width: none;
	p {
		max-width: 90%;
	}
}
.Note--sticky {
	position: absolute;
	top: 0;
	right: 0.5rem;
	text-align: right;
}
