/**
 *  Page welcome
 */

.PageWelcome {
	padding: 1rem;

	h3,
	p {
		margin-bottom: 0.4rem;
	}

	a {
		text-decoration: none;
	}
	label {
		cursor: pointer;
	}
}

.PageWelcome-actions {
	input {
		margin-bottom: 0;
		cursor: pointer;
		margin-right: 0.6rem;
		top: 0.2rem;
		position: relative;
	}
}
