/**
 *  ChannelWelcome
 */

.PageWelcome {
	margin-top: 1rem;
	p {
		margin-bottom: 0;
	}
	a {
	}
}
.PageWelcome-title {
	font-size: 2rem;
}

.PageWelcome-actions {
	padding-top: 0.7rem;
	input {
		margin-bottom: 0;
		cursor: pointer;
	}
}
