/**
 * Site Panel Nav
 **/

.PanelNav-inner {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	width: 80%;
	max-width: 16rem;
	z-index: 5;
	background-color: $white;
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	box-shadow: -4px 4px 12px rgba(88, 88, 88, 0.25);

	// hidden
	display: none;
	opacity: 0;
	transition: opacity 400ms $easing;

	// visible
	.is-panelOpen & {
		display: block;
		opacity: 1;
	}

	// clickable items inside
	a,
	label {
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
		padding-left: 0.7rem;
		padding-right: 0.7rem;
	}
}
// Links inside
.PanelNav a {
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	color: $text-color;
	&:hover {
		background-color: $purple;
		color: $white;
		text-decoration: none;
	}
	&.is-active {
		text-decoration: underline;
	}
}
.PanelNav-group {
	border-top: 1px solid $mediumlightgray;
	&:first-of-type {
		border-top: 0;
	}
}
.PanelNav-overlay {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4; // below PanelNav

	// hidden
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0);

	.is-panelOpen & {
		visibility: visible;
	}
}
