/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
	transform: translateY(100%);
	transition: all 400ms $easing5;

	&.is-active {
		transform: translateY(0);
	}
	// bottom aligned for tocuh
	.touch & {
		top: initial;
		bottom: 0;
	}
}

// Controls
.Controls {
	min-height: 53px;
	z-index: 3;
	position: relative;
	overflow: auto;
	background-color: $primary-color;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	box-shadow: 0px -1px 2px hsla(0, 0%, 0%, 0.3);

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}

}

.Controls-buttons {
	position: absolute;
	left: 1rem;
	top: 0;
	bottom: 0;

	a:hover {
		text-decoration: none;
	}

	// responsive buttons and icons, vertically centered
	.Btn [class^="icon-"],
	.Btn [class*=" icon-"] {
		top: 0;
	}
	.Btn--text {
		height: 100%;
		font-size: 1.6rem;
		padding: 0;
		color: $bleach;
		@media (min-width: $layout-s) {
			font-size: 2rem;
		}
		@media (min-width: $layout-m) {
			padding: 0 0.1em;
		}
	}
}

.Controls-title {
	display: table;
	width: 100%;
	height: 53px;
	text-align: center;

	@include size-1;
	@media (min-width: rem(530)) {
		font-size: initial;
	}

	a {
		display: table-cell;
		vertical-align: middle;
		padding-left: 7.3rem;
		padding-right: 2.5rem;
		@media (min-width: $layout-m) {
			// padding-left: 136px;
			// padding-right: 136px;
		}
		&.is-active {
			text-decoration: none;
		}
	}
}

.Controls-videoBtn {
	// float: right;
	font-size: 1.3rem;
	position: absolute;
	top: 0.4em;
	right: 0.2rem;
	color: $bleach;
}
