/**
 * Wrapper for the embed video/audio player
 */
.Player {
	transition: padding 400ms $easing;
}

#EmberYoutube-player {
	display: block;
	background-color: black;
	width: 100%;
	height: auto;

	// this is the minimum width required to show YouTube volume button
	// width: 224px;
	@media (max-width: $layout-s) {
		height: 100px;
	}

	// @media (min-width: $layout-s) {
	// 	// height: 100px;
	// }

	@media (min-width: $layout-m) {
		height: 200px;
	}

	@media (min-width: $layout-xl) {
		height: 300px;
	}
}

.EmberYoutube-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0; // @todo: change to div-tag in Ember YouTube
	background-color: $primary-color;
}
