/**
 * Wrapper for the embed video/audio player
 */

.Player {
	transition: padding 400ms $easing;
	@include clearfix;

	// Temporarily fix it until we find a better, integrated solution.
	// position: fixed;
	// right: 0.5rem;
	// bottom: 3.7rem;
	// z-index: 20;
}

#EmberYoutube-player {
	display: block;
	background-color: black;
	width: 100%;
	height: auto;
	// width: 224px; // this is the minimum width required to show YouTube volume button

	@media (max-width: $layout-s) {
		height: 60px;
	}
	@media (min-width: $layout-s) {
		height: 100px;
	}
	@media (min-width: $layout-m) {
		height: 200px;
	}
	@media (min-width: $layout-xl) {
		height: 300px;
	}
}
.EmberYoutube-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0; // @todo: change to div-tag in Ember YouTube
	background-color: $primary-color;
}

// // initially, the player is hidden
// .is-withoutPlayer {
// 	.Player {
// 		display: none;
// 	}
// 	// .Bar--bottom {
// 	// 	transform: translateY(100%);
// 	// }
// }
