/**
 * Playlist
 */

.Playlist--detail {
	position: relative;
	z-index: 2; // above the player
}
.Playlist-header {
	padding-top: rem(50);
	margin-bottom: rem(36);
	background-color: $lightgray;
	// background-image: linear-gradient(to bottom, hsl(0, 100%, 100%), hsla(0, 0%, 0%, 0));
}
.Playlist-add {
	margin-top: -100px; // so add track overlaps description: lulz?!
}
.Playlist-title {
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Playlist-description {
}
.Playlist-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}
