/**
 * Wrapper for the embed video/audio player
 */

.Player {
	transition: padding 400ms $easing;

	// Temporarily fix it until we find a better, integrated solution.
	// position: fixed;
	// right: 0.5rem;
	// bottom: 3.7rem;
	// z-index: 20;
}

#EmberYoutube-player {
	width: 100% !important;
	min-height: 30vh;
	background-color: black;
	@media (max-width: $layout-s) {
		position: fixed;
		z-index: 3;
		right: 0;
		bottom: rem($bar-height + $progress-height);
		width: 80px;
		height: 80px;
	}

	@media (min-width: $layout-s) {
		width: 100px;
		height: 100px;
	}
	@media (min-width: $layout-m) {
		width: 224px; // this is the minimum width required to show YouTube volume button
		height: 224px;
		transform: translateZ(0);
	}
	@media (min-width: $layout-xl) {
		width: 300px;
		height: 300px;
	}
}
.EmberYoutube-progress {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0; // @todo: change to div-tag in Ember YouTube
}

// initially, the player is hidden
.is-withoutPlayer {
	.Player {
		display: none;
	}
	// .Bar--bottom {
	// 	transform: translateY(100%);
	// }
}
