/**
 * Wrapper for the embed video/audio player
 */

#EmberYoutube-player {
	position: fixed;
	z-index: 3;
	right: 0;
	bottom: $bar-height;
	width: 100px;
	height: 100px;
	max-width: 100%;

	@media (min-width: $layout-m) {
		width: 210px;
		height: 210px;
		transform: translateZ(0);
	}
	@media (min-width: $layout-l) {
		width: 290px; // wide enough to show volume
		height: 290px;
	}
}
.EmberYoutube-progress {
	position: fixed;
	bottom: -5px;
	left: 0;
	right: 0;
	z-index: 10;
	margin-bottom: 0;

	progress {
		background-color: hsla(0, 100%, 100%, 0.05);
	}
	progress::-webkit-progress-bar {
		background-color: hsla(0, 100%, 100%, 0.05);
	}
	progress::-moz-progress-bar {
		background-color: hsla(0, 100%, 100%, 0.28);
	}
	progress::-webkit-progress-value {
		background-color: hsla(0, 100%, 100%, 0.28);
	}
}
// fullscreen state
.is-fullscreen #EmberYoutube-player {
	top: $bar-height;
	left: 0;
	width: 100%;
	height: 100%;
	height: calc(100% - 120px);
	bottom: $bar-height;
	z-index: 3; // on top of channel
}

// without player state
.is-withoutPlayer {
	.Player {
		visibility: hidden;
	}
	.Bar--bottom {
		transform: translateY(100%);
	}
}
