/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;

	// bottom aligned for tocuh
	.touch & {
		top: initial;
		bottom: 0;
	}
}

// Controls
.Controls {
	padding: 0.7rem 1rem 0.7rem 60px;
	overflow: auto;
	background-color: $primary-color;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	box-shadow: 0px -1px 2px hsla(0, 0%, 0%, 0.3);

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}

}
.Controls-title {
	text-align: center;
	a {
		display: block;
		// margin-bottom: 0.5em;
		&.is-active {
			text-decoration: none;
		}
	}
}
.Controls-buttons {
	text-align: center;
	a:hover {
		text-decoration: none;
	}
	.Btn--text {
		font-size: 2rem;
		padding: 0 0.1em;
		color: $bleach;
	}
	.Controls-videoBtn {
		// float: right;
		font-size: 1.3rem;
		position: absolute;
		top: 0.8em;
		right: 1rem;
	}
}

// Container for the embeds
.Player {
	position: fixed;
	right: 0;
	bottom: 100px; // height of the bottom bar
	width: 250px;
	height: 250px;
	max-width: 100%;
	max-height: 100%;
	background-color: darken($primary-color,12%);
	transform: translateX(100%);
	// animate
	transition: transform 600ms $easing, width 600ms $easing, height 600ms $easing;
	&.is-maximized {
		transform: translateX(0);
	}
	// the youtube iframe
	iframe {
		width: 100%;
		height: 100%;
	}
}

// Round buttons used on player etc.
.PlayerBtn {
	font-size: 2rem;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	border: 0;
	padding: 6px 0 0 3px;
	background-color: transparent;
	&:hover,
	&:focus {
		outline: none;
		background-color: darken($primary-color,16%);
	}
}
.PlayerBtn-play--inactive {
	// right is future, just in that non-political case (rights are future thus)
	float: right;
}
.PlayerBtn--playlist { padding-left: 0; }
.PlayerBtn--toggle { padding: 4px 0 0 0; }
.PlayerBtn--pause { padding: 6px 0 0 3px; }
.PlayerBtn--play { padding: 6px 0 0 4px; }
