.Playback {
	.Btn {
		box-shadow: none;
	}
	radio4000-player {
		font-size: 16px;
		max-width: 300px;
	}
}

.Playback-layoutButtons {
	position: absolute;
	top: -1.4rem;
	right: -1rem;
	z-index: 2;
	padding: 0.5rem;
	display: flex;
	justify-content: flex-end;

	> *:not(:first-child) {
		margin-left: 0.2em;
	}

	// no need to change player when it's small and without channel
	.is-minimized.is-withoutPlayer & {
		display: none;
	}
}


/*
	 States of the player
	 - default
	 - minimized
	 - maximized
 */

// Minimized state.
.is-minimized {
	.Playback {
		width: 200px;
		height: 200px;
	}
	radio4000-player {
		.Header,
		.TrackList,
		.PlayerControl {
			display: none;
		}
	}
}

// Fullscreen state
.is-maximized {
	.Playback {
		height: 100%;
		background: black;
	}

	.Playback-layoutButtons {
		top: 0;
		right: 0;
	}

	radio4000-player {
		max-width: none;
		height: 100vh;
		border: 0;

		/* this is what gives the height to the player
			 unfortunatelly it is not possible the make the player
			 absolute and hve the track list "fit" the remaining
			 space, and scroll its content */
		.TrackList-list {
			// 45px header, 40px footer
			max-height: calc(100vh - 85px);
		}
	}
}
