/**
 * Player
 */

$progress-height: 8px;

// Controls
.Playback {
	display: flex;
	flex-flow: row nowrap; // items in one row, no wrapping
	align-items: stretch; // full-height children
	justify-content: space-between; // distribute items

	// move it a bit down because of progress
	min-height: $bar-height - $progress-height;
	margin-top: 2px;

	// a shadow to show that it's above the content
	// box-shadow: 0 0px 5px 1px rgba(0,0,0,.4);

	// icon size here
	.Btn {
		font-size: 20px;
		border-width: 0;
	}
}

.Playback-buttons {
	// no shrinking to avoid icons scaling down
	flex-shrink: 0;
	display: flex; // this works
	margin-right: 0.5rem;

	.Btn {
		display: flex;
	}
	.Btn--text {
		padding: 0;
		font-size: 2rem;
		color: $bleach;
	}

	.Playback-shuffle {
		font-size: 1.5rem;
		display: flex;
		align-self: center;
		padding-left: 1rem;
		padding-right: 1rem;
		opacity: 0.4;
		&.is-active {
			opacity: 1;
		}
	}
}

.Playback-title {
	@include size-1;
	order: 2;
	display: flex;
	align-items: center;
	@media (min-width: rem(700)) {
		font-size: initial;
	}

	a {
		display: block;
		&.is-active {
			text-decoration: none;
		}
	}
}

.Playback-videoBtn {
	order: 3;
	font-size: 1.4rem;
	padding-right: 1rem !important;
	color: $bleach;

	svg {
		vertical-align: middle;
	}
}
