/**
 * Playlist
 */

.Playlist--detail {
	position: relative;
	z-index: 2; // above the player
	// transition: transform 600ms $easing, opacity 600ms $easing;
	// transform: scale(1);
	// .Application .is-maximized & {
	// 	transform: scale(0.85);
	// 	opacity: 0;
	// }
}
.Playlist-title {
	padding-top: 1.8rem;
	@media (min-width: $layout-m) { @include size-5; }
}
.Playlist-description {
	position: relative;
	text-align: left;
	// max-height: 100px;
	// overflow: hidden;
	// transition: 200ms all ease-in-out;
	// &.is-expended {
	// 	max-height: none;
	// }
	// &:after {
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	height: 70px;
	// 	transition: 200ms all ease-in-out;
	// 	background: linear-gradient(transparent, $bg-color);
	// }
	// &.is-expended:after {
	// 	height: 0;
	// }
}
.Playlist-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}
