/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
	transform: translateY(100%);
	transition: all 400ms $easing5;

	&.is-active {
		transform: translateY(0);
	}
}

// Controls
.Controls {
	// items in one row, no wrapping
	// and no space in the sides, just between
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;

	min-height: $barHeight;
	background-color: lighten($purple,10%);
	// background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	box-shadow: 0 -1px 2px hsla(0, 0%, 0%, 0.3);

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}

	// icon size here
	.Btn {
		font-size: 20px;
		border-width: 0;
	}
}

.Controls-buttons {
	// no shrinking to avoid icons scaling down
	flex-shrink: 0;
	display: flex; // this works
	margin-right: 0.5rem;

	.Btn {
		display: flex;
	}
	.Btn--text {
		padding: 0;
		font-size: 2rem;
		color: $bleach;
	}

	.Controls-shuffle {
		font-size: 1.5rem;
		display: flex;
		align-self: center;
		margin-right: 1rem;
		opacity: 0.4;
		&.is-active {
			opacity: 1;
		}
	}
}

.Controls-title {
	@include size-1;
	order: 2;
	@media (min-width: rem(700)) {
		font-size: initial;
	}

	a {
		display: block;
		&.is-active {
			text-decoration: none;
		}
	}
}

.Controls-videoBtn {
	order: 3;
	font-size: 1.4rem;
	color: $bleach;
}
