/**
 * Playlist
 */


.Playlist {}
.Playlist-header {
	.Btn--danger {
		float: right;
	}
}
.Playlist-body {}

// old playlist styles below as backup


// $sidebarWidth: 260px;

// .Playlist {
// 	@include clearfix;
// }
// .Playlist-header {
// 	overflow: auto;
// 	margin-bottom: -2px;

// 	// edit button fixed
// 	// @media (min-width: $layout-s) {
// 	// 	position: relative;
// 	// 	.Btn--edit {
// 	// 		position: absolute;
// 	// 		top: 0.5rem;
// 	// 		right: 0.5rem;

// 	// 		@media (min-width: $layout-m) {
// 	// 			position: static;
// 	// 		}
// 	// 	}
// 	// }

// 	@media (min-width: $layout-m) {
// 		position: fixed;
// 		top: 0;
// 		left: 0;
// 		width: $sidebarWidth;
// 		height: 100%;
// 		z-index: 1;
// 		padding-top: 1rem; // room for logo
// 		padding-bottom: 4rem; // room for fixed player bottom
// 		border: 0;
// 	}
// }
// .Playlist-body {
// 	@media (min-width: $layout-m) {
// 		margin-top: 2rem;
// 		margin-left: $sidebarWidth;
// 	}
// }
// .Playlist-avatar {
// 	width: 5rem;
// 	float: right;
// 	margin-bottom: 1rem;
// 	margin-left: 1rem;

// 	// bring Facts and Avatar on same line
// 	@media (min-width: $layout-s) {
// 		width: 8.6rem;
// 		float: left;
// 		margin-left: 0;
// 		margin-right: 1rem;
// 	}
// 	@media (min-width: $layout-m) {
// 		width: 100%;
// 		margin-right: 0;
// 	}
// }
// .Playlist-title {
// 	@media (min-width: $layout-m) {
// 		margin-top: 2rem;
// 	}
// }
// .Playlist-description {}


