/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
	transform: translateY(100%);
	transition: all 400ms $easing5;

	&.is-active {
		transform: translateY(0);
	}
}

// Controls
.Controls {

	// items in one row, no wrapping
	// and no space in the sides, just between
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	min-height: $barHeight;
	background-color: $primary-color;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	box-shadow: 0 -1px 2px hsla(0, 0%, 0%, 0.3);

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}

	// icon size here
	.Button {
		font-size: 20px;
	}
}

.Controls-buttons {
	// no shrinking so icons would wrap
	flex-shrink: 0;
	display: flex; // this works

	.Btn--text {
		padding: 0;
		color: $bleach;
		@media (min-width: $layout-s) {
			font-size: 2rem;
		}
	}
}

.Controls-title {
	@include size-1;
	order: 2;
	@media (min-width: rem(530)) {
		font-size: initial;
	}

	a {
		display: block;
		&.is-active {
			text-decoration: none;
		}
	}
}

.Controls-videoBtn {
	order: 3;
	color: $bleach;
}
