/**
 * Playlist
 */

.PlaylistDetail {
	position: relative;
	z-index: 2; // above the player
	transition: transform 600ms $easing, opacity 600ms $easing;
	.Container {
		padding-left: 0;
		padding-right: 0;
	}

	// initial state
	transform: scale(1);
	.Application .is-maximized & {
		transform: scale(0.85);
		opacity: 0;
	}
}
