/**
 * Player
 */

// Controls
.Playback {
	display: flex;
	flex-flow: row nowrap; // items in one row, no wrapping
	align-items: stretch; // full-height children
	justify-content: space-between; // distribute items

	.Bar--bottom & {
		min-height: rem($bar-height + $progress-height);
		padding-bottom: rem($progress-height);
	}

	// icon size here
	.Btn {
		border-width: 0;
	}
	[class^="icon-"],
	[class*=" icon-"] {
		margin-right: 0;
	}
	a {
		color: $bleach;
	}
}
.Playback-welcomeLink {
	margin-top: auto;
	margin-left: 1rem;
	margin-bottom: auto;
}
.Playback-title {
	@include size-1;
	order: 2;
	display: flex;
	align-items: center;

	a {
		display: block;
	}
}
.Playback-buttons {
	// no shrinking to avoid icons scaling down
	flex-shrink: 0;
	display: flex; // this works
	margin-right: 0.5rem;

	.NonBtn {
		align-content: center;
		display: flex;
		font-size: 1.9rem;
	}
	.Btn--text {
		padding: 0;
		font-size: 2rem;
		color: $bleach;
	}
	.Playback-shuffle {
		font-size: 1.5rem;
		display: flex;
		align-self: center;
		padding-left: 1rem;
		padding-right: 1rem;
		opacity: 0.4;
		&.is-active {
			opacity: 1;
		}
	}
	.Playback-toggleVolume {
		margin-left: 1rem;
		font-size: rem(16);
	}
}
.Playback-fullscreenBtn {
	order: 3;
	font-size: 1.4rem;
	padding-right: 1rem;

	svg {
		vertical-align: middle;
	}
}

// Animate buttons that should only be visible when the player is ready.
.Playback-title,
.Playback-buttons,
.Playback-toggleVolume,
.Playback-fullscreenBtn {
	transition: opacity 300ms $easing;
	.is-withoutPlayer & {
		opacity: 0;
		pointer-events: none;
		transform: scale(0.95);
	}
}
