/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	transition: all 400ms $easing5;
	transform: translateY(-100%);
	&.is-active {
		transform: translateY(0);
	}
}

// Controls
.Controls {
	padding: rem(4) 4rem rem(4) 1rem;
	overflow: auto;
	background-color: $beautifulblue;
	color: $text-color-invert;
	border-bottom: 1px solid hsl(0, 0%, 60%);
}
.Controls-buttons {
	float: left;
	margin-right: 0.5rem;
}

// Container for the embeds
.Player {
	background-color: darken($primary-color,12%);
	// width: 210px;
	height: 80px;

	// animate
	margin-top: -80px;
	transition: margin 600ms $easing5;
	&.is-maximized {
		margin-top: 0;
	}
	// the youtbe iframe
	iframe {
		max-width: 210px;
		width: 100%;
		height: 100%;
	}
}
.Controls-state {
	margin-right: 0.5rem;
	@media (max-width: $layout-s) {
		display: none;
	}
}
.Controls-title,
.Controls-state {
	position: relative;
	top: 0.65em;
}
.PlayerBtn {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 0;
	padding: 6px 0 0 3px;
	background-color: transparent;
	&:hover,
	&:focus {
		background-color: darken($primary-color,16%);
	}
}
