/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;
	// transition: all 400ms $easing;
	// transform: translateY(100%);
	// &.is-active {
	// 	transform: translateY(0);
	// }
}

// Controls
.Controls {
	padding: 0.6rem 1rem;
	overflow: auto;
	background-color: $primary-color;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
}
.Controls-title {
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
	text-align: center;
}
.Controls-buttons {
	text-align: center;
	a:hover {
		text-decoration: none;
	}
}

// Container for the embeds
.Player {
	width: 150px;
	height: 150px;
	max-width: 100%;
	max-height: 100%;
	background-color: darken($primary-color,12%);
	// animate
	transform: translateX(-100%);
	transition: transform 600ms $easing, width 600ms $easing, height 600ms $easing;
	&.is-maximized {
		transform: translateX(0);
		width: 400px;
		height: 400px;
	}
	// the youtube iframe
	iframe {
		width: 100%;
		height: 100%;
	}
}

// Round buttons used on player etc.
.PlayerBtn {
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border: 0;
	padding: 6px 0 0 3px;
	background-color: transparent;
	&:hover,
	&:focus {
		outline: none;
		background-color: darken($primary-color,16%);
	}
}
.PlayerBtn--playlist { padding-left: 0; }
.PlayerBtn--toggle { padding: 4px 0 0 0; }
.PlayerBtn--pause { padding: 6px 0 0 3px; }
.PlayerBtn--play { padding: 6px 0 0 4px; }
