/**
 * Playlist
 */

.Playlist {
	z-index: 2;
	position: relative;
	padding-top: 16px;
	transition: all 500ms $easing;
	&.Container {
		background-color: $bg-color;
	}
	.Title {
		font-size: 1rem;
	}
	.Body {
		color: $text-color;
	}

	&:hover {
		text-decoration: none;
		.Title {
			text-decoration: underline;
		}
	}
}
.Playlist-header {
	.Btn--danger {
		float: right;
	}
}
.Playlist-title {
}
.Playlist-desc {
	margin-bottom: 1rem;
}
.Playlist-body {}
