/**
 * Playlist
 */

.Playlist--detail {
	position: relative;
	z-index: 2; // above the player
	// transition: transform 600ms $easing, opacity 600ms $easing;
	// transform: scale(1);
	// .Application .is-maximized & {
	// 	transform: scale(0.85);
	// 	opacity: 0;
	// }
}
.Playlist-header {
	padding-top: rem(50);
	margin-bottom: rem(36);
	background-color: $lightgray;
}
.Playlist-add {
	margin-top: -100px; // so add track overlaps description: lulz?!
}
.Playlist-title {
	@media (min-width: $layout-m) {
		@include size-5;
	}
}
.Playlist-description {
	position: relative;
	text-align: left;
	@extend %font-regular;
}
.Playlist-body {
	margin-bottom: 2rem;
}
.LastUpdate {
	@extend %font-regular;
}
