/**
 * PlaybackExternal
 */

// .PlaybackExternal {}

.PlaybackExternal-action:hover {
	cursor: pointer;
}

radio4000-player {
	height: 100vh !important;
}

radio4000-player .Layout {
	// Because it's fixed to bottom.
	border-top: 0 !important;
	border-bottom: 0 !important;
}

radio4000-player .Btn {
	min-height: initial;
}
