/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;

	// bottom aligned for tocuh
	.touch & {
		top: initial;
		bottom: 0;
	}
}

// Controls
.Controls {
	min-height: 53px;
	z-index: 3;
	position: relative;
	overflow: auto;
	background-color: $primary-color;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	box-shadow: 0px -1px 2px hsla(0, 0%, 0%, 0.3);

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}

}
.Controls-title {
	text-align: center;
	a {
		display: block;
		line-height: 53px;
		// padding-top: 0.4em; // centered vertically
		// padding-bottom: 0.2em; // and same height as top bar
		&.is-active {
			text-decoration: none;
		}
	}
}
.Controls-buttons {
	position: absolute;
	left: 1rem;
	top: 0.3rem;

	a:hover {
		text-decoration: none;
	}
	.Btn--text {
		font-size: 2rem;
		padding: 0 0.1em;
		color: $bleach;
	}
}
.Controls-videoBtn {
	// float: right;
	font-size: 1.3rem;
	position: absolute;
	top: 0.4em;
	right: 0.2rem;
	color: $bleach;
}

// Container for the embeds
.Player {
	position: fixed;
	right: 0;
	bottom: 53px; // bar height
	width: 100px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	// background-color: darken($primary-color,12%);
	// transform: translateX(100%);
	// animate
	transition: all 600ms $easing;
	// the youtube iframe
	iframe {
		width: 100%;
		height: 100%;
	}
	@media (min-width: $layout-m) {
		// width: 100%;
		// height: 100%;
		width: 200px;
		height: 200px;
		transform: translateZ(0);
	}
}

.Application {
	// initial state
	.Player {}
	.Playlist {
		transform: scale(1);
	}
	// maximized state
	&.is-maximized {
		.Player {
			width: 100%;
			height: 100%;
			transform: translate3d(0,0,0);
		}
		.Playlist {
			transform: scale(0.85);
			opacity: 0;
		}
	}
}
