/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	backface-visibility: hidden;

	// bottom aligned for tocuh
	.touch & {
		top: initial;
		bottom: 0;
	}
}

// player states effects

.Application {
	&.Player-is-minimized {
		.Player {
		}
		.Playlist {
			transform: scale(1);
		}
	}
	&.Player-is-maximized {
		.Player {
			height: 100%;
			width: 100%;
		}
		.Playlist {
			transform: scale(0.9);
			opacity: 0;
		}
	}
}

// Controls
.Controls {
	z-index: 3;
	position: relative;
	padding: 0.7rem 1rem 0.7rem 60px;
	overflow: auto;
	background-color: $primary-color;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	box-shadow: 0px -1px 2px hsla(0, 0%, 0%, 0.3);

	a {
		color: $bleach;
		&.is-active {
			text-decoration: underline;
		}
	}

}
.Controls-title {
	text-align: center;
	a {
		display: block;
		// margin-bottom: 0.5em;
		&.is-active {
			text-decoration: none;
		}
	}
}
.Controls-buttons {
	text-align: center;
	a:hover {
		text-decoration: none;
	}
	.Btn--text {
		font-size: 2rem;
		padding: 0 0.1em;
		color: $bleach;
	}
	.Controls-videoBtn {
		// float: right;
		font-size: 1.3rem;
		position: absolute;
		top: 0.8em;
		right: 1rem;
	}
}

// Container for the embeds
.Player {
	position: fixed;
	right: 0;
	bottom: 0;
	// bottom: 100px; // height of the bottom bar
	width: 100px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	background-color: darken($primary-color,12%);
	// transform: translateX(100%);
	// animate
	transition: all 400ms $easing;
	// the youtube iframe
	iframe {
		width: 100%;
		height: 100%;
	}
	@media (min-width: $layout-m) {
		width: 250px;
		height: 250px;
	}
}
