.u-row {
	display: flex;
	flex-wrap: wrap;
}

.Search {
	flex: 100%;

	@media (min-width: $layout-m) {
		flex: 0 1 14rem;
		margin-left: auto;
		margin-right: 1rem;
	}
}

.Search-input {
	padding: 0.3rem 0.5rem;
}

