.Search {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.Search-input {
	margin-bottom: 0;
	flex-basis: rem(420);
	// Avoid double-border.
	margin-right: -1px;
}
.Search-btn {}
.Search-toggle {
	margin-left: auto;
	// Avoid button 'jumping' when changing text inside.
	flex-basis: 68px;
}
