/**
* Tabs
**/

.Tabs {
	display: flex;
	flex-flow: row nowrap;
	background-color: $superlightgray;
	text-align: center;
}

.Tabs-item {
	flex: 0 1 10em; // grow and shrink and attempt to have the same width
	padding: 1em 0.5em 0.4em;
	border-bottom: 4px solid transparent;
	transition: border-bottom-color 400ms $easing;
	color: $black;

	&:hover,
	&:focus {
		border-bottom-color: $bg-color;
		text-decoration: none;
	}
	&:active {
		border-bottom-color: $secondary-color;
		text-decoration: none;
	}
	&.is-active {
		@extend %font-bold;
		@include negative-text;
		border-bottom: 4px solid $secondary-color;
	}
}
