/**
 * Tabs
 by default they are boxed and vertical.
 Use a modifier if you need them horizontal.
 */

.Tabs {
	display: flex;
	flex-flow: column wrap;
	flex-shrink: 0;
	margin-bottom: 1rem;

	// A bit of depth.
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	// so it is always over full screen backgrounds
	// like .Manchet
	position: relative;
	z-index: 1;
}

.Tabs-item {
	background-color: $superlightgray;
	margin-bottom: 0;
	padding: 0.7em 1rem 0.5em;
	text-align: left;
	color: $text-color;
	border-radius: $border-radius;
	border-right: 3px solid transparent;
	transition: border-color 260ms $easing, border-bottom-color 200ms $easing, background-image 200ms $easing;

	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	&.is-active {
		@extend %font-bold;
		border-right-color: $primary-color;
		background-color: $superlightgray;
		.Muted {
			font-weight: normal;
		}
	}

	&.Tabs-item--transparent {
		background-color: transparent;
	}
}

.Tabs-divider {
	margin-top: auto;
	margin-bottom: auto;
	color: $slightgray;
}

/**
 * Modifiers
 */
.Tabs--vertical {
	.Tabs-item:focus {
		border-right-color: rgba($primary-color, 0.5);
	}

	.Tabs-item.BtnGroup {
		padding-left: 0;
	}
}

.Tabs--horizontal {
	display: inline-flex;
	flex-flow: row nowrap;
	margin-bottom: 0;

	.Tabs-item {
		white-space: nowrap;
		border-right: 0;
		border-radius: 0;
		border-bottom: 3px solid transparent;

		&:focus {
			border-bottom-color: rgba($primary-color, 0.5);
		}

		&.is-active {
			border-right: 0;
			border-bottom: 3px solid $primary-color;
		}

		@media (max-width: $layout-s) {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		@media (min-width: $layout-s) {
			min-width: 7rem;
			text-align: center;
		}
	}

	.Tabs-item:first-child {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	.Tabs-item:last-child {
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}

	// When more are next to each other, add spacing.
	& + & {
		margin-left: 0.2em;
	}
}

.Tabs--smaller {
	font-size: 0.9em;
}

.Tabs--transparent {
	background-color: transparent;
	box-shadow: none;

	.Tabs-item {
		background-color: transparent;
		min-width: 5em;
	}
}

.Btn + .Tabs {
	// when a button is before tabs, add some space between.
	margin-left: 0.5em;
}
