/**
 * Tabs
	by default they are boxed and vertical.
	Use a modifier if you need them horizontal.
 */
.Tabs {
	display: flex;
	flex-flow: column wrap;
	flex-shrink: 0;

	// A bit of depth.
	border-top: 1px solid hsl(0, 0%, 85%);
	border-left: 1px solid hsl(0, 0%, 80%);
	border-right: 1px solid hsl(0, 0%, 80%);
	background-color: $superlightgray;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	// When several tabs follow each other.
	& + .Tabs {
		margin-top: 3px;
	}
}

.Tabs--transparent {
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
}

.Tabs-item {
	display: inline-block;
	padding: 0.8em 1rem 0.5em;
	color: $text-color;
	border-right: 3px solid transparent;
	transition: border-right-color 200ms $easing, border-bottom-color 200ms $easing, background-image 200ms $easing;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	&.is-active {
		@extend %font-bold;
		border-right-color: $secondary-color;
		background-color: $superlightgray;
	}
}

.Tabs-item small {
	font-size: rem(9);
	text-transform: uppercase;
	font-weight: 400;
}

.Tabs-divider {
	margin: auto;
	color: $slightgray;
}

/**
 * Modifiers
 */

.Tabs--horizontal {
	flex-flow: row wrap;
	text-align: center;

	@media (min-width: $layout-s) {
		max-width: 90%;
	}

	.Tabs-item {
		border-radius: $border-radius;
		flex-grow: 1;
		border-right: 0;
		border-bottom: 3px solid transparent;

		&.is-active {
			border-right: 0;
			border-bottom: 3px solid $secondary-color;
		}

		// equal widths
		@media (min-width: $layout-m) {
			flex: 1;
		}
	}
}

.Tabs--centered {
	justify-content: center;
}

// Used where the background is considered "higher",
// for instance on a light bg as channel header.
.Tabs--lighter {
	border: 0;
	border-left: 0;
	border-right: 0;
	box-shadow: none;
	max-width: none;
	background-color: $superlightgray;

	.Tabs-item.is-active {
		background-color: $superlightgray;
	}
}

// Animated border
.Tabs--animated {
	.Tabs-item {
		// contain the border
		position: relative;

		// remove previous borders
		border-bottom: 0 !important;

		// align border vertically with same height as other tabs,
		// stupid but yes.
		padding-top: rem(4);
		padding-bottom: 0;
		line-height: 2.3;
	}

	// the (hidden) border
	.Tabs-item::after {
		content: "";
		display: block;
		margin: auto;
		height: 3px;
		width: 0;
		background: $secondary-color;
		transition: width 400ms $easing;
	}

	// the visible border
	.Tabs-item.is-active::after {
		width: 100%;
	}
}

.Tabs > .Btn--important {
	// A bit of space around the button
	margin: 0.5rem;
}

