/**
 * Tabs
	by default they are boxed and vertical.
	Use a modifier if you need them horizontal.
 */
.Tabs {
	display: inline-flex;
	flex-flow: column wrap;
	flex-shrink: 0;

	// A bit of depth.
	border: 1px solid $mediumlightgray;
	border-radius: $border-radius;
	// box-shadow: $box-shadow;

	// so it is always over full screen backgrounds
	// like .Manchet
	position: relative;
	z-index: 1;

	// When several tabs follow each other.
	& + .Tabs:not(.Tabs--horizontal) {
		margin-top: 3px;
	}
}

.Tabs-item {
	background-color: $superlightgray;
	margin-bottom: 0;
	padding: 0.8em 1rem 0.5em;
	color: $text-color;
	border-radius: $border-radius;
	border-right: 3px solid transparent;
	transition: border-color 260ms $easing, border-bottom-color 200ms $easing, background-image 200ms $easing;

	&,
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}

	&.is-active {
		@extend %font-bold;
		border-color: $primary-color;
		background-color: $superlightgray;
	}
	& small {
		font-size: rem(9);
		text-transform: uppercase;
		font-weight: 400;
	}
	&.Tabs-item--transparent {
		background-color: transparent;
	}
}

.Tabs .BtnGroup {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.Tabs-divider {
	margin-top: auto;
	margin-bottom: auto;
	color: $slightgray;
}

/**
 * Modifiers
 */

.Tabs--horizontal {
	flex-direction: row;
	text-align: center;

	@media (min-width: $layout-s) {
		max-width: 90%;
	}

	.Tabs-item {
		white-space: nowrap;
		border-right: 0;
		border-radius: 0;
		border-bottom: 3px solid transparent;

		&.is-active {
			border-right: 0;
			border-bottom: 3px solid $primary-color;
		}

		// equal widths (not on mobile to save space)
		// @media (min-width: $layout-m) {
		// 	flex: 1;
		// }

		@media (max-width: $layout-s) {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
	}

	.Tabs-item:first-child {
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
	}

	.Tabs-item:last-child {
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}
}

.Tabs--centered {
	justify-content: center;
}

// Used where the background is considered "higher",
// for instance on a light bg as channel header.
.Tabs--lighter {
	border: 0;
	border-left: 0;
	border-right: 0;
	box-shadow: none;
	max-width: none;
	background-color: $superlightgray;

	.Tabs-item.is-active {
		background-color: $superlightgray;
	}
}

// Animated border
.Tabs--animated {
	.Tabs-item {
		// contain the border
		position: relative;

		// remove previous borders
		border-bottom: 0 !important;

		// align border vertically with same height as other tabs,
		// stupid but yes.
		padding-top: rem(4);
		padding-bottom: 0;
		line-height: 2.3;
	}

	// the (hidden) border
	.Tabs-item::after {
		content: "";
		display: block;
		margin: auto;
		height: 3px;
		width: 0;
		background: $primary-color;
		transition: width 400ms $easing;
	}

	// the visible border
	.Tabs-item.is-active::after {
		width: 100%;
	}
}

.Tabs--transparent {
	border: 0;
	background-color: transparent;

	.Tabs-item {
		background-color: transparent;
	}
}

