.Tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	a {
		padding: 0.2rem;
		margin-right: 0.4rem;
	}
	label {
		margin-right: 0.5rem;
	}
}

.Tags--vertical {
	flex-direction: column;
	a {
		margin-bottom: 0.4rem;
	}
}


.Tag {
  background-color: $slightgray;
  padding: 0.5rem;
  margin: 0.2rem;
  margin-right: 0.6rem;
}
