.Thumbnail {
	position: relative;
	width: 100%;
	height: 100px;
	@media (min-width: $layout-s) {
		height: 200px;
	}
	margin-bottom: 2rem;
	background-color: $beautifulblue;
	background-size: cover;
	background-position: 50%;

	img {
		vertical-align: bottom;
		min-height: 98px; // hacky doesn't really work but image should be at least the height of title + btn groups
		transition: filter 400ms;
	}
	&:hover {
		img {
			filter: brightness(1.1);
		}
		svg {
			background-color: rgba(255, 255, 255, 0.33);
			border-color: rgba(255, 255, 255, 0.6);
		}
	}
}
.Thumbnail-button {
	// reset button
	background-image: none;
	background-color: transparent;
	border: 0;
	// centered
	position: absolute;
	z-index: 1;
	font-size: 4rem;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 1.9;
	color: hsl(0, 100%, 100%);
	&:focus {
		outline: 0px solid white;
	}
	svg {
		border: 1px solid transparent;
		border-radius: 4px;
		transition: 300ms background ease-in-out, 200ms border-color ease-in-out, ;
	}
}
