.Thumbnail {
	position: relative;
	width: 100%;
	height: 100px;
	// background-color: $blue;
	background-color: $darkblue;
	// background-color: $verydarkblue;
	background-size: contain;
	background-position: 50%;
	background-repeat: repeat;
	margin-bottom: 0;
	@media (min-width: $layout-s) {
		height: 150px;
	}
	@media (min-width: $layout-m) {
		height: 200px;
	}

	img {
		vertical-align: bottom;
		min-height: 98px; // hacky doesn't really work but image should be at least the height of title + btn groups
		transition: filter 400ms;
	}

	transition: -webkit-filter 400ms, -moz-filter 400ms, filter 400ms;
	&:hover {
		// -moz-filter: brightness(1.1);
		// -webkit-filter: brightness(1.1);
		// filter: brightness(1.1);
		// .Thumbnail-button {
		// 	background-color: rgba(0, 0, 0, 0.3);
		// }
	}
}
.Thumbnail-bg {
	position: absolute;
	z-index: 1;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 200ms;
}
.Thumbnail-button {
	// reset button styles
	background-image: none;
	background-color: transparent;
	border: 0;
	// centered
	position: absolute;
	z-index: 4;
	font-size: 4rem;
	top: 50%; left: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 1.9;
	color: hsl(0, 100%, 100%);

	&:focus {
		outline: 0;
	}
	svg {
		float: left;
		transition: 300ms;
	}
}

.EditImage {
	position: absolute;
	z-index: 2; // above thumbnail button
	height: 100%;
	width: 200px;
	margin-bottom: 0;

	&.is-editingImage {
		.Form {
			background-color: rgba(#fff, 0.8);
			opacity: 1;
			transform: translateX(0);
		}
		.Form-group {
			opacity: 1;
		}
	}

	.Form {
		transition: background-color 200ms, transform 300ms;
		padding: 1rem 1rem 0;
		transform: translateX(-100%);
	}
	.Form-group {
		opacity: 0;
		transition: opacity 300ms 300ms;
		&:last-child {
			transition-delay: 350ms;
		}
	}
}
.EditImage-btn {
	background: none;
	border: 0;
	font-size: 2rem;
	padding: 0.8rem;
	color: #fff;
	// only show edit image button on hover
	transition: opacity 300ms, transform 400ms $easing;
	opacity: 0.4;
	transform-origin: 50%;
	transform: scale(0.95);
	&:hover {
		opacity: 1;
		transform: scale(1);
	}
	&:focus {
		outline: 0;
	}
}
