// Button that toggles our nav-panel

.TogglePanel {
	font-size: 2rem;
	padding-left: 1rem;
	padding-right: 1.2rem;
	border: 0;
	background: none;
	color: $white;
	user-select: none;
	transition: 400ms transform $easing;
	transform-origin: 45% 50%; // so it feels like it stays in place
	align-self: center;

	&:hover,
	&:active {
		outline: none;
		text-decoration: none;
	}
	&:active {
		color: $red;
	}
}
.TogglePanel-square {
	display: block;
	width: 5px;
	height: 5px;
	margin: 3px auto;
	// border-radius: 50%;
	background-color: white;
}
.TogglePanel-text {
	display: none;
}
