// Button that toggles our nav-panel

.TogglePanel {
	font-size: 2rem;
	padding-top: 0;
	padding-right: 1rem;
	padding-bottom: 0;
	padding-left: 0.5rem;
	border: 0;
	background: none;
	color: $white;
	user-select: none;
	transition: 400ms transform $easing;
	transform-origin: 45% 50%; // so it feels like it stays in place
	&:hover,
	&:active {
		outline: none;
		text-decoration: none;
	}
	&:hover {
		cursor: pointer;
	}
	&:active {
		color: $red;
	}
	.is-panelOpen & {
	}

	.TogglePanel-square {
		width: 5px;
		height: 5px;
		background-color: white;
		margin-top: 4px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
