// Button that toggles our nav-panel

.TogglePanel {
	font-size: 2rem;
	padding: 0.9rem 1rem 0.8rem;
	border: 0;
	background: none;
	color: $white;
	user-select: none;
	transition: 400ms transform $easing;
	transform-origin: 45% 50%; // so it feels like it stays in place

	@media (min-width: $layout-s) {
		padding-right: 2rem; // same as container
	}

	&:hover,
	&:active {
		outline: none;
		text-decoration: none;
	}
	&:active {
		color: $red;
	}
	// active state
	.is-panelOpen & {}
}
.TogglePanel-square {
	display: block;
	width: 5px;
	height: 5px;
	margin: 3px auto;
	// border-radius: 50%;
	background-color: white;
}
