/**
 * Single track
 */

.Track {
	@include size-1;
	position: relative;
	overflow: hidden; // hide controls

	.icon-play {
		position: absolute;
		left: 0.8em;
		top: 1em;
		display: none;
	}
}

.Track-title {
	@extend %font-regular;
	@include size-1;
}
.Track-description {
	color: $gray;
	font-style: italic;
}
.Track-link,
a.Track-link { // Link surrounding the track
	border-left: 5px solid transparent;
	padding-right: rem(60);
	color: $text-color;
	transition: border-color 250ms $easing;
}

// Track edit button
.Track-controls {
	@include size-1;
	cursor: pointer;
	position: absolute;
	top: 0.26em;
	right: 1rem;
	padding: em(4,13) em(7,13) em(3,13);
	margin: 0;

	.icon-pencil {
		color: $mediumgray;
		.Track:hover & {
			color: $text-color;
		}
	}
}

// Active state
.Track.is-current {
	.Track-link,
	a.Track-link {
		background-color: $white;
		border-left-color: $red;
		// color: white;
	}
	.Track-description {
		// color: white;
	}
	.icon-play {
		display: block;
	}
}

// Edit state
.Track.is-editing {
	background-color: $superlightgray;
	box-shadow: $lighterblue 0 0 10px;
	.Track-link:hover {
		background-color: transparent;
		background-image: none;
	}
}
