/**
 * Single track
 */

.Track {
	@include size-1;
	display: flex;
	position: relative;
	overflow: hidden; // hide controls
	// define empty borders so it doesn't jump
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;

	.icon-play {
		position: absolute;
		left: 0.46em;
		top: 1em;
		display: none;

		@media (min-width: $layout-s) {
			left: 0.8em;
		}
	}

	&:hover,
	&:focus {
		background-color: hsla(0, 100%, 100%, 0.3);
	}
}

// Active state
.Track.is-current {}

// Conflicts with is-current border
.Track--live {
	background-color: $white;

	&:hover,
	&:focus {
		background-color: $white;
	}

	&::before {
		background-color: $primary-color;
		position: absolute;
		top: 50%;
		left: -0.5rem;
		height: 0.75rem;
		width: 0.75rem;
		display: block;
		content: "";
		border-radius: 50%;
		transform: translateY(-50%);

		@media (min-width: $layout-s) {
			left: 0.5rem;
		}
	}
}

.Track--played {
	border-right-color: $white;
}
.Track--finished {
	border-right-color: $green;
}

// Edit state
.Track.is-editing {
	background-color: $superlightgray;
	box-shadow: $lighterblue 0 0 10px;

	.Track-link:hover {
		background-color: transparent;
		background-image: none;
	}

	.Track-link,
	.Track-controls {
		display: none;
	}
}

.Track-link {
	flex-grow: 1;
}

.Track-contextual {
	align-self: flex-start;
}

.Track-title {
	@extend %font-regular;
	@include size-1;
	margin-bottom: 0;
}

.Track-body {
	color: $gray;
	font-style: italic;
	margin-bottom: 0;
	word-break: break-word;

	&:empty {
		display: none;
	}
}

// Link surrounding the track.
.Track-link,
a.Track-link {
	border-left: 3px solid transparent;
	padding-right: rem(60);
	color: $text-color;
	transition: border-color 250ms $easing;
}

