/**
 * Single track
 */

.Track {
	@include size-1;
	position: relative;
	overflow: hidden; // hide controls

	.icon-play {
		position: absolute;
		left: 0;
		top: 0.7em;
		display: none;
	}

	&.is-current {
		// background-color: $superlightgray;
	}
}
.Track-title {
	@extend %font-regular;
	@include size-1;
}
.Track-description.Track-description { // extra specificity
	color: $gray;
	font-style: italic;
}
.Track-link,
a.Track-link { // Link surrounding the track
	// border-left: 4px solid transparent;
	padding-right: rem(60);
	color: $text-color;
	// transition: border 250ms $easing5;
}

// Track edit button
.Track-controls {
	@include size-1;
	cursor: pointer;
	position: absolute;
	top: 0.26em;
	right: 1rem;
	padding: em(4,13) em(7,13) em(3,13);
	margin: 0;

	.icon-pencil {
		color: $mediumgray;
		.Track:hover & {
			color: $text-color;
		}
	}
}

// Active state
.Track.is-current {
	.Track-link,
	a.Track-link {
		// border-left-color: $primary-color;
		padding-left: 1rem;
	}
	.icon-play {
		display: block;
	}
}

// Edit state
.Track.is-editing {
	background-color: #fff;
	box-shadow: $lighterblue 0 0 10px;
	.Track-link:hover {
		background-color: transparent;
		background-image: none;
	}
}
