/**
 * Single track
 */

.Track {
	@include size-1;
	display: flex;
	position: relative;
	border-bottom: 1px solid $lightgray;
	// Empty border to avoid jumps when indicating state.
	border-right: 2px solid transparent;

	.icon-play {
		position: absolute;
		left: 0.46em;
		top: 1em;
		display: none;

		@media (min-width: $layout-s) {
			left: 0.8em;
		}
	}

	&:hover {
		background-color: $superlightgray;
	}
}

// When you focus the contextual <select>,
// we actually use a button to indicate it.
.ContextualToggle-select:focus ~ .Btn--toggle span {
	background-color: black;
}

// Hidden purple dot.
.Track--live::before {
	display: block;
	height: 0.7rem;
	width: 0.7rem;
	content: "";
	border-radius: 50%;
	background-color: $primary-color;

	position: absolute;
	top: 50%;
	left: -0.5rem;
	transform: translateY(-50%);

	@media (min-width: $layout-s) {
		left: 0.5rem;
	}
}

.Track--live {
	background-color: $white;

	> a:hover,
	> a:hover + .Track-contextual {
		background-color: $white;
	}
}

.Track--played {
	border-right-color: $white;
}
.Track--finished {
	border-right-color: $green;
}
.Track--mediaNotAvailable {
	border-right-color: $red;
}

.Track-title {
	@extend %font-regular;
	@include size-1;
	margin-bottom: 0;
}

.Track-body {
	color: $gray;
	font-style: italic;
	margin-bottom: 0;
	word-break: break-word;

	&:empty {
		display: none;
	}
}

.Track-contextual {
	margin-left: auto;
	margin-bottom: auto;

	.Btn--toggle {
		pointer-events: none;
	}
}

/**
 * TracksList
 */

.TracksList.is-searching {
	.ListGroup {
		margin-bottom: 0;
	}

	.ListGroup-header {
		display: none;
	}
}
