/**
 * Single track
 */
.Track {
	@include size-1;
	position: relative;
	overflow: hidden; // hide controls
	// define empty borders so it doesn't jump
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;

	.icon-play {
		position: absolute;
		left: 0.46em;
		top: 1em;
		display: none;

		@media (min-width: $layout-s) {
			left: 0.8em;
		}
	}
}

// Active state
.Track.is-current {

}

// Conflicts with is-current border
.Track--live {
	.Track-link,
	a.Track-link {
		background-color: $white;

		&::before {
			background-color: $primary-color;
			position: absolute;
			top: 50%;
			left: 0.5rem;
			height: 1rem;
			width: 1rem;
			display: block;
			content: "";
			border-radius: 50%;
			transform: translateY(-50%);
		}
		// border-left-color: $primary-color;
	}
}
.Track--played {
	border-right-color: $white;
}
.Track--finished {
	border-right-color: $green;
}

// Edit state
.Track.is-editing {
	background-color: $superlightgray;
	box-shadow: $lighterblue 0 0 10px;

	.Track-link:hover {
		background-color: transparent;
		background-image: none;
	}

	.Track-link,
	.Track-controls {
		display: none;
	}
}

.Track-title {
	@extend %font-regular;
	@include size-1;
	margin-bottom: 0;
}

.Track-body {
	color: $gray;
	font-style: italic;
	margin-bottom: 0;
	word-break: break-word;

	&:empty {
		display: none;
	}
}

// Link surrounding the track.
.Track-link,
a.Track-link {
	border-left: 3px solid transparent;
	padding-right: rem(60);
	color: $text-color;
	transition: border-color 250ms $easing;

	.Widget-container & {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

// Track edit button.
.Track-controls {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 1.5rem em(3, 13) 0.5rem;
	margin: 0;
}
