/**
 * Single track
 */

.Track {
	@include size-1;
	position: relative;
	overflow: hidden; // hide controls

	.icon-play {
		position: absolute;
		left: 0.46em;
		top: 1em;
		display: none;
		@media (min-width: $layout-s) {
			left: 0.8em;
		}
	}
}

.Track-title {
	@extend %font-regular;
	@include size-1;
	margin-bottom: 0;
}
.Track-body {
	color: $gray;
	font-style: italic;
	margin-bottom: 0;

	&:empty {
		display: none;
	}
}
.Track-link,
a.Track-link { // Link surrounding the track
	border-left: 5px solid transparent;
	padding-right: rem(60);
	color: $text-color;
	transition: border-color 250ms $easing;
}

// Track edit button
.Track-controls {
	@include size-1;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 1.5rem em(3,13) 0.5rem;
	margin: 0;

	// only show for users who can edit
	// this is to avoid an if
	display: none;
	.canEdit & { display: block; }

	.icon-pencil {
		color: $mediumgray;
		.Track:hover & {
			color: $text-color;
		}
	}
}

// Active state
.Track.is-current {
	.Track-link,
	a.Track-link {
		background-color: $white;
		border-left-color: $secondary-color;
		// color: white;
	}
	.Track-body {
		// color: white;
	}
	.icon-play {
		display: block;
	}
}

// Edit state
.Track.is-editing {
	background-color: $superlightgray;
	box-shadow: $lighterblue 0 0 10px;

	.Track-link:hover {
		background-color: transparent;
		background-image: none;
	}

	.Track-link,
	.Track-controls {
		display: none;
	}
}
