/**
 * Unique Track
 */

.Track {
	@include size-1;
	position: relative;
	overflow: hidden; // hide controls

	.Track-description {
		color: $gray;
		font-style: italic;
	}
}
.Track.is-editing {
	background-color: $mediumgray;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: $lightbeautifulblue 0px 0px 30px;
	.Track-link:hover {
		background-image: none;
	}
}


.Track-link {
	border-left: 4px solid transparent;
	transition: border 250ms $easing5;
	color: $text-color;

	&.is-active {
		border-left-color: $primary-color;
		padding-left: rem(10);
		// playing indicator
		.Track-title:before {
			content: ''; // ►
			display: inline;
			font-size: 10px;
			position: absolute;
			left: 0.5rem;
			top: 50%;
			margin-top: -0.5em;
			text-decoration: none;
		}
	}
}
.Track-title {
	@extend %font-regular;
}

// TRACK EDIT BUTTON
.Track-controls {
	cursor: pointer;
	position: absolute;
	top: rem(7);
	right: 1rem;
	padding: em(4,13) em(7,13) em(3,13);
	@include size-1;
	color: $lightgray;
}
