/**
 * Single track
 */

.Track {
	@include size-1;
	display: flex;
	position: relative;
	overflow: hidden; // hide controls
	border-bottom: 1px solid $lightgray;
	box-shadow: 1px 0 0 $mediumlightgray;

	// Empty border to avoid jumps when indicating state.
	border-right: 2px solid transparent;

	.icon-play {
		position: absolute;
		left: 0.46em;
		top: 1em;
		display: none;

		@media (min-width: $layout-s) {
			left: 0.8em;
		}
	}

	&:hover,
	&:focus {
		background-color: hsla(0, 100%, 100%, 0.3);
	}
}

.Track--live {
	background-color: $white;

	&:hover,
	&:focus {
		background-color: $white;
	}

	// Purple dot.
	&::before {
		background-color: $primary-color;
		position: absolute;
		top: 50%;
		left: -0.5rem;
		height: 0.75rem;
		width: 0.75rem;
		display: block;
		content: "";
		border-radius: 50%;
		transform: translateY(-50%);

		@media (min-width: $layout-s) {
			left: 0.5rem;
		}
	}
}

.Track--played {
	border-right-color: $white;
}
.Track--finished {
	border-right-color: $green;
}
.Track--mediaNotAvailable {
	border-right-color: $red;
}

.Track-title {
	@extend %font-regular;
	@include size-1;
	margin-bottom: 0;
}

.Track-body {
	color: $gray;
	font-style: italic;
	margin-bottom: 0;
	word-break: break-word;

	&:empty {
		display: none;
	}
}

.Track-contextual {
	margin-left: auto;
	align-self: flex-start;
}

/**
 * TracksList
 */

.TracksList.is-searching {
	.ListGroup {
		margin-bottom: 0;
	}

	.ListGroup-header {
		display: none;
	}
}
