.ProviderAccounts {
	margin-bottom: 1rem;
}

.ProviderAccount {
	display: flex;
	flex-direction: row;
	wrap: no-wrap;
	align-items: center;
	padding: 0.4rem 0.8rem;
	margin-bottom: 0.5rem;
	background-color: $slightgray;
	border-radius: $border-radius;
}

.ProviderAccount-media {
	width: 100%;
	max-width: 5rem;
	padding-right: 1rem;
}

.ProviderAccount-image {
	width: 100%;
	text-align: center;
}

.ProviderAccount-body {
	flex-grow: 2;
	padding-right: 1rem;
}
.ProviderAccount-id {
	margin-bottom: 0;
}

.ProviderAccount-inputs {
	margin-top: 0.5rem;
}
