.ProviderAccounts {
  padding-bottom: 1.3rem;
}
.ProviderAccount {
	display: flex;
	flex-direction: row;
	wrap: no-wrap;
	align-items: center;
	padding: 0.5rem;
	margin-bottom: 0.4rem;
	background-color: $slightgray;
}
.ProviderAccount-media {
	width: 100%;
	max-width: 5rem;
	padding-right: 1rem;
}
.ProviderAccount-image {
	width: 100%;
	text-align: center;
}
.ProviderAccount-body {
	flex-grow: 2;
}
.ProviderAccount-id,
.ProviderAccount-name {
	margin-bottom: 0;
}

.ProviderAccount-id {
	text-transform: capitalize;
}
