/**
 * Widgets
 **/

.Widgets {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.Widgets-separator {
   flex-basis: 100%;
}


.Widget {
   padding: 1rem;
   width: 100%;
   flex-basis: 100%;
   @media (min-width: $layout-sm) {
      width: 18rem;
      flex-basis: 18rem;
   }
}
.Widget--full {
   flex-basis: 100%;
}

/**
 * child
 **/

.Widget-container {
   background-color: $slightgray;
   padding-top: 0.5rem;
}
.Widget-title {
   text-align: center;
   &:hover {
      cursor: pointer;
   }
}
