<section class="Section">
		<div class="Container">
			<nav class="Tabs Tabs--transparent Tabs--horizontal">
				{{#link-to "settings.channel.index" class="Tabs-item"}}General{{/link-to}}
				{{#link-to "settings.channel.map" class="Tabs-item"}}Map{{/link-to}}
				{{#link-to "settings.channel.backup" class="Tabs-item"}}Backup{{/link-to}}
				{{#link-to "settings.channel.delete" class="Tabs-item"}}Delete{{/link-to}}
			</nav>
		</div>
</section>

{{outlet}}

{{title "Channel settings" replace=true}}
