<div class="Section Container">
	<p>Radio4000 is an open project. The improvements are made by the community, contributors to the user experiences.</p>
	<ul>
		<li>
			Find the <a href="https://github.com/internet4000/radio4000" target="_blank" rel="noopener">code on Github</a>
		</li>
		<li>
			Explore the <a href="https://api.radio4000.com" target="_blank" rel="noopener">API</a>
		</li>
		<li>
			News and updates on the
			<a href="http://blog.radio4000.com/" target="_blank" rel="noopener">blog</a>,
			<a href="https://twitter.com/radio4000" target="_blank" rel="noopener">twitter</a>,
			<a href="https://www.facebook.com/radio4000" target="_blank" rel="noopener">facebook</a>
		</li>
		<li>
			{{#link-to 'feedback' title="Send feedback about Radio4000"}}Send feedback{{/link-to}} if you have questions, bug reports, complaints, praises or ideas
		</li>
		<li>Come <a href="http://chat.radio4000.com" target="_blank" rel="noopener">chat with the community</a></li>
		<li>
			contact (a) radio4000.com
		</li>
	</ul>

	<h2>Privacy</h2>
	<p>Please see the <a href="https://github.com/internet4000/publications/blob/master/user-agreement-privacy-policy-terms-of-use.md" target="_blank" rel="noopener">user agreement, privacy policy and terms of use</a>.</p>

	<h2>Security</h2>
	<p>If you find a critical bug, please let us know at our email above. We will fix it as fast as possible and invite you for good times if you ever come to visit in Berlin. Cheers.</p>

	<h2>History</h2>
	<p>The project started effectively in 2013 with code written from around May 2014.</p>

	<h2>Technology, credits, integrations</h2>
	<ul>
		<li><a href="https://emberjs.com/" target="_blank" rel="noopener">Ember.js</a></li>
		<li><a href="https://vuejs.org/" target="_blank" rel="noopener">Vue.js</a></li>
		<li>
			Loads of <a href="https://github.com/internet4000/radio4000/blob/master/package.json" target="_blank" rel="noopener">vital</a>
			<a href="https://github.com/internet4000/radio4000-player-vue/blob/master/package.json" target="_blank" rel="noopener">free software</a>
			<a href="https://github.com/internet4000/radio4000-api/blob/master/package.json" target="_blank" rel="noopener">written and maintained</a>
			by the community (and many more giant shoulders, <a href="https://gnu.org" target="_blank" rel="noopener">gnu</a>, <a href="https://www.linuxfoundation.org/" target="_blank" rel="noopener">linux</a>)
		</li>
		<li>
			<a href="https://leafletjs.com" target="_blank" rel="noopener">Leaflet.js</a>
			+ <a href="https://opentopomap.org/about" target="_blank" rel="noopener">OpenTopoMap</a>
		</li>
		<li><a href="https://firebase.google.com/" target="_blank" rel="noopener">Firebase</a></li>
		<li><a href="https://www.algolia.com/" target="_blank" rel="noopener">Algolia</a></li>
		<li><a href="https://www.discogs.com/" target="_blank" rel="noopener">Discogs</a></li>
		<li>Good grooves</li>
	</ul>
</div>
