<div class="Section Container">
	<ul>
		<li>
			There is a <a href="http://blog.radio4000.com/" target="_blank" rel="noopener">blog</a> with some news and updates.
		</li>
		<li>
			{{#link-to 'feedback' title="Send feedback about Radio4000"}}Send feedback{{/link-to}} if you have any questions, bug reports, complaints, praises or ideas.
		</li>
		<li>
			You can also contact the team by email if that is also your thing, contact (a) radio4000.
		</li>
	</ul>

	<h2>Philosophy & Technology</h2>
	<p>
		Radio4000 and its technologies are <a href="https://github.com/internet4000/radio4000" target="_blank" rel="noopener">free software and open source</a>.
	</p>
	<p>
		Non exhaustive list:
	</p>
	<ul>
		<li>Ember.js</li>
		<li>Firebase</li>
		<li>Vue.js</li>
		<li>
			Loads of <a href="https://github.com/internet4000/radio4000/blob/master/package.json" target="_blank" rel="noopener">vital</a>
			<a href="https://github.com/internet4000/radio4000-player-vue/blob/master/package.json" target="_blank" rel="noopener">free software</a>
			<a href="https://github.com/internet4000/radio4000-embed-api/blob/master/package.json" target="_blank" rel="noopener">written and maintained</a>
			by the community (and many more giant shoulders, gnu, linux...)
		</li>
		<li>Good grooves</li>
	</ul>

	<h2>Security</h2>
	<p>If you find a critical bug, please let us know at our email above. We will fix it as fast as possible and invite you for good times if you ever come to visit in Berlin. Cheers.</p>

	<h2>History</h2>
	<p>The project has been started effectively in 2013, code written from 2014.</p>

	<h2>Jobs</h2>
	<p>
		We're always keen to hear from good spirits and minds. What do you want to do, learn, teach? Contact us.
	</p>
</div>
