<header class="Manchet">
	<h1>Contact<small> the team</small></h1>
</header>
<div class="Container">
	<p>We want your input! If you have any questions, bug reports, complaints, praises or ideas, please <a href="https://goo.gl/V5jlgk">send us feedback</a>.</p>
	<p>Radio4000 operates from Berlin and the world.<br>
		You can contact us directly at <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>.</p>
</div>
