{{!-- {{#if tags}}
	<div class="Container Section--space">
		<div class="CustomSelect">
			{{view "select" content=tags prompt="All tracks" value=filter}}
		</div>
	</div>
{{/if}} --}}

<ul class="List">
	{{#each sortedandfiltered as |track|}}
		<li>
			{{track-item track=track}}
		</li>
	{{/each}}
</ul>
