<ul class="List">
	{{#each sorted as |track|}}
		<li>
			{{track-item track=track
							 canEdit=canEdit
							 playback=playback
							 currentTrackComponent=currentTrackComponent}}
		</li>
	{{/each}}
</ul>
