<menu class="BtnGroup">
	{{view "select" content=tags prompt="All tags" value=filter}}
</menu>

<ul class="List">
	{{#each filtered as |track|}}
		<li>
			{{track-item track=track
							 canEdit=canEdit
							 playback=playback
							 currentTrackComponent=currentTrackComponent}}
		</li>
	{{/each}}
</ul>
