<div class="Sections">
	<div class="Manchet">
		<h1><small>About </small>music <small>and</small> people</h1>
	</div>
	<section class="Section Container">
		<div class="Tabs Tabs--horizontal Tabs--animated">
			{{#link-to 'about.intro' title="Get introduced to Radio4000" class="Tabs-item"}}Introduction{{/link-to}}
			{{#link-to 'about.contact' title="Contact us" class="Tabs-item"}}Contact{{/link-to}}
			{{#link-to 'about.technology' title="Technology stack" class="Tabs-item"}}Technology{{/link-to}}
			<a class="Tabs-item" href="http://blog.radio4000.com" target="_blank" title="How is the weather at Radio4000?">&rarr; Blog</a>
		</div>
	</section>
	<article class="Section">
		{{outlet}}
	</article>
</div>
