<div class="Sections">
	<section class="Section Container">
		<div class="Tabs Tabs--horizontal Tabs--animated">
			{{#link-to 'about.index' title="About Radio4000" class="Tabs-item"}}About{{/link-to}}
			{{#link-to 'about.contact' title="Contact us" class="Tabs-item"}}Contact{{/link-to}}
			{{#link-to 'about.technology' title="Technology stack" class="Tabs-item"}}Technology{{/link-to}}
		</div>
	</section>
	<article class="Section">
		{{outlet}}
	</article>
</div>
