<div class="Sections">
        <div class="Section Section--horizontal">
		<header class="Manchet">
			<h1><small>About </small>music <small>and</small> people</h1>
		</header>
		<div class="Container Container--noPaddingMobile">
			<nav class="Tabs Tabs--horizontal">
				{{#link-to 'about.intro' title="Get introduced to Radio4000" class="Tabs-item"}}Introduction{{/link-to}}
				{{#link-to 'about.contact' title="Contact us" class="Tabs-item"}}Contact{{/link-to}}
			</nav>
		</div>
	</div>

	{{outlet}}
</div>

{{title "About Radio4000" replace=true}}
