<div class="Sections">
	<div class="Section">
		<header class="Manchet">
			<h1><small>About </small>music <small>and</small> people</h1>
		</header>
		<div class="Container">
			<nav class="Tabs Tabs--horizontal Tabs--animated">
				{{#link-to 'about.intro' title="Get introduced to Radio4000" class="Tabs-item"}}Introduction{{/link-to}}
				{{#link-to 'about.contact' title="Contact us" class="Tabs-item"}}Contact{{/link-to}}
				<a class="Tabs-item" href="https://support.internet4000.com/radio4000" target="_blank" title="Support with Radio4000">&rarr; Help</a>
			</nav>
		</div>
	</div>

	{{outlet}}
</div>
