<input type="checkbox" id="PlayPause-state" class="PlayPause-state"
	checked={{isPlaying}} onchange={{action "togglePlayback"}} />

<label for="PlayPause-state" title="Toggle playback" class="PlayPause-controller"></label>
