<article class="Article">
	<h1>About Muchplay</h1>
	<div class="Article-body">
		<p><strong>Muchplay offers you a way to collect the tracks and sounds you want from YouTube and Soundcloud with a streamlined online music manager.</strong></p>
		<p>With all your favorites in one single list it's a great way to share and play all the music you enjoy.</p>
		<hr>
		<p>Development begun in March 2014 and this was last updated the 1st of June 2014. If you'd like to get in touch, please do so at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>.</p>
		<p>{{#link-to 'application'}}Back to home{{/link-to}}</p>
	</div>
</article>
