<p>{{#link-to 'application'}}&larr; Back{{/link-to}}</p>

<article class="Article">
	<h1>About Muchplay</h1>

	<p><strong>Muchplay offers a way to collect and play the tracks and sounds you want from YouTube. Think your own radio station on YouTube videos.</strong></p>
	<p>With all your favorites in one single list it's a great way to share and play all the music you enjoy.</p>
	<hr>
	<p>If you'd like to get in touch, please do so at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>.</p>

	<h2>Changelog</h2>

	<ul>
		<li>September 14 2014, Major rewrite</li>
		<li>June 1st, 2014 - First working version</li>
		<li>March 2014 - Development begun</li>
	</ul>
</article>
