<header class="SiteHeader">
	<h1 class="SiteTitle">{{#link-to "index"}}Muchplay{{/link-to}}</h1>
</header>

<main class="SiteMain">
	{{outlet}}
</main>

<div>
	{{render 'playback'}}
	{{outlet 'player'}}
</div>
