<div class="Box">
	<h1>Muchplay</h1>
	<p><strong>The perfect way to collect, curate, play and share your own collection of YouTube and Soundcloud tracks.</strong></p>

	{{#if authController.isLoggedIn}}
		<p>Welcome, {{authController.currentUser.displayName}}!</p>
		<p>{{#link-to "playlists.new"}}<button>Create your own collection</button>{{/link-to}}</p>
	{{/if}}
	<p>{{#link-to 'playlists'}}See all collections{{/link-to}}.</p>

	{{#unless authController.isLoggedIn}}
		<p>Register and sign-in with either Facebook or Google to get your own collection.</p>
		<p>
			<button {{action 'login' 'google'}}>Start with Google</button>
			<button {{action 'login' 'facebook'}}>Start with with Facebook</button>
		</p>
	{{/unless}}
</div>


<p>@todo: If you already have a playlist, link to that and hide the create button.</p>
