<h1>Muchplay!</h1>
<p>The perfect way to curate, collect and share your own playlist of YouTube and Soundcloud tracks.</p>

<p>{{#link-to 'playlists'}}<button>See all playlists</button>{{/link-to}}</p>
