<div class="Sections">
	<div class="Section">
		<div class="Container">
			<h1>Bookmarklet</h1>

			<p>With this bookmarklet you can add a YouTube video directly to your Radio4000.</p>
			<ol>
				<li><strong>Drag this link</strong> to your bookmarks:<br>
					{{#bookmarklet-link slug=model.slug}}
						Add to {{model.title}}
					{{/bookmarklet-link}}
				</li>
				<li>Visit the video you want to save on YouTube</li>
				<li>Click on your bookmark!</li>
			</ol>
			<p class="Muted"><a href="http://blog.radio4000.com/post/131580251357/how-to-use-the-radio4000-bookmarklet-to-add-track" target="_blank">Explain me with GIFs!</a></p>
		</div>
	</div>
</div>

{{outlet}}
