<div class="Sections Sections--center">

	<section class="Section">
		<header class="Manchet">
			<h1><small>Bookmarklet,</small> add a track<small> in two clicks</small></h1>
		</header>
	</section>

	<section class="Section">
		<article class="Container">
			<p>A bookmarklet works the same as a browser bookmark. It sits in your bookmarks bar or folder. But instead of being a link, it is a script (action). This particular one takes the video from a YouTube page and opens a new tab on Radio4000 where you can add it.</p>
		</article>
	</section>

	<section class="Section">
		<div class="Container">
			<div class="Grid Container">
				<article class="Grid-cell Grid-cell--double">
					<h3><small>1.</small> Drag this into your bookmarks</h3>
					<p>
						{{#bookmarklet-link slug=model.slug}}
							Add to Radio4000
						{{/bookmarklet-link}}
					</p>
					<p class="Muted">Tip: you could also right click and hit "Bookmark this link".</p>
				</article>

				<article class="Grid-cell Grid-cell--triple">
					<h3><small>2.</small> Visit a YouTube video and click your new bookmarklet</h3>
					<p class="Muted">
						Exercise: try this one: <a href="https://www.youtube.com/watch?v=PBg-ukRUJuQ" title="Holger Czukay - Cool In The Pool">https://www.youtube.com/watch?v=PBg-ukRUJuQ</a>
					</p>
				</article>
			</div>
		</div>
	</section>
</div>

{{outlet}}
