<div class="Sections">

	<section class="Section">
		<header class="Manchet">
			<h1><small>Bookmarklet,</small> add a track<small> in two clicks</small></h1>
		</header>
	</section>

	<section class="Section">
		<article class="Container">
			<p>A bookmarklet works the same as a browser bookmark. It lies in your bookmarks folders or bookmarks bar, but instead of being a link, it is a script, an action.</p>
		</article>

		<div class="Grid Container">
			<article class="Grid-cell Grid-cell--double">
				<h3><small>1.</small> Setup</h3>
				<p>
					Drag the following link into your bookmarks.
				</p>
				<p>
					{{#bookmarklet-link slug=model.slug}}
						Add to Radio4000
					{{/bookmarklet-link}}
				</p>
				<p class="Muted">Tip: you could also right click on it and hit "Bookmark this link" to achieve the same result.</p>
			</article>

			<article class="Grid-cell Grid-cell--triple">
				<h3><small>2.</small> add a video</h3>
				<p><strong>Visit a Youtube video</strong> that you want to save in your Radio4000 channel and <strong>click your new Bookmarklet</strong>.</p>
				<p class="Muted">
					Exercise: try with this link: <a href="https://www.youtube.com/watch?v=PBg-ukRUJuQ">https://www.youtube.com/watch?v=PBg-ukRUJuQ</a>
				</p>
			</article>

		</div>
	</section>
</div>

{{outlet}}
