<div class="Sections">
	<div class="Section">
		<div class="Container">
			<h1>Bookmarklet</h1>

			<h2>Add me to your bookmarks</h2>
			<p>
				{{#bookmarklet-link slug=model.slug}}Add to {{model.title}}{{/bookmarklet-link}}
			</p>
			<p>Add tracks faster to your radio. Save this bookmarklet to your bookmarks and tap on it while you're browsing a YouTube video to instantly add the track to your radio. Easy!</p>
			<p class="Muted"><a href="http://blog.radio4000.com/post/131580251357/how-to-use-the-radio4000-bookmarklet-to-add-track" target="_blank">Explain me with GIFs!</a></p>
		</div>
	</div>
</div>

{{outlet}}
