<article>
	<header class="Manchet">
		<h1>Stats<small> — Radio4000</small></h1>
	</header>
	<div class="Container">

		<p>This is data pulled live from the database (so it's slow).</p>

		<ul>
			<li>{{model.channels.length}} channels</li>
			<li>{{model.channelPublics.length}} public channels</li>
		</ul>

		<ul>
			<li>{{model.tracks.length}} tracks</li>
		</ul>

	</div>
</article>

{{outlet}}
