<article>
	<header class="Manchet">
		<h1>Colors<small> — styleguide</small></h1>
	</header>

	<div class="Container">
		<h2>All colors</h2>
		<p>Here's a list of all colors from config.scss - it's not dynamic though so it might be out of date.</p>
		{{styleguide-colors}}

		<h2>Links</h2>
		<p>Links are <a href="#">red</a>. Unless inside a navigation bar where they can be either white or black.</p>
	</div>
</article>
