// List styles. You need to

.List {
	list-style: none;
	padding-left: 0;

	li {
		p {
			margin: 0;
		}
		a {
			display: block;
			color: $black;
			// padding-top: .357142857em; // optical center
			padding-top: rem(10);
			padding-bottom: rem(7); // 3px less is optical center
			padding-left: 1.5rem;
			padding-right: 1.5rem;

			&:hover {
				text-decoration: underline;
			}
			&.is-active {
				background-color: $lightblue;
				color: #fff;
			}
		}
		// even odd
		&:nth-of-type(odd) a {
			background-color: $superlightgray;
		}

		// small {
		// 	float: right;
		// 	color: gray;
		// 	@media (max-width: 400px) {
		// 		display: none;
		// 	}
		// }
	}
}

