.List {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	background-color: #fff;
}
.List li {
	&:nth-of-type(odd) {
		background-color: $superlightgray;
	}
	a {
		display: block;
		font-size: rem(14);
		padding-top: rem(10);
		padding-bottom: rem(7); // 3px less is optical center
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		color: $black;

		&:hover {
			text-decoration: none;
			background-color: hsl(0,0%,95%);
		}

		&.is-active {
			background-color: $primary-color;
			color: #fff;
		}
	}
	p {
		margin: 0;
	}
}

