.SiteLogo {
	transition: transform 250ms ease;
	position: fixed;
	z-index: 2;
	top: -2px;
	left: 1rem;
	margin: 0;
	padding: 0.4em 0.6em 0.3em;
	border: 2px solid $darkgreen;;
	border-radius: $border-radius;

	@extend %patron-bold;
	font-size: 20px;
	background-color: $green;
	-webkit-font-smoothing: antialiased;
	a {
		color: $bleach;
	}
}
