.SiteLogo {
	transition: transform 250ms ease;
	position: fixed;
	z-index: 2;
	top: -2px;
	left: 1rem;
	margin: 0;
	border-radius: $border-radius;

	@extend %patron-bold;
	font-size: 24px;
	background-color: $primary-color;
	-webkit-font-smoothing: antialiased;

	a {
		display: block;
		padding: 0.5em 0.5em 0.4em;
		color: $bleach;
	}
}
