/**
 * Playlist
 */

.PlaylistHeader,
.PlaylistBody {
	float: left;
	padding-bottom: 20px;
	
	.Inner {
		background-color: white;
		padding: 10px;
	}
}
.PlaylistHeader {
	width: 30%;
	.Inner {
		margin-right: 20px;
	}
}
.PlaylistBody {
	width: 70%;
}
.PlaylistTitle {
	margin: 0;
}

/**
 * Playlist Teaser
 */

.PlaylistTeaser {
	display: inline-block;
	width: 23%;
	min-height: 160px;
	background-color: white;
	border: 1px solid gray;
	margin-right: 1%;
	margin-left: 1%;
	text-align: center;
}