/**
 * Playlist
 */

.Playlist {
	background-color: white;
	border-radius: 3px;
	overflow: auto;
}

.PlaylistHeader,
.PlaylistBody {
	padding-bottom: 20px;
	.Inner {
		padding: 10px;
	}

	@media (min-width: 650px) {
		float: left;
	}
}

.PlaylistHeader {
	@media (min-width: 650px) {
		width: 30%;
		.Inner {
			margin-right: 20px;
		}
	}
}
.PlaylistBody {
	@media (min-width: 650px) {
		width: 70%;
	}
}
.PlaylistTitle {
	margin: 0;
}

/**
 * Playlist Teaser
 */

.PlaylistTeaser {

}
