/**
 * Player
 */

// Controls
.Controls {
	position: fixed;
	z-index: 3;
	bottom: 0;
	right: 0;
	z-index: 1;
	border-top: 1px solid $gray;
	border-left: 1px solid $gray;
	background-color: $lightblue;
	padding: 5px;
}

// Container for the embeds
.Player {
	// position
	position: fixed;
	bottom: 73px;
	right: 20px;
	width: 450px;
	background-color: white;
	padding: 20px;
	// toggle animation
	transition: transform 200ms ease-in-out;
	&.is-minimized {
		transform: translateY(100%);
	}

	// temporary, until it works
	display: none;

	iframe {
		display: none;
	}
	&.youtube #YouTubePlayer,
	&.youtube #ytplayer,
	&.soundcloud #SoundcloudPlayer {
		display: block;
	}
}
