/**
 * Playlist
 */

$sidebarWidth: 270px;
$sidebarWidthLarger: 360px;

.Playlist {
	@include clearfix;
}
.Box,
.Playlist-header,
.Playlist-body {
   background-color: white;
   margin-bottom: 1.5rem;
   border: 1px solid $lightgray;
   border-radius: $border-radius;
}
.Box,
.Playlist-header .Inner {
	padding: 1.5rem 1.5rem 0.5rem;
}

.Playlist-header {
	overflow: auto;
	background-color: $darkteal;
	color: #fff;
	a {
		color: $yellow;
	}
	@media (min-width: $layout-m) {
		position: fixed;
		top: 0;
		left: 0;
		width: $sidebarWidth;
		height: 100%;
		z-index: 1;
		padding-top: 3rem; // room for logo
		padding-bottom: 4rem; // room for fixed player bottom
		border: 0;
	}
	@media (min-width: $layout-ml) {
		width: $sidebarWidthLarger;
	}
}
.Playlist-body {
	@media (min-width: $layout-m) {
		margin-left: $sidebarWidth;
		margin-top: 1rem;
	}
	@media (min-width: $layout-ml) {
		margin-left: $sidebarWidthLarger;
	}
}
.Playlist-avatar {
	width: 5rem;
	float: right;
	margin-bottom: 1rem;
	margin-left: 1rem;

	// bring Facts and Avatar on same line
	@media (min-width: $layout-s) {
		width: 8.6rem;
		float: left;
		margin-left: 0;
		margin-right: 1rem;
	}
	@media (min-width: $layout-m) {
		width: 100%;
		margin-right: 0;
	}
}
.Playlist-title {
	margin-bottom: 0.5rem;
	@media (min-width: $layout-m) {
		padding-top: 1rem;
		clear: both;
	}
}
.Playlist-description {
	// color: $gray;
	@media (min-width: $layout-s) {
		// clear: both;
	}
}

// add track
.AddTrack {
	margin-bottom: 0;
	padding: 0.5rem;
	background-color: $yellow;
	clear: both;
	@media (min-width: $layout-m) {
		clear: none;
	}
	.Form {
		margin-bottom: 0;
	}
}
