/**
 * Playlist
 */

.Playlist {
	background-color: white;
	border-radius: 3px;
	overflow: auto;
}

.PlaylistHeader,
.PlaylistBody {
	padding-bottom: 20px;

	@media (min-width: 650px) {
		float: left;
	}
}

.PlaylistHeader {
	@media (min-width: 650px) {
		width: 30%;
		.Inner {
			margin-right: 20px;
		}
	}
}
.PlaylistBody {
	@media (min-width: 650px) {
		width: 70%;
	}
}
.PlaylistTitle {
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
}
.PlaylistUrl {
	margin-bottom: 0;
	margin-top: 0px;
	font-size: 14px;
	color: $gray;
}
.PlaylistDescription {
	margin-top: 20px;
	color: $gray;
}

/**
 * Playlist Teaser
 */

.PlaylistTeaser {

}
