/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 3;
	bottom: 0;
	// top: 0;
	right: 0;
	left: 0;
	transition: all ease 200ms;
	transform: translateY(100%);
	&.is-active {
		transform: translateY(0);
	}
	// .Inner {
	// 	max-width: 1040px;
	// 	margin-left: auto;
	// 	margin-right: auto;
	// }
}

// Controls
.Controls {
	padding: 5px 1rem;
	overflow: auto;
	background-color: hsl(0, 0%, 84%);
	background-image: linear-gradient(to bottom, hsla(0, 100%, 100%, 0.26) 40%, hsla(0, 100%, 50%, 0));
	box-shadow: 2px 2px 0px hsl(0, 0%, 70%);
	border-top: 1px solid hsl(0, 100%, 100%);
	// transition: margin 200ms ease-in-out;
	// @extend %patron-bold;
	@extend %patron-medium;

}
.Controls-buttons {
	float: left;
	margin-right: 1rem;
}

// Container for the embeds
.Player {
	width: 30%;
	// // position
	// position: fixed;
	// bottom: 73px;
	// right: 20px;
	// width: 450px;
	// background-color: white;
	// padding: 20px;
	// // toggle animation
	// transition: transform 200ms ease-in-out;
	// &.is-minimized {
	// 	transform: translateY(100%);
	// }

	// // temporary, until it works
	// display: none;

	iframe {
		display: none;
	}
	&.youtube #YouTubePlayer,
	&.youtube #ytplayer,
	&.soundcloud #SoundcloudPlayer {
		display: block;
	}
}
.Playback-title {
	position: relative;
	top: 12px;
}
