/**
 * Player
 */

// Playback
.Playback {
	position: fixed;
	z-index: 3;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
	transition: all ease-in-out 200ms;

	&.is-active {
		left: 0;
		right: 0;
		transform: translateX(0);
	}
	.Inner {
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;
	}
}

// Controls
.Controls {
	background-color: $lightblue;
	padding: 5px;
	overflow: auto;
	border-radius: 50%;
	transition: all ease-in-out 200ms;

	.Playback.is-active & {
		width: 70%;
		margin-left: 30%;
		border-top: 1px solid $gray;
		border-left: 1px solid $gray;
		border-right: 1px solid $gray;
		border-radius: 0;
	}
}
.Controls-buttons {
	float: right;
}

// Container for the embeds
.Player {
	width: 30%;
	// // position
	// position: fixed;
	// bottom: 73px;
	// right: 20px;
	// width: 450px;
	// background-color: white;
	// padding: 20px;
	// // toggle animation
	// transition: transform 200ms ease-in-out;
	// &.is-minimized {
	// 	transform: translateY(100%);
	// }

	// // temporary, until it works
	// display: none;

	iframe {
		display: none;
	}
	&.youtube #YouTubePlayer,
	&.youtube #ytplayer,
	&.soundcloud #SoundcloudPlayer {
		display: block;
	}
}
