/**
 * Player
 */

// Top bar with controls
.Playback-title {
	position: relative;
	top: 1px;
}

// Controls
.Controls {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-bottom: 1px solid;
	background-color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

// Container for the embeds
.Player {
	// position
	position: fixed;
	bottom: 73px;
	right: 20px;
	width: 450px;
	background-color: white;
	padding: 20px;
	// toggle animation
	transition: transform 200ms ease-in-out;
	&.is-minimized {
		transform: translateY(100%);
	}

	iframe {
		display: none;
	}
	&.youtube #YouTubePlayer,
	&.youtube #ytplayer,
	&.soundcloud #SoundcloudPlayer {
		display: block;
	}
}
