/**
 * Unique Track
 */

.Track {
	border-top: 1px solid $lightgray;
	&:first-of-type {
		border-top: 0;
	}
	a {
		display: block;
		padding-top: 12px;
		padding-bottom: 7px;
		padding-left: 5px;
		padding-right: 5px;
		&:hover {
			text-decoration: none;
			.Track-name {
				text-decoration: underline;
			}
		}
		&.is-active {
			background-color: $lightblue;
		}
	}
}
.Track-name {
	margin-bottom: 0;
}

.Track-description {
	@extend %patron-italic;
	font-size: 14px;
	color: $gray;
	margin-bottom: 0;
}
