/**
 * Unique Track
 */

.Track {
	border-top: 1px solid $lightgray;
	margin-top: 4px;
	margin-bottom: 6px;
	padding-top: 10px;
	padding-bottom: 3px;
	&:first-of-type {
		border-top: 0px solid $lightgray;
	}
}
.Track-description {
	@extend %patron-italic;
	color: $gray;
	margin: 0;
}

.AddTrack {
	margin-top: 20px;
	padding: 10px;
	background-color: $lightblue;
}
