<div class="Sections">
	<div class="Section">
		<div class="Manchet">
			<h2><small>Add a </small>new track<small> to your radio</small></h2>
		</div>
		<div class="Container">
			{{track-form-add
					initialUrl=url
					onSubmit=(action "saveTrack")
					onCancel=(action "goBack")
					isSubmitting=createTrack.isRunning}}
		</div>
	</div>
	<section class="Section">
		<div class="Container Container--full">
			<div class="Grid">
				<div class="Grid-cell">
					<p>You are adding to:</p>
					{{channel-card channel=model}}
				</div>
				<div class="Grid-cell">
					<p>
						Want to add tracks faster to your Radio4000 channel?
					</p>
					<p>
						{{link-to "Get the bookmarklet" "bookmarklet" class="Btn"}}
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

{{outlet}}
