<div class="Sections Sections--center">
	<div class="Section">
		<div class="Manchet">
			<center>
				Add a new track to {{link-to model.title 'channel' model.slug}}.
			</center>
		</div>
		<div class="Container">
			{{track-form-add
				initialUrl=url
				initialTitle=title
				initialBody=body
				onSubmit=(action "saveTrack")
				onCancel=(action "goBack")
				isSubmitting=createTrack.isRunning}}
			{{#unless model.tracks}}
				<p class="Muted">
					Tip: you are adding your first track.
					Copy this link <a href="https://www.youtube.com/watch?v=5EH5GFP2Otk">https://www.youtube.com/watch?v=5EH5GFP2Otk</a>
					and paste it the the <strong>URL</strong> field above.
				</p>
			{{/unless}}
		</div>
	</div>
	<section class="Section">
		<div class="Container">
			<details>
				<summary>
					<em>Too slow?</em>
				</summary>
				<p>
					Add tracks faster to your Radio with the {{link-to "bookmarklet" "bookmarklet"}}.
				</p>
				<p>
				</p>
			</details>
		</div>
	</section>
</div>

{{outlet}}
