<div id="dropzone" class="Dropzone">
	<div class="Dropzone-inner">
		<label>
			{{yield}}
			{{cloudinary-input multiple=false}}
		</label>
	</div>
</div>

{{#if isUploading}}
	{{#if showProgress}}
		<progress value="{{progressValue}}" max="100"></progress>
	{{/if}}
	<p>Just a second…</p>
{{/if}}

{{#if showPreview}}
	<figure></figure>
{{/if}}
