<label id="dropzone">
	{{yield}}
</label>

{{cloudinary-input multiple=false}}

{{#if isUploading}}
	{{#if showProgress}}
		<progress value="{{progressValue}}" max="100"></progress>
	{{/if}}
	<p>Just a second…</p>
{{/if}}

{{#if showPreview}}
	<figure></figure>
{{/if}}
