<label id="dropzone">Drag 'n drop some images here. Try it. Yea. Go ahead. Do it!</label>

{{cloudinary-input multiple=true}}

<progress value="{{progressValue}}" max="100"></progress>

<figure></figure>

{{yield}}
