<section class="Section">
	<div class="Container">
		<label class="u-push-1">
			<p>Position your radio on the world map</p>
			{{map-position-selection
					submitTask=saveCoordinates
					lat=(readonly model.coordinatesLatitude)
					lng=(readonly model.coordinatesLongitude)
			}}
		</label>

		{{#unless model.coordinatesLatitude}}
			<aside>
				<p>
					You can position your radio channel on planet earth map. Anywhere, just as you feel.
				</p>
				<p>
					If you do, it will appear on the {{link-to "map" "channels.map"}} together with other channels.
				</p>
			</aside>
		{{/unless}}

		{{outlet}}
	</div>
</section>

{{title "Map settings" replace=true}}
