<header class="Manchet">
	<h1>Tabs<small> — styleguide</small></h1>
</header>

<div class="Container">
	<h2>Tabs</h2>
	<div class="Tabs">
		<a href="#" class="Tabs-item">Jazz</a>
		<a href="#" class="Tabs-item">Techno</a>
		<a href="#" class="Tabs-item">Blues</a>
		<a href="#" class="Tabs-item">Classical</a>
		<a href="#" class="Tabs-item">Pop</a>
	</div>
	<h2>Tabs horizontal + Tabs--lighter</h2>
	<div class="Tabs Tabs--horizontal Tabs--lighter">
		<a href="#" class="Tabs-item">Jazz</a>
		<a href="#" class="Tabs-item">Techno</a>
		<a href="#" class="Tabs-item">Blues</a>
		<a href="#" class="Tabs-item">Classical</a>
		<a href="#" class="Tabs-item">Pop</a>
	</div>
	<h2>Tabs--horizontal</h2>
	<div class="Tabs Tabs--horizontal">
		<a href="#" class="Tabs-item">Jazz</a>
		<a href="#" class="Tabs-item">Techno</a>
		<a href="#" class="Tabs-item">Blues</a>
		<a href="#" class="Tabs-item">Classical</a>
		<a href="#" class="Tabs-item">Pop</a>
	</div>
	<h2>Tabs--horizontal + Tabs--animated</h2>
	<div class="Tabs Tabs--horizontal Tabs--animated">
		<a href="#" class="Tabs-item">Jazz</a>
		<a href="#" class="Tabs-item">Techno</a>
		<a href="#" class="Tabs-item">Blues</a>
		<a href="#" class="Tabs-item">Classical</a>
		<a href="#" class="Tabs-item">Pop</a>
	</div>
</div>
