{{if isFavorite "Undo favorite" "Favorite"}}

{{!-- <button class="Btn Btn--small"
	title="{{if isFavorite "Remove this radio from your favorites" "Save this radio from your favorites"}}"
	{{action "toggleFavorite"}}>
	{{if isFavorite "Unfavorite" "Favorite"}}
</button>
 --}}
