{{#async-button
		 reset=true
		 action=(action 'click') as |component state|}}
  {{#if state.isDefault}}
		{{#if channel.isFavorite}}
			<span>★</span>
		{{else}}
			<span>☆</span>
		{{/if}}
		{{if showText 'Favorite'}}
  {{/if}}
  {{#if state.isPending}}
    Loading
  {{/if}}
  {{#if state.isFulfilled}}
    Success
  {{/if}}
  {{#if state.isRejected}}
    Error
  {{/if}}
{{/async-button}}
