{{#if tags}}
	<div class="Container Section--space">
		<div class="CustomSelect">
			@todo
			{{!-- http://emberjs.com/deprecations/v1.x/#toc_ember-select --}}
			{{!-- {{view "select" content=tags prompt="All tracks" value=filter}} --}}
		</div>
	</div>
{{/if}}

<ul class="List">
	{{#each sortedAndFiltered as |item|}}
		<li>{{item.title}}</li>
	{{/each}}
</ul>
