<div class="Container Container--full">
	<div class=" Grid">
		<div class="Grid-cell Grid-cell--triple">
			{{#if tracks.isLoaded}}
				{{#tracks-list
						 items=tracks
						 grouped=true
						 numbered=false as |item|}}
					{{track-item track=item}}
				{{/tracks-list}}

				{{#unless canEdit}}
					{{#unless tracks.length}}
						<p>This radio has no tracks yet</p>
					{{/unless}}
				{{/unless}}
			{{else}}
				{{is-loading}}
			{{/if}}
		</div>
	</div>

	{{outlet}}

</div>
