<div class="Container Container--full">
	<div class=" Grid">
		<div class="Grid-cell Grid-cell--triple">
			{{#tracks-list
					 items=model
					 grouped=true
					 numbered=false as |item|}}
				{{track-item track=item}}
			{{/tracks-list}}

			{{#unless model.tracks.length}}
				<p>This radio has no tracks yet</p>
			{{/unless}}
		</div>
	</div>

	{{outlet}}
</div>
