.Home {
	text-align: center;

	@media (min-width: $layout-m) {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin: -2rem auto 0;
	}
	h1 {
		font-size: 3rem;
		background: linear-gradient(hsl(17, 100%, 50%), hsl(358, 90%, 52%));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.Manchet {
		max-width: 25em;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 1.1rem; // optical same as from title above
	}
	button {
		// when wide enough to have the same width
		@media (min-width: $layout-m) {
			min-width: 13.8em;
		}
	}
}

// Bigger click area
.Home-meta {
	a {
		display: inline-block;
		padding: 0.5em 0.4em;
	}
}
