.Home {
	text-align: center;

	h1 {
		font-size: 40px;
		// margin-bottom: 1rem;
	}
	.Manchet {
		font-size: 22px;
		max-width: 25em;
		margin-right: auto;
		margin-left: auto;
	}
	button {
		// when wide enough to have the same width
		@media (min-width: $layout-m) {
			min-width: 13.8em;
		}
		// &:first-of-type {
		// 	background-color: hsl(7, 71%, 55%);
		// }
	}
}
// .Home-logoutButton {
// 	text-align: center;
// }

// Bigger click area
.Home-meta {
	a {
		display: inline-block;
		padding: 0.5em 0.4em;
	}
}
