.Route-index {
	background-image: radial-gradient(rgba(white, 0.2), transparent);

	// Hide logo on home because we show it in the middle
	.SiteLogo {
		transform: translateY(-100%);
	}
}

.Home {
	text-align: center;

	@media (min-width: $layout-m) {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin: -2rem auto 0;
	}

	h1 {
		font-size: 40px;
	}
	.Manchet {
		max-width: 25em;
		margin-right: auto;
		margin-left: auto;
	}
	button {
		// when wide enough to have the same width
		@media (min-width: $layout-m) {
			min-width: 13.8em;
		}
		// &:first-of-type {
		// 	background-color: hsl(7, 71%, 55%);
		// }
	}
}

// Bigger click area
.Home-meta {
	a {
		display: inline-block;
		padding: 0.5em 0.4em;
	}
}

