.Home {
	text-align: center;
	background: radio-gradient(hsla(0, 0%, 100%,0.5), transparent);
	@media (min-width: $layout-m) {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin: -2rem auto 0;
	}
	h1 {
		@extend %patron-black-italic;
		@extend %text-bg;
		font-size: 4rem;
		margin-bottom: 0.5rem;
	}
	.Manchet {
		max-width: 20em;
		margin-left: auto;
		margin-right: auto;
	}
	.Btn {
		// when wide enough to have the same width
		@media (min-width: $layout-m) {
			min-width: 13.8em;
		}
	}
}

// Bigger click area
.Home-meta {
	a {
		display: inline-block;
		padding: 0.5em 0.4em;
	}
}
