// More sensible box-model
*,
*:before,
*:after {
	box-sizing: border-box;
}

// Make sure body covers the entire screen
html,
body {
	height: 100%;
}
html {
	background-color: hsl(0,0%,90%);
	// background-image: linear-gradient( 45deg, #1e5799, #7db9e8);
}
body {
	overflow-y: scroll; // make sure pages don't jump
}
.SiteHeader,
.SiteMain {
	// margin: 1rem;
	// max-width: 1040px;
	// margin-left: auto;
	// margin-right: auto;
}
.SiteHeader {

}
.SiteMain {
	@include clearfix;
	margin: 2rem;
	border-radius: $border-radius;
}
.Article {
	max-width: 40em;
	// margin: 3rem auto 0;
}
