// More sensible box-model
*,
*:before,
*:after {
	box-sizing: border-box;
}


body {
	overflow-y: scroll;
	margin: 5px;
	background-color: $lightgray;
}
.SiteHeader,
.SiteMain {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}
.SiteHeader {
	overflow: auto;
}
.SiteMain {
	overflow: auto;
	clear: both;
	background-color: white;
	padding: 30px;
	transition: all ease-in-out 200ms;
	.sidebar-is-open & {
		transform: translateX(-350px);
	}
}
.SiteTitle {
	margin: 0;
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: $blue;
	padding: 5px 10px 3px;
	border-radius: 6px;
	border: 3px solid $lightgray;
	font-family: "Patron", sans-serif;
	font-weight: 200;
	font-size: 20px;
	z-index: 2;
	a {
		color: white;
	}
}


/*
 User settings and log-in
*/

.UserActions {
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background: #c0e3ff;
	width: 350px;
	padding-top: 100px;
	text-align: center;
	transform: translateX(100%);
	transition: all ease-in-out 200ms;
	.sidebar-is-open & {
		transform: translateX(0);
	}
}
