// More sensible box-model
*,
*:before,
*:after {
	box-sizing: border-box;
}


body {
	overflow-y: scroll;
	margin: 1em;
	background-color: $lightgray;
}
.SiteHeader,
.SiteMain {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}
.SiteHeader {
	margin-bottom: 20px;
	overflow: auto;
}
.SiteMain {
	overflow: auto;
	clear: both;
}
.SiteTitle {
	margin-bottom: 0;
	@media (min-width: 650px) {
		// float: left;
	}
}


/*
 User settings and log-in
*/

.UserActions {
	// padding-left: 3px;
	// p {
	// 	float: left;
	// 	margin: 0;
	// }
	// @media (min-width: 650px) {
	// 	float: left;
	// 	margin-top: 7px;
	// }
}
