// More sensible box-model
*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	background-color: #1e5799;
	// background-image: linear-gradient( 45deg, #1e5799, #7db9e8);
	min-height: 100%;
}
body {
	overflow-y: scroll;
	margin: 1.5rem 1.5rem 5rem;
}
.SiteHeader,
.SiteMain {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}
.SiteHeader {
	overflow: auto;
}
.SiteMain {
	overflow: auto;
	clear: both;
	border-radius: $border-radius;
	margin-bottom: 1.5rem;
	// transition: all ease-in-out 200ms;
	// .sidebar-is-open & {
	// 	transform: translateX(-350px);
	// }
}
.SiteTitle {
	@extend %patron-bold;
	position: fixed;
	z-index: 2;
	top: -2px;
	right: 0.5rem;
	margin: 0;
	font-size: 20px;
	padding: 5px 6px 2px;
	background-color: $green;
	border: 2px solid darken($green, 20%);
	border-radius: $border-radius;
	-webkit-font-smoothing: antialiased;
	a {
		color: $bleach;
	}
}


/*
 User settings and log-in
*/

.UserActions {
	margin: 2rem 0 1rem;
	// z-index: 1;
	// position: fixed;
	// top: 0;
	// bottom: 0;
	// right: 0;
	// background: #c0e3ff;
	// width: 350px;
	// padding-top: 100px;
	// transform: translateX(100%);
	// transition: all ease-in-out 200ms;
	// .sidebar-is-open & {
	// 	transform: translateX(0);
	// }
}
