<article>
	<header class="Manchet">
		<h1>404<small> — Bzz bzz… error;</small></h1>
	</header>

	<div class="Container">
		<p>We couldn't find that page. Sorry.<br>Please let us know at <a href="mailto:contact@radio4000.com">contact@radio4000.com</a> if the problem persists.</p>
		<p>&larr; back to {{#link-to 'application'}}the homepage{{/link-to}}.</p>

		<figure>
			<img src="//res.cloudinary.com/radio4000/image/upload/v1431860149/console_tcpbit.gif" alt="">
		</figure>
	</div>
</article>
