<div class="Sections Sections--center">
	<section class="Section">
		<article>
			<header class="Manchet">
				<h1>404<small> — Error</small></h1>
				<p class="u-tc">That page cannot be found</p>
			</header>

			<div class="Container Container--small">
				<ul>
					<li>{{link-to 'Send feedback' 'feedback'}}  to the team about this error</li>
					<li>Go back to the <a href="{{href-to 'application'}}">homepage</a>.</li>
				</ul>
				<p class="Muted">If the problem persists, please try to reload the website.</p>
			</div>
		</article>
		</section>
</div>
