<div class="Channel-outlet">
	<div class="Container">
		{{#if model.channelPublic.followers}}
			<p>{{model.channelPublic.followers.length}} humans are following this radio.</p>
			{{channels-list channels=model.channelPublic.followers}}
		{{else}}
			You don't have any followers, yet.
		{{/if}}
	</div>
</div>
