{{#if model.channelPublic.followers}}

	<div class="Container Section Section--messaging">
		<p>{{model.channelPublic.followers.length}} followers.</p>
	</div>
	{{channels-list channels=model.channelPublic.followers showCover=true}}

{{else}}

	<div class="Container Section Section--messaging">
		<p>This channel doesn't have any followers, yet.</p>
	</div>

{{/if}}
