{{#if model.channelPublic.followers}}
	{{channels-list channels=model.channelPublic.followers}}
{{else}}
	<div class="Container Section Section--messaging">
		<p>This channel doesn't have any followers, yet.</p>
	</div>
{{/if}}
