<div class="Tabs">
	{{#link-to "channels.index" class="Tabs-item"}}Home{{/link-to}}
	{{#link-to "channels.all" title="Find radio channels to enjoy" class="Tabs-item"}}Radios{{/link-to}}

	{{#if userChannel}}
		{{#link-to "auth.settings" title="Settings to custonize your experience" class="Tabs-item"}}Setings{{/link-to}}
		{{#link-to "channels.history" title="Your listening history" class="Tabs-item"}}History{{/link-to}}
		{{channel-card channel=userChannel wide=true}}
		<button {{action "addTrack"}} class="Btn Btn--primary Btn--topNoRadius" title="Add a new track to your radio">Add track</button>
	{{/if}}

	{{#unless userChannel}}
		{{#btn-group class="Tabs-item"}}
			{{#if isAuthenticated}}
				{{#link-to "channels.new" class="Btn Btn--important" title="Sign up to create your own radio now or log in"}}Create your radio{{/link-to}}
			{{else}}
				{{#link-to "auth.signup" class="Btn Btn--important" title="Sign up to Radio4000"}}Sign up{{/link-to}}
				{{#link-to "auth.login" class="Btn" title="Log in to Radio4000"}}Log in{{/link-to}}
			{{/if}}
		{{/btn-group}}
	{{/unless}}

	{{#link-to "intro" title="Get introduced to Radio4000" class="Tabs-item"}}Introduction{{/link-to}}
	{{#link-to "about" title="Learn more about Radio4000" class="Tabs-item"}}About{{/link-to}}
	{{#link-to "help" title="Find help and answers to your questions" class="Tabs-item"}}Help / Feedback{{/link-to}}
	<a class="Tabs-item" href="http://blog.radio4000.com" target="_blank" title="How is the weather at Radio4000?">&rarr; Blog</a>
</div>

<div class="Tabs Tabs--transparent Tabs--bottom">
	{{#if isAuthenticated}}
		{{#link-to "auth.logout" class="Aside-link Muted" title="Log out from Radio4000"}}Log out{{/link-to}}
	{{/if}}
</div>
