<div class="Tabs">
  {{#link-to "channels" title="Find radio channels to enjoy" class="Tabs-item"}}Radios{{/link-to}}

  {{#if userChannel}}
    {{channel-card channel=userChannel wide=true}}
    <button {{action "addTrack"}} class="Btn Btn--important Btn--topNoRadius" title="Add a new track to your radio">Add track</button>
  {{/if}}

	{{#unless userChannel}}
		{{#btn-group class="Tabs-item BtnGroupWrapper BtnGroupWrapper--full"}}
			{{#if isAuthenticated}}
				{{#link-to "channels.new" class="Btn Btn--important" title="Sign up to create your own radio now or log in"}}Create your radio{{/link-to}}
			{{else}}
				{{#link-to "auth.signup" class="Btn Btn--important" title="Sign up to Radio4000"}}Sign up{{/link-to}}
				{{#link-to "auth.login" class="Btn" title="Log in to Radio4000"}}Log in{{/link-to}}
			{{/if}}
		{{/btn-group}}
	{{/unless}}

  {{#link-to "about" title="Learn more about Radio4000" class="Tabs-item"}}About{{/link-to}}
  {{#link-to "help" title="Find help and answers to your questions" class="Tabs-item"}}Help{{/link-to}}
</div>

<div class="Tabs Tabs--transparent Tabs--bottom">
	{{#link-to "feedback" class="Aside-link Muted" title="Let us know what you have in mind!"}}Feedback{{/link-to}}
  {{#if isAuthenticated}}
		{{#link-to "auth.settings" class="Aside-link" title="Customize your Radio4000"}}Settings{{/link-to}}
    {{#link-to "auth.logout" class="Aside-link Muted" title="Log out from Radio4000"}}Log out{{/link-to}}
  {{/if}}
</div>
