<div class="Tabs">
  {{#link-to "channels" title="Find radio channels to enjoy" class="Tabs-item"}}Radios{{/link-to}}

  {{#if userChannel}}
    <button {{action "addTrack"}} class="Btn Btn--important Btn--bottomNoRadius" title="Add a new track to your radio">Add track</button>
		{{channel-card channel=userChannel wide=true}}
  {{/if}}

  {{#unless userChannel}}
		{{#link-to "channels.new" class="Btn Btn--important" title="Sign up to create your own radio now or log in"}}
			{{if session.isAuthenticated "Create your radio" "Sign up or log in"}}
		{{/link-to}}
  {{/unless}}
  {{#link-to "about" title="Learn more about Radio4000" class="Tabs-item"}}About{{/link-to}}
  {{#link-to "help" title="Find help and answers to your questions" class="Tabs-item"}}Help{{/link-to}}
</div>

<div class="Tabs Tabs--transparent Tabs--bottom">
	{{#link-to "feedback" class="Aside-link Muted" title="Let us know what you have in mind!"}}Feedback{{/link-to}}
  {{#if isAuthenticated}}
    {{#link-to "logout" class="Aside-link Muted" title="Log out from Radio4000"}}Log out{{/link-to}}
  {{/if}}
</div>
