<i>
	{{if isPlaying "⇢" "▶"}}
	{{#unless showText}}
		<span class="PulseLoader animate-rotate {{if clickTask.isIdle "u-dn"}}"></span>
	{{/unless}}
</i>

{{#if showText}}
	{{#if clickTask.isRunning}}
		Loading
	{{else}}
		{{if isPlaying "Play another track" "Listen"}}
	{{/if}}
{{/if}}
