<i>
	{{if isPlaying "↝" "▶"}}
	<span class="PulseLoader animate-rotate"></span>
</i>

{{#if showText}}
	{{#if clickTask.isRunning}}
		Loading
	{{else}}
		{{if isPlaying "Shuffle" "Listen"}}
	{{/if}}
{{/if}}
