
// use .Container for vertical stacks

.Container,
%Container {
	@include clearfix;
	position: relative;
	max-width: 45em;

	// centered
	// margin-left: auto;
	// margin-right: auto;

	padding-left: 1rem;
	padding-right: 1rem;
	@media (min-width: $layout-m) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}
// Use this for lager max width
.Container--large {
	max-width: 83rem;
}
// Use this when it should be full width
.Container--full {
	max-width: none;
}
// remove padding
.Container--noPadding {
	padding-right: 0;
	padding-left: 0;
	@media (min-width: $layout-m) {
		padding-right: 0;
		padding-left: 0;
	}
}
