// Use .Container for stacking components on top of each other and aligning horizontally.
.Container,
%Container {
	@include clearfix;
	position: relative;
	max-width: 45em;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: $layout-m) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

// Modifiers

.Container--centered {
	margin-left: auto;
	margin-right: auto;
}

.Container--contentCentered {
	display: flex;
	justify-content: center;
}

.Container--small {
	max-width: 30rem;
}

.Container--large {
	max-width: 83rem;
}

.Container--full {
	max-width: none;

	// gets a width because needed when combined with flex;
	width: 100%;
}

.Container--noPadding {
	padding-right: 0;
	padding-left: 0;

	@media (min-width: $layout-m) {
		padding-right: 0;
		padding-left: 0;
	}
}

.Container--noPaddingLeft {
	padding-left: 0;

	@media (min-width: $layout-m) {
		padding-left: 0;
	}
}

.Container--noPaddingMobile {
	@media (max-width: $layout-m) {
		padding-left: 0;
		padding-right: 0;
	}
}
