.Flex {
	display: flex;
	flex-flow: row wrap;

	// on mobile center items
	@media (max-width: $layout-s) {
		justify-content: space-between;
	}

	// todo: refactor
	.BtnGroup:last-child {
		margin-left: 1rem;
	}
}
.Flex--single {
	flex-flow: row nowrap;
}

.Grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center; // x-center
	text-align: center;

	// todo: refactor
	.Subtitle {
		margin-bottom: 0.5rem;
	}
}
.Grid-item {
	flex: 0 0 100%; // first full, then split the space
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;

	@media (min-width: $layout-s) {
		flex: 1;
	}

	img {
		max-width: 5rem;
	}
}

// Make a grid's items equal height
.Grid--full {
	align-items: stretch;
	.Grid-item {
		display: flex;
	}
}
