.Grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	// because items have gutters on both sides
	margin-left: -0.5rem;
	margin-right: -0.5rem;

	@media (min-width: $layout-m) {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}

	&.Grid--firstHidden {
		.Grid-cell:first-child {
			display: none;
		}
	}
}

.Grid-cell {
	flex: 0 1 50%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 1em;

	// bigger version
	@media (min-width: $layout-m) {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		margin-bottom: 1.5em;
	}

	// edge-to-edge grid (also max-width for crossbrowser support)
	@media (min-width: $layout-sm) {
		flex-basis: 33%;

		.no-flexbox & {
			max-width: 33%;
		}
	}

	@media (min-width: $layout-ml) {
		flex-basis: 25%;

		.no-flexbox & {
			max-width: 25%;
		}
	}

	@media (min-width: $layout-l) {
		flex-basis: 20%;

		.no-flexbox & {
			max-width: 20%;
		}
	}

	@media (min-width: $layout-xl) {
		flex-basis: 14.28%;

		.no-flexbox & {
			max-width: 14.28%;
		}
	}
}

.Grid-cell--double {
	flex-basis: 100%;

	.no-flexbox & {
		max-width: 100%;
	}

	@media (min-width: $layout-sm) {
		flex-basis: 66%;

		.no-flexbox & {
			max-width: 66%;
		}
	}

	@media (min-width: $layout-ml) {
		flex-basis: 50%;

		.no-flexbox & {
			max-width: 50%;
		}
	}

	@media (min-width: $layout-l) {
		flex-basis: 40%;

		.no-flexbox & {
			max-width: 40%;
		}
	}

	@media (min-width: $layout-xl) {
		flex-basis: 2 * 14.28%;

		.no-flexbox & {
			max-width: 2 * 14.28%;
		}
	}
}

.Grid-cell--triple {
	flex-basis: 100%;

	.no-flexbox & {
		max-width: 100%;
	}

	@media (min-width: $layout-ml) {
		flex-basis: 75%;

		.no-flexbox & {
			max-width: 75%;
		}
	}

	@media (min-width: $layout-l) {
		flex-basis: 60%;

		.no-flexbox & {
			max-width: 60%;
		}
	}

	@media (min-width: $layout-xl) {
		flex-basis: 3 * 14.28%;

		.no-flexbox & {
			max-width: 3 * 14.28%;
		}
	}
}

// Make a grid's items equal height.
.Grid--full {
	align-items: stretch;

	.Grid-cell {
		display: flex;
	}
}

.Grid--center {
	justify-content: center;
}

// Wider cells that the default grid with a balanced
// width to ensure channel titles are kept in one-line as
// much as possible.
.Grid--wide {
	> .Grid-cell {
		flex: 1 0 25% !important;
		min-width: 17rem;
	}
}

// From the "vertical-collection" addon.
// Make sure it doesn't show in the grid.
.Grid .occluded-content {
	flex: 0;
}
