.Grid {
	display: flex;
	flex-flow: row wrap;

	// because items have gutters on both sides
	margin-left: -0.5rem;
	margin-right: -0.5rem;

	// todo: refactor
	.Subtitle {
		margin-bottom: 0.5rem;
	}

	.Cover {
		flex: 1 1 50%;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin-bottom: 1em;

		// card style
		a {
			background-color: white;
			padding-bottom: 0.5em;
		}
		.Cover-img {
			margin-bottom: 0;
		}
		.Cover-title {
			padding-left: 0.5em;
			padding-right: 0.5em;
			word-break: break-word;
		}


		// edge-to-edge grid
		@media (min-width: $layout-s) {
			flex: 1 1 33%;
			max-width: 33%;
		}
		@media (min-width: $layout-m) {
			flex: 1 1 25%;
			max-width: 25%;
		}
		@media (min-width: $layout-ml) {
			flex: 1 1 20%;
			max-width: 20%;
		}
		@media (min-width: $layout-xl) {
			flex: 1 1 14.28%;
			max-width: 14.28%;
		}
		// left-aligned grid
		@media (min-width: $layout-xxl) {
			flex: 0 1 12.5%;
			max-width: 12.5%;
		}
	}
}

// Make a grid's items equal height
.Grid--full {
	align-items: stretch;
	.Grid-item {
		display: flex;
	}
}
.Grid--center {
	justify-content: center;
	text-align: center;
}
.Grid-item {
	flex: 0 0 100%; // first full, then split the space
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-bottom: 1rem;

	@media (min-width: $layout-s) {
		flex: 1;
	}

	img {
		max-width: 5rem;
	}
}



.Flex {
	display: flex;
	flex-flow: row wrap;

	// on mobile center items
	@media (max-width: $layout-s) {
		justify-content: space-between;
	}

	// todo: refactor
	.BtnGroup:last-child {
		margin-left: 1rem;
	}
}
.Flex--single {
	flex-flow: row nowrap;
}


.FlexRow {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	> .Btn {
		flex: 1;
	}
	> p {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 0;
		color: $gray;
	}
}
