.Home {
	// text-align: center;

	// // totally centered
	// @media (min-width: $layout-m) {
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	margin: -2rem auto 0;
	// }
	// big title
	h1 {
		@extend %patron-black-italic;
		@extend %text-bg;
		font-size: 40px;
		margin-bottom: 0.5rem;
		letter-spacing: -0.03em;
	}
	.Manchet {
		max-width: 20em;
		padding-top: 3em;
		margin-bottom: 3rem;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	// .is-authed & {
	// 	display: none;
	// }
}

.Section--teaser {
	text-align: center;

	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		padding: 1em;
	}

	.Title {
		color: white;
	}
	.Section-inner {
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: $secondary-color;
		cursor: pointer;
		max-width: 20em;
	}
	&:first-of-type {
		.Section-inner {
			margin-left: auto;
		}
	}
}

