/**
 * Home
 **/


/**
 * Logged in effects
 **/

// .is-authed {
// 	.Manchet {
// 		display: none;
// 	}
// }

/**
 * Section teasers for first time users
 **/

.Section--teaser {
	text-align: center;

	a:hover,
	a:active  {
		text-decoration: none;
		.Section-inner {
			background-color: darken($primary-color, 10%);
			box-shadow: $lightgray 4px 6px 30px;
		}
	}
	a:active {
		text-decoration: none;
		p {
			color: white;
		}
	}


	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		padding: 1em;
	}

	.Title {
		color: white;
	}
	.Section-inner {
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: $secondary-color;
		cursor: pointer;
		max-width: 20em;
		margin-left: auto;
		margin-right: auto;
		transition: 200ms all ease-in-out;

		// add depth
		box-shadow: $lightgray 4px 16px 10px;
		@media (min-width: $layout-s) {
			margin-left: 0;
		}
	}
	&:first-of-type {
		.Section-inner {
			@media (min-width: $layout-s) {
				margin-left: auto;
				margin-right: 0;
			}
		}
	}
}

/**
 * Login teaser
 **/
