.Home {
	text-align: center;
	// bigger title
	h1 {
		// @extend %patron-black-italic;
		@extend %text-bg;
		font-size: 40px;
		margin-bottom: 0.5rem;
		letter-spacing: -0.03em;
	}
	.Manchet {
		max-width: 20em;
		margin-left: auto;
		margin-right: auto;

	}
}

/**
 * Logged in effects
 **/

.is-authed {
	.Manchet {
		display: none;
	}
}

/**
 * Section teasers for first time users
 **/

.Section--teaser {
	text-align: center;

	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		padding: 1em;
	}

	.Title {
		color: white;
	}
	.Section-inner {
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 2em;
		padding-bottom: 2em;
		background-color: $secondary-color;
		cursor: pointer;
		max-width: 20em;
	}
	&:first-of-type {
		.Section-inner {
			margin-left: auto;
		}
	}
}

