.Home {
	// text-align: center;

	// // totally centered
	// @media (min-width: $layout-m) {
	// 	position: absolute;
	// 	left: 0;
	// 	right: 0;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	margin: -2rem auto 0;
	// }
	// big title
	h1 {
		@extend %patron-black-italic;
		@extend %text-bg;
		font-size: 40px;
		letter-spacing: -0.03em;
		@media (min-width: $layout-s) {
			font-size: 4rem;
		}
	}
	.Manchet {
		max-width: 20em;
		margin-bottom: 4rem;
		// margin-left: auto;
		// margin-right: auto;
	}
	.is-authed & {
		display: none;
	}
}

