.Intro {
	@include negative-text; // because of the dark image bg
	position: relative;
	margin-bottom: 0;

	display: flex;
	flex-flow: column nowrap;
	color: $white;
	justify-content: center;

	// When panel is open, avoid sticking.
	.is-panelLeftVisible & {
		margin-left: 2rem;
		border-bottom-left-radius: $border-radius;
		.Intro-bg {
			border-bottom-left-radius: $border-radius;
		}
	}
}
.Intro-title {
	margin-top: 4rem;
	line-height: 0.8;
	letter-spacing: -0.02em;
	@include size-7;
	@media (min-width: $layout-sm) {
		font-size: 80px;
	}
	@media (min-width: $layout-sm) and (min-height: 740px) {
		font-size: 120px;
	}
	@media (min-width: $layout-m) and (min-height: 1000px) {
		font-size: 150px;
	}

	// two lines
	span {
		display: block;
	}
}
.Intro-radio {
	@extend %font-bold-italic;
	margin-left: 4rem;
}
.Intro-slogan {
	margin-top: 1rem;
	@include size-3;

	@media (min-width: $layout-sm) {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
	@media (min-width: $layout-m) {
		@include size-4;
	}
	@media (min-width: $layout-sm) and (min-height: 1000px) {
		@include size-5;
	}
}
.Intro-actions {
	.Btn {
		margin-right: 0.6em;
		margin-bottom: 0.6em;
		// Because it's on an image.
		box-shadow: 0px 4px 0px -2px rgba(0, 0, 0, 0.4);
	}
}
