.Intro {
	@include negative-text; // because of the dark image bg
	position: relative;
	margin-bottom: 0;
	background-color: #000;

	display: flex;
	flex-flow: column nowrap;
	color: $white;
	justify-content: center;

	// on top of bg
	> * {
		position: relative;
		z-index: 2;
	}
}
.Intro-bg {
	min-height: 60vh;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 10%;
	background-image: url('../assets/images/bg-intro.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	@media (min-height: 780px) {
		padding-top: 10%;
	}
}
.Intro-title {
	margin-top: 4rem;
	line-height: 0.8;
	letter-spacing: -0.02em;
	@include size-7;
	@media (min-width: $layout-sm) {
		font-size: 80px;
	}
	@media (min-width: $layout-sm) and (min-height: 740px) {
		font-size: 120px;
	}
	@media (min-width: $layout-m) and (min-height: 1000px) {
		font-size: 150px;
	}

	// two lines
	span {
		display: block;
	}
}
.Intro-radio {
	@extend %font-bold-italic;
	margin-left: 0.3em;
}
.Intro-slogan {
	margin-top: 1rem;
	@include size-3;

	@media (min-width: $layout-sm) {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
	@media (min-width: $layout-m) {
		@include size-4;
	}
	@media (min-width: $layout-sm) and (min-height: 1000px) {
		@include size-5;
	}
}
.Intro-actions {
	.Btn {
		margin-right: 0.6em;
		margin-bottom: 0.6em;
	}
}

/**
 * Introduction design
 **/

.Intro--one {

	/* r4 writings */
	.Keyvisual {
		margin-top: 10rem;
	}
	.IntroTitle {
		text-align: center;
  		font-size: 20vw;
	}

	/* Sections */
	.Annonce {
		margin-top: 5rem;
	}
	.Annonce--center {
		text-align: center;
	}
	.Annonce--fullHeight {
		margin-top: 10rem;
		height: 80vh;
	}
	.Annonce--long {
		margin-top: 8rem;
		margin-bottom: 3rem;
	}

	/* Blocks */
	.Block {
		padding: 2rem;
		font-size: 3rem;
	}
	.Block--white {
		background-color: white;
	}
	.Block--long {
		padding-bottom: 20rem;
	}
	.Block--left {
	  margin-right: auto;
	  max-width: 20rem;
	}
	.Block--center {
	  max-width: 8rem;
 	  border-radius: 50%;
	  margin-left: auto;
	  margin-right: auto;
	}
	.Block--right {
	  margin-left: auto;
	  max-width: 20rem;
	}
}
