// fullscreen state
@mixin fullscreen {
	.is-fullscreen & {
		@content;
	}
}

// Stretch the player fullscreen
#EmberYoutube-player {
	@include fullscreen {
		top: rem($bar-height);
		left: 0;
		width: 100%;
		height: 100%;
		height: calc(100% - 58px); // $bar-height + $progress-height
		bottom: rem($bar-height);
		z-index: 3; // on top of channel
	}
}

// Fade out logo
.SiteLogo {
	transition: opacity 200ms;
	@include fullscreen {
		opacity: 0.25;
	}
}

// Darken the bar colors when maximized
.Bar {
	@include fullscreen {
		background-color: #000; // match youtube player ui color
	}
}

// Hide nav
.ContextualNav {
	@include fullscreen {
		opacity: 0;
	}
}
