/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.SiteHeader {
	@include clearfix;
}

.SiteMain {
	margin-top: $barHeight;
	margin-bottom: $barHeight;
}
.SiteFooter {
	background-color: darken($bg-color, 6%);

	// make room for the fixed bottom bar
	padding-bottom: $barHeight;

	.Nav {
		// pull out so it aligns with the rest of the site
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		a {
			color: $dark;
			display: block;
			padding: 2em 0.3em 0.5em;
			@media (min-width: $layout-s) {
				padding: 2em 0.5em 0.5em;
			}
		}
	}
}
