/**
 * Layout
 **/

html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}
body {
	overflow-y: scroll;
	// Our responsive design doesn't need to scroll horizontally.
	overflow-x: hidden;
}

/**
	In _root.scss, it is displayed flex
	So all child of .Root bellow follow this behavior
 */

.SiteMain {
	padding-bottom: rem($bar-height * 1.5); // bar + a bit more
	min-height: 100vh;
	width: 100%;
	transition: padding 300ms $easing2;
}

// Set background for ember-modals
.ember-modal-overlay.translucent {
	background-color: rgba(43, 43, 43, 0.64);
}
