/**
 * Layout
 **/

html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}

body {
	overflow-y: scroll;
}

/**
	In _root.scss, it is displayed flex
	So all child of .Root bellow follow this behavior
 */
.SiteMain {
	transform: translateZ(0); // improve scrolling performance. Especially on long lists.
	min-height: 100vh;
	width: 100%;
	flex: 2;
}

.SiteFooter {
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.FooterNote {
	user-select: none;
	cursor: n-resize;
}

.jets-content {
	height: 200px;
	overflow: scroll;
	position: relative;
	border: 1px solid red;
}
