/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

// a fixed body makes for a better mobile app
body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
// we scroll this instead
.SiteMain {
	// for the mobile app effect
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch; // not sure, need to test
	padding-top: 4rem; // space for the header
	padding-bottom: 8rem; // space for the fixed bottom player

	// make the app be small
	max-width: 50rem;
	margin: 0 auto;
}

// Use this when you need a bit of extra space
.Section {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
}

// Use this
.Constrained {
	max-width: 40em;
}

.Home {
	margin-top: 50px;
}
