/**
 * Layout
 **/
html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}

body {
	overflow-y: scroll;
}

/**
	In _root.scss, it is displayed flex
	So all child of .Root bellow follow this behavior
 */
.SiteMain {
	transform: translateZ(0); // improve scrolling performance. Especially on long lists.
	min-height: 100vh;
	width: 100%;

	// overflow-y: scroll;
	flex: 2;

	// More padding when player is taller..
	// @media (max-width: 570px) {
	// 	padding-bottom: 10rem;
	// }
	// padding-bottom: rem($bar-height * 1.5); // bar + a bit more
}

.SiteFooter {
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.FooterNote {
	user-select: none;
	cursor: n-resize;
}

// Modals
.ember-modal-dialog {
	padding: 2rem 1rem 0.5rem;
	border-radius: $border-radius;
	box-shadow: -4px 4px 12px rgba(88, 88, 88, 0.25);

	// forms inside modals
	.Form {
		max-width: 100%;
		margin-bottom: 0;

		@media (min-width: 520px) {
			width: 500px;
		}
	}
}

// Set background for ember-modals
.ember-modal-overlay.translucent {
	background-color: rgba(43, 43, 43, 0.64);
}
