/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

// a fixed body makes for a better mobile app
body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
// we scroll this instead
.SiteMain {
	// for the mobile app effect
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	padding-top: 6rem; // space for the header
	@media (min-width: $layout-m) {
		padding-top: 7rem;
	}
	padding-bottom: 2rem; // space for the fixed bottom player
}

// Use this
.Container {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}
.Container--full {
	max-width: none;
}






.Bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background: linear-gradient($primary-color, hsl(268, 90%, 42%));
	color: $text-color-invert;
	nav {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		a {
			display: inline-block;
			color: $text-color-invert;
			padding: 1em 0.5rem;
			&.is-active {
				text-decoration: underline;
			}
		}
	}
}
