/**
 * Layout
 **/

html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}
body {
	overflow-y: scroll;
	// our responsive design doesn't need to scroll horizontally
	overflow-x: hidden;
}

.Root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.SiteHeader {

}
.SiteAside {
	min-width: 12rem;
}
.SiteMain {
	padding-top: rem($bar-height + $bar-border-size); // with border
	padding-bottom: rem($bar-height * 1.5); // bar + a bit more
	height: 100vh;
	overflow-y: scroll;
	width: 100%;

}
.SiteFooter {
	background-color: darken($bg-color, 6%);
}

.is-hidden {
	display: none;
}

// Set background for ember-modals
.ember-modal-overlay.translucent {
	background-color: rgba(43, 43, 43, 0.64);
}
