/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

// a fixed body makes for a better mobile app
body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
// we scroll this instead
.SiteMain {
	// for the mobile app effect
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch; // not sure, need to test
	padding-top: 4rem; // space for the header
	@media (min-width: $layout-m) {
		padding-top: 6rem;
	}
	padding-bottom: 5rem; // space for the fixed bottom player
}

// Use this
.Container {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}
