/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

// a fixed body makes for a better mobile app
body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
// we scroll this instead
.SiteMain {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch; // not sure, need to test
	padding-top: 2rem; // space for the header
	padding-bottom: 100px; // space for the fixed bottom player
}

// Use this when you need a bit of extra space
.Section {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
}

// Only relevant for desktop
.Constrained {
	max-width: 40em;
}
