/**
 * Layout
 **/

html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}
body {
	overflow: hidden;
}

/**
	In _root.scss, it is displayed flex
	So all child of .Root bellow follow this behavior
 */

.SiteMain {
	height: 100vh;
	width: 100%;
	transition: padding 200ms $easing;
	overflow-y: scroll;
	flex: 2;
	// More padding when player is taller..
	// @media (max-width: 570px) {
	// 	padding-bottom: 10rem;
	// }
	// padding-bottom: rem($bar-height * 1.5); // bar + a bit more
}

// Set background for ember-modals
.ember-modal-overlay.translucent {
	background-color: rgba(43, 43, 43, 0.64);
}
