/**
 * Layout
 **/

html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


body {
	overflow-y: scroll;
}

/**
	In _root.scss, it is displayed flex
	So all child of .Root bellow follow this behavior
 */
.SiteMain {
	min-height: 100vh;
	width: 100%;
	flex: 2;
	overflow-x: hidden;
}

.overflow-x-auto {
	overflow-x: auto;
}
