/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.SiteMain {
	margin-top: $barHeight;
}

.SiteAside {
	// fixes z-index issues; w/ animations etc.
	position: relative;
	z-index: 3;
}

.SiteFooter {
	background-color: darken($bg-color, 6%);

	// make room for the fixed bottom bar
	padding-bottom: $barHeight;

	.Nav {
		// pull out so it aligns with the rest of the site
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		a {
			color: $dark;
			display: block;
			padding: 2em 0.5em 0.5em;
		}
	}
}



.Grid {
	// flex container
	display: flex;
	flex-flow: row wrap;
	justify-content: center; // x-center
	text-align: center;
	@media (min-width: $layout-s) {}

	// flex items
	> * {
		flex: 0 0 100%;
		@media (min-width: $layout-s) {
			flex: 1;
			// align-self: center;
		}
	}
}
