html {
	background-color: $bg-color;
	color: $text-color;
}

.SiteMain {
	@include clearfix;
	margin: 5rem 1rem 0;
	@media (min-width: $layout-m) {
		margin-left: 2rem;
		margin-right: 2rem;
	}
}

.Box {
	margin-bottom: 1rem;
	padding: 1.5rem 1rem 0.5rem;
	border: 1px solid $lightgray;
	border-radius: $border-radius;
	background-color: white;
	@media (min-width: $layout-s) {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
.Box--clean {
	padding: 0;
}

.Centered {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}
