/**
 * Layout
 **/

html {
	height: 100%;
	background-color: $bg-color;
	color: $text-color;
}
body {
	//
	overflow-y: scroll;
	overflow-x: hidden; // our response design doesn't need scrollbars x
}

.SiteHeader {}
.SiteMain {
	padding-top: rem($bar-height + 3px); // border
	padding-bottom: rem($bar-height); // no border
	min-height: 100vh;
}
.SiteFooter {
	background-color: darken($bg-color, 6%);
}

.is-hidden {
	display: none;
}

// Set background for ember-modals
.ember-modal-overlay.translucent {
	background-color: rgba(43, 43, 43, 0.64);
}
