/**
 * Layout
 **/

html {
	background-color: $bg-color;
	color: $text-color;
}

// a fixed body makes for a better mobile app
body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

// we scroll this instead
.SiteMain {
	// for the mobile app effect
	position: absolute;
	top: 53px; // height of topbar
	right: 0;
	bottom: 53px; // height of bottom bar
	left: 0;
	overflow: auto;
	.Playlist .Container {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}
