/**
 * Manchet
 * used for title+subtitle blocks (mimics .Section and .Container as well)
 */
.Manchet {
	@extend %Container;
	margin-bottom: 1rem;
	h1 {
		padding-left: 1rem;
		@media (min-width: $layout-m) {
			padding-left: 0;
		}
	}
}

// Reverts the default centered styles.
.Manchet--centered {
	text-align: center;

	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}
