/**
 * Manchet
 * used for title+subtitle blocks (mimics .Section and .Container as well)
 */

.Manchet {
	@extend %Container;
	margin-bottom: 1rem;
}

// Reverts the default centered styles.
.Manchet--centered {
	text-align: center;

	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}
