/**
 * Manchet
 */

.Manchet {
	padding: 3rem 1rem 2rem;
	text-align: center;
	background: linear-gradient($lightgray, $bg-color);

	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		small,
		.is-highlighted {
			font-size: 1em;
			@extend %font-regular;
		}
	}
}
