/**
 * Manchet
 */

.Manchet {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;
	@media (min-width: $layout-m) {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}

// modifiers

.Manchet--bigger {
	h1,
	p {
		max-width: 36rem;
	}
}

.Manchet--left {
	text-align: left;
	h1,
	p {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
}
