/**
 * Manchet
 */

.Manchet {
	padding-top: 3rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 2rem;
	text-align: center;
	background-color: white;
	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
		small,
		.is-highlighted {
			font-size: 1em;
			@extend %font-regular;
		}
	}
}

/**
 * Dark version
 */

.Manchet--dark {
	background: linear-gradient($darkblue, lighten($darkblue, 5%) 70%);
	// background-color: $darkblue;
	color: $text-color-invert;
	margin-bottom: 2rem;
}
