/**
 * Manchet
 */

.Manchet {
	@extend %Container;
	padding-top: 3rem;
	padding-bottom: 1rem;
	text-align: center;

	h1,
	p {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}

// modifiers

.Manchet--bigger {
	h1,
	p {
		max-width: 36rem;
	}
}

.Manchet--left {
	text-align: left;
	h1,
	p {
		max-width: none;
		margin-left: 0;
		margin-right: 0;
	}
}
