/**
 * Site Panel Nav
 **/

.SitePanelNav {
	position: fixed;
	top: $barHeight;
	left: 0;
	// bottom: 0;
	width: 80%;
	max-width: 300px;
	z-index: 5;
	border: 2px solid black;
	border-top: 0;
	border-left: 0;
	background-color: $white;

	a {
		display: block;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		&:hover {
			background-color: $purple;
			color: $white;
		}
		&.is-active {
			text-decoration: underline;
		}
	}
	.Thumbnail {
		a {}
	}

}

.NavGroup {
	padding: 0.5rem 0;
	border-top: 1px solid $mediumlightgray;
	&:first-of-type {
		border-top: 0;
	}
}

.SitePanelNavOverlay {
	background-color: rgba(0, 0, 0, 0);
	transition: background-color 400ms;
	visibility: hidden;
	position: fixed;
	z-index: 4;
	top: $barHeight;
	right: 0;
	left: 0;
	width: 0;
	bottom: 0;
	width: 100%;
}

/**
 * open/close panel
 */

// is close
.SitePanelNav {
	transform: translateX(-100%);
	transition: transform 400ms $easing3;
}

// is open
.OverlayManager.is-panelOpen {
	.SitePanelNav {
		transform: translateX(0);
	}
	.SitePanelNavOverlay {
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.20);
	}
}


/**
 * UserChannel
 **/

.UserChannel {
	@include clearfix;
	a {
		@include clearfix;
	}
	&:hover {

	}
}

.UserChannel-media {
	width: 40px;
	height: 40px;
	background-color: $red;
	float: left;
	margin-bottom: 0;
}

.UserChannel-body {
	float: left;
	width: 100%;
	margin-left: -40px;
	padding-left: 60px;

	&.BoxIcon {
		// when user is logged in but has no channel yet
		padding-left: 0;

		&:hover {
			color: white;
		}
	}
}

.UserChannel-intro {
	margin-bottom: 0;
}
.UserChannel-title {
	margin-bottom: 0;
}
