/**
 * Site Panel Nav
 **/

.PanelNav {}
.PanelNav-inner {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	width: 80%;
	max-width: 240px;
	z-index: 5;
	box-shadow: -4px 4px 12px rgb(88, 88, 88);
	border-top: 0;
	border-right: 0;
	background-color: $white;

	// hidden
	display: none;
	opacity: 0;
	transition: opacity 400ms $easing;

	// visible
	.is-panelOpen & {
		display: block;
		opacity: 1;
	}
}
.PanelNav-overlay {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 4; // below PanelNav

	// hidden
	// pointer-events: none;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0);

	.is-panelOpen & {
		visibility: visible;
	}
}

// Links inside
.PanelNav a {
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	&:hover {
		background-color: $purple;
		color: $white;
		text-decoration: none;
	}
	&.is-active {
		text-decoration: underline;
	}
}
.PanelNav-group {
	padding: 0.5rem 0;
	border-top: 1px solid $mediumlightgray;
	&:first-of-type {
		border-top: 0;
	}
}


/**
 * UserChannel
 **/

.UserChannel {
	@include clearfix;
	overflow-x: hidden; // prevent channel name to go out of navBar if it is a single word
	a {
		@include clearfix;
	}
	&:hover {
		.UserChannel-intro,
		.UserChannel-body {
			color: $white;
		}
	}
}
.UserChannel-media {
	float: left;
	width: 40px;
	height: 40px;
	background-color: $darkblue;
	margin-bottom: 0;
}
.UserChannel-body {
	float: left;
	width: 100%;
	min-height: 1.4em;
	margin-left: -40px;
	padding-left: 55px;

	&.BoxIcon {
		// when user is logged in but has no channel yet
		padding-left: 0;

		&:hover {
			color: $white;
		}
	}
}
.UserChannel-intro {
	margin-bottom: 0;
}
.UserChannel-title {
	margin-bottom: 0;
}
