/**
 * Playlists
 **/

.Playlists {
	.Box--playlist {
		display: inline-block;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 2rem; // double for because left + right = 2
	}
}

// temporary, need to refactor user.hbs
.CreatePlaylist {
	text-align: center;
	padding-top: 22px;
	padding-bottom: 10px;
}
