/**
 * Playlists
 **/

.Playlist {}
.Playlist--teaser {
	display: block;
	border-bottom: 1px solid $lightgray;
	padding: em(11);

	.Playlist-header {

	}

	.Playlist-title {
		padding-bottom: em(3);
		margin-bottom: 0;
	}
	.Playlist-description {
		@include size-1;
		max-width: 80%;
		margin-bottom: 0;
		color: $gray;
	}

	&:hover {
		text-decoration: none;
		// background-color: white;
		background-image: linear-gradient(to right, white 70%, transparent);
	}
}

.LastUpdate {
	@include size-1;
	font-weight: 400;
	color: $lightgray;
}
