/**
 * Playlists
 **/

.Playlists {
	.Box--playlist {
		display: inline-block;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 2rem; // double for because left + right = 2
	}
}

.Playlist {

}
.Playlist--teaser {
	display: block;
	border-bottom: 1px solid $lightgray;
	padding-top: 11px;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 11px;
	.Playlist-title {
		padding-bottom: 3px;
	}
	.Playlist-description {
		color: $gray;
		margin-bottom: 0;
	}

	&:hover {
		text-decoration: none;
		background-color: white;
	}
}

// temporary, need to refactor user.hbs
.CreatePlaylist {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
}
