/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/

.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.Root:not(.is-minimized).is-withPlayer .SiteMain {
	margin-right: 20rem;
}

/**
 * Panel is open
 */

.Root.is-panelLeftVisible {
	overflow: hidden;
	.Aside--navigation {
		display: flex;
	}
	.SiteMain {
		@media (min-width: $layout-m) {
			opacity: 1;
		}
	}
	//otherwise the scrollbar is z-index infinite (browser bug?)
	.Container--noPaddingMobile {
		overflow: hidden;
	}
}


/*
	 Player is in maximized state
 */

.Root.is-maximized {
	overflow: hidden;

	.Playback {
		height: 100%;
		background: black;
	}

	radio4000-player {
		height: 100vh;

		.Layout {
			border: 0;
		}
	}

	.Playback-layoutButtons {
		flex-direction: row;
		top: 0.2rem;
		right: 0;
		left: auto;
	}

	.Playback-fullscreen {
		display: none;
		@media (min-width: $layout-l) {
			display: block;
		}
	}
}

.Root.is-minimized {
	.Playback-layoutButtons {
		flex-direction: row;
		top: -3rem;
		right: 0;
		left: auto;
	}
	.Playback {
		width: 200px;
		height: 200px;
	}
	radio4000-player {
		.Layout-header,
		.Layout-footer {
			display: none;
		}
	}
	.Playback-minimize {
		display: none;
		@media (min-width: $layout-l) {
			display: block;
		}
	}
}


/**
 * Player
 */

.Root.is-withoutPlayer {
	.Aside--right {
		display: none;
	}
}
