/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/

.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	// @media (min-width: $layout-l) {
	// 	flex-direction: row;
	// }
}

/**
 * Panel is open
 */
.Root.is-panelLeftVisible {
	.Aside--left {
		display: flex;
		flex-direction: column;
	}
	// .SiteMain {
	// 	transform: translate3d(100%, 0, 0);
	// 	@media (min-width: $layout-s) {
	// 		transform: none;
	// 		padding-left: $sidebar-width;
	// 	}
	// }
}


/**
 * Overlay style, purple background
 */
.Root.is-minimal {
	// .Aside--left,
	// .SiteMain {
	// 	// @include negative-text;
	// 	background-color: $primary-color;
	// 	color: $white;
	// 	transition: background-color 200ms $easing;
	// }
	.SiteMain {
		padding-bottom: 0;
		min-height: 100vh;
		/* flex */
		display: flex;
		box-align: center;
		align-items: center;
		align-content: center;
		justify-content: center;

		background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/30/The_Burning_of_the_Library_at_Alexandria_in_391_AD.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		// // Because colors are inverted, we adjust typography
		// h1,h2,h3 {
		// 	@include negative-text;
		// }
		// .Muted {
		// 	color: rgba($white, 0.6);
		// }
	}
	// .ContextualNav {
	// 	transform: translate3d(100%, 0, 0);
	// }
	// .Bar--bottom {
	// 	background-color: red;
	// 	transform: translate3d(0, 100%, 0);
	// }
}

/**
 * Player is showing
 */
.Root.is-withPlayer {
	.SiteMain {
		order: 2;
		padding-top: 0;
	}
	.Player {
		order: 1;
	}
	.Aside--right {
		display: block;
	}
	.PlayButton {
		// transform: translateX(200%);
		display: none;
	}
}
