/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/

.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

.Root.is-normal {
	&.is-withPlayer {
		.SiteMain {
			@media (min-width: $layout-m) {
				margin-right: $sidebar-width;
			}
		}
		.Playback-layoutButtons {
			position: absolute;
			top: 0;
			left: 0;
			flex-direction: column;
			transform: translateX(-100%);
		}
	}
}

.Root.is-maximized {
	.Playback-fullscreen {
		display: none;
		@media (min-width: $layout-l) {
			display: block;
		}
	}
}
.Root.is-minimized {
	.Playback-minimize {
		display: none;
		@media (min-width: $layout-l) {
			display: block;
		}
	}
}

/*
	 Player is in minimized state
 */
.Root.is-maximized {
	.Playback-layoutButtons {
		position: absolute;
		top: 0;
		right: 0;
	}
	radio4000-player {
		@media (min-width: $layout-m) {
			@include size-2;
		}
		@media (min-width: $layout-ml) {
			@include size-3;
		}
	}
	radio4000-player .Layout {
		border-width: 0;
	}
}

/*
	 Player is in minimized state
 */

.Root.is-minimized {
	.Playback-layoutButtons {
		flex-direction: row;
		top: -2.3rem;
		right: 0;
		left: auto;
	}

	.Playback {
		width: 200px;
		height: 200px;
	}

	radio4000-player {
		height: 200px !important;

		.TrackList,
		.Layout-header,
		.Layout-footer {
			display: none;
		}
	}
}

.Root.is-withoutPlayer {
	.Aside--right {
		display: none;
	}
}

.Root.is-docked.is-withPlayer {
	flex-direction: column;
	.SiteMain {
		order: 1;
		margin-right: 0;
		min-height: auto;
	}
	.Aside--right {
		position: static;
		order: 0;
		width: 70vw;

		// center with this, so the link under is clickable
		margin-left: auto;
		margin-right: auto;

		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.Playback {
		flex-grow: 0;
		height: auto;
	}
	radio4000-player {
		max-height: 80vh
	}
}
