/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/
.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

	// @media (min-width: $layout-l) {
	// 	flex-direction: row;
	// }
}

/**
 * Panel is open
 */
.Root.is-panelLeftVisible {
	.Aside--left {
		transform: translate3d(0, 0, 0);
	}

	.SiteMain {
		padding-left: 15rem;
	}
}

/**
 * Overlay style, purple background
 */
.Root.is-minimal {
	// background-color: $primary-color;

	.SiteMain {
		display: flex;
		flex-flow: column;
		align-items: center;
		// align-content: center;
		justify-content: center;
	}

	.SiteFooter {
		display: none;
	}
}

/**
 * Player is showing
 */
.Root.is-withPlayer {
	.SiteMain {
		order: 2;
		padding-top: 0;
	}

	.Player {
		order: 1;
	}

	.Aside--right {
		display: block;
	}
}

.Bot {
	width: 100%;
	max-width: 300px;
	margin: auto;

	.ChannelCard {
		width: 100%;
		text-align: center;
	}
}
