/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/

.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
}

// Panel is closed
.Aside-inner {
	visibility: hidden;
}

.Root:not(.is-minimized).is-withPlayer .SiteMain {
	margin-right: 20rem;
}

/**
 * Panel is open
 */

.Root.is-panelLeftVisible {
	@media (max-width: $layout-m) {
		height: 100vh;
		overflow: hidden;
	}

	.Aside--left .Aside-inner {
		visibility: visible;
		transform: translateX(0);
	}

	.Aside-toggleBtn {
		opacity: 1;
	}

	.SiteMain {
		@media (min-width: $layout-m) {
			// padding-left: $sidebar-width;
			opacity: 1;
		}
	}
	// .Manchet {
	// 	h1, h2, h3 {
	// 		padding-left: 0;
	// 	}
	// }
}


/*
	 Player is in maximized state
 */

.Root.is-maximized {
	max-height: 100vh;
	overflow: hidden;

	.Playback {
		height: 100%;
		background: black;
	}

	radio4000-player {
		height: 100vh;

		.Layout {
			border: 0;
		}
	}
}

.Root.is-minimized {
	.Playback {
		width: 200px;
		height: 200px;
	}
	radio4000-player {
		.Layout-header,
		.Layout-footer {
			display: none;
		}
	}
}


/**
 * Player
 */

.Root.is-withoutPlayer {
	.Aside--right {
		display: none;
	}
}
