/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/
.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

	// @media (min-width: $layout-l) {
	// 	flex-direction: row;
	// }
}

/**
 * Panel is open
 */
.Root.is-panelLeftVisible {
    
    @media (max-width: $layout-s) {
	height: 100vh;
	overflow: hidden;
    }
    
    .Aside--left {
	transform: translateX(0);
    }

    .Sections {
	@media (min-width: $layout-s) {
	    padding-top: 4rem;
	}

    }

    @media (min-width: $layout-s) {
	.SiteMain {
	    padding-left: $sidebar-width;
	}
    }
}

.Root.is-maximized {
    max-height: 100vh;
    overflow: hidden;
}
 
/**
 * Overlay style, purple background
 */
.Root.is-minimal {
	// background-color: $primary-color;

	.SiteMain {
		display: flex;
		flex-flow: column;
		align-items: center;
		// align-content: center;
		justify-content: center;
	}

	.SiteFooter {
		display: none;
	}
}

/**
 * Player
 */
.Root.is-withPlayer {
	.SiteMain {
		order: 2;
		padding-top: 0;
	}

	.Player {
		order: 1;
	}
}
.Root.is-withoutPlayer {
    .Aside--right {
	display: none;
    }
}
