/**
 * Minimal ui styles for some of our major steps
 * body class is added with the service 'uiStates'
 **/
.Root {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;

	// @media (min-width: $layout-l) {
	// 	flex-direction: row;
	// }
}

/**
 * Panel is open
 */
.Root.is-panelLeftVisible {
	.Aside--left {
		transform: translate3d(0, 0, 0);
	}
	.Sections {
		padding-top: 4rem;
	}
	@media (min-width: $layout-s) {
		.SiteMain {
			padding-left: $sidebar-width;
		}
	}
}

/**
 * Overlay style, purple background
 */
.Root.is-minimal {
	.SiteMain {
		padding-bottom: 0;
		min-height: 100vh;
		display: flex;
		flex-flow: column;
		box-align: center;
		align-items: center;
		align-content: center;
		justify-content: center;
	}

	.SiteFooter {
		display: none;
	}
}

/**
 * Player is showing
 */
.Root.is-withPlayer {
	.SiteMain {
		order: 2;
		padding-top: 0;
	}

	.Player {
		order: 1;
	}

	.Aside--right {
		display: block;
	}

	.PlayButton {
		// transform: translateX(200%);
		display: none;
	}
}
