// Sections
// Use this when you need more vertical space
//

.Section {
	overflow: auto;
	clear: both;
	padding-bottom: 2rem; // padding instead of margin - otherwise it cuts the box-shadow of .Box -_-
}
.Section--space {
	padding-top: 1em;
}

.Section--messaging {
	padding-top: 1em;
	padding-bottom: 0;
}
