/**
 Sections
 Use this when: there are several following sections in a template
 Use this to: group multiple Section(s), to give them vertical  rythm and space
 Section
 Group components vertically
 Will be the children of .Sections if there exist multiple in a template
 */

.Sections {
	padding-top: 6rem;

	// Push it below the logo.
	.Root.is-panelLeftVisible & {
		padding-top: 4rem;
	}
}
.Section {
	clear: both;
	// padding instead of margin - otherwise it cuts the box-shadow of .Box -_-
	padding-bottom: 6rem;
}
.Section-bgCredits {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
	a {
		@include size-0;
		color: #000;
		background-color: white;
		padding-right: 0.3rem;
		padding-left: 0.3rem;
	}
}

/**
 * Modifiers
 */

.Section--space {
	padding-top: 1em;
}
// used to display an in-between (or top) message (showed to the user).
.Section--messaging {
	padding-bottom: 0;
	padding-top: 1.6em;
}
// a section that should use the vertical full screen, for exemple to use w/ bg cover image
.Section--80vh {
	min-height: 80vh;
}
.Section--100vh {
	min-height: 100vh;
}
// flex section, becomes a reference to position its children
.Section--flex {
	display: flex;
	flex-grow: 1;
}

/**
 Specific Section
 Mostly used to put specific background images
 */

.Section--login {
	position: relative;
	background-image: url('../assets/images/The_Burning_of_the_Library_at_Alexandria_in_391_AD-progressive.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.Section--intro {
	position: relative;
	background-color: #000;
	background-image: url('../assets/images/Torus_Construction_AC75-1886_1920-progressive.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
