// use .Container for vertical stacks (it could add padding)

// use .Section for extra margin bottom, essentially
// + if you need two sections next to each other, use .Section-half


.Container,
%Container {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1em;
	padding-left: 1em;
	position: relative;
	overflow: hidden; // for .btn--favorite
}
// Use this when it should be full width
.Container--full {
	max-width: none;
}


/**
 * Sections
 **/

 // Use this when you need a bit of extra space
.Section {
	overflow: auto;
	clear: both;
	padding-bottom: 2rem; // padding instead of margin - otherwise it cuts the box-shadow of .Box -_-
}

// Two column section
.Section-half {
	clear: none;
	overflow: visible;
	margin-bottom: 1em;
	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		margin-bottom: 0;

		// 1rem between
		padding-right: 0.5rem;
		+ .Section-half {
			padding-left: 0.5rem;
			padding-right: 0;
		}
	}
}

