/**
 * Sections
 **/



/**
 * Section half
 **/

.Section--half {
	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		padding: 1em;
	}

	// Title
	.Title {
		color: $text-color;
		text-align: center;
	}

}

/**
 * Login teaser, home page not logged in
 **/

.Section--teaser {
	text-align: center;
	&:first-of-type {
		.Section-inner {
			@media (min-width: $layout-s) {
				margin-left: auto;
				margin-right: 0;
			}
		}
	}
	// Has inner boxes that are centered also
	.Section-inner {
		padding-top: 1.6em;
		padding-bottom: 1em;
		@media (min-width: $layout-s) {
			padding-top: 2.6em;
			padding-bottom: 2em;
		}
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 1px;
		border-color: $secondary-color;
		max-width: 20em;
		transition: 200ms all ease-in-out;

		// add depth and animation
		box-shadow: $slightgray 4px 16px 20px;
		@media (min-width: $layout-s) {
			margin-left: 0;
		}
	}

	// Section teaser are links, teaser links!!
	a:hover {
		text-decoration: none;
		.Section-inner {
			background-color: lighten($primary-color, 60%);
			box-shadow: $lightgray 4px 6px 30px;
		}
	}
	a:active {
		text-decoration: none;
		background-color: $secondary-color;
	}
	.Btn {
		background-color: $green;
	}
}

/**
 * Favourite full
 **/

.Section--full {
	clear: both;
}
