/**
 * Container
	use this to wrap everything
	pushes content from the edge
 **/

.Container {
	max-width: 45em;
	margin-left: auto;
	margin-right: auto;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 6rem; // space for the header
	padding-bottom: 6rem; // space for the fixed bottom player
	background-color: $slightgray;
	position: relative;
	overflow: hidden; // for .btn--favorite
}
// Use this when it should be full width
.Container--full {
	max-width: none;
}
.Container--transparent {
	background-color: transparent;
}


/**
 * Sections
 	use this when you more VERTICAL space than what the base elements give you
 **/

 // Use this when you need a bit of extra space
.Section {
	overflow: auto;
	clear: both;
	padding-bottom: 2rem; // padding instead of margin - otherwise it cuts the box-shadow of .Box -_-
}

// Two column section
.Section-half {
	clear: none;
	overflow: visible;
	margin-bottom: 1em;
	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		margin-bottom: 0;
		padding-left: 1rem;
		+ .Section-half {
			padding-right: 1rem;
		}
	}
}

// Sections without extra bottom margin
.Section--noBottom {
	padding-bottom: 0;
}
