/**
 * Sections
 **/



/**
 * Section half
 **/

.Section--half {
	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
		padding: 1em;
	}

	// Title
	.Title {
		color: white;
		text-align: center;
	}

}

/**
 * Login teaser, home page not logged in
 **/

.Section--teaser {
	text-align: center;

	// Section teaser are links, teaser links!!
	a:hover {
		text-decoration: none;
		.Section-inner {
			background-color: darken($primary-color, 10%);
			box-shadow: $lightgray 4px 6px 30px;
		}
	}
	a:active {
		text-decoration: none;
		background-color: $secondary-color;
		p {
			color: white;
		}
	}

	// Has inner boxes that are centered also
	.Section-inner {
		padding-top: 2em;
		padding-bottom: 2em;
		margin-left: auto;
		margin-right: auto;
		background-color: $secondary-color;
		max-width: 20em;
		transition: 200ms all ease-in-out;

		// add depth and animation
		box-shadow: $slightgray 4px 16px 20px;
		@media (min-width: $layout-s) {
			margin-left: 0;
		}
	}
	&:first-of-type {
		.Section-inner {
			@media (min-width: $layout-s) {
				margin-left: auto;
				margin-right: 0;
			}
		}
	}

}

/**
 * Favourite full
 **/

.Section--full {
	clear: both;
}
