/**
 * Sections
 	Use this for grouping components vertically
 */

.Sections {
	padding-top: 2rem;

	@media (min-width: $layout-s) {
		padding-top: 3rem;
		.Root.is-panelLeftVisible & {
			padding-top: 2.3rem;
		}
	}
}
.Section {
	clear: both;
	// padding instead of margin - otherwise it cuts the box-shadow of .Box -_-
	padding-bottom: 2rem;
}

/**
 * Modifiers
 */

.Section--space {
	padding-top: 1em;
}
.Section--messaging {
	padding-bottom: 0;
	padding-top: 1.6em;
}
