/**
 * Sections
 **/

 // Use this when you need a bit of extra space
.Section {
	overflow: auto;
	clear: both;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 2rem; // 2 cuz otherwise it cuts the box-shadow of .Box -_-
	margin-bottom: 2rem;
}

// Two column section
.Section--half {
	clear: none;
	overflow: visible;
	@media (min-width: $layout-s) {
		width: 50%;
		float: left;
	}
}

// Sections without extra bottom margin
.Section--noBottom {
	margin-bottom: 0;
}
