// Sections
// Use this when you need more vertical space
//

.Section {
	clear: both;
	padding-bottom: 2rem; // padding instead of margin - otherwise it cuts the box-shadow of .Box -_-
}

.Section--space,
.Section--messaging {
	padding-top: 1em;
}

.Section--messaging {
	padding-bottom: 0;
}
