/**
 * Minimal ui styles for some of our major steps
 * body class is added with application.view property isMinimalUi
 **/

.is-minimalUi {
	.SiteMain {
		transition: background-color 300ms $easing2;
		background-color: $primary-color;
		color: $white;
		min-height: 100vh;

		// on top of player
		position: relative;
		z-index: 1;

		.Muted {
			color: rgba($white, 0.6);
		}
	}
	.ContextualNavigation {
		transform: translateX(100%);
	}
	.Bar--top {
		background-color: transparent;
		border-bottom-color: transparent;
	}
	.Player {
		display: none;
	}
	.Bar--bottom {
		background-color: red;
		transform: translateY(100%);
	}
}

.is-minimalUiAnimation {
	.SiteMain {
		background-image: url(http://res.cloudinary.com/radio4000/image/upload/c_thumb,h_600,w_600/v1428245306/m94tslxxykohgojpjh5s);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
