{{#if model.length}}
	{{!-- {{#ember-list items=sortedModel height=800 rowHeight=40}} --}}
	{{!-- {{/ember-list}} --}}
	<ul class="List">
		{{#each sortedModel as |model|}}
			{{track-item track=model
				canEdit=controllers.channel.canEdit
				playback=controllers.playback
				edit="editTrack"}}
		{{/each}}
	</ul>
{{else}}
	<div class="Container Section--space">
		<p>No tracks yet.</p>
		{{#if canEdit}}
			<p>Why don't you {{#link-to 'channel.add'}}add one?{{/link-to}}</p>
		{{/if}}
	</div>
{{/if}}

{{#if isShowingModal}}
  {{#modal-dialog alignment='center' translucentOverlay=true}}
    {{track-edit model=trackToEdit saveTrack="saveTrack" deleteTrack="deleteTrack" cancelEdit="closeModal"}}
  {{/modal-dialog}}
{{/if}}

{{!-- <div class="Container">
	{{#if showHelp}}
		<div class="Note">
			{{#if noTracks}}
				<h2>Welcome to your new radio!</h2>
				<p>To add a new track, tap <em>'Add track'</em> above.</p>
			{{/if}}

			{{#if oneTrack}}
				<p><strong>Your first track!</strong> Why don't you add another?</p>
			{{/if}}

			{{#unless hasImage}}
				<p>To add an image, update the description of your radio, tap <em>'Edit'</em> above.</p>
			{{/unless}}
		</div>
	{{/if}}
</div> --}}

{{outlet}}
