{{#if model.length}}
	{{tracks-list model=model
					canEdit=canEdit
					playback=controllers.playback
					filter=tags}}
{{else}}
	<div class="Container Section--space">
		<p>No tracks yet.</p>
	</div>
{{/if}}

{{!-- <div class="Container">
	{{#if showHelp}}
		<div class="Note">
			{{#if noTracks}}
				<h2>Welcome to your new radio!</h2>
				<p>To add a new track, tap <em>'Add track'</em> above.</p>
			{{/if}}

			{{#if oneTrack}}
				<p><strong>Your first track!</strong> Why don't you add another?</p>
			{{/if}}

			{{#unless hasImage}}
				<p>To add an image, update the description of your radio, tap <em>'Edit'</em> above.</p>
			{{/unless}}
		</div>
	{{/if}}
</div> --}}

{{outlet}}
