<div class="Container">
	{{channel-header channel=model}}

	{{#if model.canEdit}}
		<form class="Form">
			{{track-add-inline
				addTrackUrl=addTrackUrl
				onSubmit=(action "addTrack")
			}}
		</form>

		{{#unless model.isExperienced}}
			{{page-welcome channel=model}}
		{{/unless}}
	{{/if}}
</div>

{{outlet}}
