<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>
				Log in <small>to Radio4000</small>
			</h1>
		</header>
		<div class="Container">
			{{user-login onLogin="login"}}
			<br>
			<p>Don't have a radio yet? <a href="{{href-to 'auth.signup'}}">Sign up</a>.</p>
		</div>
	</section>
</div>
