<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>Log in</h1>
			<p>to manage your Radio4000.</p>
		</header>
		<div class="Container">
			{{user-login onLogin="login"}}
			<br>
			<p>
				Don't have a radio yet? <a href="{{href-to 'auth.signup'}}" class="Btn Btn--important">Sign up</a>
			</p>
		</div>
	</section>
</div>
