<div class="Sections Sections--center">
	<section class="Section">
		<header class="Manchet">
			<h1>
				Log in <small>to Radio4000</small>
			</h1>
		</header>
		<div class="Container">
			{{user-login onLogin="login"}}
		</div>
	</section>
</div>
