<div class="Sections">
  <section class="Section">
    <header class="Manchet">
      <h1>Log in</h1>
      <p>to manage your Radio4000.</p>
    </header>
    <div class="Container">
      {{login-register onLogin=(action 'login')}}
    </div>

  </section>
  <section class="Section">
    <div class="Container">You don't have an account yet? <a href="{{href-to 'auth.signup'}}" class="Btn Btn--important">Register!</a></div>
  </section>
</div>
