<div class="Sections Sections--center">
	<section class="Section">
		<header class="Manchet">
			<h1>
				Log in <small>to Radio4000</small>
			</h1>
			<p class="u-tc">
				No account? <a href="{{href-to 'auth.signup'}}">Sign up</a> &rarr;
			</p>
		</header>
		<div class="Container Container--small">
			{{#if session.user}}
				<p>You are logged in!</p>
			{{else}}
				{{user-login onLogin=(action "submitLogin")}}
			{{/if}}
		</div>
	</section>
</div>
