{{#unless session.currentUser.channels.firstObject}}
	<section class="Container u-pushDown">
		<p>Welcome to Radio4000! Start listening to radios below, {{href-to 'get introduced' 'intro'}} or {{href-to 'create your own radio now!' 'login'}}</p>
	</section>
{{/unless}}

{{outlet}}
