<div class="Sections">
        <div class="Section Section--horizontal">
		<div class="Manchet">
			<h1>Discover <small> radios</small></h1>
		</div>
		<nav class="Container Container--noPaddingMobile Container--contentCentered">
			{{aside-channels
				userChannel=session.currentUser.channels.firstObject}}
		</nav>
	</div>

	{{outlet}}
</div>
