<div class="Tabs">
	{{#link-to 'channels.index' title="Discover channels" class="Tabs-item"}}Discover{{/link-to}}
	{{#link-to 'channels.all' title="Discover channels" class="Tabs-item"}}All{{/link-to}}
</div>

<section class="Section Section--messaging Container">
	{{#if session.currentUser.channels.firstObject}}
		<span class="IntroMessage"><strong>New!</strong> Add a track in a second with the {{#link-to 'channel.add' session.currentUser.channels.firstObject}}bookmarklet{{/link-to}}.</span>
	{{else}}
		<span class="IntroMessage"><strong>Welcome!</strong> {{#link-to 'intro'}}Get introduced to Radio4000.{{/link-to}}</span>
	{{/if}}
</section>

{{outlet}}
