{{#unless session.currentUser.channels.firstObject}}
	<section class="Container u-pushDown">
		<p>Welcome to Radio4000! Start listening to radios below, <a href=""></a> or <a href="{{href-to 'login'}}" title="">create your own radio now!</a></p>
	</section>
{{/unless}}

{{outlet}}
