<div class="Sections">
	<div class="Section">
		<nav class="Container Container--contentCentered Container--full">
			{{aside-channels
				userChannel=session.currentUser.channels.firstObject}}
		</nav>
	</div>

	{{outlet}}
</div>
