{{#unless session.currentUser.channels.firstObject}}
	<section class="Container">
		<p class="SingleNote">Welcome! Start listening to radios or {{#link-to 'intro'}}get introduced to Radio4000.{{/link-to}}</p>
	</section>
{{/unless}}

{{outlet}}
