<div class="NavigationTab">
	{{#link-to 'channels.index' title="Discover channels" class="NavigationTab-item"}}Discover{{/link-to}}
	{{#link-to 'channels.all' title="Discover channels" class="NavigationTab-item"}}All{{/link-to}}
	{{#if session.currentUser.channels.firstObject}}
		{{#link-to 'channel' session.currentUser.channels.firstObject title="Go to my radio" class="NavigationTab-item"}}
			My radio
		{{/link-to}}
	{{/if}}
</div>

<section class="Section Section--messaging Container">
	{{#unless session.currentUser.channels.firstObject}}
		<span class="IntroMessage"><strong>Welcome!</strong> {{#link-to 'intro'}}Get introduced to Radio4000.{{/link-to}}</span>
	{{/unless}}
</section>

{{outlet}}
