<div class="Sections">
	<div class="Section">
		<div class="Manchet">
			<h1>Listen <small>to radios</small></h1>
			{{aside-channels userChannel=session.currentUser.channels.firstObject class="Tabs--transparent"}}
		</div>
	</div>

	{{outlet}}
</div>
