{{#unless session.currentUser.channels.firstObject}}
	<section class="Container u-pushDown">
		<p>Welcome to Radio4000! Start listening to radios below, {{#link-to 'intro'}}get introduced{{/link-to}} or {{#link-to 'login'}}create your own radio now!{{/link-to}}</p>
	</section>
{{/unless}}

{{outlet}}
