<div class="Tabs">
	{{#link-to 'channels.index' title="Discover channels" class="Tabs-item"}}Discover{{/link-to}}
	{{#link-to 'channels.all' title="Discover channels" class="Tabs-item"}}All{{/link-to}}
</div>

<section class="Container">
	<p class="SingleNote">
		{{#if session.currentUser.channels.firstObject}}
			<strong>New!</strong> Add a track in a second with the {{#link-to 'channel.add' session.currentUser.channels.firstObject}}bookmarklet{{/link-to}}.
		{{else}}
			<strong>Welcome!</strong> {{#link-to 'intro'}}Get introduced to Radio4000.{{/link-to}}
		{{/if}}
	</p>
</section>

{{outlet}}
