<div class="Sections">
	{{outlet}}

	<div class="Container Container--contentCentered Container--full">
		<nav class="NavMain">
			{{aside-channels
					userChannel=session.currentUser.channels.firstObject}}
		</nav>
	</div>
</div>
