html {
	@extend %patron-light;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text-color;
	text-rendering: optimizeLegibility;
	// -webkit-font-smoothing: antialiased;
}
strong {
	@extend %patron-medium;
}
em {
	@extend %patron-italic;
}

a {
	color: $link-color;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	// color: hsl(100, 60%, 50%);
	text-decoration: underline;
}

// Headers
h1,h2,h3,h4 {
	@extend %patron-bold;
	line-height: 1.1;
}
h1,
h2,
h3,
h4 {
	line-height: 1.1;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

// Set a consistent margin between elements
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
dl,
dd,
pre,
fieldset,
input,
table,
address,
textarea,
form,
hr {
    margin: 0 0 1rem;
}

// Responsive media
iframe,
img,
canvas,
video,
embed {
	max-width: 100%;
}

// Typography
.Manchet {
	font-size: 20px;
}
.Article-body {
	p {
		font-size: 18px;
	}
}
