/**
 * Buttons
 */

.Btn {
	// reset
	-webkit-appearance: none;;
	@extend %patron;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	margin: 0;
	// styling
	display: inline-block;
	background-color: #e9e9e9;
	background-image: linear-gradient(to bottom, white 60%, transparent);
	color: $black;
	padding: em(6px) em(10px) em(4px);
}

// Different states
.Btn:hover,
.Btn:focus {
    text-decoration: underline;
 }
.Btn:active {
    background-image: linear-gradient(to bottom, $superlightgray 30%, white);
}
.Btn:disabled,
.Btn.is-disabled {
    cursor: default;
    opacity: 0.75;
}

// Also style buttons without the .Btn class
button {
	@extend .Btn;
}

.Btn--text {
	padding-left: 5px;
	padding-right: 5px;
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	text-align: left;
	&:hover {
		background-image: none;
	}
}

/**
 * Buttonsthat look like text inputs (also see forms.scss)
 */

.Btn--textInput {
	background-image: none;
	background-color: white;
	text-align: left;
	color: $gray;
	&:hover {
		background-image: none;
	}
}
.Btn--edit {}
.Btn--primary {
	background-color: hsl(110, 85%, 35%);
	background-image: linear-gradient(to bottom, hsla(0, 100%, 100%, 0.10) 40%, hsla(0, 0%, 0%, 0));
	color: $bleach;
	box-shadow: 2px 2px 0 hsl(0, 0%, 60%);
	border: 2px solid hsl(110, 85%, 25%);
	@extend %patron-medium;
	letter-spacing: 0.04em;
}
.Btn--large {
	font-size: 19px;
	padding: em(11) em(10) em(8);
}

.Btn--danger {
	color: $red;
}
