/**
 * Buttons
 */

.Btn {
	// reset
	-webkit-appearance: none;;
	@extend %patron;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	margin: 0;
	// styling
	border: 1px solid $lightgray;
	display: inline-block;
	background-color: rgb(192, 227, 255);
	background-image: linear-gradient(to bottom, white 60%, #E9E9E9);
	color: $black;
	padding: 6px 12px 5px;
}

// Different states
.Btn:hover,
.Btn:focus {
    text-decoration: underline;
 }
.Btn:active {
    background-image: linear-gradient(to bottom, $superlightgray 30%, white);
}
.Btn:disabled,
.Btn.is-disabled {
    cursor: default;
    opacity: 0.75;
}

// Also style buttons without the .Btn class
button {
	@extend .Btn;
}

/**
 * Add Track Button
 */

.AddTrackBtn {
	width: 100%;
	height: 30px;
	background-image: none;
	background-color: white;
	text-align: left;
	color: $gray;
	&:hover {
		background-image: none;
	}
}


/**
 * Edit button
 */

.EditBtn {
	
}