/**
 * Button reset (inspired by https://github.com/suitcss/components-button)
 */

.Btn {
  -webkit-appearance: none; /* 1 */
  background: transparent;
  cursor: pointer;
  display: inline-block;
  font: inherit; /* 4 */
  line-height: normal; /* 6 */
  margin: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none; /* 6 */
  white-space: normal; /* 7 */
}

/**
 * Button styling
 */

.Btn {
	@extend %patron-medium;
	padding-left: em(10);
	padding-right: em(10);
	background-color: $slightgray;
	background-image: linear-gradient(to bottom, white 60%, transparent);
	color: $black;
}

/**
 * UI states
 */
.Btn:hover,
.Btn:focus,
.Btn:active {
    text-decoration: underline;
 }

.Btn:disabled,
.Btn.is-disabled {
    cursor: default;
    opacity: 0.75;
}

// Also style buttons without the .Btn class
button {
	@extend .Btn;
}

/**
 * Button modifiers
 */

.Btn--text {
	padding-left: 5px;
	padding-right: 5px;
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	text-align: left;
	&:hover {
		background-image: none;
	}
}

/**
 * Primary, colored button
 */

.Btn--primary {
	background-color: hsl(110, 85%, 35%);
	background-image: linear-gradient(to bottom, hsla(0, 100%, 100%, 0.10) 40%, hsla(0, 0%, 0%, 0));
	color: $bleach;
	box-shadow: 2px 2px 0 hsl(0, 0%, 60%);
	border: 2px solid hsl(110, 85%, 25%);
	@extend %patron-medium;
	letter-spacing: 0.04em;
}

/**
 * Button sizes
 */

.Btn--large {
	font-size: 19px;
	padding: em(11) em(10) em(8);
}

.Btn--danger {
	color: $red;
}

/**
 * Buttons that look like text inputs (also see forms.scss)
 */

.Btn--textInput {
	background-image: none;
	background-color: white;
	text-align: left;
	color: $gray;
	&:hover {
		background-image: none;
	}
}
