/**
 * Buttons
 */

.Btn {
	// reset
	-webkit-appearance: none;;
	@extend %patron;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	margin: 0;
	// styling
	border: 1px solid rgba(0,0,0,0.2);
	display: inline-block;
	background-color: rgb(192, 227, 255);
	background-image: linear-gradient(to bottom, white 60%, #E9E9E9);
	color: $black;
	padding: 6px 10px 5px;
}

// Different states
.Btn:hover,
.Btn:focus {
    text-decoration: underline;
 }
.Btn:active {
    background-image: linear-gradient(to bottom, $superlightgray 30%, white);
}
.Btn:disabled,
.Btn.is-disabled {
    cursor: default;
    opacity: 0.75;
}

// Also style buttons without the .Btn class
button {
	@extend .Btn;
}

.Btn--text {
	padding-left: 5px;
	padding-right: 5px;
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	text-align: left;
	&:hover {
		background-image: none;
	}
}

/**
 * Buttonsthat look like text inputs (also see forms.scss)
 */

.Btn--textInput {
	background-image: none;
	background-color: white;
	text-align: left;
	color: $gray;
	&:hover {
		background-image: none;
	}
}


/**
 * Edit button
 */

.EditBtn {

}
