// Button reset (inspired by https://github.com/suitcss/components-button)
.Btn {
	-webkit-appearance: none; /* 1 */
	background: transparent;
	cursor: pointer;
	display: inline-block;
	line-height: normal; /* 6 */
	margin: 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none; /* 6 */
	white-space: normal; /* 7 */
	// Button styling
	@extend %patron-medium;
	padding-left: em(10);
	padding-right: em(10);
	background-color: $slightgray;
	background-image: linear-gradient(to bottom, white 60%, transparent);
	color: $black;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
		background-image: linear-gradient(to bottom, white 70%, transparent);
	}
	&:active {
		// @todo
	}
	&:disabled,
	&.is-disabled {
	    cursor: default;
	    opacity: 0.75;
	}
}

/**
 * Primary, colored button
 */
.Btn.Btn--primary {
	background-color: $green;
	background-image: linear-gradient(to bottom, rgba(white, 0.10) 40%, transparent);
	color: $bleach;
	box-shadow: 2px 2px 0 hsl(0, 0%, 80%);
	border: 2px solid $darkgreen;
	letter-spacing: 0.04em;

	&:hover,
	&:focus,
	&:active {
		background-image: linear-gradient(to bottom, rgba(white, 0.20) 40%, transparent);
	}
}

/**
 * Button sizes
 */
.Btn--large {
	font-size: 18px;
	padding: 0.8rem 1.4rem 0.6rem;
}

.Btn--danger {
	color: $red;
}

/**
 * Button that looks like text
 */
.Btn--text {
	padding-left: rem(5);
	padding-right: rem(5);
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	text-align: left;
	&:hover {
		background-image: none;
	}
}

/**
 * Button that looks like an input field
 */
.Btn--textInput {
	@extend %patron-medium;
	background-image: none;
	background-color: white;
	text-align: left;
	&:hover {
		background-image: none;
	}
}
