/**
 * Buttons
 */

.Btn {
	// reset
	-webkit-appearance: none;;
	@extend %patron;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	margin: 0;
	// styling
	display: inline-block;
	background-color: rgb(192, 227, 255);
	background-image: linear-gradient(to bottom, hsl(0, 100%, 100%) 60%, hsl(0, 0%, 85%));
	color: $black;
	padding: 6px 12px 5px;
}

.Btn:hover,
.Btn:focus,
.Btn:active {
    text-decoration: underline;
}

.Btn:disabled,
.Btn.is-disabled {
    cursor: default;
    opacity: 0.75;
}

button {
	@extend .Btn;
}
