// Typography
$base-font-size: 15px;
$base-line-height: (20/15);

%patron-bold { font-family:"Patron Bold", 'Patron Medium', sans-serif; font-weight:bold; }
%patron-medium { font-family:"Patron Medium", 'Patron Bold', sans-serif; font-weight:600; }
%patron-italic { font-family:"Patron Light Italic", 'Patron Light', sans-serif; font-weight:300; font-style:italic; }
%patron-light { font-family:"Patron Light", 'Patron Light', sans-serif; font-weight:300; }

// Colors
$yellow:         hsl(60, 100%, 70%);
$blue:           hsl(210, 75%, 50%);
$lightblue:      lighten($blue, 10%);
$red:            hsl(0, 100%, 50%);
$green:          hsl(110, 85%, 35%);
$darkgreen: 	  hsl(110, 85%, 25%);
$bleach:         hsl(72, 100%, 97%);
$black:          hsl(0, 0%, 10%);
$gray:           hsl(0, 0%, 50%);
$lightgray:      hsl(0, 0%, 85%);
$slightgray:     hsl(0, 0%, 95%);
$superlightgray: hsl(0, 0%, 98%);
$coolcolor: hsl(173, 32%, 45%);
$teal: hsl(187, 85%, 35%);

// Color definitions
$text-color: $black;
$link-color: $blue;
$primary-color: $teal;

// Good looking easings for animation
$easing: cubic-bezier(0.165, 0.84, 0.44, 1);
$easing2: cubic-bezier(0.770, 0, 0.175, 1);
$easing3: cubic-bezier(0.165,.84,.44,1);
$easing4: cubic-bezier(1,.01,.3,1);

// Layout: Breakpoints
$layout-s: rem(450);
$layout-m: rem(650);
$layout-ml: rem(750);
$layout-l: rem(1000);

$border-radius: 3px;
