/**
 * Forms
 */

// Shared styles for inputs and buttons
.Btn,
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea {
	@extend %patron-light;
	font-size: 13px;
	padding: 5px 6px 4px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 3px;
	color: $black;
}

// Consistent alignment
label,
input,
textarea,
select {
	display: inline-block;
	vertical-align: middle;
}

// Text inputs
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='url'],
textarea,
.Btn--textInput {
	width: 100%;
	max-width: 100%;
	box-shadow: 1px 2px 3px $superlightgray inset;
	min-height: 30px;
}
textarea {
	min-height: 4.8em;
}

// Form design should be tigther than inputs alone
.Form {
	margin-bottom: 0.5rem; // to make total bottom 1rem
	input[type='text'],
	input[type='url'],
	input[type='email'],
	input[type='tel'],
	input[type='password'],
	textarea {
		margin-bottom: 0.5rem;
	}
}

// Label styles
label {
	display: block;
	@extend %patron-medium;
	font-size: 13px;
	color: $gray;
}
