.icon-Beach { background-image: url('png/Beach.png'); background-repeat: no-repeat; }

.icon-Bell { background-image: url('png/Bell.png'); background-repeat: no-repeat; }

.icon-Bonsai { background-image: url('png/Bonsai.png'); background-repeat: no-repeat; }

.icon-Cheese { background-image: url('png/Cheese.png'); background-repeat: no-repeat; }

.icon-Cloud-Music { background-image: url('png/Cloud-Music.png'); background-repeat: no-repeat; }

.icon-Desert { background-image: url('png/Desert.png'); background-repeat: no-repeat; }

.icon-Engagement-Ring { background-image: url('png/Engagement-Ring.png'); background-repeat: no-repeat; }

.icon-Music-Equalizer { background-image: url('png/Music-Equalizer.png'); background-repeat: no-repeat; }

.icon-Radio-4 { background-image: url('png/Radio-4.png'); background-repeat: no-repeat; }

.icon-Rapper-2 { background-image: url('png/Rapper-2.png'); background-repeat: no-repeat; }

.icon-Record-Player { background-image: url('png/Record-Player.png'); background-repeat: no-repeat; }

.icon-Star-Yellow { background-image: url('png/Star-Yellow.png'); background-repeat: no-repeat; }

.icon-Star { background-image: url('png/Star.png'); background-repeat: no-repeat; }

.icon-Xylophone { background-image: url('png/Xylophone.png'); background-repeat: no-repeat; }

.icon-burger { background-image: url('png/burger.png'); background-repeat: no-repeat; }

.icon-loader { background-image: url('png/loader.png'); background-repeat: no-repeat; }

.icon-sprite { background-image: url('png/sprite.png'); background-repeat: no-repeat; }

