<article>
	<header class="Manchet Manchet--left">
		<h1>Forms<small> — styleguide</small></h1>
	</header>

	<div class="Container">
		<p>Now we'll show some forms and buttons.</p>

		<h2>Buttons</h2>

		<p>
			<button class="Btn">Button</button>
			<br><br>
			<button class="Btn Btn--danger">Danger button</button>
			<br><br>
			<button class="Btn Btn--primary">Primary button</button>
			<br><br>
			<button class="Btn Btn--text">Text button</button>
		</p>
		<p>
			<button class="Btn Btn--large">Large button</button>
			<br><br>
			<button class="Btn Btn--primary Btn--large">Large and primary button</button>
		</p>

		<h3>Button group</h3>

		{{#btn-group}}
			<button class="Btn">Sir</button>
			<button class="Btn">Alex</button>
			<button class="Btn is-active">Active Button</button>
			<button class="Btn">Ferguson</button>
		{{/btn-group}}

		<h3>A group of button groups</h3>

		<div class="BtnGroupWrapper">
			{{#btn-group}}
				<button class="Btn">Cheese</button>
				<button class="Btn">And</button>
				<button class="Btn">Bread</button>
			{{/btn-group}}
			{{#btn-group}}
				<button class="Btn">Another</button>
				<button class="Btn">Button</button>
				<button class="Btn">Group</button>
				<button class="Btn">With</button>
				<button class="Btn">Tuna</button>
			{{/btn-group}}
		</div>

		<h2>Forms</h2>

		<form class="Form">
			<div class="Form-group">
				<label>A label
					<input type="text" value="Text input">
				</label>
			</div>
			<div class="Form-group">
				<label>A label
					<textarea>A textarea</textarea>
				</label>
			</div>
			<div class="Form-group">
				<button class="Btn" type="submit">Submit</button>
			</div>
		</form>

	</div>
</article>
