<article>
	<header class="Manchet Manchet--left">
		<h1>Styleguide<small></small></h1>
	</header>

	<div class="Container">
		<p>
			This is a work in progress and a continued effort to achive a more consistent design throughout the interface of Radio4000.
		</p>
	</div>
</article>
