<div class="Sections">
	<div class="Section">
		<header class="Manchet">
			<h1>Feedback</h1>
		</header>
		<div class="Container">
			<p>
				Comments, problem reports, feature ideas or any thoughts are always welcome.<br>
				There might already be an answer to your question in the <a href="https://support.internet4000.com/radio4000" target="_blank" rel="noopener">support center</a>.
			</p>
			{{feedback-form-google-spreadsheet scriptId="AKfycbxhHhA5ppmIJXZA41ehfZjtSeyDFa_MTTjOOQ9avi-EUGB49v_3"}}
		</div>
	</div>
</div>

<!-- <iframe src="https://docs.google.com/forms/d/17hTDmRapcB18bwq9aImXo_VhqiLc62QcsJv2s2_oEpc/viewform" style="width: 100%; height: 820px" frameborder="0"></iframe> -->
