<div class="Sections Sections--center">
	<div class="Section">
		<header class="Manchet">
			<h1>Feedback</h1>
		</header>
		<div class="Container">
			<p>Comments, problem reports, feature ideas or any thoughts are always welcome.</p>

			<ul>
				<li>
					<a href="https://github.com/internet4000/radio4000/issues">GitHub issue</a>.
				</li>
				<li>
					<a href="https://matrix.to/#/#radio4000:matrix.org">#radio4000:matrix.org</a>
				</li>
				<li>
					<a href="mailto:contact@radio4000.com">contact@radio4000.com</a>
				</li>
			</ul>
		</div>
	</div>
</div>
