<div class="Sections Sections--center">
	<div class="Section">
		<header class="Manchet">
			<h1>Feedback</h1>
		</header>
		<div class="Container">
			<p>Comments, problem reports, feature ideas or any thoughts are always welcome. Prefer email? <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>.</p>

			{{feedback-form-google-spreadsheet
				scriptUrl="https://script.google.com/macros/s/AKfycbyuhfTf74Lcc5pvfXfxdgMfE4wpDiw8DJN1dzhN2YLRpAa2kBI/exec"}}

			<br>
			<p class="Note">
				You are also invited to say hello on the
				<a href="https://support.internet4000.com/chat/">community chat</a>,
				visit the <a href="https://support.internet4000.com/radio4000" target="_blank" rel="noopener">support center</a>
				or submit a <a href="https://github.com/internet4000/radio4000/issues">GitHub issue</a>.
			</p>

		</div>
	</div>
</div>
