<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>General <small>settings</small></h1>
			<p class="Muted">Customize your user experience</p>
			<nav class="Tabs Tabs--horizontal">
				{{link-to 'Account' 'auth.settings.account' class="Tabs-item"}}
				{{link-to 'Payments' 'auth.settings.payments' class="Tabs-item"}}
			</nav>
		</header>
	</section>

	{{outlet}}

</div>
