<div class="Sections">
	<section class="Section">
		<header class="Manchet">
			<h1>Settings</h1>
			<p>Customize your tool to your needs for a personal experience.</p>
		</header>
	</section>
	<section class="Section">
		<div class="Container">
			<h2>Linked accounts</h2>
			{{account-provider-list providerData=providerData unlink=(action 'unlinkAccount')}}
		</div>
	</section>
	<section class="Section">
		<div class="Container">
			<h2>Link a new account</h2>
			<p>Add other accounts to connect to your Radio4000.</p>
			{{#account-provider-link providerId="google.com" disabled=hasGoogle link=(action 'linkAccount')}}Google{{/account-provider-link}}
			{{#account-provider-link providerId="facebook.com" disabled=hasFacebook link=(action 'linkAccount')}}Facebook{{/account-provider-link}}
			{{account-email-link disabled=hasEmail link=(action 'linkEmail')}}
		</div>
	</section>
</div>
{{outlet}}
