<div class="Cover-image">
	{{#if hasBlock}}
		{{yield}}
	{{else if src}}
		<picture>
			<source data-srcset="{{cover-img src size=200 webp=true}}" type="image/webp">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				class="lazyload"
				data-src="{{cover-img src size=200}}"
				alt="">
		</picture>
	{{/if}}
</div>
