{{!-- this line instead of img thumb is fun with background attached --}}
{{!-- <div class="Cover-img" style="background-image: url({{image.thumb}})"> --}}
<div class="Cover-img">
	{{#if image}}
		<img src={{image.thumb}}>
	{{/if}}

	{{#if canPlay}}
		<button class="Cover-button" {{action "play"}} title="Play">
			{{x-icon i="play"}}
		</button>
	{{/if}}
</div>
