<div class="Cover-image">
	{{#if hasBlock}}
		{{yield}}
	{{else if src}}
		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
			class="lazyload"
			alt=""
			data-sizes="auto"
			data-srcset="
				{{img-url src w="150" h="150" transforms="c_thumb,c_fill,fl_lossy"}} 150w,
				{{img-url src w="250" h="250" transforms="c_thumb,c_fill,fl_lossy"}} 250w">
	{{/if}}
</div>
