<div class="Cover-img">
	{{#if image}}
		<img src={{image.thumb}}>
	{{/if}}

	{{#if canPlay}}
		<button class="Cover-button" {{action "play"}} title="Play">
			{{x-icon i="play"}}
		</button>
	{{/if}}
</div>
