<div class="Manchet Manchet--left">
	<h1>You are about to permanently delete {{model.title}}<small>— your Radio4000 radio</small></h1>
</div>

<div class="Container Section--space">
	<ul>
		<li>All your music on your radio will be deleted</li>
		<li>All your saved radio favorites will be deleted</li>
		<li>All your followers will loose access to your radio</li>
	</ul>

	<p>If you are sure of your decision, farewell!</p>

	<button class="Btn Btn--danger" {{action 'deleteChannel'}}>
		Yes, delete {{model.title}} :(
	</button>
	<br>
	<br>
	{{#link-to 'channel.index' model class="Btn Btn--primary"}}No, I want to keep my radio!{{/link-to}}
</div>
