<div class="Sections">
	<div class="Section Section--smallMarginB Section--horizontal">
		<header class="Manchet">
			<h1>Settings</h1>
		</header>
		<div class="Container Container--noPaddingMobile Container--contentCentered">
			{{aside-settings}}
		</div>
	</div>

	{{outlet}}
</div>

{{title "Settings" replace=true}}
