<div class="Sections">
	<div class="Section">
		<header class="Manchet">
			<h1>Settings</h1>
		</header>
		<div class="Container">
			<nav class="Tabs Tabs--horizontal Tabs--animated">
				{{#link-to "settings.index" class="Tabs-item"}}Channel{{/link-to}}
				{{#link-to "settings.account" class="Tabs-item"}}Account{{/link-to}}
			</nav>
		</div>
	</div>

	{{outlet}}
</div>

{{title "Settings" replace=true}}
