<div class="Playlists">
	
	<h2>Trending Playlists</h2>

	{{#each playlist in arrangedContent}}
		<article class="PlaylistTeaser">
			{{fire-playlist-slug playlist=playlist}}
		</article>
	{{/each}}
</div>
