<p>{{#link-to 'playlists.new'}}Create a new playlist{{/link-to}}.</p>

<ul class="List">
	{{#each playlist in arrangedContent}}
		<li>
			{{#link-to "playlist" playlist}}
				{{playlist.title}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>
