<div class="Playlists">

	<h2>Trending Playlists</h2>

	{{#each playlist in arrangedContent}}
		<article class="PlaylistTeaser">
			{{#link-to "playlist" playlist}}
				{{playlist.title}}
			{{/link-to}}
		</article>
	{{/each}}
</div>
