<div class="Box">
	<h1>Playlists</h1>
	<ul class="List">
		{{#each playlist in arrangedContent}}
			<li class="PlaylistTeaser">
				{{#link-to "playlist" playlist}}
					{{playlist.title}}
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</div>
