<h2>New Playlist</h2>
{{input value=playlist.title placeholder="Title"}}<br>
{{input value=playlist.username placeholder="Username"}}<br>
{{textarea value=playlist.body placeholder="Body"}}<br>
<button {{action "publishPlaylist"}}>Publish</button>
