<div class="CloudinaryUpload ClickArea">
	<form>
		<input type="file" id="fileElem" accept="image/*"
			style="display:none"
			onchange={{action "fileInputChanged" value="target.files"}}>
		<button class="Btn" {{action "selectFiles"}}>
			{{#if isRunning}}
				Uploading… {{progress}}%
			{{else}}
				Select or drop an image
			{{/if}}
		</button>
	</form>
</div>
