<!-- {{input type="search" value=query}} -->

{{#if results}}
	<p class="Muted">Tap a track to add it.</p>

	<ul class="SmallerList">
		{{#each results as |item|}}
			<li {{action 'add' item}}>
				<a href="#">{{item.title}}</a>
			</li>
		{{/each}}
	</ul>
{{/if}}

{{yield}}
