<p>All playlists in the system.</p>

<ul class="List">
	{{#each playlist in arrangedContent}}
		<li>
			{{#link-to "playlist" playlist}}
				{{playlist.title}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>
