{{!-- index of playlists goes into playlists.hbs --}}

<div class="Section">
		<div class="Manchet">
			<h1>Discover<small> — channels by other people</small></h1>
		</div>

	<div class="Playlists Container">
		{{#each playlist in arrangedContent}}
			{{#link-to "playlist" playlist class="Playlist"}}
				<h3 class="Title">{{playlist.title}}</h3>
				<p class="Body">{{do-truncate playlist.body 142}}</p>
			{{/link-to}}
		{{/each}}
	</div>
</div>
