{{!-- index of playlists goes into playlists.hbs --}}

<div class="Section">
	<div class="Manchet">
		<h1>Playlists<small> — click play and discover new music</small></h1>
	</div>

	<div class="Playlists">
		{{#each playlist in arrangedContent}}
			{{#link-to "playlist" playlist class="Playlist"}}
				<h3 class="Title">{{playlist.title}}</h3>
				<p class="Body">{{playlist.body}}</p>
			{{/link-to}}
		{{/each}}
	</div>
</div>
