<div class="Manchet">
	<h2>Playlists</h2>
	<p class="is-inactiveText">Explore radios, find music you like</p>
</div>

<ul class="Grid">
	{{#each playlist in arrangedContent}}
		<li>{{#link-to "playlist" playlist}}{{playlist.title}}{{/link-to}}</li>
	{{/each}}
</ul>
