<div class="Section Container">
	<section class="Playlists">
		{{#each playlist in arrangedContent}}
			{{!-- <div class="Playlist"> --}}
			{{#link-to "playlist" playlist class="Box"}}
				<h3 class="Subtitle">{{playlist.title}}</h3>
				<p>{{do-truncate playlist.body 142}}</p>
			{{/link-to}}
			{{!-- </div> --}}
		{{/each}}
	</section>
</div>
