<div class="Section Container">
	<section class="Playlists">
		{{#each playlist in arrangedContent}}
			<div class="Playlist">
				<h3 class="Subtitle">
					{{#link-to "playlist" playlist}}
						{{playlist.title}}
					{{/link-to}}
				</h3>
				<p>{{do-truncate playlist.body 142}}</p>
			</div>
		{{/each}}
	</section>
</div>
