<div class="Container">
	<h1 class="Title Manchet"><span class="is-highlighted">Playlists</span> — explore radios, find music you like</h1>
	<div class="BoxList">
		{{#each playlist in arrangedContent}}
			<div>{{#link-to "playlist" playlist class="Box"}}
				<h3>{{playlist.title}}</h3>
				<p>{{playlist.body}}</p>
			{{/link-to}}</div>
		{{/each}}
	</div>
</div>
