<div class="Container">
	<h1 class="Title">Playlists — explore radios, find music you like</h1>
	<ul class="BoxList">
		{{#each playlist in arrangedContent}}
			<li>{{#link-to "playlist" playlist class="Box"}}
				<h3>{{playlist.title}}</h3>
			{{/link-to}}</li>
		{{/each}}
	</ul>
</div>
