<div class="Container">
	<h1 class="Title">New radio channel</h1>
	<p class="Manchet">First and last step, name your new radio channel.</p>

	<form class="Form Form--newPlaylist">

		<label for="title">Title of your radio</label>
		{{input name="title" value=title autofocus="autofocus" placeholder='Could be "The Pirate Radio"'}}

		<label for="body">Description of your channel</label>
		{{textarea name="body" value=body placeholder='Why not "DETROIT k33p it r34l?"'}}

		<button class="Btn Btn--primary" {{action "create"}}>Create</button>
	</form>

	{{outlet}}
</div>
