<div class="Container Section">

	<div class="Manchet">
		<h1>New radio channel<small> — first and last step, name your new radio channel</small></h1>
	</div>

	<form class="Form Form--newPlaylist" {{action "newPlaylist" on="submit"}}>
		<div class="Form-group">
			<label>Title of your radio
				{{input value=title autofocus="autofocus" placeholder='Could be "The Pirate Radio"'}}
			</label>
		</div>
		<div class="Form-group">
			<label>Description of your channel
				{{textarea value=body placeholder='Why not "DETROIT k33p it r34l?"'}}
			</label>
		</div>
		<div class="Form-group">
			<button class="Btn Btn--primary" type="submit">Create</button>
		</div>
	</form>

	{{outlet}}
</div>
