<div class="Container Section">

	<div class="Manchet">
		<h1>
			<span class="is-highlighted">New radio channel</span> — first and last step, name your new radio channel.</span>
		</h1>
	</div>

	<form class="Form Form--newPlaylist">

		<label for="title">Title of your radio</label>
		{{input name="title" value=title autofocus="autofocus" placeholder='Could be "The Pirate Radio"'}}

		<label for="body">Description of your channel</label>
		{{textarea name="body" value=body placeholder='Why not "DETROIT k33p it r34l?"'}}

		<button class="Btn Btn--primary" {{action "create"}}>Create</button>
	</form>

	{{outlet}}
</div>
