<button class="TogglePanel" title="Menu" {{action "togglePanel"}}>
	<span class="TogglePanel-text">Menu</span>
	<span class="TogglePanel-square"></span>
	<span class="TogglePanel-square"></span>
	<span class="TogglePanel-square"></span>
</button>
