<div {{action 'click'}}>
	{{#unless hasBlock}}
	<h1>
		<span class="Logo-burger">{{x-icon i='burger'}}</span>
		<img class="Logo-img" src="assets/images/logos/radio4000-logo.png" alt="Radio4000">
	</h1>
	{{else}}
	{{yield}}
	{{/unless}}
</div>
