{{#if hasBlock}}
	{{yield}}
{{else}}
	<h1>
		{{!-- <span class="Logo-icon">&larr;</span> --}}
		{{!-- <span class="Logo-icon">{{x-icon i='burger'}}</span> --}}
		{{!-- <div class="Logo-dot"></div> --}}
		{{!-- <img class="Logo-img" src="assets/images/icons/r4000.svg" alt="Radio4000" title="Toggle menu"> --}}
		<img class="Logo-img" src="assets/images/icons/radio4000-b.svg" alt="Radio4000" title="Toggle menu">
	</h1>
{{/if}}
