body {
	overflow-y: scroll;
	margin: 1em;
	background-color: rgb(233, 233, 233);
}
.SiteHeader,
.SiteMain {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}
.SiteHeader {
	margin-bottom: 20px;
}

.SiteMain {
	overflow: auto;
}
.SiteTitle {
	margin: 0;
	display: inline-block;
}


/*
 User settings and log-in
*/

.UserLog {
	display: inline-block;
	padding-left: 3px;
}

.UserSettings {
	position: fixed;
	top: 0;
	right: 0;
	background: white;
	padding: 20px;
	border: 1px solid gray;
	h3,
	p {
		margin: 5px;
	}
}