body {
	overflow-y: scroll;
	margin: 1em;
	background-color: rgb(233, 233, 233);
}

.SiteMain {
	overflow: auto;
}

// User Log
.UserLog {
	position: fixed;
	top: 0;
	right: 0;
	background-color: gray;
}


// PLaylist Header
.PlaylistHeader,
.PlaylistBody {
	float: left;
	padding-bottom: 20px;
	
	.Inner {
		background-color: white;
		margin-right: 20px;
		margin-left: 20px;
		padding: 10px;
	}
}
.PlaylistHeader {
	width: 30%;
}
.PlaylistBody {
	width: 70%;
}