body {
	overflow-y: scroll;
	margin: 1em;
	background-color: rgb(233, 233, 233);
}
.SiteHeader,
.SiteMain {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
}
.SiteHeader {
	margin-bottom: 20px;
}

.SiteMain {
	overflow: auto;
}
.SiteTitle {
	margin: 0 3px;
	@media (min-width: 600px) {
		float: left;
	}
}


/*
 User settings and log-in
*/

.UserActions {
	padding-left: 3px;
	p {
		float: left;
		margin: 0;
	}
	@media (min-width: 600px) {
		float: left;
	}
}
