body {
  margin: 20px;
  font-family: 'Apercu';
}

.List {
	padding-left: 0;
	list-style: none;
}
.List li {
	border-bottom: 1px solid #ccc;
}

input,
textarea {
	font-size: 16px;
	font-family: 'apercu';
	padding: 0.25em 0.4em;
	margin-bottom: 0.5em;
	border: 1px solid #666;
	min-width: 200px;
}
textarea {
	min-height: 4em;
}
