<div class="Sections Sections--center">
	<section class="Section">
		<div class="Container Container--small">
			{{#link-to "channel.player"}}
				{{channel-cover src=model.image alt=model.title size=1000}}
			{{/link-to}}
			<h1 class="u-tc">{{model.title}}</h1>
		</div>
	</section>

	{{outlet}}

</div>
