<ul class="List">

	{{#each channels as |channel|}}
		<li>

			{{!-- link-to slows down rendering quite a lot --}}
			{{#link-to "channel" channel}}
			{{!-- <a href="#" {{action 'linkTo' channel}}> --}}

				<h3 class="List-title">{{channel.title}}</h3>
				{{#if channel.body}}
					<p class="List-body">{{channel.body}}</p>
				{{/if}}

			{{!-- </a> --}}
			{{/link-to}}

		</li>
	{{/each}}

</ul>
