<ul class="List">
	{{#each model as |item|}}
		<li>

			{{!-- link-to slows down rendering quite a lot --}}
			{{#link-to "channel" channel}}
			{{!-- <a href="#" {{action 'linkTo' item}}> --}}
				<h3 class="List-title">{{unbound item.title}}</h3>
				{{#if item.body}}
					<p class="List-body">{{unbound item.body}}</p>
				{{/if}}
			{{!-- </a> --}}
			{{/link-to}}

		</li>
	{{/each}}
</ul>
