{{#each channels as |channel|}}
	<li>

		{{#link-to "channel" channel}}
			{{channel-cover image=channel.coverImage}}

			<h3 class="List-title">{{channel.title}}</h3>
			{{#if channel.body}}
				<p class="List-body">{{do-truncate channel.body 120}}</p>
			{{/if}}
		{{/link-to}}

	</li>
{{/each}}
