<ul class="List">
	{{#each model as |channel|}}
		<li>
			{{#link-to "channel" channel}}
				<h3 class="List-title">{{channel.title}}</h3>
				{{#if channel.body}}
					<p class="List-body">{{do-truncate channel.body 140}}</p>
				{{/if}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>
