<div class="Manchet Manchet--left">
	<h1>Delete Channel <small>— ciao!</small></h1>
</div>

<div class="Container Section--space">
	<p>You are about to <strong>delete permanently</strong> your radio 4000 channel!</p>
	<p>This means:</p>

	<ul>
		<li>All the music you added to your channel will be lost for ever!</li>
		<li>Your list of favorite channels will be deleted.</li>
		<li>Your list of followers will also be deleted.</li>
		<li>Finnaly your channel <strong>{{model.title}}</strong> will be removed from our database.</li>
	</ul>

	<p>If you are sure of your decision, farewell!</p>

	<div>
		<button class="Btn Btn--danger Btn--delete" {{action 'deleteChannel' }}>Yes, delete my channel :(</button>
	</div>
</div>
