<div class="Channel-favorites">
	<div class="Container">
		<h3>Favorite channels from {{title}}</h3>
	</div>
	<div class="Container Container--noPadding">
		<ul class="List">
		{{#each fan in fans}}
			<li>
				{{#link-to "channel" fan class="ChannelTeaser" title="Go to this channel"}}
					<h3 class="ChannelTeaser-title">{{fan.title}}</h3>
					<p class="ChannelTeaser-description"> {{do-truncate fan.body 140}}</p>
				{{/link-to}}
			</li>
		{{/each}}
		</ul>
	</div>
</div>

