{{#if model.favoriteChannels}}

	<div class="Container Section Section--messaging">
		<p>{{model.favoriteChannels.length}} favorites.</p>
	</div>
	{{channels-list channels=model.favoriteChannels}}
{{else}}

	<div class="Container Section Section--messaging">
		<p>This channel doesn't have any favorites, yet.</p>
	</div>
{{/if}}
