{{#if model.favoriteChannels}}
	{{channels-list model=model.favoriteChannels}}
{{else}}
	<div class="Container Section Section--messaging">
		<p>This channel doesn't have any favorites, yet.</p>
	</div>
{{/if}}
