<div class="Channel-outlet">
	{{#if model.favoriteChannels}}
		<div class="Container">
			<p>{{model.favoriteChannels.length}} favorite radio channels.</p>
		</div>
		{{#list-manipulation list=model.favoriteChannels as |manipulatedList|}}
			{{channels-list channels=manipulatedList}}
		{{/list-manipulation}}
	{{else}}
		<div class="Container u-push-3">
			<p>This channel doesn't have any favorites, yet.</p>
		</div>
	{{/if}}
</div>
