{{title "Map of Radio4000" replace=true}}

{{#if session.isAuthenticated}}
	{{#unless session.currentUser.channels.firstObject.hasCoordinates}}
		<div class="Container">
			{{link-to 'Add my radio to the map' 'settings.channel.map' class="Btn Btn--map"}}
		</div>
	{{/unless}}
{{/if}}

{{#map-world
	class="Map--fullscreen"
	items=channelsWithCoordinates
	lat=lat
	lng=lng
	zoom=zoom
	onUpdate=(action "updatePosition")
	as |channel|
}}
	{{channel-card channel=channel wide=true}}
{{/map-world}}

{{outlet}}
