<input type="checkbox" id="PlayPause-state" class="PlayPause-state"
	checked={{isPlaying}}/>
<label for="PlayPause-state" title="Toggle playback (press 'P')" class="PlayPause-controller"></label>
{{yield}}
