<section class="Section">
	<div class="Container">
		<p>
			If you don't think you'll use Radio4000 again, you can delete your radio channel permanently.
		</p>

		<ul>
			<li>
				It is <strong>not possible to reactivate it or retrieve</strong> anything you've added.
			</li>
			<li>
				It is <strong>not possible to re-import exported channel data</strong>. Find help on the <a href="https://support.internet4000.com/radio4000/" rel="noopener" target="_blank">support section</a>.
			</li>
			<li>
				It is <strong>possible to {{#link-to "settings.channel.backup"}} make a backup of the radio data{{/link-to}} before</strong> deleting everything.
			</li>
			<li>
				Deleting your radio <strong>does not delete your {{link-to "account" "settings.account"}}</strong>.
			</li>
		</ul>

		{{#btn-group}}
			{{#link-to "channel.delete" model.slug class="Btn Btn--danger"}} Delete radio channel {{/link-to}}
		{{/btn-group}}
	</div>
</section>

{{outlet}}
