<section class="Section">
	<div class="Container Container--large">
		<h2>Selected tags</h2>
		{{channel-tags
				tags=model.channel.selectedHashtags
				channel=model.channel
		}}
	</div>
</section>

<section class="Section">
	<div class="Container Container--large">
		<h2>All tags</h2>
		{{channel-tags
				tags=model.tags.tags
				channel=model.channel
		}}
	</div>
</section>

{{#if model.canEdit}}
	<section class="Section">
		<div class="Container Container--large">
			<h2>Tracks without tag</h2>
			{{tracks-without-tag tracks=model.tracks}}
		</div>
	</section>
{{/if}}

{{outlet}}
