<div class="Tabs">
	{{#link-to 'channels.index' title="Discover channels" class="Tabs-item"}}Radios{{/link-to}}
	{{#link-to 'channels.all' title="Discover channels" class="Tabs-item"}}All{{/link-to}}
	{{#link-to 'channels.history' title="Your listening history" class="Tabs-item"}}History{{/link-to}}
</div>

<div class="Tabs">
	{{#link-to 'intro' title="Get introduced to Radio4000" class="Tabs-item"}}Introduction{{/link-to}}
	{{#link-to 'about' title="Learn more about Radio4000" class="Tabs-item"}}About{{/link-to}}
	{{#link-to 'help' title="Answers to your questions" class="Tabs-item"}}Help{{/link-to}}
	<a class="Tabs-item" href="http://blog.radio4000.com" target="_blank" title="How is the weather at Radio4000?">&rarr; Blog</a>
</div>

{{#unless authed}}
	<div class="Tabs">
		{{#link-to 'login' class="Tabs-item" title="Get your own radio now"}}Get your radio{{/link-to}}
	</div>
{{/unless}}

<div class="Tabs">
	{{#if authed}}
		{{#link-to 'logout' class="Tabs-item Muted" title="Log out from Radio4000"}}Log out{{/link-to}}
	{{else}}
		{{#link-to 'login' class="Tabs-item" title="Register or log in to Radio4000"}}Register or log in{{/link-to}}
	{{/if}}
</div>
