<div class="Manchet Manchet--left">
	<h1>Discover<small> — most popular radios</small></h1>
</div>

<div class="Container Container--full">
	<div class="Section">
		{{channels-grid channels=popular}}
	</div>

	<p>Want more radios? {{#link-to 'channels.all'}}See them all{{/link-to}}.</p>
</div>
