<div class="Manchet Manchet--left">
	<h1>Discover<small> — featured radios</small></h1>
</div>

<div class="Container Container--full">
	<div class="Grid Section">
		{{#each channel in popular}}
			{{x-cover model=channel}}
		{{/each}}
	</div>
	<p>Want more radios? {{#link-to 'channels.all'}}See them all{{/link-to}}.</p>
</div>
