<div class="Manchet Manchet--left">
	<h1>Discover<small> — curated radios</small></h1>
</div>

<div class="Container Container--full">
	<div class="Section">

		{{#if popular}}
			{{channels-grid channels=popular}}
		{{else}}
			<p>Oh, there are no curated channels yet.</p>
		{{/if}}

	</div>

	<p>{{#link-to 'channels.all'}}See all radios &rarr; {{/link-to}}.</p>
</div>
