<div class="Manchet Manchet--left">
	<h1>Featured<small> — selected radios</small></h1>
</div>

<div class="Section Container Container--full">
	<div class="Flex">
		{{#each channel in featured}}
			{{x-cover model=channel}}
		{{/each}}
	</div>
</div>
