<div class="Manchet Manchet--left">
	<h1>Discover<small> — human radios</small></h1>
</div>

<div class="Container Container--full">
	<div class="Flex">
		{{#each channel in featured}}
			{{x-cover model=channel}}
		{{/each}}
	</div>
</div>

<section class="Section">
	{{#unless session.authed}}
		{{!-- {{#link-to 'introduction' class="Box"}}
			<h2 class="Title">Welcome to Radio4000!</h2>
			<p>→ get introduced</p>
		{{/link-to}} --}}
		<p class="IntroMessage Container">
			Welcome to <strong>Radio4000</strong>! {{#link-to 'introduction'}}Get introduced{{/link-to}}.
		</p>
	{{/unless}}

	{{#unless session.userChannel}}
		{{!-- {{#link-to 'new' class="Box" title="Register or sign in to create your channel"}}
			<h2 class="Title">Create a radio</h2>
			<p>→ register or sign in</p>
		{{/link-to}} --}}
		<p class="IntroMessage Container">
			It seems you don't have a radio yet. {{#link-to 'new'}}Create your radio{{/link-to}}.
		</p>
	{{/unless}}
</section>
