<div class="Manchet Manchet--left">
	<h1>Give your radio channel a name<small> — Step 1 of 1</small></h1>
</div>

<div class="Container">

	<form class="Form" {{action "create" on="submit"}}>

		<div class="Form-group">
			{{focus-input value=model.title
							  placeholder='For instance: "The Pirate Radio"'
							  required="required" maxlength=titleMaxLength}}
		</div>

		{{#if tooLong}}
			<p class="Muted">Oops, please keep your name below {{titleMaxLength}} characters.</p>
		{{/if}}

		<p class="Muted">Don't worry, you can change this name <em>anytime later</em>!</p>

		<div class="Form-group">
			<button type="submit" class="Btn Btn--primary" title="Create your radio channel">Create your radio channel</button>
		</div>
	</form>

</div>

