<div class="Manchet Manchet--left">
	<h1>Name your radio channel<small> — Step 1 of 1</small></h1>
</div>

<div class="Container">

	<form class="Form" {{action "checkCreate" on="submit"}}>
		<p class="Muted">+ name must be maximum {{titleMaxLength}} characters, yours is: {{model.title.length}}</p>

		<div class="Form-group">
			{{focus-input value=model.title placeholder='For instance "The Pirate Radio"' maxlength=titleMaxLength required="required"}}
		</div>

		<p class="Muted">Don't worry, you can change this name <strong>anytime later</strong>!</p>

		<div class="Form-group">
			<button type="submit" class="Btn Btn--primary" title="Create your radio channel">Create your radio channel</button>
		</div>
	</form>

</div>

