<div class="Manchet Manchet--left">
	<h1>Most popular<small> — radios people really enjoy</small></h1>
</div>

<div class="Section">
	<div class="Container Container--full Container--noPadding">
		<ul class="List">
			{{#each channel in filteredContent}}
				<li>
					{{#link-to "channel" channel class="ChannelTeaser"}}
						<h3 class="ChannelTeaser-title">
							{{unbound channel.title}}
						</h3>
						<p class="ChannelTeaser-description">{{do-truncate channel.body 140}}</p>
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	</div>
</div>
