<section class="Section">
	{{#unless model.featured}}
		<div class="Container">
			{{#is-loading}}
				Loading featured radio channels…
			{{/is-loading}}
		</div>
	{{else}}
		<div class="Container Container--full">
			{{#list-manipulation list=model.featured as |manipulatedList|}}
				<div class="Grid">
					<div class="Grid-cell">
						<p>Welcome!</p>
						<p>Start your journey by listening to one of the radio channels on this page.</p>
						<p>
						{{#btn-group class="BtnGroup--full BtnGroup--vertical"}}
							{{play-random-channel class="Btn--large"}}
							<a
								class="Btn Btn--text"
								href="{{href-to 'auth.signup'}}"
							>
								Sign up to start your own radio
							</a>
						{{/btn-group}}
						</p>
					</div>
					{{#each manipulatedList as |channel|}}
						<div class="Grid-cell">
							{{channel-card channel=channel}}
						</div>
					{{/each}}
				</div>
			{{/list-manipulation}}
		</div>
	{{/unless}}
</section>
