<div class="Manchet Manchet--left">
	<h1>Discover<small> — curated radios</small></h1>
</div>

<div class="Container Container--full">
	<div class="Section">
		{{#if model}}
			{{channels-grid channels=controller.featured}}
		{{else}}
			<p>Finding curated radios…</p>
		{{/if}}
	</div>
</div>

<div class="Manchet Manchet--left">
	<h2>Popular <small> — hall of fame</small></h2>
</div>

<div class="Container Container--full">
	<div class="Section">
		{{#if model}}
			{{channels-grid channels=controller.popular}}
		{{else}}
			<p>Finding popular radios…</p>
		{{/if}}
	</div>

	<p>{{#link-to 'channels.all'}}See all radios &rarr;{{/link-to}}</p>
</div>
