<section class="Section">
	{{#unless model.featured}}
		<div class="Container">
			{{#is-loading}}
				Loading featured channels…
			{{/is-loading}}
		</div>
	{{else}}
		<div class="Container Container--full">
			{{#list-manipulation list=model.featured as |manipulatedList|}}
				<div class="Grid">
					<div class="Grid-cell">
						<p>Hello and welcome!</p>
						<p>You can start your journey by listening to one of the radio channels on this page.</p>
						<p>Otherwise, let's explore!</p>
						<p>
						{{#btn-group class="BtnGroup--full BtnGroup--vertical"}}
							{{play-random-channel
									class="Btn--large"}}
							<a
								class="Btn Btn--text"
								href="{{href-to 'about.intro'}}"
								title="Have you read the manifesto?">
								What is Radio4000?
							</a>
						{{/btn-group}}
						</p>
					</div>
					{{#each manipulatedList as |channel|}}
						<div class="Grid-cell">
							{{channel-card channel=channel}}
						</div>
					{{/each}}
				</div>
			{{/list-manipulation}}
		</div>
	{{/unless}}
</section>
