{{view App.PlaybackView}}

<header>
	<h1 class="Logo">Much Play</h1>
</header>

<nav class="Nav">
	{{#link-to 'sounds'}}Sounds{{/link-to}}
	{{#link-to 'styleguide'}}Styleguide{{/link-to}}
</nav>

<main>
	{{outlet}}

	<div {{bind-attr class=':Player isMaximized'}}>
		{{outlet player}}
	</div>
</main>
