<h2>Sounds</h2>

<ul class="List">
	{{#each sound in controller}}
	<li class="List-item">
		{{#link-to 'sound' sound}}
			{{sound.key}} <small>{{sound.provider}}</small>
		{{/link-to}}
	</li>
	{{/each}}
</ul>

{{outlet}}
