<h1>Styleguide</h1>
<p>Here you will be able to find and see all patterns and styles used on Much Play.</p>
<h1>This is an h1</h1>
<h2>This is an h2</h2>
<h3>This is an h3</h3>
<h4>This is an h4</h4>
<p>This is body and paragraph text with both italic and bold examples. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore <em>magna aliqua</em>. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur <strong>sint occaecat</strong> cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
