<article>
	<header class="Manchet Manchet--left">
		<h1>Help <small>— answers to your questions</small></h1>
	</header>

	<div class="Container">
		<h3>How do I create another radio?</h3>
		<p>If you already have a radio, you can't get another radio. You have one single radio to present your music taste. Put it on shuffle and enjoy your music instead of worrying about genres and playlists.</p>

		<h3>How do I change the URL of my radio?</h3>
		<p>Go to your radio, tap <em>'Edit'</em> and look for <em>'URL'</em>.</p>

		<h3>How do I add tracks from Soundcloud etc.?</h3>
		<p>For now, you can only add tracks from YouTube. We're considering other sources.</p>

		<h3>Why doesn't it play on my iPhone and iPad?</h3>
		<p>Unfortunately Apple decided to disallow autoplaying of videos on iOS. While we work around it, we suggest you buy an Android device.</p>

		<h3>Can't find the answer to your question here?</h3>
		<p>Ask a question on our <a href="https://groups.google.com/forum/#!forum/radio4000" target="_blank">Forum</a>. Our team and community are here to provide you with an answer!</p>
	</div>
</article>
