<div class="Playback-player">
	<!-- Do you like this player? It's open source!
	 github.com/internet4000/radio4000-player -->
	<radio4000-player
		autoplay="true"
		r4-url="true"
		track-id={{track.id}}
		title="Radio4000 player. [⌨ g c = current channel] [⌨ g x = curent track]"
	></radio4000-player>
	<script src="http://localhost:4002/dist/radio4000-player.js"></script>
</div>

<div class="Playback-layoutButtons">
	<button class="Btn Btn--small" {{action 'toggleMinimizedFormat'}} title="Toggle minimized player [⌨ f]">
		{{if uiStates.isMinimized '⬒' '_'}}
	</button>

	<button class="Btn Btn--small" {{action 'toggleFullscreenFormat'}} title="Toggle fullscreen player [⌨ f]">
		⤢
	</button>
</div>
