<header class="Manchet">
	<h1>Technology stack<small>, under the hood</small></h1>
</header>
<div class="Container">
	<p>Radio4000 is a cross-platform Ember.js application</p>
	<ul>
		<li>Lots of free and open source softwares, and their dependencies</li>
		<li>Ember.js</li>
		<li>Firebase backend using ember-data and the Emberfire adapter</li>
		<li>Ember CLI with Sass and Autoprefixer</li>
		<li>Grunticons</li>
		<li>Hosted on Surge.sh</li>
		<li>Groovy music</li>
		<li>Lots of bread and cheese</li>
	</ul>
	<h2>Technical challenges</h2>
	<ul>
		<li>Open sources</li>
		<li>Peer to Peer decentralization for what could</li>
		<li>Center the tools on the end users</li>
		<li><a href="https://xkcd.com/927/">Standardization</a> of online music library, centered on its owner</li>
		<li>Split application logic into independant pieces</li>
		<li>Associate relevent data to tracks</li>
		<li>Cross radios data</li>
		<li>User customization</li>
	</ul>
	<p>If these matters are of your concern, maybe we could <a href="mailto:contact@radio4000.com">do something together</a>.</p>
</div>
