<header class="Manchet">
	<h1>Technology stack<small>, under the hood</small></h1>
</header>
<div class="Container">
	<p>Radio4000 is a cross-platform Ember.js application</p>
	<ul>
		<li>Lots of free and open source software</li>
		<li>Ember.js</li>
		<li>Firebase</li>
		<li>Groovy music</li>
		<li>Lots of bread and cheese</li>
	</ul>
	<h2>Technical challenges</h2>
	<ul>
		<li>Open source</li>
		<li>Peer to peer decentralization of the platform</li>
		<li><a href="https://xkcd.com/927/">Standardization</a> of an online music library, centered on its owner</li>
		<li>Associate relevant meta-data for tracks</li>
		<li>Allow creative user customization</li>
	</ul>
	<p>If these matters are of your concern, maybe we could <a href="mailto:contact@radio4000.com">do something together</a>.</p>
</div>
