<article>
	<header class="Manchet Manchet--left">
		<h1>Contact<small> — the team</small></h1>
	</header>

	<div class="Container">
		<p>We want your input! If you have any questions, bug reports, complaints, praises or ideas, please contact us on <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>.</p>
	</div>
</article>
