<article class="Section">

	<header class="Manchet Manchet--left">
		<h1>Contact<small> — the team</small></h1>
	</header>

	<div class="Container Container--full">
		<p>You want to get in touch? <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>.</p>
	</div>
</article>

