<article class="Section">

	<header class="Manchet Manchet--left">
		<h1>Contact<small> — the team</small></h1>
	</header>

	<div class="Container Container--full">
		<p>You want to get in touch? <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>.</p>
		<p>We really want your input! Please if you have any question, bug report, complaint, praise, feature request - everything to improve Radio4000. Contact us on our <a href="https://groups.google.com/forum/#!forum/radio4000" target="_blank">Forum</a>.</p>
	</div>
</article>

