<article>
	<header class="Manchet Manchet--left">
		<h1>About<small> — Radio4000</small></h1>
	</header>

	<div class="Container">
		<p>What if all the songs you like and play were collected in a radio? What if that radio was available everywhere? And what if you could play your friends' radios, too? There's no need to download an app, you're already here. Welcome to Radio4000!</p>

		<p>No grouping of genres and no playlists to manage. All the music you like and a big fat play button. All tracks are played with the help of YouTube. To add a track to your own radio, you paste in the URL of the YouTube video you like.</p>

		<ul>
			<li>{{#link-to 'intro'}}Get started with Radio4000{{/link-to}}</li>
		</ul>

		<p>How's the weather at Radio4000? <a href="http://blog.radio4000.com/" target="_blank">Check our blog.</a></p>

		<h2>Radio4000 Newsletter</h2>
		<p>Recieve updates from us about Radio4000 and what we're doing. We won't pest you with nonsense.</p>
		{{newsletter-form}}

	</div>
</article>
