<article class="Container u-push--1">
	<header class="u-push--1">
		<h1><small>Radio4000 is about </small>music <small>and</small> people</h1>
	</header>

	<ul>
		<li>Learn more about Radio4000 on the <a href="{{href-to 'intro'}}">introduction</a> page</li>
		<li>There is also a <a href="https://www.facebook.com/radio4000/" target="_blank">Facebook page</a> for some updates.</li>
		<li>Weather reports are on <a href="http://blog.radio4000.com/" target="_blank">our blog</a>.</li>
	</ul>
</article>

<article class="Container">
	<header class="">
		<h2><small>Radio4000</small> Newsletter</h2>
	</header>

	<p>Recieve updates from us about Radio4000 and what we're doing. We won't pest you with nonsense.</p>
	{{newsletter-form}}
</article>
