<article>
	<header class="Manchet">
		<h1><small>Radio4000 is about </small>music <small>and</small> people</h1>
	</header>
	<div class="Container">
		<ul>
			<li>Learn more about Radio4000 on the <a href="{{href-to 'intro'}}">introduction</a> page</li>
			<li>There is also a <a href="https://www.facebook.com/radio4000/" target="_blank">Facebook page</a> for some updates.</li>
			<li>Weather reports are on <a href="http://blog.radio4000.com/" target="_blank">our blog</a>.</li>
		</ul>
		<br>
		<h2>Newsletter</h2>
		<p>Recieve updates from us about Radio4000 and what we're doing. We won't pest you with nonsense.</p>
		{{newsletter-form}}
	</div>
</article>
