<article>
	<header class="Manchet Manchet--left">
		<h1>About<small> — Radio4000</small></h1>
	</header>

	<div class="Container">
		<p>What if all the songs you like and play on different services like YouTube and Soundcloud were collected in a single radio? What if that radio was available everywhere? There's no need to download an app.</p>

		<p>No grouping of genres and no playlists to manage. Just all the music you like together and a big fat play button. That's Radio4000.</p>

		<ul>
			<li>{{#link-to 'intro'}}Get started with Radio4000{{/link-to}}</li>
		</ul>

		<p>How's the weather at Radio4000? <a href="http://radio4000.tumblr.com/" target="_blank">Check our blog.</a></p>
	</div>
</article>
