<article>
	<header class="Manchet Manchet--left">
		<h1>Log<small> — what's new?</small></h1>
	</header>

	<div class="Container">
		<p>A timeline of Radio4000 events:</p>

		<p>
		<strong>[v3.0.0]</strong> <span class="Muted">02.05.2015</span><br>
		Images, autosearch, bugs, design
		<br><br><strong>[v2.0.0]</strong> <span class="Muted">07.03.2015</span><br>
		Redesign, tabs, favorites and followers and tons of other improvements
		<br><br><strong>[v1.2.0]</strong> <span class="Muted">09.01.2015</span><br>
		Now you can shuffle
		<br><br><strong>[v1.1.1]</strong> <span class="Muted">01.01.2015</span><br>
		Fixes
		<br><br><strong>[v1.1.0]</strong> <span class="Muted">21.12.2014</span><br>
		On the world's shortest day we managed to improve everything. We rewrote the playback functionality and performance is much better.
		<br><br><strong>[v1.0.0]</strong> <span class="Muted">25.10.2014</span><br>
		First real version where everything is working
		<br><br><strong>[v0.2.0]</strong> <span class="Muted">14.09.2014</span><br>
		Rewrote almost everything
		<br><br><strong>[v0.1.5]</strong> <span class="Muted">12.08.2014</span><br>
		Nothing new but sun and drinks
		<br><br><strong>[v0.1.0]</strong> <span class="Muted">01.06.2014</span><br>
		First working version
		<br><br><strong>[v0.0.0]</strong> <span class="Muted">01.03.2014</span><br>
		Development begun</p>

		<p>We're currently contemplating:</p>
		<ul>
			<li>Login with email/pass</li>
			<li>Soundcloud and Vimeo integration</li>
			<li>Sorting of tracks</li>
			<li>Comments on a channel</li>
		</ul>
	</div>
</article>
