<article>
	<header class="Manchet Manchet--left">
		<h1>Technology stack<small> — under the hood</small></h1>
	</header>

	<div class="Container">
		<p>Radio4000 is an Ember.js app with Firebase backend.</p>
		<ul>
			<li>Ember.js with Ember Data</li>
			<li>Firebase as backend using the Emberfire adapter</li>
			<li>Ember CLI with Sass and Autoprefixer</li>
			<li>SVG icon sprites</li>
			<li>Deployment to Webfaction using gulp and rsync</li>
			<li>Groovy music</li>
			<li>Lots of bread and cheese</li>
		</ul>
	</div>
</article>
