<div class="IntroDemo">
	<div class="IntroDemo-browser">
		<span class="IntroDemo-buttons IntroDemo-close"></span>
		<span class="IntroDemo-buttons IntroDemo-minimize"></span>
		<span class="IntroDemo-buttons IntroDemo-maximize"></span>
		<span class="IntroDemo-addressbar"></span>
	</div>
	<div class="IntroDemo-header">
		<img src="images/logos/logo-radio4000.png" alt="Radio4000 logo" class="IntroDemo-logo">
	</div>
	<div class="IntroDemo-container">
		{{!-- {{render 'tracks' demoChannel}} --}}
	</div>
</div>
