<div class="Bar Bar--top">
	<button id="TogglePanel" class="TooglePanel" title="Menu" {{action "togglePanel"}}>☰</button>
	<h1 class="SiteLogo">
		{{#link-to "channels" title="Back to home"}}
			<img src="images/logos/logo-radio4000.png" alt="Radio4000">
		{{/link-to}}
	</h1>

	<div class="ContextualNavigation">

		{{#if session.authed}}
			{{#if session.userChannel}}
				{{#link-to 'channel.add' session.userChannel}}+ Add track{{/link-to}}
				{{!-- {{#link-to 'channel' session.userChannel title="Your channel"}}{{session.userChannel.title}}{{/link-to}} --}}
			{{/if}}
		{{/if}}
		{{#unless session.authed}}
			{{#link-to 'signin'}}Register or sign in{{/link-to}}
		{{/unless}}
	</div>
</div>
