<nav>
	{{#link-to 'channels' title="Discover channels"}}Discover{{/link-to}}

	{{#if session.authed}}
		{{#if session.userChannel}}
			{{#link-to 'channel' session.userChannel title="Go to my channel"}}My channel{{/link-to}}
			{{!-- {{#link-to 'tracks.add' session.userChannel title="Add a track to my channel"}}{{x-icon i="plus"}} Add track{{/link-to}} --}}
		{{else}}
			{{#link-to 'new' title="Create your channel"}}+ My channel{{/link-to}}
		{{/if}}
	{{/if}}

	<div class="ContextualNavigation u-alignRight">
		{{#if session.authed}}
			<a href="#" class="Muted" title="Sign out from Radio 4000" {{action 'logout' this}}>Sign out</a>
		{{else}}
			{{#link-to 'signin' title="Sign in to Radio 4000"}}Sign in{{/link-to}}
		{{/if}}
	</div>
</nav>
