<section class="Section">
	<div class="Container">
		<h2>Backup your radio</h2>
		<p>You can export and save all data from this Radio4000 channel at any time. The following link will take you to a "json"
			text file that you can save and store. Preferably in a vault under the mountains. This file does not contain any private
			information.
		</p>
		<p>
			<a href="https://api.radio4000.com/backup?slug={{model.slug}}" rel="noopener" target="_blank" class="Btn">Create backup</a>
		</p>
	</div>
</section>

{{outlet}}
