<section class="Section">
	<div class="Container">
		<p>
			You can export and save all data from this Radio4000 channel at any time.
			The backup comes in the form of a <em>json</em> text file.
		</p>
		<p>
			Download the file, and save it on your devices to create a backup.
		</p>
		<p>
			<a
				href="https://api.radio4000.com/backup?slug={{model.slug}}"
				rel="noopener"
				target="_blank"
				class="Btn"
				title="Opens a new window, with all your channel's data represented in json format. Save this file on your device to make a backup."
			>Create backup</a>
		</p>
		<p>
			Note, the backup does not contain any media file. It is 100% text that you can read (json format), and re-use in other applications.
			You own it, it is safe to share, as no private information is included (only tracks and channel informations).
		</p>
	</div>
</section>

{{outlet}}

{{title "Backup your radio" replace=true}}
