<button class="Btn Btn--toggle Btn--text">
	<span></span>
	<span></span>
	<span></span>
</button>

<select class="ContextualToggle-select">
	<option>Edit</option>
	<option>Copy to my radio</option>
	<option>Radio URL</option>
	<option>Youtube URL</option>
	<option>Delete</option>
</select>

{{yield}}
