<button class="Btn Btn--toggle Btn--text">
	<span></span>
	<span></span>
	<span></span>
</button>

<select class="ContextualToggle-select" onchange={{ action 'handleSelect'}}>
	<optgroup label="Share">
		<option value="copyYTURL">Copy Youtube URL</option>
		<option value="copyR4URL">Copy Radio4000 URL</option>
		<option value="copyTracktoRadio">Copy to my radio</option>
	</optgroup>
	{{#if canEdit}}
		<optgroup label="Manage">
			<option value="editTrack">Edit</option>
		</optgroup>
	{{/if}}
</select>
