<button class="Btn Btn--toggle Btn--text">
	<span></span>
	<span></span>
	<span></span>
</button>

<select class="ContextualToggle-select" onchange={{ action 'test'}}>
	<optgroup label="Share">
		<option>copy Youtube URL</option>
		<option>Copy Radio4000 URL</option>
		<option value="copyTracktoRadio">Copy to my radio</option>
	</optgroup>
	<optgroup label="Manage">
		<option>Delete</option>
		<option value="edit">Edit</option>
	</optgroup>
</select>
