<label>
	<select class="ContextualToggle-select" onchange={{ action 'handleSelect'}}>
		<option disabled selected value style="display:none;">-</option>
		<optgroup label="Links">
			{{#if session.currentUser.channels.firstObject.isPremium}}
				<option value="copyTrackToRadio">Add to my radio</option>
			{{/if}}
			<option value="copyR4URL">Copy Radio4000 URL</option>
			<option value="copyYoutubeURL">Copy YouTube URL</option>
			{{#if track.discogsUrl}}
				<option value="copyDiscogsURL">Copy Discogs URL</option>
			{{/if}}
		</optgroup>
		{{#if canEdit}}
			<optgroup label="Manage">
				<option value="editTrack">Edit</option>
			</optgroup>
			{{#if track.mediaNotAvailable}}
				<optgroup label="Suggestions">
					<option value="editTrack">-> Fix broken media URL</option>
				</optgroup>
			{{/if}}
		{{/if}}
	</select>
	<button class="Btn Btn--toggle Btn--text" tabindex="-1">
		<span></span>
		<span></span>
		<span></span>
		<span class="u-hiddenVisually">More</span>
	</button>
</label>
