<section class="Sections">
	<div class="Section">

		<header class="Manchet">
			<h1><small>Choose a </small>name<small> for your </small>radio</h1>
			<p>
				<span class="Muted">Step 1 of 1</span><br>
				Go ahead, you can <em>always</em> change this name later.
			</p>
		</header>

		<div class="Container">
			<form class="Form" onsubmit={{perform createRadio}}>
				{{#form-group model=this valuePath="title" label="Name" as |v|}}
					{{focus-input
						autoFocus=true
						value=v
						required="required"
						placeholder="ex: “The Pirate Radio”"}}
				{{/form-group}}

				<div class="BtnGroupWrapper BtnGroupWrapper--full">
					<button type="submit"
						class="Btn Btn--large"
						title="Create your radio channel"
						disabled={{disableSubmit}}>
						{{if createRadio.isRunning "Creating…" "Create radio"}}
					</button>
					<button class="Btn Btn--text" disabled>yes, we're done!</button>
				</div>
			</form>
		</div>
	</div>
</section>
