<section class="Section Section--100vh Section--flex Section--bg Section--noMarginB">
	<div class="Section-inner Section-inner--vCentered Container Container--centered">

		<h2><small>What </small>name<small> for your </small>radio?</h2>
		<p class="Muted">Go ahead, you can <em>always</em> change it later!</p>

		<form class="Form" onsubmit={{perform createRadio}}>
			{{#form-group model=this valuePath="title" as |v|}}
				{{focus-input
					value=v
					required="required"
					placeholder="exemple: “The Pirate Radio”"
					class="Form-bigInput u-textAlignCenter"}}
			{{/form-group}}

			<div class="Form-group u-alignCenter">
				<button type="submit" class="Btn Btn--primary Btn--large"
					title="Create your radio channel"
					disabled={{disableSubmit}}>
					{{if createRadio.isRunning "Creating…" "Create my radio"}}
				</button>
			</div>
		</form>

	</div>
</section>
