<section class="Section">
	<div class="Container">
		<h2>Premium</h2>
		<p>Radio4000 will always be free to use.</p>
		<p>
			To support the team in creating the best music experience, you can upgrade to a premium Radio4000 account.
			For <strong>14€, one time payment</strong>, access all Radio4000 features; <strong>pay once, enjoy Radio4000 for ever.</strong>
		</p>
		<p>What you get:</p>
		<ul>
			<li>reblog music from a radio channel to yours</li>
			<li>filter tracks in radios channels by their data and tags</li>
			<li>analyse channels and their music</li>
			<li>every future features the team will develop</li>
			<li>the satisfaction of supporting a great open source project</li>
		</ul>

		{{stripe-checkout
				class="Btn Btn--important"
				name="Radio4000.com"
				description="Pay once, enjoy for ever"
				amount=1400
				onToken=(action "processStripeToken")}}
	</div>
</section>

{{outlet}}
