<h3>Your radio has been created!</h3>
<p>Here is what you could do to start broadcasting 🚀</p>

<div class="PageWelcome-actions">
	{{#link-to 'add' (query-params url="https://www.youtube.com/watch?v=ymdssZOAx3Q")}}
		<label>
			{{input type='checkbox'
				checked=channel.tracks.firstObject
				disabled=channel.images.firstObject}} Add your first track <small>(paste in a YouTube link)</small>
		</label>
	{{/link-to}}
	{{#link-to 'channel.edit'}}
		<label>
			{{input type='checkbox'
				checked=channel.images.firstObject
				disabled=channel.images.firstObject}} Customize your radio with an image
		</label>
	{{/link-to}}
	{{#link-to 'channels.all'}}
		<label>
			{{input type='checkbox'
				checked=channel.favoriteChannels.firstObject
				disabled=channel.images.firstObject}} Find a radio you like and add it to your favorites
		</label>
	{{/link-to}}
</div>
