.icon-burger { background-image: url('png/burger.png'); background-repeat: no-repeat; }

.icon-loader { background-image: url('png/loader.png'); background-repeat: no-repeat; }

.icon-radio4000 { background-image: url('png/radio4000.png'); background-repeat: no-repeat; }

.icon-vinyl { background-image: url('png/vinyl.png'); background-repeat: no-repeat; }

