.icon-burger { background-image: url('png/burger.png'); background-repeat: no-repeat; }

.icon-loader { background-image: url('png/loader.png'); background-repeat: no-repeat; }

.icon-r4000 { background-image: url('png/r4000.png'); background-repeat: no-repeat; }

.icon-radio-4 { background-image: url('png/radio-4.png'); background-repeat: no-repeat; }

.icon-record-player { background-image: url('png/record-player.png'); background-repeat: no-repeat; }

.icon-sprite { background-image: url('png/sprite.png'); background-repeat: no-repeat; }

.icon-star-yellow { background-image: url('png/star-yellow.png'); background-repeat: no-repeat; }

.icon-star { background-image: url('png/star.png'); background-repeat: no-repeat; }

.icon-vinyl-animated { background-image: url('png/vinyl-animated.png'); background-repeat: no-repeat; }

.icon-vinyl { background-image: url('png/vinyl.png'); background-repeat: no-repeat; }

.icon-xylophone { background-image: url('png/xylophone.png'); background-repeat: no-repeat; }

