<section class="Section">
	<div class="Manchet Manchet--left">
		<h1>Your listening <small>history</small></h1>
		<p class="Muted">Only you can see this section</p>
	</div>

	<div class="Container Container--full">
		{{#if model}}
			{{#each-grid items=model as |item|}}
				{{channel-card channel=item}}
			{{/each-grid}}
		{{else}}
			<p>You haven't played any radios yet.</p>
		{{/if}}
	</div>

	{{#btn-group class="Container"}}
		<button class="Btn" {{action 'clearHistory'}}>Clear history</button>
	{{/btn-group}}
</section>
