/**
 * Utilities for aligning components
 */
.u-alignLeft {
	float: left;
}

.u-alignRight {
	float: right;
}

.u-alignCenter {
	text-align: center;
}

.u-pushDown {
	// enough to be below the logo
	margin-top: 4rem;
}

.u-hide {
	display: none !important;
}
