/**
 * Utilities for aligning components
 */

.u-alignLeft {
	float: left;
}
.u-alignCenter {
	text-align: center;
}
.u-alignRight {
	float: right;
}
.u-pushDown {
	// enough to be below the logo
	margin-top: 4rem;
}
.u-hide {
	display: none;
}
