/**
 * Alignment helpers
 */

// totally centered
.u-alignCenter {
	text-align: center;
	@media (min-width: $layout-m) {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
	}
}
