/**
 * Content states
 */


// some informative text for an inactive area
// well used right after an h2
.is-inactiveText {
	color: $gray;
	a {
		text-decoration: underline;
		color: $gray;
	}
}

// is highlighted
.is-highlighted {
	text-decoration: none;
	font-weight: bold;
	&.Title {
		@include size-3;
		display: inline-block;
		margin-bottom: 0;
	}
}
a.is-highlighted {
	&:hover,
	&:active,
	&:visited {
		color: $text-color;
		cursor: pointer;
		text-decoration: none;
	}
}
