/**
 * Content states
 */


// some informative text for an inactive area
// well used right after an h2
.is-inactiveText {
	max-width: 30rem;
	color: $darkgray;
}

.is-highlighted {
	text-decoration: underline;
}
