/**
 * Media block
 */
.MediaBlock {
	@include clearfix;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.MediaBlock-media {
	max-width: 50%;
}

.MediaBlock-body {
	max-width: 50%;
	padding-right: 2rem;
	align-self: center;
}

.MediaBlock--full {
	.MediaBlock-media {
		width: 100%;
		text-align: center;
	}
}

// Modifier: Right aligned
.MediaBlock-media--right {
	float: right;
	margin-right: auto;
	margin-left: 1rem;
}
