/**
 * Media block
 */

.MediaBlock {
	@include clearfix;
	position: relative;
	zoom: 1;
}
.MediaBlock-media {
	float: left;
	margin-right: em($u-space);
}
.MediaBlock-body {
	display: table-cell;
	width: 10000px;
}
.MediaBlock--full {
	.MediaBlock-media {
		width: 100%;
		text-align: center;
	}
}

// Modifier: Right aligned
.MediaBlock-media--right {
	float: right;
	margin-right: auto;
	margin-left: 1rem;
}
