/**
 * Utilities for text
 */
.u-textStrike {
	text-decoration: line-through;
}

.u-textAlignCenter {
	text-align: center;
}

/**
 * Negative text
 * use this for whitish text on blackish backgrounds
 */
@mixin negative-text() {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
