{{#link-to 'track' track class="Track-link"}}
	<h3 class="Track-title">
		{{track.title}}
	</h3>
	<p class="Track-body">{{track.body}}</p>
{{/link-to}}

{{#if canEdit}}
	<button class="Btn Btn--text Muted Track-controls" {{action 'edit'}} title="Edit the track">Edit</button>
{{/if}}
