{{#link-to 'channel.tracks.track.index' track class="Track-link"}}
	<h3 class="Track-title">
		{{track.title}}
	</h3>
	<p class="Track-body">{{track.body}}</p>
{{/link-to}}

{{#if canEdit}}
	{{link-to 'Edit' 'channel.tracks.track.edit' track
			class="Btn Btn--text Muted Track-controls"
			title="Edit the track"}}
{{/if}}
