{{#leaflet-map
		 maxBounds=maxBounds
		 lat=lat
		 lng=lng
		 zoom=zoom
		 onMoveend=(action "updateCenter")}}
	{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
{{/leaflet-map}}

<div>
	<label>Latitude: {{input value=lat }}</label>
	<label>Longitude: {{input value=lng }}</label>
</div>

{{yield}}
