{{#leaflet-map
		 lat=lat
		 lng=lng
		 zoom=zoom
		 onMoveend=(action "updateCenter")}}
	{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
{{/leaflet-map}}

<form class="Form">
	<div>
		<p>lat: {{input value=lat }}</p>
		<p>lng: {{input value=lng }}</p>
	</div>

	<div class="BtnGroupWrapper BtnGroupWrapper--full">
		<button class="Btn Btn--large">Cancel changes</button>
		<button
			type="submit"
			class="Btn Btn--large Btn--primary">Save Localisation</button>
	</div>

</form>

{{yield}}
