<p>lat: {{input value=lat }}</p>
<p>lng: {{input value=lng }}</p>

{{#leaflet-map
		 lat=lat
		 lng=lng
		 zoom=zoom
		 onMoveend=(action "updateCenter")}}
	{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
{{/leaflet-map}}

{{yield}}
