<h1 class="SiteLogo">
	{{#link-to "index" title="Back to home"}}
		<img src="images/logos/logo-radio4000.png" alt="Radio 4000">
	{{/link-to}}
</h1>

<nav>
	{{#if session.authed}}
		{{#if session.userChannel}}
			{{#link-to 'channel' session.userChannel title="Go to my channel"}}My channel{{/link-to}}
			{{!-- {{#link-to 'tracks.add' session.userChannel title="Add a track to my channel"}}{{x-icon i="plus"}} Add track{{/link-to}} --}}
		{{else}}
			{{#link-to 'new' title="Create your channel"}}+ Create your channel{{/link-to}}
		{{/if}}
	{{/if}}

	{{#link-to 'channels' title="Discover channels"}}Discover{{/link-to}}

	<aside class="ContextualNavigation u-alignRight">
		{{#unless session.authed}}
			{{#link-to 'signin' title="Sign in to Radio 4000"}}Sign in{{/link-to}}
		{{/unless}}
	</aside>
</nav>
