<div class="Bar">
	<h1 class="SiteLogo">
		{{#link-to "index" title="Back to the dashboard"}}
			<img src="images/radio4000-small-cropped.png" alt="Radio 4000">
		{{/link-to}}
	</h1>

	<nav>
		{{#each session.user.playlists}}
			{{#link-to 'playlist' this}}My playlist{{/link-to}}
		{{/each}}

		{{#link-to 'playlists'}}Discover{{/link-to}}

		<aside class="ContextualNavigation u-alignRight">
			{{#if session.authed}}
				{{#if session.user.playlists}}
					{{#link-to 'playlist.add' session.user.playlists.firstObject}}{{x-icon i="plus"}} Add track{{/link-to}}
				{{else}}
					{{#link-to 'new' class=""}}+ New playlist{{/link-to}}
				{{/if}}
			{{else}}
				{{#link-to 'login'}}Login{{/link-to}}
			{{/if}}
		</aside>
	</nav>
</div>
