<div class="Bar">
	<h1 class="SiteLogo">
		{{#link-to "index" title="Back to dashboard"}}
			<img src="images/radio4000-small-cropped.png" alt="Radio 4000">
		{{/link-to}}
	</h1>

	<nav>
		{{#each session.user.channels}}
			{{#link-to 'channel' this title="Go to my channel"}}My channel{{/link-to}}
		{{/each}}

		{{#link-to 'channels' title="Discover channels"}}Discover{{/link-to}}

		<aside class="ContextualNavigation u-alignRight">
			{{#if session.authed}}
				{{#if session.user.channels}}
					{{#link-to 'channel.add' session.user.channels.firstObject title="Add a track to my channel"}}{{x-icon i="plus"}} Add track{{/link-to}}
				{{else}}
					{{#link-to 'new' title="Create your channel"}}+ New channel{{/link-to}}
				{{/if}}
			{{else}}
				{{#link-to 'login' title="Login to Radio 4000"}}Login{{/link-to}}
			{{/if}}
		</aside>
	</nav>
</div>
