<nav class="Nav Container Section">
	{{#link-to 'about'}}About{{/link-to}}
	{{#if auth.authed}}
		• <a href="#" {{action 'logout' this}}>Log out</a>
	{{else}}
		• <a href="#" class="" {{ action 'showLogin' true }}>Login</a>
	{{/if}}
</nav>
