<article class="Box Constrained">
	<h1>About Radio4000</h1>

	<p><strong>Radio4000 offers a way to collect and play the tracks and sounds you want from YouTube. Think your own radio station on YouTube videos.</strong></p>
	<p>With all your favorites in one single list it's a great way to share and play all the music you enjoy.</p>

	<hr>

	<h2>Changelog</h2>
	<ul>
		<li>20th September 2014 - Tons of fixes, new homepage design and user flow</li>
		<li>14th September 2014 - Rewrote almost everything and updated to current emberfire + ember-cli standards</li>
		<li>1st June 2014 - First working version</li>
		<li>1st March 2014 - Development begun</li>
	</ul>

	<p>If you'd like to get in touch, please do so at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>.</p>
</article>
