<div class="NavigationTab">
	{{#link-to 'about.index' title="About Radio4000" class="NavigationTab-item"}}About Radio4000{{/link-to}}
	{{#link-to 'about.contact' title="Contact" class="NavigationTab-item"}}Contact{{/link-to}}
	{{#link-to 'about.log' title="Log" class="NavigationTab-item"}}Log{{/link-to}}
	{{#link-to 'about.technology' title="Technology" class="NavigationTab-item"}}Technology{{/link-to}}
</div>

{{outlet}}
