<article class="Container Section">

	<h1>Radio4000</h1>
	<p>Save YouTube videos to create your own channel. Play it, share it.</p>

	<h3>Changelog</h3>
	<ul>
		<li>08.10.2014 - Add prev/next functionality</li>
		<li>26.09.2014 - Custom channel urls, design and ux</li>
		<li>20.09.2014 - Tons of fixes, new homepage design and user flow</li>
		<li>14.09.2014 - Rewrote almost everything and updated to current emberfire + ember-cli standards</li>
		<li>12.08.2014 - Nothing new here, just a lot of sun and drinks</li>
		<li>01.06.2014 - First working version</li>
		<li>01.03.2014 - Development begun</li>
	</ul>

	<p>If you'd like to get in touch, please do so at <a href="mailto:oskar@rough.dk">oskar@rough.dk</a>.</p>
	<p>If you're geeky, see our {{#link-to 'styleguide'}}styleguide{{/link-to}}.</p>
</article>
