<div class="NavigationTab Container Flex Container--full">
	{{#link-to 'about.index' title="About radio4000" class="NavigationTab-item"}}About radio4000{{/link-to}}
	{{#link-to 'about.contact' title="Contact" class="NavigationTab-item"}}Contact{{/link-to}}
	{{#link-to 'about.log' title="Log" class="NavigationTab-item"}}Log{{/link-to}}
	{{#link-to 'about.technology' title="Technology stack" class="NavigationTab-item"}}Technology stack{{/link-to}}
</div>

{{outlet}}
