<div class="NavigationTab">
	{{#link-to 'about.index' title="About radio4000" class="NavigationTab-item"}}About{{/link-to}}
	{{#link-to 'about.contact' title="Contact" class="NavigationTab-item"}}Contact{{/link-to}}
	{{#link-to 'about.technology' title="Technology stack" class="NavigationTab-item"}}Technology{{/link-to}}
</div>

{{outlet}}
