<article class="Section">

	<header class="Manchet">
		<h1>About<small> — Radio4000</small></h1>
	</header>

	<div class="Container">

		<h3>Contact</h3>
		<p>If you'd like to get in touch, please do so at <a href="mailto:contact@radio4000.com">contact@radio4000.com</a></p>

		<h3>Technology stack</h3>
		<ul>
			<li>Ember with Ember Data</li>
			<li>Firebase as backend using the Emberfire adapter</li>
			<li>Ember CLI with Sass and autoprefixer</li>
			<li>SVG icon sprites from Fontastic</li>
			<li>Deployment to Webfaction using gulp and rsync</li>
			<li>Groovy music</li>
		</ul>

		<p>Also see the {{#link-to 'log'}}log{{/link-to}}.</p>
	</div>
</article>
