<div class="Tabs">
	{{#link-to 'about.index' title="About radio4000" class="Tabs-item"}}About{{/link-to}}
	{{#link-to 'about.contact' title="Contact" class="Tabs-item"}}Contact{{/link-to}}
	{{#link-to 'about.technology' title="Technology stack" class="Tabs-item"}}Technology{{/link-to}}
</div>

{{outlet}}
