<div class="Application" {{bind-attr class='isMaximized'}}>

	<header class="SiteHeader">

		<div class="Bar">

			<h1 class="SiteLogo">{{#link-to "index" title="Back to the dashboard"}}
				<img src="images/radio4000-small-cropped.png" alt="Radio 4000">
				{{/link-to}}</h1>

			<nav>
				{{#if auth.authed}}
					{{#each auth.user.playlists}}
						{{#link-to 'playlist' this}}My playlist{{/link-to}}
					{{/each}}
				{{/if}}

				{{#link-to 'playlists'}}Discover{{/link-to}}

				<div class="u-alignRight">
					{{#unless auth.authed}}
						{{#link-to 'login'}}Log in{{/link-to}}
					{{/unless}}
				</div>
			</nav>

		</div>
	</header>

	<main class="SiteMain">
		{{outlet}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
		{{outlet 'player'}}
	</aside>
</div>
