<div class="Application" {{bind-attr class='isMaximized'}}>
	<header class="SiteHeader">
		{{partial 'navigation'}}
	</header>

	<main class="SiteMain">
		{{outlet}}
	</main>

	<aside class="SiteAside">
		{{render 'playback'}}
	</aside>
</div>
