<header class="SiteHeader">
	<h1 class="SiteLogo">{{#link-to "index" title="Back to the dashboard"}}
		<img src="images/radio-4000-logo.png" alt="Radio 4000">
	{{/link-to}}</h1>
</header>

<main class="SiteMain">
	{{outlet}}

	{{partial 'navigation'}}
</main>

<aside class="SiteAside">
	{{render 'playback'}}
	{{outlet 'player'}}
</aside>


