<header class="SiteHeader">
	<h1 class="SiteLogo">{{#link-to "index"}}radio4000{{/link-to}}</h1>
</header>

<main class="SiteMain" {{bind-attr class="auth.authed:is-authed"}}>
	{{outlet}}
</main>

<aside class="SiteAside">
	{{render 'playback'}}
	{{outlet 'player'}}
</aside>
