<header class="SiteHeader">
	<h1 class="SiteLogo">{{#link-to "index"}}Radio4000{{/link-to}}</h1>
</header>

<main class="SiteMain">
	{{outlet}}
</main>

<aside class="SiteAside">
	{{render 'playback'}}
	{{outlet 'player'}}
</aside>
