{{!-- if not logged in display in intro message to check out a guide --}}

<div class="NavigationTab">
	{{#link-to 'channels.index' title="Discover channels" class="NavigationTab-item"}}Discover{{/link-to}}
	{{#link-to 'channels.popular' title="Discover channels" class="NavigationTab-item"}}Popular{{/link-to}}
	{{#link-to 'channels.all' title="Discover channels" class="NavigationTab-item"}}All{{/link-to}}
</div>

{{#unless session.authed}}
	<div class="Container Container--full IntroMessage">
		Welcome! Are you new to <strong>radio4000</strong>?
		{{#link-to 'introduction' title="What is Radio4000" class="IntroMessage-message"}}Do you want a short tour of what you can do?{{/link-to}}.
	</div>
{{/unless}}

{{#unless session.userChannel}}
	<div class="Container Container--full IntroMessage">
		It seems you don't have a radio yet! Would you like to get started and
		{{#link-to 'new' title="What is Radio4000" class="IntroMessage-message"}}create your radio?{{/link-to}}.
	</div>
{{/unless}}

{{outlet}}
