<div class="NavigationTab Container Flex Container--full">
	{{#link-to 'channels.index' title="Discover channels" class="NavigationTab-item"}}Featured{{/link-to}}
	{{#link-to 'channels.mostpopular' title="Discover channels" class="NavigationTab-item"}}Most popular{{/link-to}}
	{{#link-to 'channels.az' title="Discover channels" class="NavigationTab-item"}}A/Z{{/link-to}}
</div>

{{outlet}}
