<div class="NavigationTab Container Flex Container--full">
	<a href="#" class="NavigationTab-item is-active">Featured</a>
	<a href="#" class="NavigationTab-item">Most popular</a>
	<a href="#" class="NavigationTab-item">Lasted created</a>
	<a href="#" class="NavigationTab-item">A/Z</a>
</div>
<div class="Manchet Manchet--left">
	<h1>Discover<small> — find radio channels you like</small></h1>
</div>

{{outlet}}
