<div class="NavigationTab Container Flex Container--full">
	{{#link-to 'channels.index' title="Discover channels" class="NavigationTab-item"}}Featured{{/link-to}}
	{{#link-to 'channels.popular' title="Discover channels" class="NavigationTab-item"}}Popular{{/link-to}}
	{{#link-to 'channels.all' title="Discover channels" class="NavigationTab-item"}}All{{/link-to}}
</div>

{{outlet}}
