<div class="Manchet Manchet--left">
	<h1>Dashboard<small> — you are in control</small></h1>
</div>

<section class="Section Container Container--full">
		<h2>Your radio</h2>
		{{#if session.currentUser.channels.firstObject}}
			{{channel-cover model=session.currentUser.channels.firstObject}}
		{{else}}
			<p class="Muted">Welcome! Go ahead…</p>
			{{#link-to 'channels.new' class="BoxIcon BoxIcon--add" title="Create your radio"}}
				Create your radio now
			{{/link-to}}
		{{/if}}
</section>

<div class="Section Container Container--full">
	{{#if session.currentUser.channels.firstObject.favoriteChannels}}
		<h2>Your favorite radios</h2>
		{{channels-grid channels=session.currentUser.channels.firstObject.favoriteChannels}}
	{{else}}
		<p class="Muted">You haven't got any favorites yet. Browse radios and favorite the ones you enjoy.</p>
		{{#link-to "channels" class="BoxIcon BoxIcon--explore" title="Discover rads"}}
			Discover radios
		{{/link-to}}
	{{/if}}
</div>
