<div class="Manchet Manchet--left">
	<h1>Dashboard<small> — you are in control</small></h1>
</div>

<section class="Section Container Container--full">
		<h2>Your channel</h2>
		{{#if session.userChannel}}
			{{channel-cover model=session.userChannel}}
		{{else}}
			<p class="Muted">Welcome! Go ahead…</p>
			{{#link-to 'channels.new' class="BoxIcon BoxIcon--add" title="Create your channel"}}
				Create your channel now
			{{/link-to}}
		{{/if}}
</section>

<div class="Section Container Container--full">
	{{#if session.userChannel.favoriteChannels}}
		<h2>Your favorite channels</h2>
		{{channels-grid channels=session.userChannel.favoriteChannels}}
	{{else}}
		<p class="Muted">You haven't got any favorites yet. Browse channels and favorite the ones you enjoy.</p>
		{{#link-to "channels" class="BoxIcon BoxIcon--explore" title="Discover channels"}}
			Discover channels
		{{/link-to}}
	{{/if}}
</div>
