<article>
	<header class="Manchet Manchet--centered">
		<h1>Sorry<small> — something went wrong</small></h1>
		<p>Please help us fix this. Copy the error message below and send it to <a href="mailto:contact@radio4000.com">contact@radio4000.com</a>.</p>
	</header>
	<div class="Container">
		<pre class="Code">{{model.message}} — {{model.stack}}</pre>
	</div>
</article>
