<article class="Section">

	<header class="Manchet">
		<h1>Sorry<small> — something went wrong</small></h1>
		<p>Please help us fix this by <a href="mailto:contact@radio4000.com">emailing us</a> the error message below</a> and how it happened.</p>
	</header>

	<div class="Container">
		<pre class="Code">{{message}} — {{stack}}</pre>
	</div>
</article>
