<div class="Container u-pushDown">
	<nav class="Tabs Tabs--horizontal">
		{{#link-to 'help.index' title="About Radio4000" class="Tabs-item"}}Help{{/link-to}}
	</nav>
</div>

<div class="Sections">
	{{outlet}}
</div>
