<div class="NavigationTab">
	{{#link-to 'help.index' title="About Radio4000" class="NavigationTab-item"}}Help{{/link-to}}
	{{!-- {{#link-to 'about.contact' title="Contact" class="NavigationTab-item"}}Forum{{/link-to}} --}}
	<a class="NavigationTab-item" href="https://groups.google.com/forum/#!forum/radio4000" target="_blank">Forum &rarr;</a>
</div>

{{outlet}}
