<article class="Section">

	<header class="Manchet">
		<h1>Help <small>— answers to your questions</small></h1>
	</header>

	<div class="Container">
		<h3>How do I change the URL of my channel?</h3>
		<p>Go to your channel, tap 'Edit' and look for 'Permalink'</p>

		<h3>How do I create another channel?</h3>
		<p>You can't. We want your channel to showcase your variety in music.</p>

		<h3>How do I add tracks from Soundcloud etc.?</h3>
		<p>You can only add tracks from YouTube. We're considering other sources.</p>

		<h3>Contact</h3>
		<p>If you'd like to get in touch, please do so at <a href="mailto:contact@radio4000.com">contact@radio4000.com</a></p>
</article>

