<div class="NavigationTab Container Flex Container--full">
	{{#link-to 'help.index' title="About radio4000" class="NavigationTab-item"}}FAQ{{/link-to}}
	{{!-- {{#link-to 'about.contact' title="Contact" class="NavigationTab-item"}}Forum{{/link-to}} --}}
	<a class="NavigationTab-item" href="https://groups.google.com/forum/#!forum/radio4000" target="_blank">Forum</a>
</div>

{{outlet}}
