<div class="Manchet">
	<h1>Radio4000<small> – collect and share your favorite music and listen to your friend's</small></h1>
</div>

<div class="Container">
	{{#unless auth.authed}}

		<section class="Section">
			<div class="Section-half">
				{{#link-to 'login' class="Box"}}
					<h2 class="Title">Create</h2>
					<p>Get your own playlist</p>
				{{/link-to}}
			</div>
			<div class="Section-half">
				{{#link-to 'playlists' class="Box"}}
					<h2 class="Title">Listen</h2>
					<p>Browse other playlists</p>
				{{/link-to}}
			</div>
		</section>
	{{/unless}}

	{{#if auth.authed}}
		{{render 'user' auth.user}}
	{{/if}}

	{{partial 'navigation'}}
</div>
