<div class="Container">
	{{#unless auth.authed}}

		<div class="Manchet">
			<h1>
				<span class="is-highlighted">Create your radio</span> – share your music tastes and listen to your friend's
			</h1>
		</div>

		<section class="Section">
			<div class="Section-half">
				{{#link-to 'login' class="Box"}}
					<h2 class="Title">Create your playlist</h2>
					<p><span class="is-highlighted">Two taps</span> to broadcast</p>
				{{/link-to}}
			</div>
			<div class="Section-half">
				{{#link-to 'playlists' class="Box"}}
					<h2 class="Title">Listen</h2>
					<p><span class="is-highlighted">browse</span> playlists</p>
				{{/link-to}}
			</div>
		</section>
	{{/unless}}

	{{#if auth.authed}}
		{{render 'user' auth.user}}
	{{/if}}
</div>
