<div class="Manchet">
	<h1>Radio4000<small> – collect your favorite music, share your radio to your friends and listen to theirs</small></h1>
</div>

<div class="Container">
	{{#if auth.authed}}
		{{render 'user' auth.user}}
	{{else}}
		<section class="Section">
			<div class="Section-half">
				{{#link-to 'new' class="Box"}}
					<h2 class="Title">Create</h2>
					<p>Get your own channel</p>
				{{/link-to}}
			</div>
			<div class="Section-half">
				{{#link-to 'playlists' class="Box"}}
					<h2 class="Title">Discover</h2>
					<p>Listen to a channel now</p>
				{{/link-to}}
			</div>
		</section>
	{{/if}}

	{{partial 'navigation'}}
</div>
