<article class="Centered Home">

	<h1>Radio4000</h1>

	{{#if auth.authed}}

		{{render 'dashboard' dashboard}}

	{{else}}

		{{render 'manchet' manchet}}

	{{/if}}

	<nav>
		{{#link-to 'playlists'}}Playlists{{/link-to}} •
		{{#link-to 'about'}}About{{/link-to}}
		{{#if auth.authed}} • <a href="#" {{action 'logout' this}}>Log out</a>{{/if}}
	</nav>

</article>
