<div class="Manchet Manchet--bigger">
	<h1>Radio4000<small> – collect your favorite music, share your channel with your friends and listen to theirs</small></h1>
</div>

{{#if session.authed}}
	{{render 'user' session.user}}
{{else}}

	<section class="Container Flex Section Section--space">
		{{#link-to 'new' class="Box" title="Sign up  to create your channel"}}
			<h2 class="Title">Sign in</h2>
			<p>→ Get your own channel now</p>
		{{/link-to}}

		{{#link-to 'channels' class="Box" title="Discover music by channels"}}
			<h2 class="Title">Discover music</h2>
			<p>→ Listen now</p>
		{{/link-to}}
	</section>

	<div class="Container Container--large">
		<section class="Section Section--space Grid">
			<div class="Grid-item">
				<h3 class="Subtitle">The deepest music library</h3>
				<p>Dig the crates of the internet and add tracks to your channel directly from YouTube. <em>Soundcloud is following soon.</em></p>
				<p><img src="images/icons/Cloud-Music.svg" alt=""></p>
				{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
			</div>
			<div class="Grid-item">
				<h3 class="Subtitle">My channel is my temple</h3>
				<p>As your channel grows with your enlightened taste in music, Radio4000 will become your go-to music player, trust us.</p>
				{{!-- <p><img src="images/icons/Music-Equalizer.svg" alt=""></p> --}}
				<p><img src="images/icons/Radio-4.svg" alt=""></p>
				{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
			</div>
			<div class="Grid-item">
				<h3 class="Subtitle">The tranquility of a single channel</h3>
				<p>You have one single channel for all your tracks. Welcome to the freedom of not having to think about playlists.</p>
				<p><img src="images/icons/Desert.svg" alt=""></p>
				{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
			</div>
		</section>

		{{!-- <p>{{#link-to 'signin'}}Sign in{{/link-to}} or {{#link-to 'signin'}}sign up{{/link-to}} now.</p> --}}
	</div>

{{/if}}
