<div class="Manchet">
	<h1>Radio4000<small> – collect your favorite music, share your channel with your friends and listen to theirs</small></h1>
</div>

{{#if session.authed}}
	{{render 'user' session.user}}
{{else}}
	<div class="Container">
		<section class="Section">
			<div class="Section-half">
				{{#link-to 'new' class="Box" title="Sign up  to create your channel"}}
					<h2 class="Title">Sign in</h2>
					<p>to get your own channel →</p>
				{{/link-to}}
			</div>
			<div class="Section-half">
				{{#link-to 'channels' class="Box" title="Discover music by channels"}}
					<h2 class="Title">Discover music</h2>
					<p>Listen now</p>
				{{/link-to}}
			</div>
		</section>

		<section class="Section Section--space">
			<h2 class="Title Title--centered">Discover music<small> – it's as simple as clicking play!</small></h2>
			<div class="IntroDemo">
				<div class="IntroDemo-browser">
					<span class="IntroDemo-buttons IntroDemo-close"></span>
					<span class="IntroDemo-buttons IntroDemo-minimize"></span>
					<span class="IntroDemo-buttons IntroDemo-maximize"></span>
					<span class="IntroDemo-addressbar"></span>
				</div>
				<div class="IntroDemo-header">
					<img src="images/logos/logo-radio4000.png" alt="Radio 4000 logo" class="IntroDemo-logo">
				</div>
				<div class="IntroDemo-container">
					{{render 'tracks' demoChannel}}
				</div>
			</div>
		</section>
	</div>
{{/if}}
