<div class="Manchet Manchet--bigger">
	<h1>Radio4000<small> – one radio to share</small></h1>
</div>

{{#if session.authed}}
	{{render 'user' session.user}}
{{else}}

	<section class="Container Grid Grid--full Section Section--space">
		<div class="Grid-item">
			{{#link-to 'new' class="Box" title="Register or sign in to create your channel"}}
				<h2 class="Title">Your radio</h2>
				<p>→ register or sign in</p>
			{{/link-to}}
		</div>
		<div class="Grid-item">
			{{#link-to 'channels' class="Box" title="Discover music by channels"}}
				<h2 class="Title">Discover music</h2>
				<p>→ listen now</p>
			{{/link-to}}
		</div>
	</section>

	<div class="Container Container--large">
		<section class="Section Section--space Grid">
			<div class="Grid-item">
				<h3 class="Subtitle">1 radio</h3>
				<p>add music to your radio and share your music tastes</p>
				<p><img src="images/icons/Cloud-Music.svg" alt=""></p>
				{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
			</div>
			<div class="Grid-item">
				<h3 class="Subtitle">human radios</h3>
				<p>everyone gets one radio and show their personal music selection</p>
				{{!-- <p><img src="images/icons/Music-Equalizer.svg" alt=""></p> --}}
				<p><img src="images/icons/Radio-4.svg" alt=""></p>
				{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
			</div>
			<div class="Grid-item">
				<h3 class="Subtitle">a single radio</h3>
				<p>you have one single radio for all your music. Welcome to the freedom of not having to think about playlists</p>
				<p><img src="images/icons/Desert.svg" alt=""></p>
				{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
			</div>
		</section>
	</div>

{{/if}}
