<div class="Manchet">
	<h1>Radio4000<small> – collect your favorite music, share your channel with your friends and listen to theirs</small></h1>
</div>

{{#if session.authed}}
	{{render 'user' session.user}}
{{else}}
	<div class="Container">
		<section class="Section">
			<div class="Section-half">
				{{#link-to 'new' class="Box" title="login or register to create your channel"}}
					<h2 class="Title">Login or Register</h2>
					<p>to create your channel →</p>
				{{/link-to}}
			</div>
			<div class="Section-half">
				{{#link-to 'channels' class="Box" title="discover music by channels"}}
					<h2 class="Title">Discover music</h2>
					<p>Listen now</p>
				{{/link-to}}
			</div>
		</section>

		<section class="Section Section--space">
			<h2 class="Title Title--centered">Discover music<small> – as simple as clicking play</small></h2>
			<div class="IntroDemo">
				{{render 'tracks' tracks}}
			</div>
		</section>
	</div>
{{/if}}
