<div class="Manchet Manchet--bigger">
	<h1>Radio4000<small> – one radio to share</small></h1>
</div>

<div class="Container Container--large">
	<section class="Section Section--space Grid">
		<div>Radio4000 is made by music lovers for music lovers</div>
	</section>
</div>

<div class="Container Container--large">
	<section class="Section Section--space Grid">
		<div class="Grid-item">
			<h3 class="Subtitle">1 radio</h3>
			<p>Add music to your radio and share your music tastes</p>
			<p><img src="images/icons/Cloud-Music.svg" alt=""></p>
			{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
		</div>
		<div class="Grid-item">
			<h3 class="Subtitle">Human radios</h3>
			<p>Everyone gets one radio and show their personal music selection</p>
			{{!-- <p><img src="images/icons/Music-Equalizer.svg" alt=""></p> --}}
			<p><img src="images/icons/Radio-4.svg" alt=""></p>
			{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
		</div>
		<div class="Grid-item">
			<h3 class="Subtitle">A single radio</h3>
			<p>You have one single radio for all your music. Welcome to the freedom of not having to think about playlists</p>
			<p><img src="images/icons/Desert.svg" alt=""></p>
			{{!-- <p>{{#link-to 'channels'}}&rarr; Discover channels{{/link-to}}</p> --}}
		</div>
	</section>
</div>

<section class="Container Grid Grid--full Section Section--space">
	<div class="Grid-item">
		{{#link-to 'new' class="Box" title="Register or sign in to create your channel"}}
			<h2 class="Title">Create a radio</h2>
			<p>→ register or sign in</p>
		{{/link-to}}
	</div>
	<div class="Grid-item">
		{{#link-to 'channels' class="Box" title="Discover music by channels"}}
			<h2 class="Title">Discover radios</h2>
			<p>→ listen now</p>
		{{/link-to}}
	</div>
</section>
