<div class="Intro">
	{{!-- <img class="Intro-bg" src="images/bg-intro.jpg" alt=""> --}}
	<h1 class="Intro-title">
		<span class="Intro-radio">Radio</span>
		<span class="Intro-4000">4000</span>
	</h1>

	<p class="Intro-slogan">One radio for every one and<br>an infinity of great tracks curated with love.</p>

	<div class="Intro-buttons">
		{{#unless session.userChannel}}
			{{#link-to 'channels.new' class="Intro-btn Intro-btn--primary" title="Continue to create your radio"}}
				Create your radio now
			{{/link-to}}
		{{/unless}}
		{{#link-to 'channels' class="Intro-btn" title="Discover music by channels"}}
			Discover radios
		{{/link-to}}
		{{#if session.userChannel}}
			{{#link-to 'channel' session.userChannel class="Intro-btn" title="Manage your radio"}}
				Your channel “{{session.userChannel.title}}”
			{{/link-to}}
		{{/if}}
	</div>
</div>

{{!-- <div class="Container Container--full"> --}}
	{{!-- <div class="Intro Intro--one">

		<div class="Annonce Annonce--fullHeight">
			<p class="Block Block--white">
				one radio<br> for<br> each one
			</p>
		</div>
		<div class="Annonce Annonce--center">
			<p class="Block Block--white Block--left">each one</p>
			<p class="Block Block--white Block--center">x</p>
			<p class="Block Block--white Block--long Block--right">thousands of people</p>
		</div>
		<div class="Keyvisual">
			<div class="IntroTitle">Radio 4000</div>
		</div>
		<div class="Annonce Annonce--long Annonce--center">
			<p class="Block">
				an infinity of good tracks selected with love
			</p>
		</div>
	</div> --}}

	{{!-- <section class="Container Container--full Section Section--space">
		<div class="Grid Grid--center Grid--full">
			<div class="Grid-item">
				{{#link-to 'channels.new' class="Box" title="Register or sign in to create your channel"}}
					<h2 class="Title">Create a radio</h2>
					<p>→ register or sign in</p>
				{{/link-to}}
			</div>
			<div class="Grid-item">
				{{#link-to 'channels' class="Box" title="Discover music by channels"}}
					<h2 class="Title">Discover radios</h2>
					<p>→ listen now</p>
				{{/link-to}}
			</div>
		</div>
	</section> --}}
{{!-- </div> --}}
