<article class="Section">

	<header class="Manchet">
		<h1>Log<small> — Radio4000</small></h1>
	</header>

	<div class="Container">
		<p>A timeline of Radio4000 events:</p>
		<ul class="List List--noHover">
			<li><span class="Mono">21.12.2014</span> &rarr; <strong>[v1.1.0]</strong> On the world's shortest day we managed to improve everything. We rewrote the playback functionality and performance is much better.</li>
			<li><span class="Mono">25.10.2014</span> &rarr; <strong>[v1.0.0]</strong> First real version where everything is working</li>
			<li><span class="Mono">14.09.2014</span> &rarr; <strong>[v0.2.0]</strong> Rewrote almost everything</li>
			<li><span class="Mono">12.08.2014</span> &rarr; Nothing new but sun and drinks</li>
			<li><span class="Mono">01.06.2014</span> &rarr; <strong>[v0.1.0]</strong> First working version</li>
			<li><span class="Mono">01.03.2014</span> &rarr; Development begun</li>
		</ul>

		<p>We're currently working on:</p>
		<ul class="List List--noHover">
			<li>Login with email/pass</li>
			<li>Soundcloud integration</li>
		</ul>
	</div>
</article>
