<div class="Container Section">
	<h1>Login or create a new user</h1>
	<p>
		<button class="Btn Btn--primary" {{action 'login' 'google'}}>Sign up with Google</button>
		<button class="Btn Btn--primary" {{action 'login' 'facebook'}}>Sign up with Facebook</button>
	</p>

	{{#if auth.authed}}{{/if}}
</div>

{{outlet}}
