<div class="Manchet">
	<h1>New radio playlist<small> — first and last step, give it a name</small></h1>
</div>

<div class="Container Section">
	<form class="Form Form--newPlaylist" {{action "newPlaylist" on="submit"}}>
		<div class="Form-group">
			<h2>Title of your new radio channel</h2>
			<label>
			{{input value=title placeholder='For instance "The Pirate Radio"'}}
			</label>
		</div>
		{{!-- <div class="Form-group">
			<label>Description
				{{textarea value=body placeholder='Why not "DETROIT k33p it r34l?"'}}
			</label>
		</div> --}}
		<div class="Form-group">
			<button class="Btn Btn--primary" type="submit">Create</button>
		</div>
	</form>
</div>
