<div class="SignIn">
	<div class="SignIn-container">

		{{#unless session.isWorking}}
			<h1 class="SignIn-title">Sign in Radio4000</h1>

			<p class="SignIn-subTitle">to create or manage your radio</p>

			<div class="SignIn-buttons">
				<button type="submit" class="Btn" title="Sign in with your Google account" {{action 'signIn' 'google'}}>
					Google
				</button>

				<button type="submit" class="Btn" title="Sign in with your Facebook account" {{action 'signIn' 'facebook'}}>
					Facebook
				</button>
			</div>

		{{else}}
		<p class="SignIn-subTitle">Please wait while we sign you in</p>
			<is-loading></is-loading>
		{{/unless}}
	</div>
</div>
