<div class="SignIn">
	<div class="SignIn-container">

		<h1 class="SignIn-title">Sign in to Radio 4000</h1>

		<p class="SignIn-subTitle">to create your radio or manage the one you have</p>

		{{#unless session.isWorking}}
			<div class="SignIn-buttons">
				<button type="submit" class="Btn" title="Sign in with your Google account" {{action 'signIn' 'google'}}>
					Google
				</button>

				<button type="submit" class="Btn" title="Sign in with your Facebook account" {{action 'signIn' 'facebook'}}>
					Facebook
				</button>
			</div>
		{{else}}
			<loading></loading>
		{{/unless}}

	</div>
</div>
