<div class="Section Container">
	<h1>Styleguide</h1>
	<p>Lorem ipsum dolor sit amet, <strong>this is some strong text</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
	<h2>A headline in h2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur <em>italic text</em>, sed do eiusmod tempor <em>incididunt ut labore</em> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <a href="#">a link to nothing</a> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h2>Now we'll show some forms and buttons</h2>

	<h3>Buttons</h3>

	<p>
		<button class="Btn">Button</button> <button class="Btn--text">Text button</button><br>
		<button class="Btn Btn--danger">Danger button</button><br>
		<button class="Btn Btn--primary">Button Button--primary</button><br>

		<br>

		<button class="Btn Btn--large">Button Button--large</button><br>
		<button class="Btn Btn--primary Btn--large">Button Button--primary Button--large</button>
	</p>

	<h3>Forms</h3>

	<form class="Form">
		<div class="Form-group">
			<label>A label
				<input type="text" value="Text input">
			</label>
		</div>
		<div class="Form-group">
			<label>A label
				<textarea>A textarea<textarea>
			</label>
		</div>
		<div class="Form-group">
			<button class="Btn" type="submit">Submit</button>
		</div>
	</form>
</div>
