<div class="Container u-pushDown">
	<div class="Tabs Tabs--horizontal">
		{{#link-to 'styleguide.index' class="Tabs-item"}}
			Styleguide
		{{/link-to}}
		{{#link-to 'styleguide.typography' class="Tabs-item"}}
			Typography
		{{/link-to}}
		{{#link-to 'styleguide.colors' class="Tabs-item"}}
			Colors
		{{/link-to}}
		{{#link-to 'styleguide.forms' class="Tabs-item"}}
			Forms
		{{/link-to}}
	</div>
</div>

{{outlet}}
