<div class="NavigationTab">
	{{#link-to 'styleguide.index' class="NavigationTab-item"}}Styleguide{{/link-to}}
	{{#link-to 'styleguide.typography' class="NavigationTab-item"}}Typography{{/link-to}}
	{{#link-to 'styleguide.colors' class="NavigationTab-item"}}Colors{{/link-to}}
	{{#link-to 'styleguide.forms' class="NavigationTab-item"}}Forms{{/link-to}}
</div>


{{outlet}}
