<div class="Section Container">
	<h1>Styleguide</h1>
	<p>Lorem ipsum dolor sit amet, <strong>this is some strong text</strong>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
	<h2>A headline in h2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur <em>italic text</em>, sed do eiusmod tempor <em>incididunt ut labore</em> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor <a href="#">a link to nothing</a> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h2>Now we'll show some forms and buttons</h2>

	<h3>Buttons</h3>

	<p>
		<button class="Btn">Button</button> <button class="Btn--text">Text button</button><br>
		<button class="Btn Btn--danger">Danger button</button><br>
		<button class="Btn Btn--primary">Button Button--primary</button><br>

		<br>

		<button class="Btn Btn--large">Button Button--large</button><br>
		<button class="Btn Btn--primary Btn--large">Button Button--primary Button--large</button>
	</p>

	<h3>Forms</h3>

	<form class="Form">
		<div class="Form-group">
			<label>A label
				<input type="text" value="Text input">
			</label>
		</div>
		<div class="Form-group">
			<label>A label
				<textarea>A textarea</textarea>
			</label>
		</div>
		<div class="Form-group">
			<button class="Btn" type="submit">Submit</button>
		</div>
	</form>

  <h4>Icons</h4>
  <p>Icons are generated with help from fontastic.me. We should also check out what https://useiconic.com/tour/ could do for us.</p>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

    <symbol id="icon-play" viewBox="0 0 512 512">
      <path d="m394 256c0-4-2-8-6-10l-252-146c-2-1-4-2-7-2c-6 0-11 5-11 12c0 0 0 1 0 1l0 0l0 293l0 0c1 5 5 10 11 10c2 0 4-1 6-2l0 0l253-146l0 0c4-2 6-6 6-10z"/>
    </symbol>

    <symbol id="icon-next" viewBox="0 0 512 512">
      <path d="m454 396l0-280c0 0 0 0 0 0c0 0 0 0 0 0l0-2l0 0c0-6-6-11-13-11c0 0 0 0 0 0l-23 0c-1 0-1-1-1-1c-8 0-13 6-13 13c0 1 0 2 0 2l0 119l-171-99c-2-1-4-2-6-2c-5 0-9 3-9 8l0 0l0 78l-146-84c-1-1-3-2-6-2c-5 0-8 3-9 8l0 0l0 226c0 4 4 8 9 8c3 0 5-1 7-2l145-84l0 78c0 4 4 8 9 8c2 0 5-1 6-2l171-99l0 120l0 0c0 0 0 0 0 1c0 7 6 13 13 13l25 0l0-1c7 0 13-5 13-13c0 0-1 0-1 0z"/>
    </symbol>

    <symbol id="icon-pause" viewBox="0 0 512 512">
      <path d="m208 102c-1 0-1 0-2 0l0 0l-53 0c-6 0-11 5-11 11c0 0 0 0 0 0l0 0l0 286l0 0c0 0 0 0 0 0c0 6 5 11 11 11l55 0c6 0 11-5 11-11c0 0 0 0 0 0l0 0l0-286c0 0 0 0 0 0c0-6-5-11-11-11z m162 297l0-286c0 0 0 0 0 0c0-6-5-11-11-11c-1 0-1 0-2 0l0 0l-53 0c-6 0-11 5-11 11c0 0 0 0 0 0l0 0l0 286l0 0c0 0 0 0 0 0c0 6 5 11 11 11l55 0c6 0 11-5 11-11c0 0 0 0 0 0z"/>
    </symbol>

    <symbol id="icon-previous" viewBox="0 0 512 512">
      <path d="m446 135c-3 0-5 1-7 2l-145 84l0-78c0-4-4-8-9-8c-2 0-5 1-6 2l-171 99l0-120l0 0c0 0 0 0 0-1c0-7-6-12-13-13l-25 0l0 1c-7 0-13 5-13 13c0 0 1 0 1 0l0 280c0 0 0 0 0 0c0 0 0 0 0 0l0 2l0 0c0 6 6 11 13 11c0 0 0 0 0 0l23 0c1 0 1 1 1 1c8 0 13-6 13-13c0-1 0-2 0-2l0-119l171 99c2 1 4 2 6 2c5 0 9-3 9-8l0 0l0-78l146 84c1 1 3 2 6 2c5 0 8-3 9-8l0 0l0-226c0-4-4-8-9-8z"/>
    </symbol>

    <symbol id="icon-shuffle" viewBox="0 0 512 512">
      <path d="m99 319l-58 0c-1-1-2-1-3-1c-6 0-11 5-12 11l-1 0l0 56l1 0c1 5 5 9 10 10l0 0l87 0l0 0c9 0 17-5 21-12l54-54l-55-55z m386-161l-96-68c-2-2-4-2-6-1c-3 1-4 4-4 6l0 29l-76 0l0 0c-6 0-11 2-15 6l0 0l-54 54l54 54l38-37l53 0l0 30c0 3 1 5 4 6c2 1 5 1 7 0l95-69c1-1 2-3 2-5c0 0 0 0 0 0c0-2-1-4-2-5z m-1 186l-95-69c-2-1-5-1-7 0c-2 1-3 3-3 6l0 30l-53 0l-182-182c-4-7-12-12-21-12l0 0l-87 0l0 0c-5 1-9 5-11 10l0 0l0 56l0 0c1 6 7 11 13 11c1 0 2 0 3-1l58 0l189 189l0 0c4 4 9 6 14 6l0 0l77 0l0 29c0 2 1 5 3 6c2 1 5 1 7-1l95-68c2-1 3-3 3-5c0 0 0 0 0 0c0-2-1-4-3-5z"/>
    </symbol>

    <symbol id="icon-arrows-expand" viewBox="0 0 512 512">
      <path d="m26 344l-26 158c0 2 1 5 3 7c0 0 0 0 0 0c2 2 5 3 7 3l158-27c3 0 6-3 7-6c1-3 0-7-3-9l-30-31l82-82c4-4 4-9 0-13l-57-57c-3-3-9-3-12 0l-83 83l-31-31c-2-2-5-3-9-2c-3 1-5 4-6 7z m460-176l26-158c0-2-1-5-3-7c0 0 0 0 0 0c-2-2-5-3-7-3l-158 27c-3 0-6 3-7 6c-1 3 0 7 3 9l30 31l-82 82c-4 4-4 9 0 13l57 57c3 3 9 3 12 0l83-83l31 31c2 2 5 3 9 2c3-1 5-4 6-7z"/>
    </symbol>

    <symbol id="icon-arrows-compress" viewBox="0 0 512 512">
      <path d="m201 453l26-158c0-3-1-6-3-8c0 0 0 0 0 0c-2-2-5-3-8-2l-157 26c-3 1-6 3-7 7c-1 3 0 6 2 9l31 30l-82 83c-4 3-4 9 0 13l56 56c4 4 10 4 13 0l83-82l30 31c3 2 6 3 9 2c4-1 6-4 7-7z m110-394l-26 158c0 3 1 6 3 8c0 0 0 0 0 0c2 2 5 3 8 2l157-26c3-1 6-3 7-7c1-3 0-6-2-9l-31-30l82-83c4-3 4-9 0-13l-56-56c-4-4-10-4-13 0l-83 82l-30-31c-3-2-6-3-9-2c-4 1-6 4-7 7z"/>
    </symbol>

    <symbol id="icon-music" viewBox="0 0 512 512">
      <path d="m431 70l-262 0c-9 0-17 7-17 16l0 246c-6-1-12-2-18-2c-38 0-69 25-69 56c0 31 31 56 69 56c38 0 69-25 69-56l0-236l193 0l0 135c-6-1-12-2-18-2c-38 0-69 25-69 56c0 31 31 56 69 56c38 0 69-25 69-56l0-253c0-9-7-16-16-16z"/>
    </symbol>

    <symbol id="icon-pencil" viewBox="0 0 512 512">
      <path d="m455 150l-93-93c-5-5-14-5-20 0l-253 254l1 0l-1 0l-35 130l0 0c-2 4 0 10 3 14c5 4 11 5 16 2l0 0l128-34l0 0l0 0l254-254c5-5 5-14 0-19z m-359 265l21-76l56 56z"/>
    </symbol>

    <symbol id="icon-plus" viewBox="0 0 512 512">
      <path d="m432 203l-123 0l0-123c0-5-5-10-10-10l-86 0c-5 0-10 5-10 10l0 123l-123 0c-5 0-10 5-10 10l0 86c0 3 1 5 3 7c2 2 4 3 7 3l123 0l0 123c0 3 1 5 3 7c2 2 4 3 7 3l86 0c3 0 5-1 7-3c2-2 3-4 3-7l0-123l123 0c3 0 5-1 7-3c2-2 3-4 3-7l0-86c0-5-5-10-10-10z"/>
    </symbol>

    <symbol id="icon-x" viewBox="0 0 512 512">
      <path d="m434 352l-96-96l96-96c4-4 4-10 0-14l-68-68c-4-4-10-4-14 0l-96 96l-96-96c-4-4-11-4-14 0l-68 68c-2 1-3 4-3 7c0 2 1 5 3 7l96 96l-96 96c-2 2-3 5-3 7c0 3 1 6 3 7l68 68c1 2 4 3 7 3c2 0 5-1 7-3l96-96l96 96c2 2 5 3 7 3c3 0 5-1 7-3l68-68c4-4 4-10 0-14z"/>
    </symbol>

    <symbol id="icon-wrench" viewBox="0 0 512 512">
      <path d="m442 120l-20 20l-19 19l-25 24c-13 1-26-4-36-13c-9-10-14-23-13-36l63-64c1-1 1-3 0-4c0-1 0-1-1-1l0 0c0 0 0 0 0 0c0 0 0 0 0 0c-14-6-29-10-45-10c-61 0-111 50-111 111c0 12 2 23 6 33l-116 116c-39 1-70 32-70 71c0 39 32 71 71 71c39 0 70-31 71-70l116-116c10 4 21 6 33 6c61 0 111-50 111-111c0-16-4-31-10-45c0 0 0 0 0 0c0 0 0-1 0-1l0 0c0 0-1 0-1 0c-1-1-3-1-4 0z m-286 266c0 16-14 29-30 29c-16 0-29-13-29-29c0-16 13-30 29-30c16 0 30 14 30 30z"/>
    </symbol>

    <symbol id="icon-widget" viewBox="0 0 512 512">
      <path d="m453 222l-52-5c-4-12-9-25-15-36l33-41c4-4 4-11 0-15l-32-32c-3-2-5-3-8-3c-3 0-5 1-7 3l-41 33c-12-6-24-11-36-15l-5-52c-1-6-6-10-11-10l-46 0c-5 0-10 4-11 10l-5 52c-12 4-24 9-36 15l-41-33c-2-2-4-3-7-3c-3 0-5 1-8 3l-32 32c-4 4-4 11 0 15l33 41c-6 11-11 24-15 36l-52 5c-6 1-10 6-10 11l0 46c0 5 4 10 10 11l52 5c4 12 9 24 15 36l-33 41c-4 4-4 11 0 15l32 32c3 2 5 3 8 3c3 0 5-1 7-3l41-33c12 6 24 11 36 15l5 52c1 6 6 10 11 10l46 0c5 0 10-4 11-10l5-52c12-4 24-9 36-15l41 33c2 2 4 3 7 3c3 0 5-1 8-3l32-32c4-4 4-11 0-15l-33-41c6-12 11-24 15-36l52-5c6-1 10-6 10-11l0-46c0-5-4-10-10-11z m-197 95c-34 0-61-27-61-61c0-34 27-61 61-61c34 0 61 27 61 61c0 34-27 61-61 61z"/>
    </symbol>

</svg>


<div class="container">
  <p class="small">This SVG sprite was created with <a href="http://fontastic.me/">Fontastic</a></p>

  <h2>icons reference</h2>
  <ul class="glyphs">

    <li>
      <svg class="icon-play">
        <use xlink:href="#icon-play"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-play"><use xlink:href="#icon-play"></use></svg>'>
    </li>

    <li>
      <svg class="icon-next">
        <use xlink:href="#icon-next"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-next"><use xlink:href="#icon-next"></use></svg>'>
    </li>

    <li>
      <svg class="icon-pause">
        <use xlink:href="#icon-pause"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-pause"><use xlink:href="#icon-pause"></use></svg>'>
    </li>

    <li>
      <svg class="icon-previous">
        <use xlink:href="#icon-previous"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-previous"><use xlink:href="#icon-previous"></use></svg>'>
    </li>

    <li>
      <svg class="icon-shuffle">
        <use xlink:href="#icon-shuffle"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-shuffle"><use xlink:href="#icon-shuffle"></use></svg>'>
    </li>

    <li>
      <svg class="icon-arrows-expand">
        <use xlink:href="#icon-arrows-expand"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-arrows-expand"><use xlink:href="#icon-arrows-expand"></use></svg>'>
    </li>

    <li>
      <svg class="icon-arrows-compress">
        <use xlink:href="#icon-arrows-compress"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-arrows-compress"><use xlink:href="#icon-arrows-compress"></use></svg>'>
    </li>

    <li>
      <svg class="icon-music">
        <use xlink:href="#icon-music"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-music"><use xlink:href="#icon-music"></use></svg>'>
    </li>

    <li>
      <svg class="icon-pencil">
        <use xlink:href="#icon-pencil"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-pencil"><use xlink:href="#icon-pencil"></use></svg>'>
    </li>

    <li>
      <svg class="icon-plus">
        <use xlink:href="#icon-plus"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-plus"><use xlink:href="#icon-plus"></use></svg>'>
    </li>

    <li>
      <svg class="icon-x">
        <use xlink:href="#icon-x"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-x"><use xlink:href="#icon-x"></use></svg>'>
    </li>

    <li>
      <svg class="icon-wrench">
        <use xlink:href="#icon-wrench"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-wrench"><use xlink:href="#icon-wrench"></use></svg>'>
    </li>

    <li>
      <svg class="icon-widget">
        <use xlink:href="#icon-widget"></use>
      </svg>

      <input type="text" readonly="readonly" value='<svg class="icon-widget"><use xlink:href="#icon-widget"></use></svg>'>
    </li>

  </ul>

  <h2>How to add SVG sprite icons to your project?</h2>

<div class="tip"><p></p><div class="number">1</div>Upload the icons.svg file to your server. In our examples below we assume that the sprite file will be available at: <code>http://yoursite.com/images/icons.svg</code><p></p></div><div class="tip"><p></p><div class="number">2</div>Go to "Icons Reference" and choose an icon that you want to have on your HTML page. Then click and copy its markup to your HTML page. For instance, the markup for a twitter icon could look like this:<p></p><pre><code><span class="hljs-tag">&lt;<span class="hljs-title">svg</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"icon-twitter"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">use</span> <span class="hljs-attribute">xlink:href</span>=<span class="hljs-value">"#icon-twitter"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">use</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">svg</span>&gt;</span>
</code></pre></div><div class="tip"><p></p><div class="number">3</div>Now it's time to add the sprite file URL to the icon markup. In the example below, the URL is <code>/images/icons.svg</code>. So now the twitter icon markup could look like this:<p></p><pre><code><span class="hljs-tag">&lt;<span class="hljs-title">svg</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"icon-twitter"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">use</span> <span class="hljs-attribute">xlink:href</span>=<span class="hljs-value">"/images/icons.svg#icon-twitter"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">use</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">svg</span>&gt;</span>
</code></pre></div><div class="tip"><p></p><div class="number">4</div>Add the code below to the CSS file that you use for your html page:<p></p><pre><code><span class="hljs-attr_selector">[class^="icon-"]</span>, <span class="hljs-attr_selector">[class*=" icon-"]</span> <span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">height</span>:<span class="hljs-value"> <span class="hljs-number">32</span>px</span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">width</span>:<span class="hljs-value"> <span class="hljs-number">32</span>px</span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">display</span>:<span class="hljs-value"> inline-block</span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">fill</span>:<span class="hljs-value"> currentColor</span></span>;
<span class="hljs-rule">}</span></span>
</code></pre><p>You can use <code>height</code> and <code>width</code> properties to control icon size. To define icon color use <code>fill</code> property. Note: <code>currentColor</code> keyword inherits the color value of a parent element.</p></div><div class="tip"><p></p><div class="number">5</div>For IE capability you can use a great polyfill: <a href="https://github.com/jonathantneal/svg4everybody" target="blank">svg4everybody</a><p></p></div><div class="tip"><p> <b>Remember: </b>with Icon Cloud you don't have to worry about IE capability, the sprite file and other stuff. We'll take care of all of that for you, just click the "Publish" button and give it a try.</p></div>

</div>
