<section class="Section">
		<h2>Your channel</h2>
		{{#unless session.user.playlists}}
			<p class="is-inactiveText">You haven't got a channel yet</p>
			{{#link-to "new" class="BoxIcon BoxIcon--add" title="Create your channel"}}
				Create your channel
			{{/link-to}}
		{{/unless}}
		{{#with session.user.playlists.firstObject}}
			<ul class="List">
				<li>
					{{#link-to "playlist" this title="your channel"}}
						<h3>{{title}}</h3>
					{{/link-to}}
				</li>
			</ul>
		{{/with}}
</section>

<section class="Section">
	<div>
		<h2>Your favorite channels</h2>
		{{#if session.user.favoritePlaylists}}
			<ul class="List">
				{{#each playlist in session.user.favoritePlaylists}}
					<li>
						{{#link-to "playlist" playlist title="your favorite channel"}}
							<h3>{{playlist.title}}</h3>
						{{/link-to}}
					</li>
				{{/each}}
			</ul>
		{{else}}
			<p class="is-inactiveText">You haven't saved any favorites yet</p>
			{{#link-to "playlists" class="BoxIcon BoxIcon--explore" title="discover channels"}}
				discover channels
			{{/link-to}}
		{{/if}}
	</div>
</section>
