<div class="Manchet">
	<h1>Dashboard<small> — a complete overview of what you can do</small></h1>
</div>

<section class="Dashboard">

	<section class="Section">
			{{#if playlists}}
				<h2>Your radio</h2>
				<div class="Playlists">
					{{#each playlists}}
						<p class="Playlist">{{#link-to "playlist" this}}{{title}}{{/link-to}}</p>
					{{/each}}
				</ul>
			{{else}}
				<div class="CreatePlaylist">
					<p>{{#link-to "playlists.new"}}<button class="Btn">Get your own playlist</button>{{/link-to}}</p>
				</div>
			{{/if}}
	</section>

	<section class="Section">
		<h2>Explore more channels</h2>
		{{#link-to 'playlists'}}
			<p>Browse channels</p>
		{{/link-to}}
	</section>

	<section class="Section">
		<h2>Your favorites</h2>
		{{#if favoritePlaylists}}
			<p class="is-inactiveText">Quick access to channels you starred as favorites</p>
			<div class="Playlists">
				{{#each favoritePlaylists}}
					<div class="Playlist">{{#link-to "playlist" this}}{{title}}{{/link-to}}</div>
				{{/each}}
			</div>
		{{else}}
			<p class="is-inactiveText">You haven't addded any favorites yet.</p>
		{{/if}}
	</section>

</section>
