<section class="Dashboard">
	<h2>Get your own channel</h2>
	<section class="Section">

		{{#each playlists}}
			{{!-- {{#link-to "playlist" this class="Box"}}
				<h3>{{title}}</h3>
				<p>{{description}}</p>
			{{/link-to}} --}}
		{{/each}}

		{{#unless playlists}}
			{{#link-to "playlists.new" class="Box"}}
				<h3>Get your own channel</h3>
			{{/link-to}}
		{{/unless}}
	</section>

	<section class="Section">
		<h2>Your favorites</h2>
		{{#if favoritePlaylists}}
			<p class="is-inactiveText">Quick access to channels you starred as favorites</p>
			<div class="Playlists">
				{{#each favoritePlaylists}}
					<div class="Playlist">{{#link-to "playlist" this}}{{title}}{{/link-to}}</div>
				{{/each}}
			</div>
		{{else}}
			<p class="is-inactiveText">You haven't addded any favorites yet.</p>
		{{/if}}
	</section>

</section>
