{{#if playlists}}
	<div class="Box">
		<h2>Your playlist</h2>
		<p>This is your own playlist.</p>
		<ul class="Grid">
			{{#each playlists}}
				<li>{{#link-to "playlist" this}}{{title}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}

{{#if favoritePlaylists}}
	<div class="Box">
		<h2>Your favorites</h2>
		<p>Add any list you enjoy as a favorite and we'll add it here to your collection.</p>
		<ul class="Grid">
			{{#each favoritePlaylists}}
				<li>{{#link-to "playlist" this}}{{title}}{{/link-to}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
