<section class="Section">
	<div class="Section-half">
		<h2>Your playlist</h2>
		{{#each playlist in session.user.playlists}}
			{{#link-to "playlist" playlist class="Playlist Playlist--teaser"}}
				<h3 class="Playlist-title">{{playlist.title}}</h3>
			{{/link-to}}
		{{/each}}

		{{#unless session.user.playlists}}
			{{#link-to "new" class="Box"}}
				<h3>Get your own playlist</h3>
			{{/link-to}}
		{{/unless}}
	</div>
	<div class="Section-half">
		<h2>Your favorites</h2>
		{{#if session.user.favoritePlaylists}}
			<div class="Playlists">
				{{#each playlist in session.user.favoritePlaylists}}
					{{#link-to "playlist" playlist class="Playlist Playlist--teaser"}}
						<h3 class="Playlist-title">{{playlist.title}}</h3>
					{{/link-to}}
				{{/each}}
			</div>
		{{else}}
			<p class="is-inactiveText">You haven't saved any favorites yet.</p>
		{{/if}}
	</div>
</section>
