<div class="Manchet">
	<h1>List of all registered users</h1>
</div>
<section class="Section">
	<div class="Container Container--noPadding">
		<ul class="List">
			{{#each user in controller}}
				<li>{{#link-to "user" user}}
					<span>{{user.id}}</span>
					<span>{{user.name}}</span>
					<span>{{user.created}}</span>
				{{/link-to}}</li>
			{{/each}}
		</ul>

		{{outlet}}
	</div>
</section>
