{{#if playlists}}
	<div class="Box">
		Your playlist:
			{{#each playlists}}
					{{#link-to "playlist" this}} <span>{{title}}</span> {{/link-to}}
			{{/each}}
		</ul>
	</div>
{{/if}}

{{#if favoritePlaylists}}
	<div class="Box">
		<h3>Your favorites</h3>
		<ul class="List">
			{{#each favoritePlaylists}}
				<li>
					{{#link-to "playlist" this}}
						<span>{{title}}</span>
					{{/link-to}}
				</li>
			{{/each}}
		</ul>
	{{else}}
		<p class="is-inactiveText">Your favorite playlists will be shown here.</p>
	</div>
{{/if}}
