<section class="Section Section--manchet">
	<span class="is-highlighted">Dashboard</span>, aka the control center! You are here in command.
</section>

<section class="Dashboard">
	<div class="Section Section--half">
		<div class="Section-inner">
			{{#if playlists}}
				<h2>Your Radio</h2>
				<p class="is-inactiveText">Curate music, enjoy your own taste or share it with friends and beyond.</p>
				<ul class="Grid">
					{{#each playlists}}
						<li>{{#link-to "playlist" this}}{{title}}{{/link-to}}</li>
					{{/each}}
				</ul>
			{{else}}
				<h2>Create your playlist</h2>
				<p>{{#link-to "playlists.new"}}<button class="Btn">Get your own playlist</button>{{/link-to}}</p>
			{{/if}}
		</div>
	</div>
		<div class="Section Section--half">
			<div class="Section-inner">
				<h2>Your history</h2>
				<p class="is-inactiveText">Here will be displayed the last playlist you've been browsing.</p>
			</div>
		</div>
</section>

<section>
	<div class="Section Section--full">
		<h2>Your favorites</h2>
		{{#if favoritePlaylists}}
			<p class="is-inactiveText">Radios you have saved as favorite. You can also {{#link-to 'playlists'}}explore other radios{{/link-to}}.</p>
			<ul class="Grid">
				{{#each favoritePlaylists}}
					<li>{{#link-to "playlist" this}}{{title}}{{/link-to}}</li>
				{{/each}}
			</ul>
		{{else}}
			<p class="is-inactiveText">You haven't add any playlist to your favorite yet. {{#link-to 'playlists'}}Explore other radios{{/link-to}}.</p>
		{{/if}}
	</div>
</section>
