<section class="Section">

	<div class="Section-half">
		<h2>Your playlist</h2>
		{{#unless session.user.playlists}}
			{{#link-to "new" class="Box"}}
				<h3>Get your own playlist</h3>
			{{/link-to}}
		{{/unless}}
		{{#with session.user.playlists.firstObject}}
			{{#link-to "playlist" this}}
				<h3>{{title}}</h3>
			{{/link-to}}
		{{/with}}
	</div>

	<div class="Section-half">
		<h2>Your favorites</h2>
		{{#if session.user.favoritePlaylists}}
			<ul class="List">
				{{#each playlist in session.user.favoritePlaylists}}
					<li>
						{{#link-to "playlist" playlist}}
							<h3>{{playlist.title}}</h3>
						{{/link-to}}
					</li>
				{{/each}}
			</ul>
		{{else}}
			<p class="is-inactiveText">You haven't saved any favorites yet.</p>
		{{/if}}
	</div>

</section>
