{{#radio-bot as |channel|}}
	{{#if channel}}
		<h2><small>You are listening to</small> <strong>{{channel.title}}</strong> <small>on Radio4000…</small></h2>
		{{!-- {{channel-card channel=channel}} --}}
	{{/if}}
{{/radio-bot}}

{{outlet}}
