<section class="Section">
	<div class="Container">
		{{channel-edit-details
			channel=(readonly model)
			submitTask=saveChannelDetails
			onCancel=(action "goBack")}}
	</div>
</section>

{{outlet}}
